@font-face {
  font-family: 'cwTeXHei';  font-style: normal;  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}
@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote { margin:0;	padding:0;}
ol, ul {list-style:none;}
abbr, acronym { border:0;}
.CLEAR{ clear:both; height: 0; font-size: 0px; line-height: 0;}
.clearfix:after {content: "."; display: block; clear: both; visibility: hidden;	line-height: 0;	height: 0;}
body, h1, h2, h3, h4, h5, h6, p { font-family: 'Bitter',"微軟正黑體","Microsoft JhengHei", serif; -webkit-font-smoothing: antialiased;}
p{ color: #333; font-size:15px; _font-size:14px; line-height:24px;/*font-family: 'Nunito', sans-serif;*/}
a{ text-decoration:none; outline: none; /* for Firefox */  hlbr:expression(this.onFocus=this.blur()); /* for IE */}
a:hover{ text-decoration:none;}
select, input, textarea{ font-family:"微軟正黑體","Microsoft JhengHei", serif; -webkit-font-smoothing: antialiased; font-size:15px;}
*:link, *:visited, *:hover, *:active, *:focus , * { -o-transition: color .20s linear, background-color .20s linear, border-color .20s linear; -webkit-transition: color .20s linear, background-color .20s linear, border-color .20s linear; -moz-transition: color .20s linear, background-color .20s linear, border-color .20s linear; transition: color .20s linear, background-color .20s linear, border-color .20s linear; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
* {-webkit-text-size-adjust:none;}
a{text-decoration:none;}
fieldset, img {border:0;}
ol, ul {list-style:none;}
abbr, acronym {border:0;}

.CLEAR{clear:both; height: 0; font-size: 0px; line-height: 0;}
.clearfix:after {  content: ".";  display: block;  height: 0;  clear: both;  visibility: hidden;}
* html .clearfix { height: 1%;}
*:first-child + html .clearfix  {min-height: 1%;}

/**gogogo**/
body{overflow-x: hidden; }
p.go_top{  bottom: -130px; right: 3%; position: fixed; cursor: pointer; z-index: 55;}
p.go_top a{width: 40px; height: 40px; display: block;  background: url(../images/btn_arr_w.png) center center no-repeat #df0730; border-radius: 50%; background-size: contain;}

.ContentsBox{ width: 100%; max-width: 1000px; margin: 0 auto; }

.MainBanner{ width: 100%; min-height: 100vh; position: relative;}
.MainBanner .ContentsBox { min-height: 100vh; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center ;}
.MainBanner .abox{ width: 90%; margin: 0 auto; }
.MainBanner h1{ width: 100%; height: 85px; display: block; background: url(../images/main_title.png ) center center no-repeat;  text-indent: -9999px; background-size:  contain;}
.MainBanner h2{ width: 100%; height: 100px;margin:1vh 0 8vh 0; display: block; background: url(../images/main_title2.png ) center center no-repeat;  text-indent: -9999px; background-size:  contain;}

.MainBanner p.logo{ position: absolute;z-index: 1; left:10px; top: 4vh; width: 295px; height: 70px; display: block; background: url(../images/logo_wangSteak.png ) center top no-repeat;  text-indent: -9999px; background-size: contain; }
.MainBanner p.logo a{display: block; width: 100%; height: 100%;}
.MainBanner .img54{ position: absolute; z-index: 0; left: 20px; bottom:0; width: 16vw; height: 100%; max-height: 600px; display: block;  background: url(../images/img54.png ) left bottom no-repeat; background-size: contain;}
.MainBanner .img54_2{ position: absolute; z-index: 0; right: 20px; bottom:0; width: 16vw; height: 100%; max-height: 600px; display: block;  background: url(../images/img54_2.png ) right bottom no-repeat; background-size: contain;}

.MainBanner p.btn{ width: 100%; text-align:  center; font-size: 18px;  font-weight: bold; margin: 0 auto;}
.MainBanner p.btn a{ color: #dccba4; display: inline-block; width: 142px; height: 50px; text-indent: -9999px; border-radius: 4px; margin: 0 15px; cursor: pointer;}
.MainBanner p.btn a.btn_01{ background: url(../images/main_btn_01.png) center center no-repeat #fff; background-size: contain; }
.MainBanner p.btn a.btn_02{ background: url(../images/main_btn_02.png) center center no-repeat #fff; background-size: contain; }
.MainBanner p.btn a.btn_01:hover{background-color: #b79c5c; background-image: url(../images/main_btn_01_in.png);/*b38342*/ }
.MainBanner p.btn a.btn_02:hover{background-color: #b79c5c; background-image: url(../images/main_btn_02_in.png); }

/*Cooperation*/
.Cooperation{ width: 100%; background:url(../images/br_03.jpg) top center no-repeat; background-size: cover; padding: 20px 0 30px 0;}
.Cooperation h3{ width: 100%; height: 35px; background: url(../images/sub_title_01.png) center center no-repeat; background-size: contain; text-indent: -9999px; }
.Cooperation .infoBox{ width: 100%; text-align: center; padding-top:25px;}
.Cooperation .infoBox .logos{display: inline-block;}
.Cooperation .infoBox .logos .logo1{ float: left; width: 118px; height: 75px; text-indent: -9999px; display: block; background: url(../images/logos_01.png) center center no-repeat; background-size: contain;}
.Cooperation .infoBox .logos .logo2{position: relative; float: left; width: 118px; height: 75px; text-indent: -9999px; margin: 0 40px 0 65px; display: block; background: url(../images/logos_02.png) center center no-repeat; background-size: contain;}
.Cooperation .infoBox .logos .logo2::after{ position: absolute; content: ""; width: 30px; height: 30px; left: -48px; top: 22px;  display: block; background: url(../images/icon_x.png) center center no-repeat; background-size: contain;}

.Cooperation .infoBox .text{display: inline-block; position: relative; text-align: left; max-width: 400px; padding-right: 140px;}
.Cooperation .infoBox .text h4{font-family: 'cwTeXFangSong', serif;font-size: 18px; color: #8a5a55; padding-bottom: 5px;}
.Cooperation .infoBox .text p{ line-height: 24px; font-size: 13px; color: #444; }
.Cooperation .infoBox .text p a{color: #444; }
.Cooperation .infoBox .text p a:hover{text-decoration: underline;}
.Cooperation .infoBox .text p span{font-size: 13px; color: #222; font-weight: bold;}
.Cooperation .infoBox .text::after{position: absolute; content: ""; top:-3px; right:0; display:block; width: 110px; height: 110px; background: url(../images/qrcode.png) center right no-repeat; background-size: contain;}

/*theTea*/
.theTea{ width: 100%; padding: 50px 0; background: url(../images/br_01.jpg) center center no-repeat; background-attachment: fixed; background-size: cover; }
.theTea h3.title{ width: 100%; height: 56px; background: url(../images/h3_title_01.png) center center no-repeat; background-size: contain;  text-indent: -9999px;}
.theTea h4{font-size: 18px; line-height: 30px; text-align: justify; width: 100%; max-width: 738px; margin: 0 auto; padding: 40px 0 70px; letter-spacing: 2px; color: #ebebeb; font-family: 'cwTeXFangSong', serif;}
.theTea ul.productsBox{ width: 100%; max-width: 90%; margin: 0 auto; }
.theTea ul.productsBox li{ width: 100%; padding-bottom: 50px; }
.theTea ul.productsBox li .info{float: left; width: 49%;}
.theTea ul.productsBox li .info h5{ color: #ebebeb; text-indent: -9999px; height: 56px;}
.theTea ul.productsBox li .info h5.name_01{background: url(../images/tea_name_01.png) left center no-repeat; background-size: contain; }
.theTea ul.productsBox li .info h5.name_02{background: url(../images/tea_name_02.png) left center no-repeat; background-size: contain; }
.theTea ul.productsBox li .info p{color: #ffffff; text-align: justify; padding-top: 10px; text-shadow: 0px 0px 10px rgba(0%,0%,0%,0.1);}
.theTea ul.productsBox li .info p span{color: #ffefd8;}
.theTea ul.productsBox li .info p i{padding-right: 10px;}
.theTea ul.productsBox li .photo{float: right; width: 49%; text-align: center;}
.theTea ul.productsBox li .photo img{ max-width: 340px; border-radius: 4px;}

/*mediaBox*/
.mediaBox{ background-image:url(../images/media/br.jpg); padding-bottom: 0px;}
.mediaBox h3.title{ background-image: url(../images/h3_title_02.png);}
.mediaBox h4{ font-size: 20px; line-height: 35px; text-align: center; padding: 20px 0 40px 0; }
.mediaBox .ContentsBox{ max-width: 90%; }
.mediaBox ul.MBox{ width: 100%; margin: 0 auto; padding: 20px 0 100px 0; max-width: 1870px;}
.mediaBox ul.MBox li{ float: left; width: 23%; padding: 0 1%; }
.mediaBox ul.MBox li a{ display: block; padding: 10px 0; width: 100%; }
.mediaBox ul.MBox li a.mob{ display: none; }
.mediaBox ul.MBox li a:hover{ opacity: .9; }

/*AboutUs*/
.AboutUs { padding-top: 130px; background:url(../images/footer_lodyas.png) 0 0 repeat;}
.AboutUs ul.productsBox li {padding-bottom: 80px;}
.AboutUs ul.productsBox li .info{max-width: 380px;}
.AboutUs ul.productsBox li .info h5{ height: 33px;}
.AboutUs ul.productsBox li .info h5.name_01{background-image: url(../images/tea_about_01.png) ;}
.AboutUs ul.productsBox li .info h5.name_02{background-image: url(../images/tea_about_02.png) ;}
.AboutUs ul.productsBox li .info p{ color: #f5f5f5; text-align: justify; padding-top: 30px; line-height: 30px;}
.AboutUs ul.productsBox li .photo img{max-width: 100%;}
.AboutUs ul.productsBox li.exchangebox .info{ float: right; max-width: 100%;}
.AboutUs ul.productsBox li.exchangebox .photo{ float: left; text-align: left; }
.AboutUs ul.productsBox li.exchangebox .photo img{ max-width: 315px;}

/*footerBox*/
.footerBox{ width: 100%;  background-color: #860710; padding:46px 0; text-align: center;}
.footerBox p{ color: #fff; font-size: 13px;}

/*RWD*/
@media (max-width:1280px){.MainBanner .img54, .MainBanner .img54_2 { max-height: 500px;}}
@media (max-width:1215px){.ContentsBox{ width: 90%;}}
@media (max-width:1140px){.foodinfo .aBox .photo{ max-width: 400px; }}
@media (max-width:1050px){.MainBanner .img54, .MainBanner .img54_2 { max-height: 420px;}}
@media (max-width:840px){
	.MainBanner p.btn{max-width: 300px;}
	.MainBanner p.btn a{ width:calc(46% - 2px); display: block; float: left;  margin: 5px 2%;}
}
@media (max-width:800px){
	.mediaBox ul.MBox{padding-top: 0;}
	.mediaBox ul.MBox li{ width: 48%;float: left;}
	.Cooperation .infoBox{padding-top: 10px;}
	.Cooperation .infoBox .logos .logo1{width: 150px;}
	.Cooperation .infoBox .logos .logo2{width: 40px; margin-right: 0;}
	.Cooperation .infoBox .logos .logo2::after{width: 15px; height: 15px; left: -36px; top: 20px;}
}
@media (max-width:700px){
	.theTea ul.productsBox li .info, .theTea ul.productsBox li .photo{ width: 100%;}
	.theTea ul.productsBox li .info p{padding-bottom: 25px;}
	.theTea ul.productsBox li .photo img{max-width: 100%;}
	.AboutUs ul.productsBox li{padding-bottom: 40px;}
	.footerBox{padding: 30px 0;}
	.footerBox p{font-size: 12px;}
}
@media (max-width:599px){
	.MainBanner p.logo{width: 260px;}
	.MainBanner{min-height: inherit;}
	.MainBanner h1{ height: 46px}
	.MainBanner h2{ position:  static;  width: 380px; margin: 0 auto; background-position: center top; }
	.MainBanner p.btn{padding-top: 0vh; font-size: 15px ; max-width: 128px; padding-bottom: 5vh;}
	.MainBanner p.btn a{width:calc(96% - 2px);}
	.MainBanner .img54, .MainBanner .img54_2{width: 25vw;}
	.theTea h3.title{height: 50px;}
	.theTea h4{padding-bottom: 40px; font-size: 16px; line-height: 28px;}
	.theTea{padding: 30px 0;}
	.theTea ul.productsBox li .info p{font-size: 13px;}
	.mediaBox{padding-bottom: 0;}
	.Cooperation{ background-color:#fff7e5;}
	.Cooperation .infoBox .logos{display: none;}
	.Cooperation .infoBox .text{padding-right: 0; padding-bottom: 140px;}
	.Cooperation .infoBox .text::after{top: inherit;bottom: 0; right: 0; height: 130px; margin-right:0; width: 100%; background:url(../images/qrcode_s.png) center center no-repeat; background-size: contain; }
	.Cooperation .infoBox .text p span{ display: none;}
	.AboutUs ul.productsBox li .info h5{ height: 28px; }
	.AboutUs ul.productsBox li .info h5.name_01, .AboutUs ul.productsBox li .info h5.name_02{ background-position: center center;}
}
@media (max-width:420px){.MainBanner h1{ width: 100%;}
	.MainBanner h2{ width: 100%; margin: 0 auto;}
	.MainBanner p.btn a{ display: block; margin-bottom: 10px;}
}
@media (max-device-width:1200px) {.theTea{ background-attachment: inherit; background-position: 72% center;}}