
@charset "utf-8";
/* CSS Document */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote { margin:0;	padding:0;}
fieldset, img {	border:0;}
ol, ul {list-style:none;}
abbr, acronym { border:0;}
.CLEAR{ clear:both; height: 0; font-size: 0px; line-height: 0;}
.clearfix:after {content: "."; display: block; clear: both; visibility: hidden;	line-height: 0;	height: 0;}

body, h1, h2, h3, h4, h5, h6, p { font-family: 'Bitter',"微軟正黑體","Microsoft JhengHei", serif; -webkit-font-smoothing: antialiased;}
p{ font-size:15px; _font-size:14px; line-height:24px;/*font-family: 'Nunito', sans-serif;*/}
a{ text-decoration:none; outline: none; /* for Firefox */  hlbr:expression(this.onFocus=this.blur()); /* for IE */}
a:hover{ text-decoration:none;}
select, input, textarea{ font-family:"微軟正黑體","Microsoft JhengHei", serif; -webkit-font-smoothing: antialiased; font-size:15px;}
*:link, *:visited, *:hover, *:active, *:focus , * { -o-transition: color .20s linear, background-color .20s linear, border-color .20s linear; -webkit-transition: color .20s linear, background-color .20s linear, border-color .20s linear; -moz-transition: color .20s linear, background-color .20s linear, border-color .20s linear; transition: color .20s linear, background-color .20s linear, border-color .20s linear; }

body{ background:url(../images/bg_00.gif) 0 0 repeat; }

#container{width: 100%; margin: auto;}
#header	{margin:0;}
#footer	{clear: both;}


@charset "utf-8";
/* CSS Document */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

* {
	-webkit-text-size-adjust:none;}

a{
	text-decoration:none;}

em{
	/*font-style:normal;*/}

fieldset, img {
	border:0;}

ol, ul {
	list-style:none;}

abbr, acronym {
	border:0;}

.CLEAR{
	clear:both; height: 0; font-size: 0px; line-height: 0;}


/**
 * Markup free clearing
 * Details: http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;}

/* IE6 */

* html .clearfix {
  height: 1%;}

/* IE7 */

*:first-child + html .clearfix {
  min-height: 1%;}
/* ### go to top ### */
p.go_top{ position:absolute; right:2%; top:-320px; cursor:pointer; z-index:50; text-indent:-9999px;}
p.go_top a{ width:60px; height:60px; display:block; background:url(../images/top.png) 0 0 no-repeat;}


.ContentsBox{ width: 1200px; margin: 0 auto; }

@media (max-width:1215px){.ContentsBox{ width: 90%;}}


/**** KV ****/
.MainBanner{ width: 100%; min-height: 743px; background: url(../images/br_01.jpg ) center top no-repeat #000; position: relative;}
.MainBanner .ContentsBox {min-height: 470px; padding-top: 180px; position: relative;}
.MainBanner h1{ width: 100%; height: 260px; display: block; background: url(../images/main_title.png ) center top no-repeat;  text-indent: -9999px; background-size:  contain;}
.MainBanner p.logo{ position: absolute;z-index: 1; left: 140px; top: 40px; width: 295px; height: 70px; display: block; background: url(../images/logo_wangSteak.png ) center top no-repeat;  text-indent: -9999px; background-size: contain; }
.MainBanner .img53{ position: absolute; z-index: 0; left: 160px; bottom:0; width: 500px; height: 693px; display: block;  background: url(../images/img53.png ) center bottom no-repeat; background-size: contain;}

.MainBanner p.btn{ width: 100%; position: absolute; bottom: 40px; text-align:  center; font-size: 18px;  font-weight: bold;}
.MainBanner p.btn a{ color: #dccba4; text-align:  center;  padding: 10px 32px; border: 1px solid #dccba4; border-radius: 40px; margin: 0 5px; cursor: pointer; box-shadow: 0px 0px 15px rgba(0%,0%,0%,0.2);}
.MainBanner p.btn a:hover{ color: #fff; background-color: #a50e0e; border-color: #a50e0e; }

@media (max-width:1790px){.MainBanner p.logo, .MainBanner .img53{ left: 20px; }}
@media (max-width:1535px){.MainBanner h1{height: 230px;} .MainBanner .img53{ width: 380px; left: 0px; }}
@media (max-width:1280px){.MainBanner .img53{ width: 320px; }}
@media (max-width:1050px){.MainBanner .img53{ width: 250px; }}
@media (max-width:850px){.MainBanner .img53{ display: none; }
	.MainBanner {background: url(../images/br_01_M.jpg) center top no-repeat #000; background-size: cover;}
	.MainBanner .ContentsBox{padding-top: 110px;}}

@media (max-width:700px){.MainBanner p.btn a{ width: 48%; display: block; float: left;  padding: 10px 0; margin: 5px 0.5%;}
	.MainBanner .ContentsBox{ min-height:620px; }}
@media (max-width:599px){.MainBanner{background: url(../images/br_01_S.jpg) center top no-repeat #000; background-size: cover;}
	.MainBanner h1{ height: 186px}
	.MainBanner h2{ position:  static;  width: 380px; margin: 0 auto;}
	.MainBanner p.btn a{}}

@media (max-width:420px){.MainBanner h1{ width: 100%;}
	.MainBanner h2{ width: 100%; margin: 0 auto;}
	.MainBanner p.btn a{ display: block; margin-bottom: 10px;}}

.DataBox{ width: 100%; }
.DataBox .box_title{ width: 100%; border:1px solid #c49d65; border-width: 1px 0 1px 0; background: url(../images/br_title.jpg) center top no-repeat; padding: 32px 0 34px 0;}
.DataBox .box_title h3{ width: 100%; max-width:600px; height:36px; display: block; background-position:  center center; background-repeat: no-repeat; margin: 0 auto ; text-indent: -9999px; }
.DataBox .box_title h3.t01{ background-image: url(../images/h3_title_01.png );  background-size: contain;}
.DataBox .box_title h3.t02{ background-image: url(../images/h3_title_02.png );  background-size: contain;}
.DataBox .box_title h3.t03{ background-image: url(../images/h3_title_03.png );  background-size: contain;}
.DataBox .box_title h3.t04{ background-image: url(../images/h3_title_04.png );  background-size: contain;}
.DataBox .box_title h3.t05{ background-image: url(../images/h3_title_05.png );  background-size: contain;}
.DataBox .box_title h3.t06{ background-image: url(../images/h3_title_06.png );  background-size: contain;}

.DataBox .box_title p{ color: #f4d5a7; font-size: 18px;  line-height: 36px; padding-top: 20px; text-align: center; font-weight: normal; margin: 0 auto;}
.DataBox .box_title p.t01{ max-width: 558px; }

@media (max-width:1080px){.DataBox .box_title p.t02{ width:75%; }}
@media (max-width:800px){.DataBox .box_title p.t01{ width:75%; }}
@media (max-width:599px){.DataBox .box_title h3{/* width:300px; */height:50px; }
	.DataBox .box_title p{font-size: 16px;}
	.DataBox .box_title p.t02, .DataBox .box_title p.t01{ width: 85%; }
	.DataBox .box_title h3.t01{ background-image: url(../images/h3_title_01s.png );}
	.DataBox .box_title h3.t02{ background-image: url(../images/h3_title_02s.png );}
	.DataBox .box_title h3.t03{ background-image: url(../images/h3_title_03s.png );}
	.DataBox .box_title h3.t04{ background-image: url(../images/h3_title_04s.png );}
	.DataBox .box_title h3.t05{ background-image: url(../images/h3_title_05s.png );}
	.DataBox .box_title h3.t06{ background-image: url(../images/h3_title_06s.png );}
	}



.PreferentialBox{ background: url(../images/br_04.jpg ) center center no-repeat #000; padding: 55px 0 0 0 ;}
.PreferentialBox h4{ width: 100%; height: 36px; display:block; text-indent: -9999px; background: url(../images/h3_title_02_sub.png) center center no-repeat; background-size: contain;  }
.PreferentialBox p.experience{ color: #fff; text-align: center;  font-size: 18px; line-height: 36px;  padding: 20px 0; text-shadow: 0px 0px 5px rgba(0,0,0,0.1);}
.PreferentialBox p.experience span.c01{ color: #f2bdbd; }
.PreferentialBox p.experience span.c02{ color: #daaf71; }
.PreferentialBox p.btn{ padding-top: 30px; font-size: 19px; font-weight: bold; text-align: center; margin: 0 auto 40px auto; }
.PreferentialBox p.btn a{ border: 1px solid #fff; padding: 10px 32px; color: #fff; }
.PreferentialBox p.btn a:hover{ color: #fff; background-color: #a50e0e; border-color: #a50e0e; }
.PreferentialBox p.ex{ width: 100%; background-color: #000; text-align: center; padding: 30px 0; font-size: 12px; color: #fff; }

.map{ padding: 50px 0; }

.map .mBox{ width: 100%; padding: 20px 0;}
.map .mBox .lBox{  width: 48%; float: left; }
.map .mBox .rBox{  width: 48%; float: right; }
.map .mBox p{ padding: 20px 0; color: #fbf7f8; font-size: 15px; }
.map .mBox2 .lBox{ width: 78%; }
.map .mBox2 .rBox{ width: 22%; padding-top: 80px; }
.map iframe{ width: 100%; height: 350px;}
.map a.p_www{ color: #9f9f9f; font-size: 12px; display: block; padding-top: 10px;}
.map a.p_www:hover{ text-decoration: underline; }

p.btn_more{ text-align: center;font-size: 18px; font-weight: bold;}
p.btn_more a{padding: 12px 40px 12px 25px;  max-width: 100px; color: #e0a715; display: block; border: 1px solid #fff; margin: 0 auto;}
/*p.btn_more a:hover{ color: #fff; display: block; background: url(../images/arr_w.png) center center no-repeat #e0a715; border: 2px solid #e0a715; border-radius: 55px; margin: 0 auto;}
*/

.map p.btn_more{ width: 100%; padding: 10px 0;}
.map p.btn_more a{ float: right; padding: 12px 50px; border:1px solid #fff;  background-color: transparent; color: #fff;}
.map p.btn_more a:hover{ background-color: #fff; color: #000; }


@media (max-width:899px){.map .mBox2 .lBox{ width: 70%; }
	.map .mBox2 .rBox{ width: 30%; }}
@media (max-width:699px){.map .mBox .lBox, .map .mBox .rBox{ width: 100%; float: none; }
	.map .mBox{padding: 0;}
	.map p.btn_more{ width: 50%; float: left; }
	.map p.btn_more a{ float: none; }
	.map .mBox2 .rBox{ padding-top: 25px; }}
@media (max-width:599px){.PreferentialBox p.experience{ font-size: 16px;  line-height: 26px;}}
@media (max-width:499px){.map p.btn_more a {padding: 10px 20px;}
	.PreferentialBox p.ex{ width: 80%; text-align: justify; margin: 0 auto; }}

.Chef{ overflow: hidden; }

.Chef ul.ChefBox{ width: 100%; }
.Chef ul.ChefBox li{ float: left; width: 50%; height: 420px; overflow: hidden;}
.Chef ul.ChefBox li.food_01{ background: url(../images/food_01.jpg) center center no-repeat; background-size: cover;}
.Chef ul.ChefBox li.food_02{ background: url(../images/food_02.jpg) center center no-repeat; background-size: cover;}
.Chef ul.ChefBox li.food_03{ background: url(../images/food_03.jpg) center center no-repeat; background-size: cover;}
.Chef ul.ChefBox li.food_04{ background: url(../images/food_04.jpg) center center no-repeat; background-size: cover;}
.Chef ul.ChefBox li.food_05{ background: url(../images/food_05.jpg) center center no-repeat; background-size: cover;}
.Chef ul.ChefBox li.food_06{ background: url(../images/food_06.jpg) center center no-repeat; background-size: cover;}

.Chef ul.ChefBox li p.info{ text-align: center; padding: 16% 0 50px 0; color: #fff; font-size: 16px;}
.Chef ul.ChefBox li p.info b{ font-size: 26px; font-weight: normal; line-height: 40px;}


.Chef ul.ChefBox li p.btn_more a{ color: #fff;  background: url(../images/arr_w.png) center center no-repeat transparent; background-size: contain; border: 1px solid #fff; }
.Chef ul.ChefBox li p.btn_more a:hover{ color: #fff;  background: url(../images/arr_w.png) center center no-repeat #e0a715; background-size: contain; border: 1px solid #e0a715; }

@media (max-width:1000px){.Chef ul.ChefBox li p.info{padding-top: 23%; }}
@media (max-width:599px){.Chef ul.ChefBox li{ width: 100%; height: 300px;}
	.Chef ul.ChefBox li p.info{padding-top: 19%;}
	.Chef ul.ChefBox li p.btn_more{ padding: 10px}
	.map iframe{ height: 280px; }
	.Chef ul.ChefBox li p.info b{ font-size: 15px; }
	.Chef ul.ChefBox li p.info b{ font-size: 24px; }}

.pop_info h4{ color: #000; font-size: 20px; text-align: center;   padding: 10px 0;}
.pop_info h5{ color: #D85529; text-align: center;}
.pop_info p{ width: 90%; margin: 0 auto;  padding: 10px 0; color: #535353; }

.slides li{ height:490px;}
.banner_food_01 {	background: url(../images/banner_01.jpg) center center no-repeat;}
.banner_food_02 { background: url(../images/banner_02.jpg) center center no-repeat;}
.banner_food_03 { background: url(../images/banner_03.jpg) center center no-repeat;}
.banner_food_04 { background: url(../images/banner_04.jpg) center center no-repeat;}

.ArticlesList{ overflow:hidden;}
.slides li .info{ width:60%; margin: 120px auto 0 auto; min-height:140px; padding:20px;	clear: both; /*background: url(../images/br_k.png) 0 0 repeat;*/}
.slides li .info h3{ color: #fff; width:100%;  height: 80px; font-size: 26px; font-weight: bold; text-indent: -9999px;	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);	margin: 0;}
.slides li .info h3.t01{ background: url(../images/banner_title_01.png) center center no-repeat; background-size: contain;  }
.slides li .info h3.t02{ background: url(../images/banner_title_02.png) center center no-repeat; background-size: contain;  }
.slides li .info h3.t03{ background: url(../images/banner_title_03.png) center center no-repeat; background-size: contain;  }
.slides li .info h3.t04{ background: url(../images/banner_title_04.png) center center no-repeat; background-size: contain;  }
.slides li .info p { color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.1); line-height: 36px; font-weight: bold; font-size: 17px; text-align: center; margin: 0 auto;}
.slides li .info p.btn{ padding-top: 30px; }
.slides li .info p.btn a{ border: 1px solid #fff; padding: 8px 32px; color: #fff; }
/*.slides li .info p.btn a:hover{ color: #555; background-color: #fff; }*/
@media (max-width:599px){ .slides li .info{ width:80%; margin: 100px auto 0 auto; min-height:120px;}
	.slides li .info h3{ padding:0px 0 10px 0; font-size:19px;}
	.slides li .info p{ font-size:14px;}
	.banner_food_01 {	background: url(../images/banner_01s.jpg) center bottom no-repeat; background-size: cover;}
	.banner_food_02 { background: url(../images/banner_02s.jpg) center center no-repeat; background-size:cover;}
	.banner_food_03 { background: url(../images/banner_03s.jpg) center center no-repeat; background-size:cover;}
	.banner_food_04 { background: url(../images/banner_04s.jpg) center center no-repeat; background-size:cover;}}
	
.br00{ background:url(../images/br_00.jpg) 0 0 repeat; background-attachment: fixed; }
.br01{ background:url(../images/bg_00.gif) 0 0 repeat; background-attachment: fixed; }

.foodinfo{ overflow: hidden; }
.foodinfo .aBox{ width: 100%; position: relative;}
.foodinfo .aBox .photo{ width: 100%; max-width: 527px; position:absolute;}
.foodinfo .aBox .photo .pBox{ width: 100%; position: relative; }
.foodinfo .aBox .photo .pBox h4.tilte{ position: absolute; width: 144px; display: block; height: 144px; text-indent: -9999px;}

.foodinfo .r01 .photo .pBox h4.tilte{ top: 36px; right: -50px;  background: url(../images/h4tilte_01.png) center center no-repeat; background-size: contain; }
.foodinfo .r02 .photo .pBox h4.tilte{ top: 36px; left: -50px;  background: url(../images/h4tilte_02.png) center center no-repeat; background-size: contain;}

.foodinfo .aBox .info{ width: 100%; max-width: 590px; padding: 20px 0;}
.foodinfo .aBox .info .topTitleBox{ width: 100%; border-bottom: 1px solid #4d4a44;  padding: 8px 0; margin-bottom: 15px;}
.foodinfo .aBox .info .topTitleBox h5.subTitle{ text-indent: -9999px; float: left; width: 144px; height: 56px; display: block; }
.foodinfo .aBox .info .topTitleBox p{ float: left;  color: #ff0042; font-size: 18px; padding-top: 20px; padding-left: 10px; font-weight: bold;}
.foodinfo .aBox .info p{color: #f6f5f0; font-size: 20px; line-height: 36px;}

.foodinfo .r01 .photo {left: -100px; top: 70px;}
.foodinfo .r01 .info{ float: right; margin:200px 100px 300px 0; }
.foodinfo .r01 .info .topTitleBox h5.subTitle{ background: url(../images/h5_subtitle_r1.png) center center no-repeat; background-size: contain; }
.foodinfo .r02 .photo {right: -100px; top: -200px;}
.foodinfo .r02 .info{ margin:0 0 200px 60px; display: block; }
.foodinfo .r02 .info .topTitleBox h5.subTitle{ background: url(../images/h5_subtitle_r2.png) center center no-repeat; background-size: contain; }
@media (max-width:1200px){.foodinfo .r01 .info{margin-right: 0;}
	.foodinfo .r02 .info{margin-left: 0;}}
@media (max-width:1140px){.foodinfo .aBox .photo{ max-width: 400px; }}
@media (max-width:1000px){.foodinfo .aBox .info{max-width: 400px;}}
@media (max-width:840px){.foodinfo{padding: 40px 0;}
	.foodinfo .aBox .photo,.foodinfo .aBox .info { position: initial; margin: 0 auto;}
	.foodinfo .aBox .info{ float: none; max-width: 90%;}
	.foodinfo .r01 .photo .pBox h4.tilte{ right: initial; right: -35px; top: initial; bottom: -45px; }
	.foodinfo .r01 .info{ padding-bottom: 50px; }}
@media (max-width:599px){.foodinfo .aBox .info .topTitleBox h5.subTitle{ width: 120px; }}
@media (max-width:499px){.foodinfo .aBox .info p{ font-size: 15px; line-height: 28px; }}
@media (max-width:450px){.foodinfo .aBox .photo{max-width: 85%;}
	.foodinfo .aBox .photo .pBox h4.tilte{ width: 100px; }
	.foodinfo .r02 .photo .pBox h4.tilte{ left: -30px; top: -15px;}}

.ChefIntroduced{ width: 100%; background: url(../images/br_03.jpg) center center no-repeat; background-size: cover ;padding: 45px 0; background-attachment: fixed;}
.ChefIntroduced h4{ width: 100%; height: 36px; text-indent: -9999px; display:block; background: url(../images/h3_title_01_sub.png) center center no-repeat; background-size: contain;  }
.ChefIntroduced p.experience{ max-width: 445px; text-shadow: 0px 0px 5px #555; margin: 0 auto; font-size: 18px; line-height: 36px; color: #fff; padding: 30px 0;}
.ChefIntroduced ul{ width: 100%; padding-top: 30px;}
.ChefIntroduced ul li{ width: 25%; float: left; }
.ChefIntroduced ul li p{ text-align: center; color: #fff; font-size: 15px; }


@media (max-width:699px){.ChefIntroduced ul li{ width: 50%; padding-bottom: 20px; }}
@media (max-width:499px){.ChefIntroduced p.experience{ font-size: 16px; line-height: 32px; }}
@media (max-width:450px){.ChefIntroduced p.experience{ max-width: 270px; text-align: center; }}

.footerBox{ border-bottom: 94px solid #c49d65; padding: 100px 0 50px 0;}
.footerBox .ContentsBox{position: relative;}
.footerBox .fbBox{ width: 337px; height: 400px;position: absolute; bottom: -144px; right: 0; box-shadow: 0px 0px 15px rgba(0%,0%,0%,0.2);  }
.footerBox .fbBox iframe{ width: 100%; height: 400px; }
.footerBox .logoimg{ float: left; max-width: 180px; padding-right: 60px; }

.footerBox .infoBox{ float: left; max-width: 400px; }
.footerBox .infoBox p{ color: #404040; font-size: 17px; line-height: 30px;}
.footerBox .infoBox p span.ss{font-size: 14px;}
.footerBox .infoBox p span.red{ color: #da022b; font-weight: bold; }
.footerBox .infoBox p.btn{ font-size: 16px; padding: 30px 0; font-weight: bold; }
.footerBox .infoBox p.btn a{ cursor: pointer; color: #b98d4e; padding: 10px 20px; border: 1px solid #b98d4e; margin-right: 10px;} 
.footerBox .infoBox p.btn a:hover{ background-color: #b98d4e; color: #fff; }


.mediaBox{ width: 100%; background:url(../images/media/br.jpg) center center no-repeat; background-attachment: fixed; }
.mediaBox ul.MBox{ width: 100%; margin: 0 auto; padding: 20px 0; max-width: 1870px;}
.mediaBox ul.MBox li{ float: left; width: 18%; padding: 0 1%; }
.mediaBox ul.MBox li a{ display: block; padding: 10px 0; width: 100%; }
.mediaBox ul.MBox li a.mob{ display: none; }
.mediaBox ul.MBox li a:hover{ opacity: .8; }

@media (max-width:1880px){.mediaBox ul.MBox{ width: 90%; }}
@media (max-width:1100px){.footerBox .logoimg{ max-width: 120px; padding-right: 20px; }}
@media (max-width:1000px){.footerBox .logoimg{ float: none; }
	.footerBox{padding-top: 40px;}}
@media (max-width:980px){.mediaBox ul.MBox li{ width: 31%; }}
@media (max-width:850px){.footerBox{ padding-bottom: 0; border-bottom: 40px solid #c49d65;}
	.footerBox .logoimg{ margin: 0 auto; padding-right: 0; }
	.footerBox .infoBox{ float: none; margin: 0 auto; max-width: 100%; }
	.footerBox .fbBox{position: initial;margin: 0 auto;}
	.footerBox .infoBox p{ text-align: center; }}

@media (max-width:799px){.mediaBox ul.MBox li{ width: 48%; }
	.mediaBox ul.MBox li a.pc{ display: none; }
	.mediaBox ul.MBox li a.mob{ display: block; }}	
@media (max-width:400px){.footerBox .fbBox{ width: 300px;}}
@media (max-width:330px){.footerBox .fbBox{ width: 260px;}}
