@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
input, textarea { margin:0; padding:0;}
* {-webkit-text-size-adjust:none;}
a{text-decoration:none;}
fieldset, img { border:0;}
ol, ul { list-style:none;}
abbr, acronym { border:0;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
* html .clearfix {height: 1%;}
*:first-child + html .clearfix { min-height: 1%;}

body, h1, h2, h3, h4, h5, h6, p {font-family:'Roboto', 'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif; font-weight: normal; color: #333;}
p{ font-size: 16px;}
a{ text-decoration:none; outline: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
a:hover{ text-decoration:none;}
select, input, textarea, button {  font-family:'Roboto', 'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif;}
*:link, *:visited, *:hover, *:active, *:focus , * {border: none;outline: none;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html, body{ height: 100%; }

/*===== start ======*/
.ContentsBox{ max-width: 1024px; margin: 0 auto; min-width: 320px;}

/*header*/
.HeaderBox{ width: 100%; padding-top: 12px; min-height: 30px; background-color: #fff; border-bottom: 11px solid #00a0e9;}
.HeaderBox .ContentsBox{ position: relative;}
.HeaderBox h1.logo{ width: 315px; float: left; text-decoration: none; padding-bottom: 5px;}
.HeaderBox h1.logo a{ color: #666; width: 100%; height: 80px; display: block; background: url(../images/logo.png) center center no-repeat; background-size: contain;}
.HeaderBox select{ border:1px solid #00a0e9; color: #00a0e9; background-color: #fff; border-radius: 4px; height:28px; line-height: 28px; overflow: hidden; }
.HeaderBox .TopBox{ width: 100%; float: right; max-width: calc(100% - 350px); }
.HeaderBox .TopBox ul.tools{width: 100%; text-align: left; padding-left:16px; position: relative;}
.HeaderBox .TopBox ul.tools li{ display: inline-block; }
.HeaderBox .TopBox ul.tools li p{ font-size: 15px; font-weight: bold; }
.HeaderBox .TopBox ul.tools li p a{ color: #00a0e9}
.HeaderBox .TopBox ul.tools li p a.icon:hover{ text-decoration: underline; }
.HeaderBox .TopBox ul.tools li p a.icon{ padding:5px 5px 5px 32px; display: block;  background-size: contain; background-repeat: no-repeat; background-position:  center left; }
.HeaderBox .TopBox ul.tools li p a.icon_01{ background-image: url(../images/tools_icon_01.png); }
.HeaderBox .TopBox ul.tools li p a.icon_02{ background-image: url(../images/tools_icon_02.png); }
.HeaderBox .TopBox ul.tools li p a.icon_03{ background-image: url(../images/tools_icon_03.png); }

.HeaderBox .TopBox ul.tools li p a.btn{ border:1px solid #00a0e9; padding:2px 10px; line-height: 21px; border-radius: 4px; }
.HeaderBox .TopBox ul.tools li p a.btn:hover{ background-color: #00a0e9; color: #fff; }
.HeaderBox .TopBox ul.tools li.login{ position: absolute; top: 0px; right: 0; }
.HeaderBox .TopBox ul.tools li.login p{ font-weight: normal; }
.HeaderBox .TopBox ul.tools li.login p a.btn { border-radius: 40px; padding: 4px 10px ; display: inline-block;}
.HeaderBox .TopBox ul.tools li.login p a.btn span{  padding: 2px 10px; padding-left: 25px; display: inline-block; background-image: url(../images/icon_user.png) ;  background-position: center left ; background-repeat: no-repeat; background-size: contain;  }
.HeaderBox .TopBox ul.tools li.login p a.btn:hover span{ background-image: url(../images/icon_user_w.png) ;}
.HeaderBox .TopBox ul.tools li.user p a.btn{ background-color: #024361; color: #fff; }
.HeaderBox .TopBox ul.tools li.user p a.btn span{ background-image: url(../images/icon_user_w.png) ;}

.HeaderBox .TopBox ul.top_menu{ width: 100%; padding-top: 10px; }
.HeaderBox .TopBox ul.top_menu li{ float: left; position: relative;}
.HeaderBox .TopBox ul.top_menu li h3{ font-size: 19px; line-height: 22px; font-weight: bold; }
.HeaderBox .TopBox ul.top_menu li h3 a{ color: #282828; padding: 10px 36px 15px 20px; cursor: pointer;display: block; position: relative;}
.HeaderBox .TopBox ul.top_menu li h3 a::after{ content: ""; position: absolute; top: 10px; right: 10px; width: 18px; height: 18px; display: block;  background-image: url(../images/icon_arr.png); background-repeat: no-repeat; background-size:contain; background-position: center center; }
.HeaderBox .TopBox ul.top_menu li h3.btn_in a{ background-color: #00a0e9; color: #fff; }
.HeaderBox .TopBox ul.top_menu li h3.btn_in a::after{background-image: url(../images/icon_arr_w.png);}

.HeaderBox ul.subMumeBox{ display: none; position: absolute; background-color: #00a0e9; top: 50px; width: 100%; min-width: 220px; left: 0; z-index: 11; padding: 20px 0;}
.HeaderBox ul.subMumeBox li{float: none; width: 100%; border-bottom: 1px solid rgba(255,255,255,.2);}
.HeaderBox ul.subMumeBox li p{ font-size: 16px; }
.HeaderBox ul.subMumeBox li p a{ padding: 15px; color: #fff; display: block;}
.HeaderBox ul.subMumeBox li p a:hover{ background-color: #0177bb; color: #fff; }
.HeaderBox ul.subMumeBox li:last-child{ border:none; }

/*main_contents*/
.bg_01{ background: url(../images/bg_index.jpg) center center no-repeat; background-attachment: fixed; background-size: cover; }
.inside_b01{ background: url(../images/banner/inside_b_01.jpg) center right no-repeat; background-size: cover; }
.inside_b02{ background: url(../images/banner/inside_b_02.jpg) center center no-repeat; background-size: cover; }
.main_contents{ width: 100%;}
.main_contents .ContentsBox{ width: 100%; }

.main_contents .bannerBox{ position: relative;}
.main_contents .bannerBox .iconBox{ position: absolute; right: 3%; top:calc(50% - 107px); text-align: center; padding-bottom: 12px; z-index: 10; }
.main_contents .bannerBox .iconBox a{ width: 38px; height: 38px; cursor: pointer; display: block; background-position: center center; background-repeat: no-repeat; margin: 10px 0; }
.main_contents .bannerBox .iconBox a.icon_01{ background: url(../images/icons_01.png); background-size: contain; }
.main_contents .bannerBox .iconBox a.icon_02{ background: url(../images/icons_02.png); background-size: contain; }
.main_contents .bannerBox .iconBox a.icon_03{ background: url(../images/icons_03.png); background-size: contain; }
.main_contents .bannerBox .iconBox a.icon_04{ background: url(../images/icons_04.png); background-size: contain; }
.main_contents .bannerBox .iconBox a:hover{ opacity: .8; }
.main_contents .bannerBox .ContentsBox{ width: 95%; }

.main_contents .bannerBox .flexslider{ width: 100%; height: 353px; }
.main_contents .bannerBox .flexslider ul li{ height: 353px; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.main_contents .bannerBox .flexslider .flex-control-nav{ bottom: 5%; }
.main_contents .bannerBox .flexslider .titleBox{ width: 100%; position: absolute; top: 25%; z-index: 8; }
.main_contents .bannerBox .flexslider .titleBox .banner_title{ width:calc(100% - 30px);  color: #fff; font-size: 48px; font-weight: bold; text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);}
.main_contents .bannerBox .flexslider .titleBox .sub_title { width:calc(100% - 30px); font-size: 19px; line-height: 30px; z-index: 8; color: #fff; font-weight: bold;text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7); }

.main_contents h2{ color: #4d4d4d; text-align: center; font-size: 36px; padding: 5px 0 25px 0; font-weight: bold;}

.serviceBox{ width: 100%; padding: 30px 0 60px 0;}
.serviceBox .ContentsBox{ max-width: 100%;}

.serviceBox .serviceData{width: 100%; max-width:1060px; margin:0 auto; background-color: rgba(256,256,256,.8); border-radius: 15px;}
.serviceBox .serviceData .aBox{float: left; width:calc(50% - 30px); margin: 0 15px; padding-bottom: 35px;}
.serviceBox .serviceData .aBox h3{ font-size: 24px; font-weight: bold; padding:10px 10px 10px 25px; border-radius: 70px; background-color: #00a0e9; color: #fff; line-height: 50px; position: relative;}
.serviceBox .serviceData .aBox h3 a.more{width: 50px; height: 50px; border-radius: 50%; position: absolute; top: 10px; right: 10px; line-height: 50px; background-image: url(../images/home_h3_icon_more.png); background-position: center center; background-repeat: no-repeat; background-color: #fff; background-size: contain;}
.serviceBox .serviceData .aBox h3 a.more:hover{ opacity: .8; }

.serviceBox .serviceData .aBox ul.list{ width: 100%; }
.serviceBox .serviceData .aBox ul.list li{ padding: 12px 20px; border-bottom: 1px solid #b4b4b4;}
.serviceBox .serviceData .aBox ul.list li p.p_info{ min-height: 24px; color: #4d4d4d; height: 24px; display: block; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; line-height: 24px; height: 24px * 1;}
.serviceBox .serviceData .aBox ul.list li p.p_info a{color: #4d4d4d;}
.serviceBox .serviceData .aBox ul.list li p.p_info a:hover{ color: #00a0e9; }
.serviceBox .serviceData .aBox ul.list li p.day{font-size: 24px; color: #c7c6c6; padding-bottom: 5px;font-style:italic}
.serviceBox .serviceData .aBox ul.list li:last-child{ border:none; }

.serviceBox .serviceData .color_yellow h3{ background-color: #f39800; }
.serviceBox .serviceData .color_yellow h3  a.more{ background-image: url(../images/home_h3_icon_more_yellow.png);}

.subBannerBox{width: 100%; max-width: 1060px; margin: 0 auto; padding: 0 15px 40px 15px;}
.subBannerBox .the_box{ position: relative; width: 100%; height: 406px; }
.subBannerBox .infoBox{ position: absolute; top: 40px; left: 40px; background-color: rgba(0,0,0,0.15); padding: 20px; max-width: 458px; }
.subBannerBox .infoBox h4{ font-size: 60px; color: #252525; }
.subBannerBox .infoBox p{ font-size: 18px; line-height: 30px; color: #fff; }
.subBannerBox .br_01{ background: url(../images/banner/b_01.jpg) center center no-repeat; background-size: cover;  }
.subBannerBox .br_02{ background: url(../images/banner/b_02.jpg) center center no-repeat; background-size: cover;  }
.subBannerBox .br_03{ background: url(../images/banner/b_03.jpg) center center no-repeat; background-size: cover;  }
.subBannerBox .br_04{ background: url(../images/banner/b_04.jpg) center center no-repeat; background-size: cover;  }
.subBannerBox .br_05{ background: url(../images/banner/b_05.jpg) center center no-repeat; background-size: cover;  }
.subBannerBox .br_06{ background: url(../images/banner/b_06.jpg) center center no-repeat; background-size: cover;  }

/*FooterBox*/
.FooterBox{ width: 100%; background-color: #d0ebfd; padding: 35px 0;}
.FooterBox .info{ width: 100%; position: relative; padding-right: 150px;}
.FooterBox .info .line_qrcode{ position: absolute; top: -15px; right: 0;  display: block; }
.FooterBox .info .line_qrcode a{ text-align: center; color: #333; display: block;  font-size: 14px; position: relative; padding-top: 120px; }
.FooterBox .info .line_qrcode a::after{ content: ""; position: absolute; top: 0; left:calc( 50% - 57.5px); width: 115px; height: 115px; background: url(../images/Drone_LINE@.jpg) center top no-repeat; background-size: contain;}

.FooterBox p{ font-size: 14px; line-height: 24px;}
.FooterBox p a{ color: #0077b7; padding-right: 15px; }
.FooterBox p a:hover{ text-decoration: underline; }
.FooterBox p.link{ font-size: 16px; padding-bottom: 10px; }
.FooterBox p.link a{ color: #00a0e9; margin-right: 15px; display: inline-block;}

/*內頁*/
.inside_contents .bannerBox{ height: 114px; }
.inside_contents .bannerBox .ContentsBox { height: 100%; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.inside_contents .bannerBox .ContentsBox p{ color: #fff; font-size: 22px; font-weight: bold; text-shadow: 0 0 5px rgba(0,0,0,.3); }

.data_contents {width: 100%; }
.data_contents .ContentsBox{ background-color: #fff; position: relative; padding: 25px 0;}
.data_contents p.share_icon{ position: absolute; top: 25px; right: 66px; text-align: right; }
.data_contents p.share_icon a{ display: inline-block; width: 30px; height: 30px; background-repeat: no-repeat;  background-size: contain; background-position:  center center; background-color: #00a0e9; border-radius: 50%;}
.data_contents p.share_icon a.fb{ background-image: url(../images/share_icon_fb.png); }
.data_contents p.share_icon a.google{ background-image: url(../images/share_icon_google.png); }
.data_contents p.share_icon a.line{ background-image: url(../images/share_icon_line.png); }
.data_contents p.share_icon a.twitter{ background-image: url(../images/share_icon_twitter.png); }
.data_contents p.share_icon a:hover{ background-color: #0d82b8; }

.data_contents .top_location{ width: 100%; padding: 5px 66px; }
.data_contents .top_location p{ color: #4d4d4d; font-size: 14px;}
.data_contents .top_location p a{ color:#4d4d4d;}
.data_contents .top_location p a.home{ padding:3px 3px 3px 30px; display: inline-block;background: url(../images/icon_home.png) center left no-repeat; background-size: contain; }
.data_contents .top_location p a.home:hover{ color: #00a0e9; }
.data_contents .top_location p span{ color: #00a0e9;}
.data_contents .no_padding{ padding: 5px 0; }

.data_contents .articleBox{ width: 100%; position: relative; }
.data_contents .articleBox article{ width: 100%;}
.data_contents .articleBox article .top_location p{ width: calc(100% - 140px);}

.data_contents .pd_width{ padding: 25px 66px; }

.data_contents h2.the_top_title{ font-size: 21px; color: #00a0e9; text-align: left; }
.data_contents .articleBox p{ color: #000000; line-height: 30px;  text-align: justify; }
.data_contents .articleBox ul.the_source{ border-top: 3px solid #00a0e9;}
.data_contents .articleBox ul.the_source li{ width: 100%; padding: 5px 0; }
.data_contents .articleBox ul.the_source li p{ position: relative; padding-left: 45px; word-break: break-all;}
.data_contents .articleBox ul.the_source li p::before{ position: absolute; width: 28px; height: 30px; display: block; content: ""; left: 0; top: 0; background-position: center center; background-repeat: no-repeat; background-size: contain;}
.data_contents .articleBox ul.the_source li p.day::before{ background-image: url(../images/the_source_icon_01.png);}
.data_contents .articleBox ul.the_source li p.link::before{ background-image: url(../images/the_source_icon_02.png);}
.data_contents .articleBox ul.the_source li p.source::before{ background-image: url(../images/the_source_icon_03.png);}

.data_contents .articleBox ul.the_source li p a{ color: #00a0e9;}
.data_contents .articleBox ul.the_source li p a:hover{ text-decoration: underline; }

.data_contents p.go_btn{ text-align: center; font-size: 14px; padding: 10px 0;}
.data_contents p.go_btn a{ display: inline-block; color: #fff; margin: 0 15px; border-radius: 40px; padding:6px 15px; min-width: 120px; text-align: center; background-color:#00a0e9;}
.data_contents p.go_btn a:hover{ background-color: #0d82b8;}

.data_contents .articleBox p.go_print{ position: absolute; top: 20px; right: 66px; padding: 0;}
.data_contents .articleBox p.go_print a{ margin: 0; }
.data_contents .articleBox p.go_print a span{  padding:0px 15px 0 40px; display: inline-block; background: url(../images/icon_print.png) center left no-repeat; background-size: contain;}
.data_contents .articleBox article h2.the_top_title{ max-width: calc(100% - 160px);}

.data_contents .guideBox{width: 100%; padding: 5px 66px;}
.data_contents .guideBox .guideBox_list{ width: 100%; min-height: 400px;}
.data_contents .guideBox .guideBox_list ul{ float: left; width:25%; padding-right: 40px;padding-bottom: 20px;}
.data_contents .guideBox .guideBox_list ul li{ width: 100% padding-bottom:5px; }
.data_contents .guideBox .guideBox_list ul li h3{ background-color: #00a0e9; color: #fff; font-size: 18px; border-radius: 4px; padding: 5px 15px; margin-bottom: 20px; }
.data_contents .guideBox .guideBox_list ul li p{ padding: 5px 15px;}
.data_contents .guideBox .guideBox_list ul li p a{ color: #0a0a0a; }
.data_contents .guideBox .guideBox_list ul li p a:hover{ color: #00a0e9; }
.data_contents .guideBox .guideBox_list ul li p.two{ padding-left: 30px; font-size: 15px; }

.data_contents .other_linkBox ul.link_list{ width: 100%; }
.data_contents .other_linkBox ul.link_list  li{ padding-bottom: 10px; }
.data_contents .other_linkBox ul.link_list  li p{ position: relative; }
.data_contents .other_linkBox ul.link_list  li p::before{ content: ""; position: absolute; top: 7px; left: 10px; width: 30px; height: 30px; display: block; background: url(../images/icon_link_first.png) center center no-repeat ; background-size: contain;}
.data_contents .other_linkBox ul.link_list  li p a{ padding:5px 10px 5px 50px; border-radius: 4px; display: block; color: #0a0a0a; background-color: #d4edf8; line-height: 35px;}
.data_contents .other_linkBox ul.link_list  li p a:hover{ background-color: #0d82b8; color: #fff; }
.data_contents .other_linkBox ul.link_list  li p:hover::before{ background: url(../images/icon_link_first_w.png) center center no-repeat ; background-size: contain;}

.inside_contents .subBannerBox .tabs{ color: #474747; background-color: #eeeeee; background: -webkit-linear-gradient(top,#eeeeee 0,#d9d9d9 100%); background: -moz-linear-gradient(top,#eeeeee 0,#d9d9d9 100%);  background: -o-linear-gradient(top,#eeeeee 0,#d9d9d9 100%); background: linear-gradient(to bottom,#eeeeee 0,#d9d9d9 100%); background-repeat: repeat-x;}
.inside_contents .subBannerBox .tabs li{ margin: 0; }
.inside_contents .subBannerBox h4.top_title{ font-size: 24px; font-weight: bold; color: #00a0e9; padding: 10px 10px 20px 10px; }
.inside_contents .subBannerBox ul.newBox{ width: 100%; min-height: 580px; }
.inside_contents .subBannerBox ul.newBox li{ border-bottom: 1px solid #b4b4b4; }
.inside_contents .subBannerBox ul.newBox li a{ padding:10px; display: inline-block; width: 100%;}
.inside_contents .subBannerBox ul.newBox li a:hover{ background-color: #d0ebfd; }
.inside_contents .subBannerBox ul.newBox li p{ font-weight: bold; float: left; font-size: 18px; line-height: 45px; }
.inside_contents .subBannerBox ul.newBox li p.news_title{ color: #4d4d4d; width:100%; max-width: calc(100% - 100px); display: block; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; line-height:45px; height: 45px * 1; overflow:hidden;}
.inside_contents .subBannerBox ul.newBox li p.day{ float: right; width: 100px; color: #00a0e9; text-align: right; }

.inside_contents .subBannerBox .go_btn{ width:initial; float: left; }
.inside_contents .subBannerBox .go_btn a{ margin: 0 0 0 5px; }
.inside_contents .subBannerBox .search_tools{ padding: 20px 0; }
.inside_contents .subBannerBox .search_tools form{ width: initial; float: left; font-size: 16px;  line-height: 40px;}
.inside_contents .subBannerBox .search_tools form select, .inside_contents .subBannerBox .search_tools form input{ border:1px solid #00a0e9; padding: 5px; border-radius: 4px; width: 60px; height: 40px; line-height: 40px; }
.inside_contents .subBannerBox .search_tools form select{ min-width: 100px; }
.inside_contents .subBannerBox .search_tools input.go_green_btn{ min-width: 100px; line-height: 30px; margin-left: 10px; height: 30px; color: #fff; text-align: center;  min-width: initial; background-color: #40d804; padding: 0 20px; border-radius: 40px; border:none;}
.inside_contents .subBannerBox .search_tools p.go_btn{padding:5px 0;}


.CDC_box{ padding: 0 50px; min-height: calc(100vh - 300px); }
.CDC_box h2.the_top_title{ color: #01557c; position: relative;}
.CDC_box h2.the_top_title::after{ content: ""; position: absolute; top: 5px; left: -40px; width: 30px ; height: 30px; display: block; background: url(../images/icon_CDC.png) center center no-repeat; background-size: contain; }


.CDC_box2{ min-height: calc(100vh - 300px); }
.CDC_box2 h2.the_top_title{ padding-bottom: 10px;}
.CDC_box2 .top_location{ padding: 5px 0; }


/*後台*/
.AdminHeaderBox{ width: 100%;}
.AdminHeaderBox h1.logo{ float: left; color: #fff; font-size: 19px; font-weight: bold; letter-spacing: 2px; }
.AdminHeaderBox h1.logo a{ color: #fff; line-height: 45px; padding-left: 56px; display: inline-block; background: url(../images/logo_s.png) center left no-repeat; background-size: contain;  }
.AdminHeaderBox .top{ width: 100%; background-color: #194861; border-bottom:7px solid #00a0e9; padding: 5px 0; }
.AdminHeaderBox .top p{ float: left; font-size: 15px; float: right; color: #fff; padding: 0 10px; padding-top: 2px; }
.AdminHeaderBox .top p.out{ line-height: 42px; }
.AdminHeaderBox .top a{ color: #fff; }
.AdminHeaderBox .top a.btn { border-radius: 40px; padding: 4px 16px ; margin-left: 10px; display: inline-block; border:1px solid #fff; }
.AdminHeaderBox .top a.btn span{  padding: 2px 10px; padding-left: 25px; display: inline-block; background-image: url(../images/icon_user_w.png) ;  background-position: center left ; background-repeat: no-repeat; background-size: contain;  }
.AdminHeaderBox .top a.btn:hover{background-color: #00a0e9; border-color: #00a0e9;}

.AdminHeaderBox .title{ border-bottom: 1px solid #b7c6cd; background-color: #fff;}
.AdminHeaderBox .title p{ float: left; color: #8d9daa; font-size: 24px; font-weight: bold; line-height: 40px; }
.AdminHeaderBox .title p.main_title{ padding: 6px 15px 6px 50px; border-right: 1px solid #b7c6cd; background: url(../images/admin_title_icon.png) center left no-repeat; background-size: contain;}
.AdminHeaderBox .title p.sub_title{ color: #01557c; padding: 6px 15px;  }

.admin_contents{ min-height: calc(100vh - 200px); }

/*==== RWD ====*/
@media (max-width:1036px){
	.ContentsBox{ width: 94%; margin: 0 auto; }
	.data_contents .ContentsBox{ width: 90%; padding:25px;}
	.serviceBox .ContentsBox{width: 100%;}
	.CDC_box{padding: 0px;}
	.CDC_box h2.the_top_title{ padding-left: 40px; }
	.CDC_box h2.the_top_title::after{ left: 0; }
}
@media (max-width:1240px){
	.HeaderBox h1.logo{ width: 230px;}
	.HeaderBox .TopBox{ max-width: calc(100% - 250px);}
}

@media (max-width:1000px){
	.HeaderBox h1.logo{padding-top: 0;}
	.HeaderBox h1.logo a{height: 54px;}
	.HeaderBox .TopBox ul.tools li.login{ top: 3px; right: 20px; }
	.HeaderBox .TopBox ul.top_menu{ display: none; }
	.main_contents h2.top_title{ font-size: 30px; }

	.HeaderBox .TopBox ul.tools{ padding-right: 30px;}

	.data_contents .top_location{ padding: 5px 0px;}
	.data_contents .pd_width{ padding: 18px 0; }
	.data_contents p.share_icon, .data_contents .articleBox p.go_print{ right: 0; }
}
@media (max-width:900px){
	.data_contents .guideBox .guideBox_list ul{ width: 50%; }
	.data_contents p.go_btn a{ min-width: initial; }
}
@media (max-width:850px){
	.HeaderBox .TopBox{ display: none;}
}
@media (max-width:780px){
	.serviceBox .serviceData .aBox h3 { font-size: 20px; }
	.subBannerBox .infoBox h4{font-size: 36px;}
	.subBannerBox .infoBox p{font-size: 16px;}
	.subBannerBox .the_box{ height: 300px; }
	.inside_contents .subBannerBox .search_tools form select, .inside_contents .subBannerBox .search_tools form input{ min-width:initial; width: 40px; }
	.inside_contents .subBannerBox .search_tools input.go_green_btn{ width: initial; min-width: 40px; }
	.inside_contents .subBannerBox .search_tools form{ font-size: 15px; text-align: center; float: none; }
	.inside_contents .subBannerBox ul.newBox{ min-height: 420px; }
	.inside_contents .subBannerBox ul.newBox li p{ font-size: 15px; }
	.inside_contents .subBannerBox ul.newBox li p.news_title{max-width: calc(100% - 80px);}
	.inside_contents .subBannerBox ul.newBox li p.day{ font-size: 13px; width: 80px; }
	.inside_contents .subBannerBox ul.newBox li a{padding: 0 5px;}
}

@media (max-width:750px){
	.HeaderBox{position: fixed; top: 0; z-index: 15; box-shadow: 0 0 5px rgba(0,0,0,.2); display: block;}
	.HeaderBox h1.logo{width: 196px;}
	.HeaderBox h1.logo a{height: 44px;}
	.main_contents{padding-top: 72px;}
	/*.main_contents .bannerBox{min-height: 300px; padding-top: 0; height: 600px\9; height: 600px\0; +height: 600px; _height: 600px;}
	 :root .main_contents .bannerBox{ height:  600px\9; }*/
	.serviceBox{padding: 20px 0 10px 0;}
	.serviceBox .ContentsBox{top: initial; position: initial;}
	.serviceBox .serviceData .aBox{ width: calc(100% - 30px); padding-bottom: 15px;}
	.main_contents h2.top_title{ font-size: 24px;}
	.FooterBox p{font-size: 12px;}
	.FooterBox .info{ padding: 0;}
	.FooterBox .info .line_qrcode{ position: initial; padding-top: 25px; }
}

@media (max-width:700px){
	.data_contents p.go_btn a{ margin: 0 8px; }
	.inside_contents .subBannerBox .search_tools p.go_btn{ margin: 10px 0; }
	.AdminHeaderBox .title p{ font-size: 20px; }
	.AdminHeaderBox h1.logo{ font-size: 18px; letter-spacing: 1px; }
}
@media (max-width:650px){
	.FooterBox p{font-size: 11px;}
	.subBannerBox .the_box{ height: 240px; }
	.data_contents p.share_icon{position: initial;}
	.data_contents .articleBox article h2.the_top_title{ max-width: 100%; }
	.data_contents .articleBox p.go_print{position: initial; text-align: center; padding-top: 10px;}
	.data_contents p.go_btn{padding: 0;}
	.data_contents .guideBox .guideBox_list ul{ padding-right: 10px; width: 100%;}
	.inside_contents .subBannerBox .search_tools form{ font-size: 13px; }
	.inside_contents .subBannerBox .search_tools p.go_btn { width: 100%; padding-top: 15px; }
	.inside_contents .subBannerBox .search_tools p.go_btn a{ margin: 0 5px; }
	.AdminHeaderBox .title p{ font-size: 15px; line-height: 26px; }
	.AdminHeaderBox .title p.main_title{padding:6px 8px 6px 38px; letter-spacing: -1px;}
	.AdminHeaderBox .title p.sub_title{padding: 6px;}
}

@media (max-width:500px){
	.subBannerBox .infoBox h4{font-size: 30px;}
	.subBannerBox .infoBox p{font-size: 15px;}
	.main_contents .bannerBox .flexslider .titleBox .banner_title{ font-size: 40px; }
	.main_contents .bannerBox .flexslider .titleBox .sub_title{ font-size: 16px; padding-right: 15px; }
}
@media (max-width:460px){
	.inside_contents .subBannerBox .search_tools input.go_green_btn{ margin-top: 20px; }
}
@media (max-width:350px){
	.ContentsBox{ min-width: 280px; }
	.main_contents .bannerBox .flexslider .titleBox{top: 20%;}
	.main_contents .bannerBox .flexslider .titleBox .banner_title{font-size: 40px;}
	.main_contents .bannerBox .flexslider .titleBox .sub_title{font-size: 16px;}
	.data_contents p.go_btn a{ min-width:90px; margin: 0 5px;}
}
@media (max-device-width:1200px) {
	.bg_01{ background-attachment: inherit;}
}