@charset "utf-8";
/* CSS Document */
body
{
	margin:0;
	padding:0;
	font-size:14px;
	font-family:微軟正黑體, Myriad Pro,arial! important;
	/*font-family: Microsoft YaHei,arial,helvetica ! important;*/
 	line-height: 2em;
	color: #434343;
	background:url(../images/black_twill.png) left top repeat;
 }

.dibt
{
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}

.dibm
{
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:middle;
}

.dibb
{
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:bottom;
}

.bold
{
	font-weight:bold;
}

a
{
	text-decoration:underline;
	color:#333;
}

a:hover
{
	cursor:pointer;
	text-decoration:none;

}

.con{
	width:990px;
	margin:0 auto;
	position:relative;
}


/**/
.logo{
	padding-left:30px;
	padding-top:20px;
}
/**/
.login{
	background:url(../images/bg01.png) center top no-repeat;
	height:700px;
	color:#fff;
}

.login a{
	color:#fff;
}

.login01{
	width:615px;
	padding-top:218px;
	padding-left:280px;
}

.texttop{
	font-size:18px;
	font-weight:bold;
	margin-bottom:22px;
}
.textbom{
	font-size:11px;
	padding-left:52px;
	margin-top:18px;
	line-height:20px;
}

.login01 label.dibm{
	width:110px;
	padding:0 5px;
	text-align:right;	
	font-size:18px;
	color:#ffc200;
}
input.text{
	width:260px;
	height:30px;
	padding:0 5px;
	border:#b7b084 1px solid;
	margin-bottom:20px;
}


a.button{
	font-size:18px;
	background:#86d72d;
	text-decoration:none;
	padding:7px 12px;
	color:#000;
}
.login a.button{
	margin-left:135px;
	margin-rigfht:5px;
}

a.button:hover{
	background:#eed81e;
}

.p13{
	font-size:13px;
	padding:0 3px;
}


/**/
.print{
	text-align:center;
}

.gift{
	margin:150px auto 20px auto;
}
