/* set the font face and default size for everything; could     */
/* set colors, too, but NN4 doesn't work too well with that...  */


/* Stytle Foundation Start Here */

body, p, ol, ul, li, dt, dl, dd, td, TD, h1, h2, h3, 
img, em, a, b, blockquote
  { font-family : Arial, Verdana, Sans-serif ; font-size : 13px; line-height:19px; font-weight: normal; color : #5A5A5A;}

/* Stytle Foundation End Here */



/* Font Definition Start Here */

.title           {color: #FFFFFF; text-decoration: underline; font-size : 15px; line-height:24px; font-weight: normal; font-family: Arial, Verdana, Sans-serif, 新細明體, taipei;}
.title A:link    {color: #FFFFFF; text-decoration: underline; font-size : 15px; line-height:24px; font-weight: normal; font-family: Arial, Verdana, Sans-serif, 新細明體, taipei;}
.title A:visited {color: #FFFFFF; text-decoration: underline; font-size : 15px; line-height:24px; font-weight: normal; font-family: Arial, Verdana, Sans-serif, 新細明體, taipei;}
.title A:hover   {color: #FFFFFF; text-decoration: none;      font-size : 15px; line-height:24px; font-weight: normal; font-family: Arial, Verdana, Sans-serif, 新細明體, taipei;}

.subtitle           {
	color: #F00;
	text-decoration: none;
	font-size : 15px;
	line-height:22px;
	font-weight: bold;
	font-family: Arial, Verdana, Sans-serif, 新細明體, taipei;
}
.subtitle A:link    {color: #990000; text-decoration: none; font-size : 15px; line-height:22px; font-weight: bold; font-family: Arial, Verdana, Sans-serif, 新細明體, taipei;}
.subtitle A:visited {color: #990000; text-decoration: none; font-size : 15px; line-height:22px; font-weight: bold; font-family: Arial, Verdana, Sans-serif, 新細明體, taipei;}
.subtitle A:hover   {color: #FF3399; text-decoration: none; font-size : 15px; line-height:22px; font-weight: bold; font-family: Arial, Verdana, Sans-serif, 新細明體, taipei;}

.list           {color: #333333;                             font-size : 12px; line-height:18px; font-weight: normal; font-family: Arial, Verdana, Sans-serif, 新細明體, taipei;}
.list A:link    {color: #333333; text-decoration: underline; font-size : 12px; line-height:18px; font-weight: normal; font-family: Arial, Verdana, Sans-serif, 新細明體, taipei;}
.list A:visited {color: #333333; text-decoration: underline; font-size : 12px; line-height:18px; font-weight: normal; font-family: Arial, Verdana, Sans-serif, 新細明體, taipei;}
.list A:hover   {color: #333333; text-decoration: none;      font-size : 12px; line-height:18px; font-weight: normal; font-family: Arial, Verdana, Sans-serif, 新細明體, taipei;}

.ps           {color: #333333;                             font-size : 12px; line-height:18px; font-weight: normal; font-family: Arial, Verdana, Sans-serif, 新細明體, taipei;}
.ps A:link    {color: #333333; text-decoration: underline; font-size : 12px; line-height:18px; font-weight: normal; font-family: Arial, Verdana, Sans-serif, 新細明體, taipei;}
.ps A:visited {color: #333333; text-decoration: underline; font-size : 12px; line-height:18px; font-weight: normal; font-family: Arial, Verdana, Sans-serif, 新細明體, taipei;}
.ps A:hover   {color: #333333; text-decoration: none;      font-size : 12px; line-height:18px; font-weight: normal; font-family: Arial, Verdana, Sans-serif, 新細明體, taipei;}



/* Font Definition End Here */


/* link colors Start Here*/ 
/* the explicit class link color assignments are needed for NN4 */

A:link    { color: #996600; text-decoration: underline; font-weight: normal;}
A:visited { color: #996600; text-decoration: underline; font-weight: normal;}
A:active  { color: #996600; text-decoration: underline; font-weight: normal;}
A:hover   { color: #CC0000; text-decoration: none; font-weight: normal;}

/* link colors End Here*/




/* From Textarea Start Here */

input ,textarea, select
{
color :          #666666;
font-family :    Verdana, Arial, Helvetica, sans-serif;
line-height:     1.2em;
font-size :      9pt;
font-weight :    normal;
border :         1px solid #CCCCCC;
padding-top:     1px;
padding-left:    1px;
padding-right:   1px;
}

/* From Textarea End Here */




/* From Inputarea Start Here */

.inputText    { font-family: "Verdana, Arial, Helvetica, sans-serif"; font-size: 9pt; line-height: 1.2em; border: 0px ; background-color: #F3F3F3 }
.inputBotttn  { font-family: "Verdana, Arial, Helvetica, sans-serif"; font-size: 9pt; line-height: 1.2em; border: 1px #000000 solid; background-color: #ADC9AD }
.inputSelect  { font-family: "Verdana, Arial, Helvetica, sans-serif"; font-size: 9pt; line-height: 1.2em; background-color: #CCCCFF }
.inputsearch  { font-family: "Verdana, Arial, Helvetica, sans-serif"; font-size: 9pt; line-height: 1.2em; border: 1px #000000 solid; background-color: #658598; color :#FFFFFF }

/* From Textarea End Here */

img{ border-color : 666666; }
