@charset "utf-8";
/* CSS Document */


body, p, ol, ul, li, dt, dl, dd, td, TD, h1, h2, h3, img, em, a, b, blockquote {
font-family: Arial, Verdana, Sans-serif;
font-size: 13px;
letter-spacing: 1px;
line-height: 21px;
font-weight: normal;
color: #666666;
}