* {
    font-family: "微軟正黑體", "Meiryo", "儷黑 Pro", "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
    * {
        font-size: 12pt;
    }
}

html,
body {
    height: 100%;
    background: url("../img/bg.png");
    background-size: 400px;
}

#title-logo {
    margin-top: 30px;
    padding: 0 50px;
    text-align: center;
}

#title-logo img {
    width: 220px;
}

.clear {
    clear: both;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.container {
    min-width: 300px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 500px;
    }
}


/* login.html */

#login-title {
    margin-top: 20px;
    padding: 0 24px;
    font-size: 1.3rem;
}

#login-title a {
    color: #3D2614;
    text-decoration: none;
}

#login-form .field {
    margin: 5px 20px;
    padding: 3px 4px;
    border-bottom: 1px #3D2614 dashed;
}

#login-form .field>label {
    width: 80px;
    color: #3D2614;
}

@media screen and (min-width: 768px) {
    #login-form .field>label {
        width: 120px;
        color: #3D2614;
    }
}

#login-form .field>input {
    border-color: 2px #3D2614;
    color: #3D2614;
}

#forget-password {
    margin: 5px 20px 0 20px;
    padding: 5px 4px 0 4px;
    font-weight: bold;
    border-bottom: 1px #3D2614 solid;
    line-height: 1.8rem;
}

#forget-password span a {
    color: #FF0000;
    font-size: 1.5rem;
    text-decoration: underline;
}

#tube-section {
    text-align: center;
}

@keyframes swing {
    0% {
        transform: rotate(-4deg) translateX(-4px);
    }
    100% {
        transform: rotate(4deg) translateX(4px);
    }
}

.tube {
    transform-origin: 50% 90%;
    animation: swing 1.5s ease-in-out alternate infinite;
    width: 180px;
}

#tube-background-wrap {
    background: url("../img/03.png") no-repeat center center, url("../img/02.png");
    background-size: 80%, 100%;
    max-width: 330px;
    margin: 0 auto;
}


/* loading.html */

@keyframes draw-shake {
    0% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

#draw-section {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#draw-section #tube-background-wrap {
    background: url("../img/03.png") no-repeat center center, url("../img/02.png");
    background-size: 90%, 100%;
    max-width: 330px;
    margin: 0 auto;
    width: 320px;
    text-align: center;
}

#draw-section .tube {
    transform-origin: 50% 70%;
    animation: draw-shake 0.6s ease-in-out alternate infinite;
}

#prize {
    position: absolute;
    left: calc(50vw - 145px);
}

.left-prize {
    position: absolute;
    left: 40px;
    width: 80px;
    height: 80px;
}

.left-prize:after,
.left-prize::after {
    content: " ";
    width: 80px;
    height: 80px;
    display: block;
}

.right-prize {
    position: absolute;
    left: 160px;
    width: 80px;
    height: 80px;
}

.right-prize:after,
.right-prize::after {
    content: " ";
    width: 80px;
    height: 80px;
    display: block;
}


/* prize animation */

.a01 {
    animation: left-up-x 1.2s ease-in infinite;
}

.a01:after,
.a01::after {
    background: url("../img/prize/01.png");
    background-size: cover;
    width: 110px !important;
    height: 110px !important;
    animation: left-up-y 1.2s ease-out infinite;
}

.a02 {
    animation: left-up-x 1.2s ease-in infinite;
}

.a02:after,
.a02::after {
    background: url("../img/prize/02.png");
    background-size: cover;
    animation: left-up-y 1.2s ease-out infinite;
}

.a03 {
    animation: left-up-x 1.2s ease-in infinite;
}

.a03:after,
.a03::after {
    background: url("../img/prize/03.png");
    background-size: cover;
    animation: left-up-y 1.2s ease-out infinite;
}

.a04 {
    animation: right-up-x 1.2s ease-in infinite;
}

.a04:after,
.a04::after {
    background: url("../img/prize/04.png");
    background-size: cover;
    animation: right-up-y 1.2s ease-out infinite;
}

.a05 {
    animation: right-up-x 1.2s ease-in infinite;
}

.a05:after,
.a05::after {
    background: url("../img/prize/05.png");
    background-size: cover;
    animation: right-up-y 1.2s ease-out infinite;
}

.a06 {
    animation: right-up-x 1.2s ease-in infinite;
}

.a06:after,
.a06::after {
    background: url("../img/prize/06.png");
    background-size: cover;
    animation: right-up-y 1.2s ease-out infinite;
}

@keyframes left-up-x {
    100% {
        transform: translateX(90px);
    }
}

@keyframes left-up-y {
    60% {
        opacity: 1
    }
    100% {
        transform: translateY(-120px);
        opacity: 0;
    }
}

@keyframes right-up-x {
    100% {
        transform: translateX(-90px);
    }
}

@keyframes right-up-y {
    60% {
        opacity: 1
    }
    100% {
        transform: translateY(-120px);
        opacity: 0;
    }
}


/* prize.html */

.full-screen-cover {
    position: fixed;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
}

.prize-container {
    box-sizing: content-box;
    position: relative;
    height: calc(100vh);
    min-width: 280px;
    width: 90%;
    max-width: 400px;
    height: 746px;
    height: auto;
    background-size: 100%;
    margin: 40px auto 20px auto;
    background: #fff url("../img/prize-bg-02.png") repeat-y;
    background-origin: content-box;
    background-size: 100%;
}

.prize-container img.before {
    width: 100%;
    background-color: ;
}

.prize-container img.after {
    width: 100%;
    background-color: #fff;
}

div.prize-container .section1 {
    padding: 0 50px;
    margin-top: -10px;
}

div.prize-container .section1 p.title {
    font-size: 1.7rem;
    line-height: 1.8rem;
}

div.prize-container .section1 p.title>span {
    font-size: 1.3em;
    display: inline-block;
    padding: 0 3px;
}

div.prize-container .section1 p.title>span::after {
    content: " ";
    display: block;
    border-bottom: 1px #000 solid;
    padding-bottom: 3px;
}

div.prize-container .section1 p.description {
    font-size: 2em;
    font-weight: 600;
}

div.prize-container .section1 p.detail {
    font-size: 1em;
}

div.prize-container .section1 p.qr-code {
    text-align: center;
}

div.prize-container .section1 p.qr-code img {
    max-width: 100px;
}

div.prize-container .section1 p.sn {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}

div.prize-container .section1 .picture {
    text-align: center;
}

div.prize-container .section1 .picture img {
    width: 80%;
}

div.precautions {
    padding: 0 45px;
}

div.precautions .title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px #000 solid;
}

div.precautions .content {
    font-size: 1em;
}

div.prize-container .close {
    position: absolute;
    right: -18px;
    top: -6px;
    background: url("../img/close.png") no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    opacity: 1;
}

div.prize-container .fb-share {
    position: absolute;
    right: -18px;
    top: 30px;
    background: url("../img/fb.gif") no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
}

div.prize-container .post-message {
    text-align: center;
    padding-bottom: 3px;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .prize-container {
        width: 400px;
    }
    .prize-container div.section1 {
        padding: 0 60px;
    }
    div.precautions {
        padding: 0 65px;
    }
}


/* lookup.html */

#login-form .submit {
    text-align: center;
}

form#login-form input[type=submit] {
    margin-top: 15px;
    padding: 5px 0;
    border: 0px solid;
    width: 200px;
    font-size: 1.5rem;
    letter-spacing: 0.4em;
    color: #fff;
    background: linear-gradient(0deg, rgba(63, 38, 16, 1), rgba(95, 57, 20, 1));
}

#lookup {
    font-size: 1.8em;
    letter-spacing: 0.3em;
    text-align: center;
    margin: 10px 0;
}


/* prize-list.html */

.prize-list {
    position: relative;
    text-align: center;
    height: auto;
    width: auto;
}

.prize-list>table {
    margin: 0 auto;
    max-width: 450px;
    width: calc(100% - 40px);
}

.prize-list>table>thead th {
    font-weight: normal;
}

.prize-list>table>thead th.date,
.prize-list>table>thead th.status {
    text-align: center;
}

.prize-list>table tr {
    border-bottom: 1px dashed #000;
}

.prize-list>table>thead>tr {
    border-top: 1px solid #000;
}

.prize-list>table td,
.prize-list>table th {
    padding: 10px 0;
}

.prize-list>table>tbody td.date,
.prize-list>table>tbody td.title,
.prize-list>table>tbody td.status {
    padding: 10px 3px;
}

.prize-list>table>tbody td.date,
.prize-list>table>tbody td.status {
    text-align: center;
}

.prize-list>table>tbody td.date i {
    margin-right: 5px;
}

.prize-list>table>tbody td.status {
    font-size: 1.4em;
    color: #f00;
    font-weight: bold;
}