.pos{position:absolute; width:160px; height:135px; padding-top:35px; padding-left:10px; text-align:center; background:url(../images/fff.png) no-repeat; line-height:22px; color:#000;}
.nn{font-size:15px; font-weight:bold;}

.keyin{position:absolute;}