.wrapper{width:980px; margin:0 auto;}
.header-main-img{ position:absolute; top:49px; left:50%; margin-left:-490px; z-index:9997;}
.header{position:absolute; top:0; left:50%; margin-left:-490px; z-index:9996;}
.contant{ position:absolute; top:400px; left:50%; margin-left:-490px; z-index:9998;}

.tw-01{position:absolute; top:480px; left:50%; margin-left:170px; z-index:9999;}

.apply table{ width:850px; margin-left:80px; border:#CCC solid 1px; font-size:14px; line-height:24px;}
.apply table th{ padding:6px; font-weight:bold; background:#CCC;}
.apply table td{ padding:6px; border-bottom:#F90 1px dashed; border-right:#F90 1px dashed;}

.tip table{ width:850px; margin-left:80px; font-size:14px; line-height:24px;}
.tip table td{padding:6px; border-bottom:#F90 1px dashed; vertical-align:top;}

.btn-apply{position:absolute; top:350px; left:50%; margin-left:190px; z-index:9999;}

.write table{ width:900px; margin-left:50px; border-top:#F60 dashed 1px; border-bottom:#F60 dashed 1px; font-size:14px; line-height:22px; background:#f2f2f2;}
.write table td{ padding:10px;}

.font-agree{ font-size:13px; font-weight:bold; color:#C00; line-height:24px;}
td.data{ font-size:16px; font-weight:bold;}

.pin table{ width:760px; border:#CCC solid 1px; font-size:14px; line-height:24px;}
.pin table th{ padding:6px; font-weight:bold; background:#CCC;}
.pin table td{ padding:6px; border-bottom:#F90 1px dashed; border-right:#F90 1px dashed;}


.font-t{ line-height:24px; color:#900;}
.font-t li{ margin-left:25px; color:#333;}

.font-award{ color:#F06; font-weight:bold; font-size:120%;}