@charset "UTF-8";
/* CSS Document */

/*聯絡我們*/

body#contact{
	background:url(../images/contact/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#contact #wrapper .contact{
	width:460px;
    
	position:absolute;
	right:0px;
	top:0;
	z-index:5000;
	background:url(../images/contentbg.png) 0px 0px repeat-y;
	clear: both;
}


body#contact #wrapper .contact .title2{
	width:430px;
	height: 55px;
	background:url(../images/contact/title.png) no-repeat;
	margin-left: 20px;
	margin-top: 20px;
}

      body#contact .contact .antiscroll-inner {
        width: 445px;
        height: 600px;
		margin-left:5px;
      }

	
.contact a{
	text-decoration:underline;
	color:#fff;
}

.contact a:hover{
	color:#ccc;
}

.contact .form{
	height:400px;
	width:400px;
	color: fff;
	display:block;
}

.contact .form .input{
	width:255px;
	height:20px;
	font-size:15px;
	vertical-align:middle;
	margin:5px 0 9px 5px;
	padding:2px;
	color:#333;
	border:#999 1px solid;
	background:#c0c0c0;
}

.contact .form .input_ask{
	width:325px;
	height:100px;
	font-size:13px;
	vertical-align:middle;
	margin:5px 0px 5px 0px;
	padding:2px;
	color:#333;
	border:#999 1px solid;
	background:#c0c0c0;
}

.contact .address{
	font-size:15px;
	color:#fff;
	line-height:180%;
	width:400px;
	display:block;
	padding: 0 0px 100px 30px;
}
#contact #wrapper .contact .form .title1 {
	width: 60px;
	height:200px;
	float: left;
	display: block;
	margin: 0px 0px 10px 30px;
	line-height: 325%;
	text-justify:inter-ideograph;
	color: #bcbcbc;
	text-align: justify;
}

#contact #wrapper .contact .form .inputBox {
	display: block;
	width: 305px;
	height:190px;
	float:left;
	margin: 0px 0px 10px 0px;
	line-height:240%;
}

#contact #wrapper .contact .form .askBox {
	display: block;
	width: 375px;
	height:160px;
	float:left;
	margin: 0px 0px 0px 30px;
	color:#bcbcbc;
}

#contact #wrapper .contact .form span{color:#bcbcbc;}

a.btnOK{
	background:url(../images/contact/btn_send.png) no-repeat 0 0;
	display:block;
	width:89px;
	height:27px;
	margin-left:120px;
}
a.btnOK:hover{
	background:url(../images/contact/btn_send.png) no-repeat 0 -29px;
}
