@charset "utf-8";
/* CSS Document */
@import 'reset.css';
@import 'about.css';
@import 'product.css';
@import 'tech.css';
@import 'contact.css';
@import 'application.css';


/* common
============================================*/
body{ font:12px 微軟正黑體,Verdana, Arial, Helvetica, sans-serif; /*overflow:hidden;*/}
#wrapper{ position:absolute; display:block; width:100%; height:100%; min-width:1200px; min-height:800px;}
body#index{overflow: hidden;}
/* LOGO */
h1 a{ position:absolute; display:block; width:129px; height:70px; left:4px; top:0px; text-indent:-9999px; z-index:1000; background:url(../images/logo.jpg) no-repeat; }

/* FOOTER */
.footer{ position:fixed; display:block; width:100%; height:30px; left:0; bottom:0; background:url(../images/footer.jpg) 0 0 repeat-x; z-index:10000; text-align:right;}
.footer img{ padding:10px 10px 0 0 ;}

/*選單列*/
.nav{display:none; position:fixed; left:50px; top:0px; width:138px; height:283px; background:url(../images/menu_bg.png) no-repeat; z-index:1000;}
.nav li{ float:left; }
.nav li a{ display:block; width:129px; height:283px; background:url(../images/menu.jpg) no-repeat;left:4px;}
.nav li.navAbout a{ width:129px; height:30px; position:absolute; top:80px; background-position:0px -75px;}
.nav li.navAbout a:hover{background-position:-133px -75px;}
.nav li.navProduct a{ width:129px; height:30px; position:absolute; top:115px; background-position:0px -109px;}
.nav li.navProduct a:hover{background-position:-133px -109px;}
.nav li.navApplication a{ width:129px; height:30px; position:absolute; top:150px; background-position:0px -142px;}
.nav li.navApplication a:hover{background-position:-133px -142px;width:129px;}
.nav li.navTech a{ width:129px; height:30px; position:absolute; top:185px; background-position:0px -177px;}
.nav li.navTech a:hover{background-position:-133px -177px;}
.nav li.navContact a{ width:129px; height:30px; position:absolute; top:220px;  background-position:0px -209px;}
.nav li.navContact a:hover{background-position:-133px -209px;}
.nav li.navScroll{ width:129px; height:30px; position:absolute; top:245px;  background-position:0px -241px; cursor: pointer; }

p.copyright{
	position:absolute;
	display:block;
	width:189px;
	height:20px;
	background:url(../images/footer_txt.png) no-repeat;
	right:10px;
	top:9px;
	text-indent:-9999px;
}

.navApplication ul{
	display:block;
	background:url(../images/menunav2.png) repeat;
	width:100px;
	height:110px;
	margin-left:132px;
	margin-top:148px;
}
.navApplication ul li a.app1Btn{background:#626262;width:75px;height:30px;display:block;color:#fff;text-decoration:none;margin-left:150px;margin-top:5px;}
.navApplication ul li a.app1Btn:hover{width:75px;}
.navApplication ul li a.app2Btn{background:#626262;width:75px;height:21px;display:block;color:#fff;text-decoration:none;margin-top:30px;margin-left:150px;}
.navApplication ul li a.app2Btn:hover{width:75px;}
.navApplication ul li a.app3Btn{background:#626262;width:75px;height:21px;display:block;color:#fff;text-decoration:none;margin-top:56px;margin-left:150px;}
.navApplication ul li a.app3Btn:hover{width:75px;}
.navApplication ul li a.app4Btn{background:#626262;width:75px;height:21px;display:block;color:#fff;text-decoration:none;margin-top:80px;margin-left:150px;}
.navApplication ul li a.app4Btn:hover{width:75px;}


/* 首頁
============================================*/
body#index{ background:url(../images/index_bg.jpg) no-repeat fixed 50% 50%;}
#main{ position: absolute; top: 0; left: 0; width:100%; height:100%;}
#plane{ 
	position:absolute; 
	display:block; 
	width:1200px; 
	height:800px; 
	top:50%; /*距離上方的位置*/ 
	left:50%; /*距離左方的位置*/ 
	margin-top:-400px; /*上方邊界*/ 
	margin-left:-600px; /*左方邊界*/
}


/*背景動畫*/

	#supersize{
			position:fixed;
		}
		
	#supersize img, #supersize a{
			height:100%;
			width:100%;
			position:absolute;
			z-index: 0;
		}
	#supersize .prevslide, #supersize .prevslide img{
			z-index: 1;
		}
	#supersize .activeslide, #supersize .activeslide img{
			z-index: 2;
		}

.fix_close{
	width:17px;
	height:17px;
	background:url(../images/fix_close.png) no-repeat 0 0;
	position:absolute;
	top:30px;
	right:0px;
	z-index:9999;
	cursor: pointer; 
}
