@charset "UTF-8";
/* CSS Document */

.menu{
background-color:#d1cdc9; /*menu_backgroundColor*/
width:208px;
height:100%;
position:fixed;
left:0;
top:0;
clear:both;
display:block;
z-index:99999999;
	}
	
.menu .bg{
	background:url(../images/navbg.png) repeat-y;
	position:fixed;
	left:0;
	top:0;
	z-index:9;
	width:214px;
	height:100%;
	display: block;
	clear: both;
}
	
	.menu .logo{
	width:208px;
	height:83px;
	/* [disabled]position:absolute; */
	/* [disabled]top:0; */
	/* [disabled]left:0; */
	/* [disabled]vertical-align:middle; */
	/* [disabled]margin-right:5px; */
	/* [disabled]margin: 0 auto; */
	text-align: center;
}

.menu .logo img{
	margin-top:25px;
	/* [disabled]margin-left:15px; */
}

.menu .navmenu{
	width:200px;
	position:absolute;
	top:83px;
	left:0px;
	height:auto;
	margin-left:3px;
	vertical-align:middle;
	text-align:center;
	margin-right: 5px;
}

  dl { width: 200px;}
  dt { margin:5px 0px 5px 0px;  height:35px; font-size:15px; padding-top:15px;color:#333;}
  dd { margin:5px; line-height:200%;font-size:13px;}
  dt a { color:#333;text-decoration:none; }
  dd a { color: #666; text-decoration:none;}
