.wrapper{width:980px; margin:0 auto;}
.login-bg{font-size:12px; color:#fff; padding-top:30px;}
.login-bg td{line-height:24px; padding:2px 3px;}
.login-ok-bg{font-size:12px; color:#000; padding-top:30px;}
.login-ok-bg td{line-height:24px; padding:2px 3px;}

.tips{}
.tips ol{ margin-left:80px; font-size:12px; color:#7a7a7a; padding-top:10px; width:850px;}
.tips li{ line-height:24px;}

.footer_bg{background:#747474;}
.footer{width:980px; margin:0 auto;}
.link{width:980px; margin:0 auto;}

.news{line-height:20px; margin-left:40px; color:#fff; width:200px;}
.news li{ margin-top:8px;}
.news a{font-size:12px; color:#fff; text-decoration:none; font-weight:normal;}
.news a:hover{color:#1b9bb8; text-decoration:underline;}

.newsn{line-height:18px; margin-left:40px; color:#fff; vertical-align:top;}
.newsn li{ margin-top:8px;}
.newsn a{font-size:17px; color:#fff; text-decoration:none; font-weight:bold;}
.newsn a:hover{color:#1b9bb8; text-decoration:underline;}

td.y{ color:#FF0;}