.wrapper{width:980px; margin:0 auto;}
.login-area{ font-size:12px;}
.login-area td{line-height:18px; padding:5px; vertical-align:top;}

.login02-area{ font-size:12px;}
.login02-area td{line-height:18px; padding:5px; vertical-align:top; border-bottom:#CCC  dotted 1px; }

.award-area{ font-size:12px; padding-top:10px; line-height:24px;}
.award-area li{margin-left:15px;}


.tips-area td{vertical-align:top; height:18px;}
.font01{color:#F00;}
