/* 2018/11 Jerry 頻道更改 */
.me{float: left;padding-left: 10px;}
.me2{padding-left: 10px;}
.bline1-lm{width:40%;background-color:#ffc399;}
.bline1-sm{width:20%;background-color:#ffc399;}
.wrap_padding{padding-right:5px;padding-left:5px;}
.blog-thumb-new{width: 100% !important;	padding:0px;}
.blog-desc{font-family:華康中圓體;font-size:16px;color:rgb(50,50,50);margin-top:5px;}
.heading-section-samui{font-family:華康中圓體;padding-bottom:0px;}
.samui-title{font-family:華康中圓體;margin-bottom:0px;color:#333;	margin-top:10px;}
.blog-post-new{border: solid 0px #999;}
.content_color{color:#323232;}