@charset "utf-8";
/* CSS Document */
/*html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
input, textarea { margin:0; padding:0;}
* {-webkit-text-size-adjust:none;}
a{text-decoration:none;}
fieldset, img { border:0;}
ol, ul { list-style:none;}
abbr, acronym { border:0;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
* html .clearfix {height: 1%;}
*:first-child + html .clearfix { min-height: 1%;}

a:hover{ text-decoration:none;}
select, input, textarea, button {  font-family:'Roboto', 'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif;}
*:link, *:visited, *:hover, *:active, *:focus , * {border: none;outline: none;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html, body{ height: 100%; }
*/

/* ↑↑↑ 這段隱藏因為會跟其他CSS衝到 ↑↑↑ */
body, h1, h2, h3, h4, h5, h6, p {font-family:'Roboto', 'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif; font-weight: normal; color: #000;}
a{ text-decoration:none; outline: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}

.for_blur{ -webkit-filter: blur(0.4rem); -moz-filter: blur(0.4rem); -o-filter: blur(0.4rem); -ms-filter: blur(0.4rem); filter: blur(0.4rem);}

/*===== start ======*/
.ContentsBox{ max-width: 1260px; margin: 0 auto;}

/*social_box*/
p.social_box{ float: left; text-align: left; }
p.social_box a{ width: 30px; height: 30px; margin: 0 1px; display: inline-block; background-color: #d1ab1b;  border-radius: 50%; background-repeat: no-repeat; background-position: center center; background-size: contain;}
p.social_box a.googlefrom{ background-image:url(../images/main/icon_social_googlefrom.png);}
p.social_box a.line_icon{ background-image:url(../images/main/icon_social_line.png);}
p.social_box a.facebook{ background-image:url(../images/main/icon_social_facebook.png);}
p.social_box a.youtube{ background-image:url(../images/main/icon_social_youtube.png);}
p.social_box a:hover{ background-color: #fff; }


/*sidenav*/
.sidenav { height: 100%;  width: 0;  position: fixed;  z-index: 100;  top: 0;  right: 0;  background-color: rgba(40,40,40,.85);  overflow-x: hidden;  transition: 0.5s;}
.sidenav a { text-decoration: none;  color: #fff;  display: block;  transition: 0.3s;}
.sidenav a:hover {  color: #f1f1f1;}
.sidenav .closebtn { text-align: right; padding: 0px 8px 0px; top: 0; width: 300px; font-size: 48px; position: sticky; position: -webkit-sticky; position: -moz-sticky; position: -ms-sticky; position: -o-sticky;}
.sidenav .side_Contents{ padding: 20px; width: 100%; height:100%; overflow-y: auto; }

.sidenav ul.side_menu{ padding: 20px; width: 350px; margin-left: -20px; list-style: none; }
.sidenav ul.side_menu li{position: relative;}
.sidenav ul.side_menu li::after{ content: ""; position: absolute; bottom: 0; left: -20px; width: 100%; height: 1px; background-color: #8d7827;}
.sidenav ul.side_menu li h3{ margin: 0; font-size: 22px; color: #fff; position: relative; cursor: pointer; padding: 15px 0;}
.sidenav ul.side_menu li h3:after{ content:""; right: 22px; top: calc(50% - 5px); position: absolute; width: 13px; height: 10px; display: block; background-repeat: no-repeat; background-position: center center; background-size: contain; background-image:url(../images/main/icon_arr_w.png);  }
.sidenav ul.side_menu li h3 a{ color: #ffffff;  cursor: pointer;display: block; position: relative;}
.sidenav ul.side_menu li h3 a:hover{ color: #d1ab1b;}

.sidenav ul.side_menu li p{ font-size: 18px; }
.sidenav ul.side_menu li p a{ padding: 10px 0; }

.sidenav ul.side_menu li:hover h3{ color: #d1ab1b; }
.sidenav ul.side_menu li:hover h3:after{ background-image:url(../images/main/icon_arr_y.png);}
.sidenav ul.side_menu li h3.none_arr:after{ display: none; }

.sidenav ul.side_menu li ul.sub_menu{ display: none; padding-bottom: 20px; list-style: none; padding: 0; margin: 0;}
.sidenav ul.side_menu li ul.sub_menu li::after{ display: none; }
.sidenav ul.side_menu li:first-child ul.sub_menu li{ width: 50%; float: left; }
.sidenav p.social_box a{width: 35px; height: 35px; margin: 0 5px;}

/*header*/
.HeaderBox{ width: 100%; min-height: 78px; background-color: #000000; border-bottom: 5px solid #d1ab1b;}
.HeaderBox .ContentsBox{ position: relative;}
.HeaderBox h3.logo{ float: left; padding:26px 30px 10px 20px; margin: 0; text-indent: -9999px; display: block;}
.HeaderBox h3.logo a{ color: #666;  width: 183px; height: 50px; display: block; background: url(../images/main/welovetour_logo.png) center center no-repeat; background-size: contain;}
.HeaderBox .the_mob_btn{ float: right; display: none; margin: 0; padding: 20px 15px; padding-top: 25px; line-height: 24px; cursor:pointer; color: #d9b00f;}
.HeaderBox .the_mob_btn span.title{ font-size: 22px; padding-right: 10px; }
.HeaderBox .the_mob_btn span.icon_hamburger{ width: 32px; height: 24px; display: inline-block; background: url(../images/main/icon_menu_hamburger.png) center center no-repeat; background-size: contain; }

.HeaderBox .TopBox{ float: left; width: 100%; max-width:calc(100% - 235px); }
.HeaderBox .TopBox ul.top_menu{ display: inline-block; float: left; margin:0; padding: 0; list-style: none; }
.HeaderBox .TopBox ul.top_menu li{ float: left; position: relative;}
.HeaderBox .TopBox ul.top_menu li::after{ content: ""; width: 1px; height: 68px; border-left: 1px solid #d1ab1b; position: absolute; left: 0; top: 0; }
.HeaderBox .TopBox ul.top_menu li h3{ font-size: 20px; margin: 0; cursor: pointer; padding: 41px 40px 41px 30px; line-height: 22px; color: #ffffff;position: relative; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
.HeaderBox .TopBox ul.top_menu li h3.none_arr{padding: 41px 30px;}
.HeaderBox .TopBox ul.top_menu li h3.none_arr:after{ display: none; }
.HeaderBox .TopBox ul.top_menu li h3 a{ color: #ffffff;  cursor: pointer;display: block; position: relative;}
.HeaderBox .TopBox ul.top_menu li h3 a:hover{ color: #d1ab1b;}
.HeaderBox .TopBox ul.top_menu li h3:after{ content:""; right: 22px; top: calc(50% - 5px); position: absolute; width: 13px; height: 10px; display: block; background-repeat: no-repeat; background-position: center center; background-size: contain; background-image:url(../images/main/icon_arr_w.png);  }
.HeaderBox .TopBox ul.top_menu li:hover h3{ color: #d1ab1b; }
.HeaderBox .TopBox ul.top_menu li:hover h3:after{ background-image:url(../images/main/icon_arr_y.png);}

.HeaderBox .TopBox ul.top_menu li ul.sub_menu{ z-index: 20; display: none; position: absolute; list-style: none; min-width: 175px; top: 70px; left: 0; background-color: rgba(40,40,40,.85); padding: 20px 30px;}
.HeaderBox .TopBox ul.top_menu li ul.sub_menu li{ width: 100%; float: none; }
.HeaderBox .TopBox ul.top_menu li:first-child ul.sub_menu{ min-width: 530px; }
.HeaderBox .TopBox ul.top_menu li:first-child ul.sub_menu li{ float: left; width: inherit; min-width: 92px; }
.HeaderBox .TopBox ul.top_menu li:nth-child(2) ul.sub_menu{ min-width: 200px; }
.HeaderBox .TopBox ul.top_menu li ul.sub_menu li::after{ display: none; }
.HeaderBox .TopBox ul.top_menu li ul.sub_menu li p{ font-size: 18px; }
.HeaderBox .TopBox ul.top_menu li ul.sub_menu li p a{ color: #ffffff; padding: 8px 0; display: block;}
.HeaderBox .TopBox ul.top_menu li ul.sub_menu li p a:hover{color: #d1ab1b; }
.HeaderBox p.social_box{ padding-top: 36px; }

/*Main_Contents*/
.Main_Contents{ width: 100%;}

/*FooterBox*/
.FooterBox{ width: 100%; border-top: 6px solid #d1ab1b; background-color: #000000; }
.FooterBox p.logo{ float: left; width: 100%; max-width: 220px;  height: 60px; text-indent: -9999px; display: block; background: url(../images/main/welovetour_logo.png) center center no-repeat; background-size: contain;}
.FooterBox p{ font-size: 13px; color: #bbbbbb; line-height: 24px; letter-spacing: 0.5px; word-wrap: break-word; word-break: break-all;}
.FooterBox p a{ color: #bbbbbb;  }
.FooterBox p a:hover{text-decoration: underline; }

.FooterBox .top_title{ color: #d1ab1b; padding-bottom: 5px; }
.FooterBox h3.top_title{font-size: 18px; margin: 0; letter-spacing: 3px; padding-bottom: 15px; margin: 0;}
.FooterBox h4.top_title{ font-size: 16px; margin: 0;}
.FooterBox h5.top_title{ font-size: 13px; margin: 0; letter-spacing: 2px; }

.FooterBox ul.info{ margin: 0; width: 100%; padding: 15px 0;}
.FooterBox ul.info li{ float: left; position: relative; max-width:30%; min-height: 164px;  padding: 10px 2% 0 2%; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.FooterBox ul.info li::before{ content: ""; position: absolute; left: 0; top: 10px; width: 1px; display: block; height:160px; border-left:1px solid #d1ab1b;}
.FooterBox ul.info li:first-child::before{ display: none; }
.FooterBox ul.info li:last-child{ max-width: 20%; }
.FooterBox ul.info li.left_logo{ width:20%; max-width: 274px;}
.FooterBox ul.info li p{ padding-bottom: 20px;}
.FooterBox ul.info li p.logo{padding-bottom: 0;}

.FooterBox p.social_box{ padding-top: 26px; }
.FooterBox p.social_box a{ background-color: #7f7f7f; margin: 0 2px; }
.FooterBox p.social_box a:hover{ background-color: #d1ab1b;}

/*mobile bottom tools*/
.fixed_bottom_tools{width: 100%; position: fixed; left: 0; bottom: 0; background-color: #000; z-index: 20; display: none;}
.fixed_bottom_tools ul{ width: 100%; margin: 0; padding: 0; list-style: none; }
.fixed_bottom_tools ul li{ width: 20%; float: left; }
.fixed_bottom_tools ul li p{ font-size: 14px; text-align: center; margin: 0; font-family: 'Roboto', 'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif;}
.fixed_bottom_tools ul li p a{ color: #fff; padding:38px 0 6px 0; display: block;  position: relative;}
.fixed_bottom_tools ul li p a::after{ position: absolute; top: 3.5px; left:calc(50% - 18px); content: ""; width:36px; height: 36px; display: block; background-repeat: no-repeat; background-size: contain; }
.fixed_bottom_tools ul li p a.line_icon::after{ background-image: url(../images/main/icon_mob_tools_line.png); }
.fixed_bottom_tools ul li p a.google::after{ background-image: url(../images/main/icon_mob_tools_google.png); }
.fixed_bottom_tools ul li p a.phone::after{ background-image: url(../images/main/icon_mob_tools_phone.png); }

/*==== RWD ====*/
@media (max-width:1600px){
	.fixed_go_menu{ right: 2%;}
}
@media (max-width:1520px){
	.fixed_go_menu{ right:20px;}
}
@media (max-width:1280px){
	.ContentsBox{ width:calc(100% - 40px); margin: 0 auto;}
}

@media (max-width:1175px){
	.HeaderBox .TopBox ul.top_menu li h3{ font-size: 18px; padding-left: 25px; padding-right: 33px; }
	.HeaderBox .TopBox ul.top_menu li h3.none_arr{ padding-left: 25px; }
	.HeaderBox .TopBox ul.top_menu li h3:after{ right: 15px; }
	.HeaderBox .TopBox ul.top_menu li ul.sub_menu{ padding: 20px 25px; }
	.HeaderBox .TopBox ul.top_menu li ul.sub_menu li p{ font-size: 16px; }
}
@media (max-width:1130px){
	.HeaderBox .TopBox ul.top_menu li h3, .HeaderBox .TopBox ul.top_menu li h3.none_arr{ padding-left: 15px; }
	.HeaderBox .TopBox ul.top_menu li h3.none_arr{ padding-right: 15px;}
	.HeaderBox .TopBox ul.top_menu li ul.sub_menu{ padding: 20px; }
}
@media (max-width:1100px){
	.HeaderBox .TopBox ul.top_menu li h3, .HeaderBox .TopBox ul.top_menu li h3.none_arr{ padding-left: 10px; }
	.HeaderBox .TopBox ul.top_menu li h3.none_arr{ padding-right: 10px;}
	.HeaderBox .TopBox ul.top_menu li ul.sub_menu{ padding: 20px 10px; }
}
@media (max-width:1000px){
	.HeaderBox{ position: fixed; top: 0; left: 0; z-index: 15;}
	.HeaderBox h3.logo{ padding: 15px 20px;}
	.HeaderBox .TopBox{ display: none; }
	.HeaderBox .the_mob_btn{ display: block; }
	.Main_Contents{padding-top: 78px;}
	.FooterBox p.social_box{ padding-top: 0; }
}

@media (max-width:780px){
	.fixed_go_menu p.link a{ width: 75px; height: 75px; }
	.fixed_go_menu p.link a::after{ height: 50px; }

}

@media (max-width:600px){
	.HeaderBox h3.logo a{ width: 120px; height: 32px; }
	.HeaderBox .ContentsBox{ width: 100%; }
	.HeaderBox{ min-height: 65px; }
	.HeaderBox .the_mob_btn{padding: 15px 20px;}
	.HeaderBox .the_mob_btn span.title{ display: none; }
	.Main_Contents{padding: 67px 0 75px;}
	.Main_Contents p.mob_go_menu, .fixed_bottom_tools{ display: block; }

	.fixed_go_menu{ top: inherit; bottom: 100px;}
	.fixed_go_menu p.link{ font-size: 11px; background-color: none; border: none; background-color: inherit; }
	.fixed_go_menu p.link a{ width: 55px; height: 55px; }
	.fixed_go_menu p.link a::after{ height: 55px; }
	.fixed_go_menu p.link a.go_00{ border-radius: 10px; display: block;  overflow: hidden; text-indent: -9999px;}
	.fixed_go_menu p.link a.go_00::after{ background-image: url(../images/main/fixed_go_menu_icon_06_s.png); opacity: .20; }
	.fixed_go_menu p.link a.go_00:hover{ background-color: inherit; }
	.fixed_go_menu p.link a.go_00:hover::after{  background-image: url(../images/main/fixed_go_menu_icon_06_s.png); }
	.fixed_go_menu p.link a.mob_none, .FooterBox{ display: none; }
}
@media (max-width:400px){
	.fixed_bottom_tools ul li p{ font-size: 13px; }
	.fixed_bottom_tools ul li p a::after{ height: 34px; }
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}