@charset "utf-8";
/* CSS Document */

.main-footer .row .shop-list ul li { 
  float:left;
  padding-left:10px;
}
.me3 {
	clear: both;
}

.lineform {
	display: none;
}
.blog-content {
    position: relative;
}