/*

charlotte start

*/
.title_center .tourcolor03 a {color:339;}
.title_center .tourcolor03 a:hover {color:339;}
.auto{margin:0 1%;}.title_center .tourcolor03 a {
	color: #339;
}
.newdaytourtitle {
font-size: 20px;
font-weight: bold;
color: #06C;
margin: 0px;
clear: both;
display: block;
padding-top: 20px;
padding-right: 10px;
padding-bottom: 30px;
padding-left: 10px;
position: relative;
}
.newdaytourtitle .newdaytourtext{ font-weight: normal; display: block; padding-top: 10px; float: right; width: 570px; padding-right: 20px; padding-bottom: 10px; }
/*.newdaytourtitle .newdayicon {
background-image: url(../../img/dayicon.jpg);
background-repeat: no-repeat;
display: block;
height: 60px;
width: 100px;
float: left;
position: absolute;
left: 0px;
top: 0px;
}
.newdaytourtitle #newdayicon01 { background-position: 0px 0px; }
.newdaytourtitle #newdayicon02 { background-position: 0px -60px; }
.newdaytourtitle #newdayicon03 { background-position: 0px -120px; }
.newdaytourtitle #newdayicon04 { background-position: 0px -180px; }
.newdaytourtitle #newdayicon05 { background-position: 0px -240px; }
.newdaytourtitle #newdayicon06 { background-position: 0px -300px; }
.newdaytourtitle #newdayicon07 { background-position: 0px -360px; }
.newdaytourtitle #newdayicon08 { background-position: 0px -420px; }
.newdaytourtitle #newdayicon09 { background-position: 0px -480px; }
.newdaytourtitle #newdayicon010 { background-position: 0px -540px; }
.newdaytourtitle #newdayicon011 { background-position: 0px -600px; }
.newdaytourtitle #newdayicon012 { background-position: 0px -660px; }
.newdaytourtitle #newdayicon013 { background-position: 0px -720px; }
.newdaytourtitle #newdayicon014 { background-position: 0px -780px; }
.newdaytourtitle #newdayicon015 { background-position: 0px -840px; }
.newdaytourtitle #newdayicon016 { background-position: 0px -900px; }*/
.newdaytourcontent { clear: both; font-size: 12px; line-height: 24px; color: #666; padding-top: 0px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px; }
.newdaytourimg { float: right; background-image: url(../../img/newdaytour_imgbox.jpg); padding: 15px; height: 180px; width: 240px; display: block; }
.newdaytourfood { background-image: url(../../img/newdaytour_food.jpg); display: block; height: 70px; clear: both; background-repeat: no-repeat; }
.newdaytourfoodlist { list-style-type: none; padding: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 100px; }
.newdaytourfoodlist li{ float: left; width: 210px; display: block; padding-top: 10px; color: #09F; padding-left: 3px; padding-right: 27px; padding-bottom: 10px; }
.newdaytourfoodlist .newdaytourfoodlistli01{ width: 90px; }
.newdaytourhotel { clear: both; padding-left: 75px; color: #999; padding-top: 5px; padding-bottom: 5px; }
#tourandmoneylist { margin: 0px; padding: 1px; width: 684px; border: 5px solid #EAEAEA; background-color: #CCC; }
#tourandmoneylist .tourandmoneylisttable{ border: 1px solid #FFF; background-color: #FFF; }
#tourandmoneylist .tourandmoneylisttable td{ border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: #CCC; border-right-width: 1px; border-right-style: solid; border-right-color: #ECFAFD; padding-top: 10px; padding-bottom: 10px; text-align: center; }
#tourandmoneylist .tourandmoneylisttitle{ background-color: #D0E8FF; color: #5A8ED7; background-image: url(../../img/newdaytour_tablebg01.jpg); text-align: center; }
#tourandmoneylist .tourandmoneymoney{ color: #F00; }
#tourandmoneylist .tourandmoneyorder{ color: #669; padding: 5px; }
#tourandmoneylist .tourandmoneydate{ color: #39F; }
#tourandmoneylist .tourandmoneycontent01{ color: #039; }
#tourandmoneylist .tourandmoneycontent02{ color: #F60; background-color: #FFFFE6; }
#tourandmoneylist .tourandmoneycontent03{  }
#tourandmoneylist .tourandmoneycontent04{  }




.pagecontenttext p{
	font-weight: normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.tourcolor03 { color: #339; font-weight:bold; }

#navbar .nav.navbar-nav .dropdown a:hover{
	/*background-color: #FFB0B0;*/
	background-color: #ff9D58;
}


header #main-header{
/*	background-color: #FFF4F4;	*/
	background-color: #fedcc5;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #fedcc5;
	
	
}

.pagecontenttext img {
	height: auto;
	width: 100%;	
}
#gotop {
    display: none;
    position: fixed;
    right: 20px;
	top:78%;   
    width:60px; height:46; 
    font-size: 20px;
	
	background:rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
	text-align:center;
}
.content-show span {
	font-size: 23px;
	font-family:"微軟正黑體",Arial, Helvetica, sans-serif;
	/*font-family:  "Times New Roman", Times, serif;*/
	color: #f78e21;
	font-weight: bold;
	}
/*.col-sm-3 .list-group {
  display: block;
}*/
/*

charlotte end

*/
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
   
  
}

/*-- Basic --*/
a {
  text-decoration: none;
  color: #666666;
}

a:hover {
  text-decoration: none;
  color: #fff;
}
a:focus{
  text-decoration: none;
  color: #fff;
}

.blue {
	color: #09F;
}

.green {
	color: #0A0;
}
.blue a  {
	color: #09F;
	text-decoration: none;
}

.green a {
	color: #0A0;
	text-decoration: none;
}
.blue a:hover  {
	color: #09F;
	text-decoration: none;
}

.green a:hover {
	color: #0A0;
	text-decoration: none;
}
p{	
	font-size: 18px;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	/*font-family: "Arial Black", Gadget, sans-serif;*/
}
.main-footer p {
	font-family: Arial, Helvetica, sans-serif;
  /*font-family: "Arial Black", Gadget, sans-serif;*/
  color: #666;
}

.heading-section {
  text-align: center; 
  padding: 0px 0 20px 0;
}

.heading-section h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


.space30 {
	margin-bottom: 30px;
}

.space50 {
	margin-bottom: 50px;
}


/*-- Header --*/
#top-header {
 /* background-color: #9c0400;*/
  background-color: #ffa667;
  color: #666666;
}
.home-account span { display: inline-block;
  margin-right: 5px;
  padding: 10px 0;
  font-size: 13px;
  
  font-family: Georgia, Arial, Helvetica, sans-serif;}
.home-account a {
  display: inline-block;
  margin-right: 5px;
  padding: 10px 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.cart-info {
  text-align: right;
  padding: 8px 0;
  font-size: 13px;
  font-family: Georgia, Arial, Helvetica, sans-serif;
}
/*Georgia->02-7713-7719藝術字 */

.logo {
  padding: 20px 0;
}

.main-menu ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.main-menu li {
  list-style: none;
  display: inline-block;
    padding: 40px 0;
}

.main-menu a {
   font-family: Arial, Helvetica, sans-serif;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-weight: 700;
  font-size: 14px;
  color: #444;
  text-transform: uppercase;
  margin-right: 35px;
}

.main-menu a:hover {
  color: #f78e21;
}

.search-box {
  text-align: right;
  margin-top: 33px;
  position: relative;
}

.search-box input {
  margin-top: 0px;
}

.search-box input[type="submit"] {
  background-color: transparent;
  position: absolute;
  width: 34px;
  height: 34px;
  right: 0;
  top: 0;
  border: 0;
  content: '';
  color: transparent;
  background: url(../images/search-icon.png);
  background-position: center;
  background-repeat: no-repeat;
}

.search-box input#s {
  padding: 4px 10px 4px 10px;
  height: 34px;
  line-height: 34px;
  outline: 0;
  border: 1px solid #ddd;
}

/*-- End Header --*/




/*-- Heading --*/

#heading {
  background-image: url(../images/bg-image.jpg);
  height: 140px;
}

#heading h2 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

#heading span {
  color: #fff;
  text-transform: uppercase;
}

.heading-content {
  text-align: center;
  margin-top: 35px;
}

/*-- End Heading --*/




/*-- Timeline --*/

.timeline-thumb {
  position: relative;
  text-align: center;
  border-bottom: 3px solid #dbdbdb;
}

.timeline-thumb:hover {
  border-color: #f78e21;
}

.timeline-thumb .thumb img {
  width: 100%;
  overflow: hidden;
}
.timeline-thumb .overlay {
  background-color: rgba(0,0,0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.timeline-thumb:hover .overlay {
 visibility: visible;
 overflow: hidden;
 opacity: 1;
 cursor: pointer;
}

.timeline-caption h4 {
  padding-top: 80px;
  font-family: Arial, Helvetica, sans-serif;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  margin: 0 0 3px 0;
}

.timeline-caption p {
	font-family: Arial, Helvetica, sans-serif;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 14px;
  font-weight: 300;
  color: #f78e21;
}

/*-- End Timeline --*/




/*-- Our Team --*/

.team-thumb {
  position: relative;
  text-align: center;
}

.team-thumb .author img {
  width: 100%;
}

.team-thumb .overlay {
  background-color: rgba(0,0,0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.team-thumb:hover .overlay {
 visibility: visible;
 opacity: 1;
 cursor: pointer;
}

.author-caption ul {
  padding: 0;
  margin: 0;
}

.author-caption li {
  list-style: none;
  display: inline-block;
  margin-top: 40%;
}

.author-caption a {
  display: inline-block;
  background-color: rgba(250,250,250, 0.4);
  width: 34px;
  height: 34px;
  line-height: 34px;
  color: #fff;
}

.author-caption a:hover {
  background-color: #f78e21;
  color: #fff;
}

.author-details {
  margin-top: 15px;
  text-align: center;
}

.author-details h2 {
  display: block;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.author-details span {
  color: #f78e21;
  text-transform: uppercase;
}

/*-- End Our Team --*/




/*-- Products --*/

#product-heading {
  text-align: center;
  padding: 100px 0 30px 0;
}

#product-heading h2 {
	font-family: Arial, Helvetica, sans-serif;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 20px;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
}

#Container {
  margin-top: 10px;
}

#Container .mix {
  display: none;
}

.portfolio-wrapper {
  overflow: hidden;
  padding-top: 10px;
}


#filters {
  text-align: center;
   margin-left: -60px;
   margin-top: -10px;
}

#filters ul {
  margin: 0px;
  padding: 0px;
}

#filters li {
  cursor: pointer;
  list-style: none;
  display: inline-block;
}

#filters span {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 14px;
  font-weight: 300;
  color: #444;
  padding-left: 15px;
}


#filters span:hover {
  color: #f78e21;
  transition: all 0.3s ease-in;
}

.label-text a {
  color: #333;
}

.label-text a:hover {
  color: #f78e21;
}

.label-text h3 {
  margin: 10px 0 2px 0;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.label-text span {
  color: #777;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  /*font-family: 'Open Sans', sans-serif;*/
  font-weight: 300;
  display: block;
  color: #f78e21
}

.portfolio-thumb img {
  width: 100%;
}

.portfolio-thumb {
  position: relative;
}

.hover-iner {
  position: relative;
  width: 100%;
  height: 100%;
}

.hover-iner a {
  position: absolute;
  top: 35%;
  left: 43%;
  margin-left: -18px;
  margin-top: -18px;
  background-color: rgba(0,0,0, 0.1);
  border: 1px solid #f78e21;
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: #fff;
  text-align: center;
}

.hover-iner img {
  width: auto;
}

.hover-iner span {
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  margin-top: 190px;
  text-align: center;
  font-size: 13px;
  width: 100%;
  color: #f78e21;
  font-weight: 300;
}

.hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.portfolio-wrapper:hover .portfolio-thumb .hover {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in;
}

.pagination {
  margin-top: 60px;
}

.pagination ul {
  padding: 0;
  margin: 0;
  
}
.pagination li {
  list-style: none;
  display: inline-block;
}

.pagination a {
  background-color: #444;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  display: block;
  text-align: center;
}

.pagination a:hover {
  background-color: #f78e21;
}

/*- End Products --*/





/*-- Single Post --*/

.image-post {
  overflow: hidden;
}

.product-title h3 {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  display: inline-block;
  margin-right: 20px;
  border-right: 1px solid #ddd;
  padding-right: 20px;
}

.product-title span {
  display: inline-block;
  font-size: 13px;
  color: #f78e21;
} 

.product-content a {
  font-weight: 700;
  font-size: 13px;
}

.product-content p {
  margin-top: 5px;
  padding-bottom: 15px;
}

.comment-section h4 {
  margin-top: 30px;
  font-size: 16px;
  color: #666;
  font-weight: 700;
  text-transform: uppercase;
}

.all-comments {
  margin-top: 40px;
  margin-bottom: 40px;
}

.comments {
  margin-top: 30px;
}

.author-thumb {
  float: left;
  margin-right: 30px;
}

.comment-body {
  background-color: #f3f3f3;
  padding: 20px;
  overflow: hidden;
  position: relative;
}

.comment-body h6 {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 0px;
}

.comment-body span {
  font-size: 14px;
  color: #f78e21;
}

.comment-body p {
  margin-top: 20px;
}

.comment-body a {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  background-color: #f78e21;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
}

.replyed-form {
  margin-left: 130px;
}

.leave-comment h4 {
  margin-top: 30px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #666;
  font-weight: 700;
  text-transform: uppercase;
}

input, textarea {
  padding: 10px;
  border: 1px solid #e2e2e2;
  width: 100%;
  margin-top: 25px;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  color: #aaa;
  outline: none; 
}

textarea {
  height: 165px;
  max-height: 180px;
  max-width: 770px;
  line-height: 18px;
  width: 100%
}

.form label {
  margin-left: 10px;
  color: #999999;
}

.send button {
  width: 90px;
  color: #fff;
  cursor: pointer;
  height: 35px;
  line-height: 30px;
  text-align: center;
  background-color: #f78e21; 
  font-family: Arial, Helvetica, sans-serif;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  outline: none;
}

.leave input {
  width: 90px;
  cursor: pointer;
  height: 35px;
  line-height: 30px;
  text-align: center;
  background-color: #f78e21; 
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
}

/*-- End Single Post --*/




/*-- Contact Us --*/

.message-form input {
  margin-top: 0px;
}

.message-form  textarea {
  padding-bottom: 20px;
}

.send {
  margin-top: 20px;
}

.info p {
  padding-bottom: 20px;
}

.info ul {
  margin: 0;
  padding: 0;
}

.info li {
  list-style: none;
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 13px;
  color: #666;
}

.info i {
  color: #f78e21;
  margin-right: 10px;
  font-size: 18px;
}

/*-- End Contact Us--*/




/*-- Side Bar --*/

.side-bar h4 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #f78e21;
  margin-top: 0px;
  padding: 9px 15px 9px 15px;
}

.archives-list ul {
  margin-top: 25px !important;
  padding-bottom: 30px !important;
  margin: 0;
  padding: 0;
}

.archives-list li {
  list-style: none;
  margin: 10px 0;
}

.archives-list i {
  font-size: 16px;
  margin-right: 5px;
  color: #f78e21;
}

.archives-list a {
  text-transform: uppercase;
  color: #888;
  font-size: 13px;
}

.archives-list a:hover {
  color: #f78e21;
}

.recent-post {
  overflow: hidden;
  margin-bottom: 20px;
}

.recent-post-thumb {
  float: left;
  margin-right: 20px !important; 
  width: 70px;
  height: 70px;
}

.recent-post-info {
  overflow: hidden;
}

.recent-post-info h6 {
	font-family: Arial, Helvetica, sans-serif;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.posts {
  margin-top: 30px;
  margin-bottom: 30px;
}

.recent-post-info a {
  color: #333;
}

.recent-post-info a:hover {
  color: #f78e21;
}

.recent-post-info span {
	font-family: Arial, Helvetica, sans-serif;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 13px;
  color: #f78e21;
}

.flickr-images {
  margin-top: 20px;
}

.flickr-images img {
  margin-top: 20px;
  overflow: hidden !important;
  width: 68px;
}

.flickr-images img:hover {
  border: 3px solid #f78e21;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

/*-- End Side Bar --*/





/*-- Slider --*/

#slider {
	overflow: hidden;
	  /*padding-top: 160px;*/
}



.slider-caption {
	/*text-align: left;*/
	position: absolute;
	width: 100%;
	margin-top: 40px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
	
}

.slider-caption h1 {
	font-family: "微軟正黑體";
	text-align: center;
	text-shadow: 1px 1px #777;
	font-size: 48px;
	padding-bottom: 10px;
	font-weight: 500;
	/*color: #ffa041;*/
	text-transform: uppercase;
	filter: glow(color:#003366, strength=2); 			color: white;
	font-weight: bold;
	text-shadow: 0px 0px 10px #000;
	margin-top:50px;
}

.slider-caption p {
	text-shadow: 5px 5px #000;
	font-size: 24px;
	/*font-weight: 300;*/
	color: #FFFFFF;
	line-height: 15px;
	filter: glow(color:#003366, strength=2); 
	color: #fcf000;
	font-weight: bold;
	/*text-shadow: 0px 0px 5px #fff;*/
	text-shadow: 0px 0px 10px #000;
	letter-spacing: 0.1em;
	text-align: left;
	width: 60%;
	margin-right: auto;
	margin-left: auto;	
	
	
}

.slider-caption a {
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  background-color: #f78e21;
  width: 200px;
  height: 40px;
  text-align: center;
  color: #fff;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

/*-- End Slider --*/





/*-- Services --*/

.service-item {
  text-align: center;
}

.icon i {
  border-radius: 50%;
  border: 20px solid #f78e21;
  color: #f78e21;
  font-size: 28px;
  line-height: 80px;
  width: 120px;
  height: 120px;
}

.service-item h4 {
	font-family: Arial, Helvetica, sans-serif;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  margin-top: 25px;
}

/*-- End Services --*/





/*-- Latest Posts --*/

.blog-post {
  position: relative;
  margin-bottom:5px;
}

.blog-thumb {
  overflow: hidden;
  position: relative;
 
}

.blog-thumb img {
  width: 100%;
}

.blog-content {	
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	color: #323232;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 7px;
	padding-left: 15px;
	
}

.content-show a {
	font-family:"微軟正黑體";
  /*font-family:Georgia, "Times New Roman", Times, serif;*/
  /*font-family: 'Open Sans', sans-serif;*/
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.content-show a>span { 
	color: #333;
}

.content-hide {
  margin-top: 15px;
  display: none;
}

.content-hide p {
  color: #fff;
}

/*-- End Latest Posts --*/





/*-- Testimonails --*/

.testimonails-content p {
  text-align: center;
  font-size: 15px;
  color: #333;
  font-style: italic;
}

.testimonails-content h6 {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-top: 30px;
  font-style: italic;
}

/*-- End Testimonails --*/





/*--Footer--*/

footer {
 /* background-color: #FFF4F4;*/
  background-color: #fedcc5;
 /* border-top: 1px solid #9c0400;*/
  margin-top: 50px;
}

.social-bottom {
  margin-top: 40px;
  padding-bottom: 10px;
}

.social-bottom span {
	font-family: Arial, Helvetica, sans-serif;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 22px;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
  float: left;
  margin-right: 26px;
}

.social-bottom ul {
  margin: 0;
  padding: 0;
}

.social-bottom li {
  list-style: none;
  display: inline-block;
}

.social-bottom a {
  background-color: #fff;
  font-size: 18px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #bbb;
}

.social-bottom a:hover {
  background-color: #286d00;
  color: #fff;
}

.subscribe-form {
  margin-top: 40px;
  padding-bottom: 40px;
}

.subscribe-form span {
	font-family: Arial, Helvetica, sans-serif;
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
	font-size: 22px;
	font-weight: 600;
	color: #333;
	text-transform: uppercase;
	float: left;
	margin-right: 340px;
}

.subscribeForm {
  position: relative;
  display: inline-block;
}

.subscribe-form input[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;
  height: 34px;
  background: url(../images/subscribe-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  background-color: transparent;
  content: '';
  margin-top: 0;
  border: 0;
}

.subscribe-form input#subscribe {
  padding: 4px 10px 4px 10px;
  line-height: 34px;
  height: 34px;
  max-width: 280px;
  width: 280px;
  margin-top: 0px;
  outline: 0;
  border-color: #f3f3f3;
}

.footer-title {
	font-family: Arial, Helvetica, sans-serif;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.about p{font-size:12px;}

.shop-list ul {
	margin: 0;
	padding: 0;
	
}

.shop-list li {
  list-style: none;
  margin: 5px 0;
  /*float:left;
  padding-left:10px;*/
}
/*.shop-list ul>li {
  float:left;
  padding-left:10px;
}*/

.shop-list i { 
	font-size: 16px;
	margin-right: 5px;
	color: #286d00;
	/*list-style-type: none;*/
}

.shop-list a {
  text-transform: uppercase;
  color: #888;
  font-size: 13px;
}

.shop-list a:hover {
  color: #286d00;
}

.recent-post {
  overflow: hidden;
  margin-bottom: 20px;
}

.recent-post-thumb {
  float: left;
  margin-right: 10px;
  width: 70px;
  height: 70px;
}

.recent-post-info {
  overflow: hidden;
}

.recent-post-info h6 {
	font-family: Arial, Helvetica, sans-serif;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.recent-post-info a {
  color: #333;
}

.recent-post-info a:hover {
  color: #286d00;
}

.recent-post-info span {
	font-family: Arial, Helvetica, sans-serif;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 13px;
  color: #286d00;
}

.more-info p {
  padding-bottom: 20px;
}

.more-info ul {
  margin: 0;
  padding: 0;
}

.more-info li {
  list-style: none;
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 13px;
  color: #666;
}

.more-info i {
  color: #f78e21;
  margin-right: 10px;
  font-size: 18px;
}

.bottom-footer {
  text-align: left;
  padding: 60px 0 15px 0;
}



/*-- End Footer --*/




/*--- RESPONSIVE ---*/
/*@media screen and (max-width: 1300px) {
.slides li .slider-caption p {
	padding-left: 50px;
}}*/
.width{ padding-left:3%; padding-right:3%;}
/*控製年代有感優惠第1版,pc版文字靠左整體字中*/
.width2{ padding-left:25%;}
/*換製年代中秋節9/26~2.再送全程小費結束文字左整體字中*/
.width3{ padding-left:29%;}
/*換製年代中秋節9/26~2.再送全程小費結束文字左整體字中*/
/*.width{ padding-left:10%;padding-right:10%;}
控製年代有感優惠第2版,pc版文字靠左整體字中*/


@media screen and (max-width: 990px) {
   /*.slides li .slider-caption p {
	padding-left: 100px;
}*/

  	.width {
		
	margin-right: auto;
	margin-left: auto;
}
  .home-account {
    text-align: center;
    display: block;
  }
  

  .cart-info {
    text-align: center;
    display: block;
  }
  
  .logo {
    text-align: center;
  }

  .search-box {
    display: none;
  }

 .slider-caption h1 {
   font-size: 30px;
 
   
  }
  

  .service-item {
    margin-top: 40px;
  }

  .footer-title {
    margin-top: 60px;
  }

  .bottom-footer {
    text-align: center;
  }

  .timeline-thumb{
    margin-top: 30px;
    border-bottom: none;
  }

  .team-thumb {
    margin-top: 30px;
  }

  .side-bar {
    margin-top: 100px;
  }

  .side-bar h4 {
    width: 100%;
  }

  .send-message input {
    margin-top: 20px;
  }

  .info {
    margin-top: 60px;
    text-align: center;
  }
  
}

@media screen and (max-width: 568px) {

  
  .container .row .col-md-6 .navbar{
	margin-top: -60px;
	margin-right: 0px;	
	margin-left: 0px;	
}
  
  .home-account {
    text-align: center;
    display: block;
  }
  .list-group{display: none;}

  .cart-info {
    text-align: center;
    display: block;
  }
  
  
  .logo {
    text-align: center;
  }

  .search-box {
    display: none;
  }

  .content-hide p {
    display: none;
  }

body #slider{
	overflow: hidden;
	padding-top: 100px;
	clear: both;
	position: relative;
} 
  .slides li .slider-caption p {
	text-align: center;
	/*padding-left: 20px;*/
	width: 60%;
	margin-right: auto;
	margin-left: auto;	
	font-size: 18px;
	 
	
}
.slides li .slider-caption {
	 margin-top: 5px;
}
.slides li .slider-caption h1 {
	 font-size: 24px;
     
}
  .service-item {
    margin-top: 40px;
  }

  .footer-title {
    margin-top: 60px;
  }

  .bottom-footer {
    text-align: center;
  }

  .timeline-thumb{
    margin-top: 30px;
    border-bottom: none;
  }

  .team-thumb {
    margin-top: 30px;
  }

  .side-bar {
    margin-top: 100px;
  }

  .side-bar h4 {
    width: 100%;
  }

  .send-message input {
    margin-top: 20px;
  }

  .info {
    margin-top: 60px;
    text-align: center;
  }

  .logo {
    padding-bottom: 60px;
  }

  .main-menu li {
    display: block;
    margin-top: -60px;
    margin-right: -35px;
  }

  #heading-section img {
    display: none;
  }

  .divide-line img {
    display: none;
  }

  .top-footer {
    display: none;
  }
.topimg img{width:100%;}
}

@media screen and (max-width: 1000px) {
body #slider{
  overflow: hidden;
  padding-top: 265px;
  
} 

.slides li .slider-caption p {
	text-align: center;
	/*padding-left: 30px;*/
	font-size: 18px;
	line-height: 1.3em;
	width:90%;	
	/*控制手機版子標題的width,才不會換行*/
	margin-right: auto;
	margin-left: auto;	
	
	
}

.slides li .slider-caption {
	margin-top: 5px;
		 
}
.slides li .slider-caption h1 {
	 font-size: 44px;
	 
	 /*全部.slider-caption h1 margin-top控制*/ 
}
.width{ padding-left:5%;padding-right:5%;}
     /*控制年代有感優惠文字靠左整體字中*/ 
.width2{ padding-left:10%;}
/*換製年代中秋節9/26~2.再送全程小費結束文字左整體字中*/
.width3{ padding-left:20%;}
/*換製年代中秋節9/26~2.再送全程小費結束文字左整體字中*/
/*	 
.width{ padding-left:19%;padding-right:19%;}
     控制年代有感優惠文字第2版靠左整體字中*/ 
	 .topimg img{width:100%;}
	 .little_banner{width:100%;}
}
/*@media screen and (min-width: 600px) {.slides li .slider-caption p {padding-left: 300px;}}*/
@media screen and (max-width: 600px) {
  body #slider{
  overflow: hidden;
  padding-top: 265px;
}  

   
   .slides li .slider-caption p {
	text-align: center;	
	/*padding-left: 20px;*/
	 font-size: 15px;
	 line-height: 1.3em;
	 width: 90%;
	 /*控制手機版子標題的width,才不會換行*/
	margin-right: auto;
	margin-left: auto;
	/*display: none;	*/
	
 
}


.slides li .slider-caption {
	 margin-top: 5px;
}
.slides li .slider-caption h1 {
	 font-size: 38px;
	
} 
  .heading-section img {
    display: none;
  }

  body {
    overflow-x: hidden;
  }
  .list-group{display: none;}
  
  .topimg img{width:100%;}
  .little_banner{width:100%;}
}
@media (min-width: 992px) and (max-width: 1199px) {.slides li .slider-caption p {/*padding-left: 200px;*/
width: 60%;
	margin-right: auto;
	margin-left: auto;	
	
}
.topimg img{width:100%;}
.little_banner{width:100%;}
}
@media (min-width: 768px) and (max-width: 991px) {
	.slides li .slider-caption p {/*padding-left: 100px;*/
	width: 60%;
	text-align: center;	
	margin-right: auto;
	margin-left: auto;	
	
	}
	.flexslider .item { min-height: 600px; }
	.slides li .slider-caption{margin-top:80px;}
	.topimg img{width:100%;}
	 .little_banner{width:100%;}
}

/*@media screen and (max-width: 995px) {.slides li .slider-caption p {padding-left: 200px;
width: 80%;
	margin-right: auto;
	margin-left: auto;
	line-height: 1.3em;		
	}*/




@media screen and (min-width: 995px) {
 body #slider{
  overflow: hidden;
  padding-top: 160px;
 
  
} 

.slides li .slider-caption p {
	text-align: center;
	/*padding-left: 80px;*/
	font-size: 26px;
	line-height: 1.3em;
	width: 60%;
	margin-right: auto;
	margin-left: auto;		
	
	
}

.slides li .slider-caption {
	 margin-top: 20px;
}
.slides li .slider-caption h1 {
	 font-size: 60px; /*--- 主要banner h1大小 ---*/
	
}
  .hover-iner span {
  margin-top: 160px;
  }

  body {
    overflow-x: hidden;
  }
  .topimg img{width:1260px;}
  .little_banner{width:292px;}
}

/*--- END RESPONSIVE ---*/
.title_center {
	display: block;
	padding-top: 5px;
	margin-bottom: 20px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align: center;
		
}

.title_line{
	height: 18px;
	width: 50%;
	text-align: center;
	display: inline-block;
	background-image: url(../images/title_line.gif);
}
.line {
	background-color: #CCC;
	height:1px;
	margin-bottom: 30px;
	margin-top: 30px;
	
}
.bold {
	font-weight: bold;
}
.list-group-item2 {
	
	font-size:14px;
	position: relative;
	display: block;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 15px;
}
.list-group-item3 {
	font-size: 20px;
	color:#FFF;
	position: relative;
	display: block;
	margin-bottom: -1px;
	background-color: #287309;
	border: 1px solid #ddd;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 15px;
}
.list-group-item4 {
	font-weight: 100;
	font-size: 14px;
	position: relative;
	display: block;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 24px;
}

.float{float:left;  }
.position{position:relative}
.left{ position:absolute; left:1020px; top:0px;}

.left2{padding-right:20%;   }

.font-size-s {
	font-size: 10px;
}
.navbar-collapse{ max-height: inherit;}
.tableword{ width:390px;text-align:left;font-size:16px;}
.tableword18{ width:390px;text-align:left;font-size:16px;}
.wordline::selection {
   background:red;
   color:#ffffff;
}
@media screen and (max-width: 375px){
.tableword{ width:320px;}
}
.tableword18{ width:320px;}
}
@media screen and (max-width: 320px){
.tableword{ width:290px;}
}
.tableword18{ width:290px;}
}
.tableword-s{ width:300px;text-align:left;}
@media screen and (max-width: 375px){
.tableword{ width:320px;}
}
.tableword18{ width:320px;}
}
@media screen and (max-width: 320px){
.tableword{ width:290px;}
}
.tableword18{ width:290px;}
}

/*新增設台北台中QR碼區塊CSS---起*/
	.inquire{
	max-width: 1260px;
	margin:0 auto;}
	.inquire_text{
	display: inline-block;
	float: left;
	width: 100%;
	max-width: 630px;
	text-align: center;
	padding-left: 10px;
	padding-top:50px;
	padding-bottom: 30px;
 	margin: 0 auto;}		
		
	.inquire_text:before {
  	content: '';
  	display: inline-block;
 	vertical-align: middle ;
 	height: 100%;}
			
	.inquire .inquire_text p {
	font-family: "微軟正黑體", "新細明體", "標楷體";
	font-size: 1.5em;
	font-weight: bold;
	color: #13721E;
	border-left: 5px solid #13721E;}
		
	.inquire_img{
	display: inline-block;
	float: left;
	width: 100%;
	max-width: 628px;
	height: auto;
	margin: 0 auto;}	
	
	.inquire .inquire_text span{
	color: #324BAC;
	font-family: "微軟正黑體", "新細明體", "標楷體";
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing:1px;}
	
	.qr_taipei, .qr_taichung{
	float:left;
	width:50%;}
	
	.text_wrap{
	word-wrap: break-word;
	word-break: normal;}
	
	.clearboth{
	clear:both;}
	
@media(max-width:320px){
		.qr_taipei, .qr_taichung{
			float:left;
			width:240px;}
		.inquire .inquire_text span{
	color: #324BAC;
	font-family: "微軟正黑體", "新細明體", "標楷體";
	font-size: 1.3em;
	font-weight: bold;
	letter-spacing:1px;
	}	
}
			
@media(max-width:480px){
	.inquire .inquire_text p {
	font-family: "微軟正黑體", "新細明體", "標楷體";
	font-size: 1.2em;
	font-weight: bold;
	color: #13721E;
	border-left: 5px solid #13721E;
	}		
	.inquire .inquire_text span{
	color: #324BAC;
	font-family: "微軟正黑體", "新細明體", "標楷體";
	font-size: 1em;
	font-weight: bold;
	letter-spacing:1px;
	}
}

@media(min-width:680px) and (max-width:990px){
	.inquire{
	width:630px;
	padding-left:10%;}
}

@media(min-width:991px) and (max-width:1200px){
	.inquire{
	padding-left:20%;}
	}

/*新增設台北台中QR碼區塊CSS---尾*/

/* 日期金流*/
.tableScheduleWidth{
	width:100%;
}
.tableSchedule{
	font-size:18px;
	color:#FFFFFF;
}
.tableScheduleContent{
	font-size:16px;
	color:#000000;
}
.tableScheduletext{
	padding:5px;
	font-size:16px;
}
.hrefText{
	font-size:16px;
	color:blue!important;
	text-decoration:underline!important;
}

/* 各館banner資訊 */
.bannerInfo{
	color:#c79100;
}
.bannerHrefText{
	font-size: 16px;
	color:black!important;
	margin-bottom:10px;
	text-decoration:underline!important;
}