@font-face {
  font-family: 'cwTeXHei';  font-style: normal;  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}

@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote { margin:0;	padding:0;}
ol, ul {list-style:none;}
abbr, acronym { border:0;}
.CLEAR{ clear:both; height: 0; font-size: 0px; line-height: 0;}
.clearfix:after {content: "."; display: block; clear: both; visibility: hidden;	line-height: 0;	height: 0;}
body, h1, h2, h3, h4, h5, h6, p { font-family: 'Bitter',"微軟正黑體","Microsoft JhengHei", serif; -webkit-font-smoothing: antialiased;}
p{ font-size:15px; _font-size:14px; line-height:24px;/*font-family: 'Nunito', sans-serif;*/}
a{ text-decoration:none; outline: none; /* for Firefox */  hlbr:expression(this.onFocus=this.blur()); /* for IE */}
a:hover{ text-decoration:none;}
select, input, textarea{ font-family:"微軟正黑體","Microsoft JhengHei", serif; -webkit-font-smoothing: antialiased; font-size:15px;}
*:link, *:visited, *:hover, *:active, *:focus , * { -o-transition: color .20s linear, background-color .20s linear, border-color .20s linear; -webkit-transition: color .20s linear, background-color .20s linear, border-color .20s linear; -moz-transition: color .20s linear, background-color .20s linear, border-color .20s linear; transition: color .20s linear, background-color .20s linear, border-color .20s linear; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
* {-webkit-text-size-adjust:none;}
a{text-decoration:none;}
fieldset, img {border:0;}
ol, ul {list-style:none;}
abbr, acronym {border:0;}

.CLEAR{clear:both; height: 0; font-size: 0px; line-height: 0;}
.clearfix:after {  content: ".";  display: block;  height: 0;  clear: both;  visibility: hidden;}
* html .clearfix { height: 1%;}
*:first-child + html .clearfix  {min-height: 1%;}

/**gogogo**/

p.go_top{ position:absolute; right:2%; top:-320px; cursor:pointer; z-index:50; text-indent:-9999px;}
p.go_top a{ width:60px; height:60px; display:block; background:url(../images/top.png) 0 0 no-repeat;}

.ContentsBox{ width: 1200px; margin: 0 auto; }

.titleBox{position: absolute; top: 0; }

p.logo{ position: absolute; z-index: 15; left:60px; top: 1vh; width: 320px; height: 76px; display: block; background: url(../images/logo_wangSteak.png ) center top no-repeat;  text-indent: -9999px; background-size: contain; }
h1.KV_title{ position: absolute; z-index: 20; left:4vw; top: 14vh; width: 250px; height: 450px; display: block; background: url(../images/KV-title.png ) center top no-repeat;  text-indent: -9999px; background-size: contain; }
.flower_01{ position: absolute; z-index: 15; left:12vw; top: 12vh; width: 120px; height: 120px; display: block; background: url(../images/bg_flower_01.png ) center top no-repeat;  text-indent: -9999px; background-size: contain; }
.flower_02{ position: absolute; z-index: 15; left:2vw; bottom: 26vh; width: 150px; height: 150px; display: block; background: url(../images/bg_flower_02.png ) center top no-repeat;  text-indent: -9999px; background-size: contain; }

.slider-container p.btn{ width: 100px; position: fixed; top: 5vh; right: 2%; z-index: 16; text-align:  center; font-size: 18px; margin: 0 auto;}
.slider-container p.btn a{ color: #fff; display: inline-block; text-align:  center; width: 90px; height: 90px; background-color: rgba(0,0,0,.6);  border-radius: 50%; margin: 10px 0; cursor: pointer; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center;}
.slider-container p.btn a:hover{ color: #fff; background-color: #e60013;}

.DataBox{ width: 100%;position: relative; }
.DataBox .box_title{ width: 100%; background-color: #e8bf62;}
.DataBox .box_title h3{ width: 100%; max-width:600px; height:98px; position: relative; display: block; background-position:  center center; background-repeat: no-repeat; margin: 0 auto ; text-indent: -9999px; }
.DataBox .box_title h3::after{ content: ""; top:20px; z-index: 50; left: 0; position: absolute; width: 130px; height: 90px; display: block; background: url(../images/bg_flower_03.png) center center no-repeat; background-size: contain; }
.DataBox .box_title h3.t02{ background-image: url(../images/h3_title_02.png );  background-size: 64%;}
.DataBox .box_title h3.t03{ background-image: url(../images/h3_title_03.png );  background-size: 64%;}
.DataBox .box_title h3.t04{ background-image: url(../images/h3_title_04.png );  background-size: 64%;}
.DataBox .box_title h3.t05{ background-image: url(../images/h3_title_05.png );  background-size: 64%;}
.DataBox .box_title h3.t07{ background-image: url(../images/h3_title_07.png );  background-size: 64%;}

.DataBox .p_subtitle{ width: 100%; border-bottom: 1px solid #c49d65;}
.DataBox .p_subtitle p{ width: 90%; color: #f4d5a7; font-size: 18px;  line-height: 36px; padding: 15px 0; text-align: center; font-weight: normal; margin: 0 auto;}
.DataBox .p_subtitle p.t01{ max-width: 605px; }


.PreferentialBox{ background: url(../images/br_04.jpg ) center center no-repeat #000; padding: 55px 0 0 0 ;}
.PreferentialBox h4{ width: 100%; height: 36px; display:block; text-indent: -9999px; background: url(../images/h3_title_02_sub.png) center center no-repeat; background-size: contain;  }
.PreferentialBox p.experience{ color: #fff; text-align: center;  font-size: 18px; line-height: 36px;  padding: 20px 0; text-shadow: 0px 0px 5px rgba(0,0,0,0.1);}
.PreferentialBox p.experience span.c01{ color: #f2bdbd; }
.PreferentialBox p.experience span.c02{ color: #daaf71; }
.PreferentialBox p.btn{ padding-top: 30px; font-size: 19px; font-weight: bold; text-align: center; margin: 0 auto 40px auto; }
.PreferentialBox p.btn a{ border: 1px solid #fff; padding: 10px 32px; color: #fff; }
.PreferentialBox p.btn a:hover{ color: #fff; background-color: #a50e0e; border-color: #a50e0e; }
.PreferentialBox p.ex{ width: 100%; background-color: #000; text-align: center; padding: 30px 0; font-size: 12px; color: #fff; }

.DataBox .box_title p{ color: #f4d5a7; font-size: 18px;  line-height: 36px; padding: 20px 0; text-align: center; font-weight: normal; margin: 0 auto;}
.DataBox .sub_box_title{ width: 100%; padding: 15px 0; position: absolute; top: 98px; z-index: 10; border-bottom: 1px solid #c49d65; background-color: rgba(0,0,0,.5);}
.DataBox .sub_box_title p{ text-align: center; color: #fff; line-height: 36px; font-size: 17px; color: #f4d5a7;}
.sub_box_title span.no{ display: none; }
.sub_box_title span.b{display: block;}


.map{ padding: 50px 0; }
.map .mBox{ width: 100%; padding: 20px 0;}
.map .mBox .lBox{  width: 48%; float: left; }
.map .mBox .rBox{  width: 48%; float: right; }
.map .mBox h4{ color: #fbf7f8; font-size: 17px; padding: 20px 0 5px 0; font-family: "微軟正黑體",'SabonLTStd-Roman','Hiragino Mincho ProN', 'MingLiU', "MS PMincho", "MS 明朝" ,'LiHeiPro', Helvetica, Arial, sans-serif; }
.map .mBox p{ color: #fbf7f8; font-size: 14px; padding-bottom: 10px; }
.map iframe{ width: 100%; height: 350px;}
.map a.p_www{ color: #9f9f9f; font-size: 12px; display: block;}
.map a.p_www:hover{ text-decoration: underline; }

p.btn_more{ text-align: center;font-size: 18px; font-weight: bold;}
p.btn_more a{padding: 12px 40px 12px 25px;  max-width: 100px; color: #e0a715; display: block; border: 1px solid #fff; margin: 0 auto;}

.map p.btn_more{ width: 100%; padding: 10px 0;}
.map p.btn_more a{ float: right; padding: 12px 50px; border:1px solid #fff;  background-color: transparent; color: #fff;}
.map p.btn_more a:hover{ background-color: #fff; color: #000; }

.map2{ max-width: 100%; overflow-y: hidden; display: block; width: 100%; }
.map2 .mBox{ width: 100%; position: relative; min-height: 450px;}
.map2 .mBox p{ padding: 20px 0; color: #fbf7f8; font-size: 15px; }
.map2 .mBox .btnBox{ position: absolute; right: 120px; top:155px;/* width: 152px;*/ height: 246px; /*border-radius: 200px;*/ padding: 0 47px; background: url(../images/br_k.png) 0 0 repeat;display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center}
.map2 .mBox .btnBox .bothBox{}
.map2 iframe{ width: 100%; height: 450px; position: absolute; top:0;}

.map2 a.p_www{ color: #9f9f9f; font-size: 12px; display: block; padding-top: 10px;}
.map2 a.p_www:hover{ text-decoration: underline; }

p.btn_more{ text-align: center;font-size: 18px; font-weight: bold;}
p.btn_more a{padding: 12px 40px 12px 25px;  max-width: 150px; color: #f4b4cf; display: block; border: 1px solid #f4b4cf; margin: 0 auto;}

.map2 p.btn_more{ width: 100%; padding: 10px 0;}
.map2 p.btn_more a{ float: right;  padding: 10px 25px; border:1px solid #f9c957;  background-color: transparent; color: #f9c957;}
.map2 p.btn_more a:hover{ background-color: #f9c957; color: #222; }

.Chef{ overflow: hidden; }
.Chef ul.ChefBox{ width: 100%;}
.Chef ul.ChefBox li{ float: left; width: 25%; height:calc( 100vh - 100px); /* height: 420px;*/ overflow: hidden;}
.Chef ul.ChefBox li.food_01{ background: url(../images/food_01.jpg) center center no-repeat; background-size: cover;}
.Chef ul.ChefBox li.food_02{ background: url(../images/food_02.jpg) center center no-repeat; background-size: cover;}
.Chef ul.ChefBox li.food_03{ background: url(../images/food_03.jpg) center center no-repeat; background-size: cover;}
.Chef ul.ChefBox li.food_04{ background: url(../images/food_04.jpg) center center no-repeat; background-size: cover;}

.Chef ul.ChefBox li .info{ display: block; height: 100%; background-color: rgba(0,0,0,.5);display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center}
.Chef ul.ChefBox li .info:hover{background-color: rgba(0,0,0,.2);}
.Chef ul.ChefBox li .info .tBox{max-width: 90%; width: 100%;}
.Chef ul.ChefBox li .info p{ text-align: center; min-height: 105px; padding-bottom:15px; color: #fff; font-size: 15px; /*font-family: 'cwTeXHei', serif;*/font-weight: normal; font-family: 微軟正黑體, SabonLTStd-Roman, "Hiragino Mincho ProN", MingLiU, "MS PMincho", "MS 明朝", LiHeiPro, Helvetica, Arial, sans-serif;}
.Chef ul.ChefBox li .info b{ font-size: 24px; font-weight: normal; line-height: 40px;}


.Chef ul.ChefBox li p.btn_more a{ color: #fff;  background: url(../images/arr_w.png) center center no-repeat transparent; background-size: contain; border: 1px solid #fff; border-radius: 50px; }
.Chef ul.ChefBox li p.btn_more a:hover{ color: #fff;  background: url(../images/arr_w.png) center center no-repeat #ff9800; background-size: contain; border: 1px solid #e0a715; }

.pop_info h4{ color: #000; font-size: 20px; text-align: center;   padding: 10px 0;}
.pop_info h5{ color: #D85529; text-align: center;}
.pop_info p{ width: 90%; margin: 0 auto;  padding: 10px 0; color: #535353; }

.pop_info .food_photo img.pop-mob{ display: none; }


.br00{ background:url(../images/top_bg_00.jpg) center center no-repeat; background-size: cover; background-attachment: fixed; }
.br02{ background:url(../images/lightpaperfibers.png) 0 0 repeat; background-attachment: fixed; }


.foodinfo{ overflow: hidden; padding:30px 0 80px 0; /*background: url(../images/br_00.jpg) 0 0 repeat; */}
.foodinfo .ContentsBox{ width: 95%; max-width: 1200px; }
.foodinfo .aBox p{ text-align: center; color: #fff; font-size: 18px; line-height: 36px;}
.foodinfo .aBox p.btn { cursor: pointer; border-radius: 50%; background-color: #e8446b; width: 100px;height: 100px; color: #fff; line-height: 24px; display: block; text-align: center; margin: 30px auto 0 auto; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center }
.foodinfo .aBox p.btn a{ color: #fff; }
.foodinfo .aBox p.btn:hover{ background-color: #da022b; border-color: #da022b;	 }

.foodinfo .infoBox{ max-width:calc(100% - 50px); margin: 0 auto; padding:120px 25px 15px 25px; background-color:transparent; }
.foodinfo .infoBox .box_for2{ width:calc(100% - 76px); margin: 0 auto; position: relative; padding:30px; background-color: rgba(0,0,0,.5); /*background:url(../images/a_00.png) 0 0 repeat;*/ border: 8px solid transparent; -moz-border-image:url(../images/br_gold.jpg) 30 30 round; -webkit-border-image:url(../images/br_gold.jpg) 30 30 round; -o-border-image:url(../images/br_gold.jpg) 30 30 round; border-image:url(../images/br_gold.jpg) 30 30 round; }
.foodinfo .infoBox .box_for2::before{ content: ""; position: absolute; right: -32px; top: -36px; width: 240px; height: 156px; display: block; background: url(../images/bg_flower_04.png) center center no-repeat; background-size: contain; }

.foodinfo .infoBox .box_for2 .infoBoxleft{float: left; width: 40%;}
.foodinfo .infoBox .box_for2 .logo-25{ text-align:  center; max-width: 300px; margin: 0 auto; padding: 25px 0; position: relative;}
.foodinfo .infoBox .box_for2 .logo-25 .star00{position: absolute; width: 55px; height: 55px; display:block; display: block; background: url(../images/img_star.png) center center no-repeat; background-size: cover;}
.foodinfo .infoBox .box_for2 .logo-25 .star01{ width: 65px; height: 65px; right: 10%; top: 10%;
  -webkit-animation-duration: 1s;  -moz-animation-duration: 1s;  -webkit-animation-name: slidein;  -moz-animation-name: slidein;  animation-iteration-count: infinite; -webkit-animation-timing-function: linear;}
@-webkit-keyframes slidein {
  0%   { opacity: 0; }
  25%  { opacity: .5; }
  50%  { opacity: 1; }
  75%  { opacity: .5; }
  100% { opacity: 0; }
}
@-moz-keyframes slidein {
  0%   { opacity: 0; }
  25%  { opacity: .5; }
  50%  { opacity: 1; }
  75%  { opacity: .5; }
  100% { opacity: 0; }
}
@-o-keyframes slidein {
  0%   { opacity: 0; }
  25%  { opacity: .5; }
  50%  { opacity: 1; }
  75%  { opacity: .5; }
  100% { opacity: 0; }
}
@keyframes slidein {
  0%   { opacity: 0; }
  25%  { opacity: .5; }
  50%  { opacity: 1; }
  75%  { opacity: .5; }
  100% { opacity: 0; }
}
.foodinfo .infoBox .box_for2 .logo-25 .star02{ width: 70px; height: 70px; left: 11%; top: 37%; opacity: 0; -webkit-animation-delay: 3s; -moz-animation-delay: 3s;
  -webkit-animation-duration: 3s;  -moz-animation-duration: 3s;  -webkit-animation-name: slidein2;  -moz-animation-name: slidein2;  animation-iteration-count: infinite; -webkit-animation-timing-function: linear;}
@-webkit-keyframes slidein2 {
  0%   { opacity: 0; }
  25%  { opacity: .5; }
  50%  { opacity: 1; }
  75%  { opacity: .5; }
  100% { opacity: 0; }
}
@-moz-keyframes slidein2 {
  0%   { opacity: 0; }
  25%  { opacity: .5; }
  50%  { opacity: 1; }
  75%  { opacity: .5; }
  100% { opacity: 0; }
}
@-o-keyframes slidein2 {
  0%   { opacity: 0; }
  25%  { opacity: .5; }
  50%  { opacity: 1; }
  75%  { opacity: .5; }
  100% { opacity: 0; }
}
@keyframes slidein2 {
  0%   { opacity: 0; }
  25%  { opacity: .5; }
  50%  { opacity: 1; }
  75%  { opacity: .5; }
  100% { opacity: 0; }
}

.foodinfo .infoBox .box_for2 .logo-25 .star03{ width: 45px; height: 45px; right: 21%; bottom: 27%; opacity: 0; -webkit-animation-delay: 5s; -moz-animation-delay: 5s;
  -webkit-animation-duration: 4s;  -moz-animation-duration: 4s;  -webkit-animation-name: slidein3;  -moz-animation-name: slidein3;  animation-iteration-count: infinite; -webkit-animation-timing-function: linear;}
@-webkit-keyframes slidein3 {
  0%   { opacity: 0; }
  25%  { opacity: .5; }
  50%  { opacity: 1; }
  75%  { opacity: .5; }
  100% { opacity: 0; }
}
@-moz-keyframes slidein2 {
  0%   { opacity: 0; }
  25%  { opacity: .5; }
  50%  { opacity: 1; }
  75%  { opacity: .5; }
  100% { opacity: 0; }
}
@-o-keyframes slidein2 {
  0%   { opacity: 0; }
  25%  { opacity: .5; }
  50%  { opacity: 1; }
  75%  { opacity: .5; }
  100% { opacity: 0; }
}
@keyframes slidein2 {
  0%   { opacity: 0; }
  25%  { opacity: .5; }
  50%  { opacity: 1; }
  75%  { opacity: .5; }
  100% { opacity: 0; }
}
.foodinfo .infoBox .box_for2 .infoBoxright{float: left; width:calc(60% - 20px); padding-left: 20px;}
.foodinfo .infoBox .box_for2 .infoBoxright p{text-align: left;}

.foodinfo .infoBox p{color: #fff; text-align: center; max-width: 500px; margin: 0 auto; letter-spacing: 2px;  line-height: 32px;}
.foodinfo .infoBox p.p_color_01 {color: #fdbf33; font-weight: bold; padding-bottom: 10px; }
.foodinfo .infoBox .youtubeBox{ width:100%; max-width: 900px; padding-bottom: 50px; margin: 0 auto; }
.foodinfo .infoBox .youtubeBox iframe{ width:calc(100% - 16px); height: 440px; border: 8px solid transparent; -moz-border-image:url(../images/br_gold.jpg) 30 30 round; -webkit-border-image:url(../images/br_gold.jpg) 30 30 round; -o-border-image:url(../images/br_gold.jpg) 30 30 round; border-image:url(../images/br_gold.jpg) 30 30 round; }
.foodinfo .infoBox .youtubeBox span.no{ display: none; }
.foodinfo .infoBox .youtubeBox span.b{display: block;}

.forMob_youtube iframe{ width: 100%; height: 440px;}
.forMob_youtube{ display: none;}

.foodinfo .infoBox p a{color: #ff5e6c; font-weight: bold;}
.foodinfo .infoBox p a:hover{ text-decoration: underline; }
.fb_share_button{ width: 100%; padding: 15px 0; max-width: 500px; margin: 0 auto;}
.fb_share_button a{ float: left; text-shadow: 0 0 10px rgba(0,0,0,.3);  padding: 0px; width: 100%; max-width: 190px; font-size: 18px; text-align: center; color: #fff; border-radius: 40px; display: block; box-shadow: 0 0 10px rgba(0,0,0,.5); }
.fb_share_button a span{padding: 15px 20px 15px 50px; display: inline-block;}

a.fbButtom{ background-color: #365899; border: 1px solid #4267b2; margin: 0 12px 12px 0; }
a.fbButtom span{ background:url(../images/icon_fb.png) left center no-repeat; background-size: contain; }
a.fbButtom:hover{ background: #4080ff; }

a.line{ background-color: #00b832; border: 1px solid #01ac2f; }
a.line span{ background:url(../images/icon_line.png) left center no-repeat; background-size: contain;}
a.line:hover{ background: #03d63c;  }

.noteBox{ width: 100%; padding: 15px 0; max-width: 500px; margin: 0 auto;}
.foodinfo .infoBox .box_for2 .noteBox p{font-size: 15px; line-height: 25px;}
.foodinfo .infoBox .box_for2 .noteBox p span{ color: #eacd61; }
.foodinfo .infoBox .box_for2 .noteBox ul.list{ list-style-type: disc; padding-left: 18px; color: #fff; }



.footerBox{ border-bottom: 94px solid #db0023; padding:80px 0 50px 0;}
.footerBox .ContentsBox{ position: relative;}
.footerBox .fbBox{ width: 337px; height: 400px;position: absolute; bottom: -144px; right: 0; box-shadow: 0px 0px 15px rgba(0%,0%,0%,0.2); overflow: hidden;}
.footerBox .fbBox iframe{ width: 100%; height: 400px; }
.footerBox .logoimg{ float: left; max-width: 180px; padding-right: 60px; }

.footerBox .infoBox{ float: left; max-width: 400px; }
.footerBox .infoBox p{ color: #404040; font-size: 17px; line-height: 30px; }
.footerBox .infoBox p span.ss{font-size: 14px;}
.footerBox .infoBox p span.red{ color: #da022b; font-weight: bold; }
.footerBox .infoBox p.btn{ font-size: 16px; padding: 30px 0; font-weight: bold; }
.footerBox .infoBox p.btn a{ cursor: pointer; color: #ff9800; padding: 10px 20px; border: 1px solid #ff9800; margin-right: 10px; border-radius: 50px;}
.footerBox .infoBox p.btn a:hover{ background-color: #ff9800; color: #fff; }

.mediaBox{ width: 100%; background-image:url(../images/br_08.png); background-position: center center; background-repeat: repeat; background-attachment: fixed;}
.mediaBox ul.MBox{ width: 100%; margin: 0 auto; padding: 30px 0; max-width: 1870px;}
.mediaBox ul.MBox li{ float: left; width: 50%; padding: 15px 2%; }
.mediaBox ul.MBox li a{ display: block; padding: 10px 0; width: 100%; }
.mediaBox ul.MBox li a:hover{ opacity: .9; }

.foodinfo h4.t09-1{ width: 100%; max-width:500px; height:75px;display: block; background: url(../images/h3_title_09-1.png) center center no-repeat; background-size: contain;text-indent: -9999px; margin: 0 auto; }
.foodinfo h4.t09-2{ width: 100%; max-width:500px; height:75px;display: block; background: url(../images/h3_title_09-2.png) left center no-repeat; background-size: contain;text-indent: -9999px; margin: 0 auto; }

/*RWD*/
@media (max-width:1880px){.mediaBox ul.MBox{ width: 90%; }}
@media (max-width:1440px){.map2 .mBox .btnBox{ right: 150px;}}
@media (max-width:1300px){.map2 .mBox .btnBox{ right:100px; }}
@media (max-width:1215px){.ContentsBox{ width: 90%;}.map2{width: 100%;}}
@media (max-width:1200px){
	.map2 .mBox .btnBox{ right:5%; }
	.foodinfo .r01 .info{margin-right: 0;}
	.foodinfo .r02 .info{margin-left: 0;}
	}
@media (max-width:1140px){.foodinfo .aBox .photo{ max-width: 400px; }
	.Chef ul.ChefBox li{width: 50%;}
}
@media (max-width:1100px){.footerBox .logoimg{ max-width: 120px; padding-right: 20px; }}
@media (max-width:1080px){.DataBox .box_title p.t02{ width:75%; }}
@media (max-width:1000px){
	.foodinfo .aBox .info{max-width: 400px;}
	.footerBox .logoimg{ float: none; }
	.footerBox{padding-top: 40px;}
}
@media (max-width:991px){ h2.tmob{ display: none; }
	.flower_01{left: 15vw; top: initial; bottom: 28vh; height: 65px;}
  .flower_02{ bottom: 2vh; }
	.slider-container p.btn{ top: 0; right: 0; width: 70px; font-size: 16px; }
	.slider-container p.btn a{ width: 100%; height: 60px; margin: 0; border-radius: inherit; line-height: 20px; }
	h1.KV_title{width: 363px; top: inherit; bottom: 10vh; height:42vw; width: 30vw; left: 0;}
	.slider-container p.btn a.o_01{ border-radius:  0 0 0 50%; padding-bottom: 5px; height: 65px;}
}

@media (max-device-width:1200px) {
	.mediaBox, .foodinfo{ background-attachment: inherit;}
  .br00{ background-attachment: inherit; background: url(../images/top_bg_00_s.jpg) center center no-repeat; background-size: cover;}
}
@media (min-width:1200px) and (max-height:700px) {
	h1.KV_title{height: 520px;}
	.flower_01{height: 90px;}
}

@media (max-width:890px){
  .foodinfo .infoBox .box_for2{ text-align: center;}
  .foodinfo .infoBox .box_for2 .logo-25{max-width: 85%;}
  .foodinfo .infoBox .youtubeBox{ width: 86%;}
}
@media (max-width:850px){
	.map2 .mBox .btnBox{ right: 72px;}
	.footerBox{ padding-bottom: 0; border-bottom: 40px solid #db0023;}
	.footerBox .logoimg{ margin: 0 auto; padding-right: 0; }
	.footerBox .infoBox{ float: none; margin: 0 auto; max-width: 100%; }
	.footerBox .fbBox{position: initial;margin: 0 auto;}
	.footerBox .infoBox p{ text-align: center; font-size: 16px;}
  .DataBox .box_title h3::after{ width: 90px; height: 54px; top: 16px;}
}
@media (max-width:840px){
	.foodinfo{padding: 10px 0 30px 0;}
	.foodinfo .aBox p.btn{margin-top: 15px; width: 85px; height: 85px;}
	.foodinfo .aBox p.q_img{padding-top: 220px;}
	.foodinfo .aBox p.q_img::after{ height: 204px;}
	.foodinfo .aBox .photo,.foodinfo .aBox .info { position: initial; margin: 0 auto;}
	.foodinfo .aBox .info{ float: none; max-width: 90%;}
	.foodinfo .r01 .photo .pBox h4.tilte{ right: initial; right: -35px; top: initial; bottom: -45px; }
	.foodinfo .r01 .info{ padding-bottom: 50px; }
}
@media (max-width:800px){
	.DataBox .box_title p.t01{ width:75%; }
	.mediaBox ul.MBox li{ padding: 10px 1%;}
}
@media (max-width:750px){
  .foodinfo .infoBox .box_for2 .infoBoxleft, .foodinfo .infoBox .box_for2 .infoBoxright{width: 100%;}
  .foodinfo .infoBox .box_for2 .logo-25{max-width: 300px;}
  .foodinfo h4.t09-2{ background-position: center; }
  .foodinfo .infoBox p{ line-height: 24px; }
  .foodinfo .infoBox .box_for2{padding: 30px 20px;}
  .foodinfo .infoBox .box_for2 .infoBoxright{padding-left: 0;}
  .foodinfo .infoBox .box_for2 .infoBoxright p{text-align: center;}
  .foodinfo .infoBox .box_for2 .noteBox p{letter-spacing: 0; text-align: left; font-size: 13px; line-height: 20px;}
  .fb_share_button{width: initial; max-width: initial; text-align: center;}
  .fb_share_button a{ display: inline-block; float: none; }
  a.fbButtom{margin: 10px auto;}
  .mediaBox ul.MBox li{ width: 100%; padding: 0; }
}
@media (max-width:700px){
	.map .mBox .lBox, .map .mBox .rBox{ width: 100%; float: none;}
	.map .mBox{padding: 0;}
	.map .mBox p{padding-bottom: 15px;}
	.map p.btn_more{ width: 50%; float: left; }
	.map p.btn_more a{ float: none; }
	h1.KV_title{ height:69vw; width: 40vw;}
  .foodinfo .infoBox{ max-width: 100%; padding: 150px 0 0 0; }
  .foodinfo .infoBox .box_for2{ max-width: 86%; }
  .foodinfo .infoBox .box_for2::before{ width: 180px; height: 120px;}
  .flower_02{ bottom: 2vh; width: 100px; height: 100px; }
}
@media (max-width:650px){
  .foodinfo .infoBox .box_for2{ width: 100%; }
}

@media (max-width:599px){
	p.logo{left: 0;width: 285px;}
	.DataBox .box_title h3{height:60px; }
	.DataBox .p_subtitle p {font-size: 16px; line-height: 28px;}
	/*。*/
	.Chef ul.ChefBox li .info p{min-height: inherit;}
	.DataBox .box_title p{font-size: 16px;}
	.DataBox .box_title p.t02, .DataBox .box_title p.t01{ width: 85%; }
	.DataBox .sub_box_title{ top: 60px; }
	.DataBox .sub_box_title p{font-size: 16px; width: 90%; margin: 0 auto; line-height: 32px;}
	.PreferentialBox p.experience{ font-size: 16px;  line-height: 26px;}
	.map iframe{ height: 280px; }
	.Chef ul.ChefBox li{ width: 100%; height: 300px;}
	.Chef ul.ChefBox li .info p{ font-size: 14px;}
	.Chef ul.ChefBox li p.btn_more{ padding: 10px}
	.Chef ul.ChefBox li .info p b{ font-size: 20px; }
	.foodinfo .aBox .info .topTitleBox h5.subTitle{ width: 120px;}
	 .slides li .info{ width:80%; /*margin: 100px auto 0 auto;*/ min-height:120px;}
	.slides li .info h3{ font-size:19px;}
	.slides li .info h3 span{font-size: 15px;}
	.slides li .info p{ font-size:14px;}
	.pop_info p{font-size: 14px;}
	.pop_info h5{font-size: 15px; }
}
@media (max-width:550px){
  .sub_box_title span.no{ display: inline-block; }
  .sub_box_title span.b{ display: initial; }
}
@media (max-width:499px){
	.DataBox .p_subtitle p, .DataBox .sub_box_title p{font-size: 15px; line-height: 26px; width:calc(100% - 90px);}
  .footerBox .infoBox{ max-width: calc(100% - 45px);}
	.map p.btn_more a {padding: 10px 20px;}
	.PreferentialBox p.ex{ width: 80%; text-align: justify; margin: 0 auto; }
	.foodinfo .aBox .info p{ font-size: 15px; line-height: 28px; }
  .foodinfo .infoBox .youtubeBox iframe, .forMob_youtube iframe{ height: 350px; }
	.flower_01{ height: 51px; }
	.pop_info .food_photo img.pop-pc{ display: none; }
	.pop_info .food_photo img.pop-mob{ display: block; }
}
@media (max-width:450px){
	.map2 .mBox .btnBox{ right: 0;border-radius:0px; padding: 10px; height: inherit;right: initial; left: 0; top:40%;}
	.ma2 p.b1{margin: 0;}
	.foodinfo .aBox .photo{max-width: 85%;}
	.foodinfo .aBox .photo .pBox h4.tilte{ width: 100px; }
	.foodinfo .r02 .photo .pBox h4.tilte{ left: -30px; top: -15px;}
}
@media (max-width:420px){
  .foodinfo .infoBox .youtubeBox iframe, .forMob_youtube iframe{ height: 200px; }
}
@media (max-width:400px){
  .foodinfo .infoBox .youtubeBox span.no{ display: inline-block; }
  .foodinfo .infoBox .youtubeBox span.b{display: initial;}
}
@media (max-width:350px){
  .footerBox .fbBox{ width:100%;}
}
