// CSS Color
@c1:    #E85189;
@c2:    #D94079;
@cG1:   #333333;
@cG2:   #4F4F4F;
@cG3:   #828282;
@cG4:   #BDBDBD;
@cG5:   #E0E0E0;
@cG6:   #F2F2F2;
@cBg:   #F2F1F6;
@cRed:  #EB5757;
@cGreen:#27AE60;

// Toast
#toast { width: calc(100% - 20px); bottom: 80px; margin: 0 10px; display: flex; justify-content: center; position: fixed; z-index: 1; visibility: hidden; pointer-events: none;
    &.show { visibility: visible; -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; animation: fadein 0.5s, fadeout 0.5s 2.5s; }
    div {
        width: fit-content; padding: 10px 20px; border-radius: 99px; text-align: center; background-color: @cG1;
        span { color: white; }
    }
}
@-webkit-keyframes  fadein  { from { bottom: 0; opacity: 0; }       to { bottom: 80px; opacity: 1; } }
@keyframes          fadein  { from { bottom: 0; opacity: 0; }       to { bottom: 80px; opacity: 1; } }
@-webkit-keyframes  fadeout { from { bottom: 80px; opacity: 1; }    to { bottom: 0; opacity: 0; } }
@keyframes          fadeout { from { bottom: 80px; opacity: 1; }    to { bottom: 0; opacity: 0; } }