
.icon-member:before { content: '\e800'; } /* '' */
.icon-gift:before { content: '\e801'; } /* '' */
.icon-history:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-close:before { content: '\e805'; } /* '' */