@charset "utf-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&family=Roboto&display=swap");

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}
input,
textarea {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
abbr,
acronym {
  border: 0;
}
img {
  vertical-align: middle;
}
* {
  -webkit-text-size-adjust: none;
}

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .clearfix {
  height: 1%;
}
*:first-child + html .clearfix {
  min-height: 1%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
select,
input,
textarea,
button {
  font-family: 'Roboto', 'Noto Sans TC', 'Arial', '微軟正黑體', '新細明體', 'sans-serif'; 
  font-weight: normal;
  color: #333;
}
p {
  font-size: 15px;
}
a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
a:hover {
  text-decoration: none;
}
*:link,
*:visited,
*:hover,
*:active,
*:focus,
* {
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

 .an-repeat {
   animation-iteration-count: infinite;
 }
.btn{
  padding:5px 10px;
  text-align: center;
  p {
      font-size: 16px !important;
      font-weight: 500;
      display: inline-block;
      margin: 5px 10px;
      span {
        
        &.text {
          text-align: right;
        }

        &.icon {
          font-size: 13px;
          padding:0 5px;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        }
      }

    a {
      min-width: 165px;
      text-align: center;
      background: linear-gradient(to right, rgba(0, 175, 222, 1) 0%, rgba(82, 207, 242, 1) 100%);
      border-radius: 80px;
      padding: 15px 10px;
      color: #fff;
      display: inline-block;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      align-items: center;
      align-content: center;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      span{
        flex: auto;
      }
      &:hover {
        .icon {
          padding: 0 0px 0 20px;
        }
      }
    }

    &.w_line {
      a {
        border-color: #fff;
        color: #fff;
      }
    }
  }

  @media (max-width: 1000px) {
    padding: 15px 10px;

    p {
      font-size: 14px !important;

      span.icon {
        font-size: 12px;
      }

      a {
        padding: 10px;
        // min-width: 125px;
      }
    }
  }  
}

.menu-btn {
  background: none;
  display: none;
  padding-left: 0;
  span {
    width: 42px;
    height: 24px;
    background: url(../images/bars-solid.svg) center center no-repeat;
    background-size: 40%;
    display: block;
    cursor: pointer;
  }
  @media (max-width:900px) {
    display: block;
  }
}
.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
  svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
}
.img-box{
  img{
    width: 100%;
  }
}

a.go_top {
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 18px;
  z-index: 15;
  width: 60px;
  color: #fff;
  background-color: #c3c3c3;
  opacity: 0;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
  height: 60px;
  display: block;
  border-radius: 50%;
  background-color: #46d7d1;
  @media (max-width: 700px) {
    a.go_top {
      width: 44px;
      height: 44px;
      line-height: 44px;
    }
  }
}


/*===== start ======*/
.block-box{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding:40px 20px;
  position: relative;
  @media (max-width: 768px) {
    padding: 20px;
  }
}

.flex-box{
  display: flex;
  flex-wrap: wrap;
}
.box-center{
  display: flex;
  align-items: center;
  align-content: center;
}
// header
.header-wrapper {
  width: 100%;
  top: 0;
  position: sticky;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 100;
  .block-box{
    padding:15px 20px;
  }
  .logo {
    width: 100%;
    max-width: 165px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    img{
      width: 100%;
    }
    a {
      display: inline-block;
    }

    p {
      display: inline-block;
      line-height: 30px;
      vertical-align: bottom;
      padding-left: 10px;
      font-size: 13.5px;
      letter-spacing: 5px;
      color: #666666;
    }
  }
  .menu {
    padding-left: 20px;
    display: flex;
    margin-left: auto;
    align-items: center;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        display: inline-block;
        p {
          font-size: 14px;
          a {
            padding:8px 18px;
            color: #333;
            display: inline-block;
            cursor: pointer;
            &:hover {
              color: #00AFDE;
            }
            &.line{
              margin-left: 5px;
              border:#333 solid 1px ;
              border-radius: 50px;
            }
            &.line:hover{
              border-color:#00AFDE; ;
            }
          }
        }
      }
    }

    // @media (max-width: 770px) {
    //   float: none;
    //   width: 100%;
    //   ul {
    //     text-align: center;
    //     li {
    //       padding: 0 5px;
    //     }
    //   }
    // }
    // @media (max-width: 500px) {
    //   ul li p {
    //     font-size: 13.5px;
    //     a {
    //       line-height: 24px;
    //     }
    //   }
    // }
    @media (max-width: 900px) {
      display: none;
    }
  }
  .language{
    display: flex;
    margin-left: auto;
    position: relative;
    a{
      font-size: 12px;
      color: #fff;
      &.choosing{
        line-height: 30px;
        padding: 0 10px;
        i{
          pointer-events: none;
        }
      }
      span{
        padding: 0 10px;
      }
    }
    .language-list{
      position: absolute;
      right: 0;
      top: 35px;
      display: none;
      ul{
        width:85px;
        background-color: #333333c4;
        border-radius: 10px;
        li{
          border-bottom: 1px solid #99999957;
        }
        p{
          
          text-align: center;
          a{
            display: inline-block;
            padding:10px;
            &:hover{
              color: #11948A;
            }
          }
        }
      }
      
    }
  }
  @media (max-width: 900px) {
    .block-box{
      padding: 12px 12px 12px 6px;
    }
    .logo{
      max-width: 130px;
      margin: 0 calc(50% - 65px) 0 auto;
    }
  }
}
@mixin stickyPosition {
  -webkit-position: sticky;
  -moz-position: sticky;
  -ms-position: sticky;
  -o-position: sticky;
  position: sticky;
}

@mixin box-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

@mixin has-box-shadow {
  box-shadow: rgba(rgba(0, 0, 0, 0.2), 0.16) 0px 3px 6px;
}
@mixin img-default{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-wrapper{
  width: 100%;
  
  .section-wrap{
    padding: 0;
    margin: 0;
    width: 100%;
    .block-box{
      max-width: 1200px;
      .img-box{
        padding: 20px 0;
      }
    }
    // 1
    .main-title{
      p{
        font-size: 16px;
      }
      h3{
        padding: 15px 0;
        font-weight: bold;
        font-size: 26px;
      }
      @media (max-width: 760px){
        p{
          font-size: 13px;
        }
        h3{
          font-size: 22px;
        }
      }
      @media (max-width: 599px){
        h3{
          font-size: 20px;
        }
      }
    }
    // 2
    .text-contents{
      p{
        font-size: 16px;
        font-weight: 500;
        // text-align: justify;
        line-height: 1.8;
      }
      ul.list-ol-d{
        list-style-type:disc;
        padding-left: 15px;
        font-size: 25px;
        color: #00AFDE;
        li{
          padding-bottom: 10px;
        }
      }
      @media (max-width: 760px){
        padding:5px 15px 20px 15px;
        p {
          font-size: 14px;
          line-height: 1.5;
        }
      }
    }
    // 3
    .text-center{
      text-align: center;
    }
    .text-right{
      text-align: right;
    }
  }
  .bg-index{
    min-height:calc( 100vh - 112px);
    background: radial-gradient(ellipse at center,  rgba(245,247,248,1) 23%,rgba(160,233,255,1) 100%);
  }
  .bg-datatech {
    padding: 40px 0 20px 0;
    .block-box{
      position: relative;
      z-index: 5;
    }
    @media (max-width: 760px) {
      padding: 20px 0 0 0;
      background-repeat: no-repeat;
      background-attachment: initial;
      background-size: cover;
    }
  }
  .video-box{
    width: 100%;
    padding: 20px 0;
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        flex: 50%;
        padding: 20px;
        .a_video{
          width: 100%;
          display: block;
          background: #fff;
          border-radius: 10px;
          padding: 20px;
          box-shadow: 0 3px 5px #00000029;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          .text-contents{
            padding-bottom: 0;
            p{
              font-size: 18px;
              line-height: 1.5;
            }
          }
          .video{
            width: 100%;
          }
        }
      }
    }
    @media (max-width: 760px){
      padding:0;
      ul li{
        padding:15px 20px;
        flex: 100%;
        .a_video {
          padding-bottom: 10px;
          .text-contents {
            padding: 10px 0 0 0;
          }
        }
      }
    }
  }

  // 分頁
  .in-b-01{
    background-image: url(../images/main_banner/inside_01.png);
  }
  .in-b-02{
    background-image: url(../images/main_banner/inside_02.png);
  }
  .in-b-03{
    background-image: url(../images/main_banner/inside_03.png);
  }
  .in-b-04{
    background-image: url(../images/main_banner/inside_04.png);
  }
  .in-b-05{
    background-image: url(../images/main_banner/inside_05.png);
  }
  .in-b-06{
    background-image: url(../images/main_banner/inside_06.png);
  }
  .bg-philosophy{
    @media (max-width: 760px) {
      background: none;
      background-color: #F1F1F1;
      .block-both .abox:last-child {
        background-color: #fff;
      }
    }
  }
  .title-banner-wrap{
    position: relative;
    background-position:  center center;
    background-size: cover;
    background-repeat: no-repeat;
    &::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
      z-index: 0;
    }
    .block-box{
      min-height: 540px;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      .main-title{
        width: 100%;
        bottom: 0;
        right: 0;
        padding: 30px;
        z-index: 5;
        h3{
          line-height: 1;
          font-size: 50px;
          margin-bottom: 30px;
          color: #fff;
          text-transform: uppercase;
          font-weight: 900;
          font-family: 'Noto Sans TC', sans-serif;
          word-wrap: break-word;
          text-shadow: 0 3px 5px #33333336;
        }
        p{
          color: #fff;
          font-size: 16px;
          font-weight: 400;
          text-shadow: 0 3px 5px #33333336;
        }
      }
      .img-box {
        padding: 30px 0;
        margin: 0 auto;
    
        img {
          width: 100%;
    
        }
      }
    }
    @media (max-width: 768px) {
      .block-box{
        min-height: 260px;
        .main-title{
          h3{
            font-size: 50px;
          }
        }
      }
    }
    @media (max-width: 699px) {
      .block-box{
        min-height: 220px;
        .main-title{
          h3{
            font-size: 40px;
          }
          p{
            font-size: 16px;
          }
        }
      }
    }
  }
  .block-both{
    display: flex;
    flex-wrap: wrap;
    .abox{
      flex: 50%;
      padding: 20px;
      .img-box {
        padding: 30px 0;
        margin: 0 auto;
    
        img {
          width: 100%;
    
        }
      }
    }
  }
  .block-both2{
    display: flex;
    flex-wrap: wrap;
    .abox{
      flex: 40%;
      padding: 20px;
      .img-box {
        padding: 30px 0;
        margin: 0 auto;
    
        img {
          width: 100%;
    
        }
      }
    }
    .abox:last-child{
      flex: 60%;
    }
  }
  .bg-gray{
    background-color: #F2F2F2;
  }
  .for-founder{
    .block-both{
      justify-content: center;
    }
    .abox{
      max-width: 400px;
    }
    .img-box{
      max-width: 250px;
      border-radius: 50%;
    }
    .text-name{
      font-size: 26px;
      font-weight: bold;
    }
    .text-contents{
      max-width: 575px;
      margin: 0 auto;
    }
   @media (max-width: 768px) {
      .text-contents {
        padding: 0;
      }
    } 
  }
  .bg-support{
    .block-box{
    }
    ul.support-list{
      display: flex;
      flex-wrap: wrap;
      padding-top: 40px;
      max-width: 1200px;
      margin: 0 auto;
      li{
        flex:33%;
        padding: 20px;
        .a_card{
          width: 236px;
          height: 236px;
          display: block;
          padding-top: 20px;
          border-radius: 50%;
          background-color: #fff;
          box-shadow: 0 3px 5px #00000029;
          .img-box{
            max-width: 60%;
            padding: 10px 0;
            margin: 0 auto;
            img{
              width: initial;
              max-height: 120px;
            }
          }
          p{
            width: 80%;
            margin: 0 auto;
            padding: 5px 15px;
            font-size: 17px;
          }
        }
      }
      @media (max-width: 768px) {
        padding-top: 0;
        li{
          max-width: 50%;
          flex: 50%;
          padding: 10px;
           .a_card{
            width: 35vw;
            height: 35vw;
            margin: 0 auto;
            padding-top: 25px;
            .img-box{
              width: 70%;
            }
            p{
              padding: 10px 0;
              font-size: 15px;
            }
          }
        }
      }
      @media (max-width: 499px) {
        li{
          .a_card{
            padding-top: 20px;
          }
        }
      }
    }
    @media (max-width: 599px) {
      &::after {
        height: 60vw;
        bottom: 150px;
      }
    }
    @media (max-width: 499px) {
      &::after {
        bottom: 200px;
      }
      .block-box{
        min-height:720px ;
      }
    }
  }
  .contact-form{
    background: url(../images/bg_contact.jpg) center center no-repeat;
    background-size: cover;
    padding: 40px 0;
    .box-w{
      width: 100%;
      max-width: 700px;
      background-color: #ffffffc4;
      box-shadow: 0 3px 5px #00000029;
      padding:50px;
      margin: 0 auto;
    }
    .form-contents{
      width: 100%;
      .field{
        width: 100%;
        padding: 5px 0;
        label{
          font-size: 15px;
          .label_title{
            line-height: 1.5;
          }
          .required{
            color: #FF0000;
            padding: 0 5px;
          }
        }
        .fillin{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          padding: 5px 0px;
          input[type=text], textarea{
            width: 100%;
            padding: 8px 12px;
            line-height: 1.5;
            border: #E0E0E0 1px solid;
          }
          textarea{
            min-height: 138px;
          }
          .option-list{
            padding-right: 15px;
          }
        }
        .confirm{
          width: 100%;
          padding: 10px 0;
          li{
            width: 100%;
            padding: 2.5px 0;
            label{
              width: 100%;
              display: flex;
              flex-wrap: wrap;
            }
            input.the_checkbox{
              margin-top: 3px;
            }
            p{
              font-size: 14px;
              padding-left: 5px;
              max-width: calc(100% - 25px);
              a{
                color: #11948A;
                text-decoration: underline;
                &:hover{
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: 768px) {
      padding: 20px 0;
      .box-w{
        padding: 20px;
      }
      .form-contents{
        .field{ 
          label{
            font-size: 13px;
            p{
              font-size: 14px;
            }
          }
          .confirm{
            padding: 0;
            li p{
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
.footer-wrapper {
  width: 100%;
  background-color: #333333;
  p{
    font-size: 14px;
    color: #fff;
    a {
        color: #fff;
        &:hover {
          color: #03BAEB;
      }
    }
  }
  .text-info{
    font-size: 14px;
    padding-bottom: 15px;
  }
  .top-s-title{
    font-size: 12px;
    font-weight: bold;
    color: #9E9E9E;
    padding-bottom: 15px;
  }
  .flex-box{
    display: flex;
    flex-wrap: wrap;
  }
  .block-box {
    padding: 35px 20px;
  }
  .fbox{
    flex:calc(72% - 150px);
    align-items: center;
    vertical-align: text-top;
    padding-right: 10px;
  }
  .company-info{
    flex: 28%;
    .img-box{
      max-width: 150px;
      margin-bottom: 15px;
      a{
        display: block;
      }
    }
    .copyrights{
      font-size: 12px;
      color: #6E6E6E;
      a{
        color: #6E6E6E;
        &:hover{
          color: #03BAEB;
        }
      }
    }
  }
  ul.contact-list{
    width: 100%;
    li{
      padding-bottom: 12px;
      p{
        span{
          padding-left: 25px;
          position: relative;
          &::before{
            position: absolute;
            content: "";
            width: 13px;
            height: 13px;
            left: 0;
            top: 3px;
            background-repeat: no-repeat;
            background-position: center center;
          }
          &.tel::before{
            background-image: url(../images/icon_phone.svg);
          }
          &.location::before{
            width: 14px;
            background-image: url(../images/icon_location.svg);
          }
          &.mail::before{
            width: 14px;
            background-image: url(../images/icon_mail.svg);
          }
        }
      }
    }
  }
  .social-info{
    flex: 150px;
    ul.social-link{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      // flex-direction: row;
      vertical-align: middle;
      align-items: center;
      li{
        padding: 0 18px 10px 0;
        a{
          width: 30px;
          height: 30px;
          display: block;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          text-indent: -9999px;
          &.fb{
            background-image: url(../images/icon_facebook.svg);
            &:hover{
              background-image: url(../images/icon_facebook_blue.svg);
            }
          }
          &.youtube{
            background-image: url(../images/icon_youtube.svg);
            &:hover{
              background-image: url(../images/icon_youtube_blue.svg);
            }
          }
          // img{
          //   width: 100%;
          // }
          // &:hover{
          //   color:#11948A;
          // }
        }
      }
    }
  }
  @media (max-width: 700px){
    .flex-box{
     flex-direction: column;
     text-align: center;
     .fbox{
      padding-bottom: 25px;
      .text-info{
        padding-bottom: 5px;
        line-height: 1.6;
        .br{
          display: block;
        }
      }
     }
    } 
    .company-info .img-box{
      margin: 0 auto 15px auto
    }
    .contact-list li p{
      font-size: 14px;
    }
    .social-info ul.social-link{
      justify-content: center;
      li{
        padding:0px 10px;
      }
    }
  }
}
.footer-bg-w{
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  .block-box{
    padding: 15px 20px;
  }
  .copyrights{
    color: #6E6E6E;
    font-size: 12px;
    @media (max-width: 700px) {
      text-align: center;
    }
  }
}




.c_red {
  color: #f55b6b;
}
.c_purple {
  color: #5b39cc;
}
.c_green {
  color: #11948A;
}

.abox {
  position: relative;

}
