@charset "utf-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&family=Roboto&display=swap");

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}
input,
textarea {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
abbr,
acronym {
  border: 0;
}
img {
  vertical-align: middle;
}
* {
  -webkit-text-size-adjust: none;
}

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .clearfix {
  height: 1%;
}
*:first-child + html .clearfix {
  min-height: 1%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
select,
input,
textarea,
button {
  font-family: 'Roboto', 'Noto Sans TC', 'Arial', '微軟正黑體', '新細明體', 'sans-serif'; 
  font-weight: normal;
  color: #333;
}
p {
  font-size: 15px;
}
a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
a:hover {
  text-decoration: none;
}
*:link,
*:visited,
*:hover,
*:active,
*:focus,
* {
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.an-repeat {
  animation-iteration-count: infinite;
}
.btn{
  padding:5px 10px;
  text-align: center;
  p {
      font-size: 16px !important;
      font-weight: 500;
      display: inline-block;
      margin: 5px 10px;
      

    a {
      min-width: 165px;
      text-align: center;
      background: linear-gradient(to right, rgba(0, 175, 222, 1) 0%, rgba(82, 207, 242, 1) 100%);
      border-radius: 80px;
      padding: 15px 10px;
      color: #fff;
      display: inline-block;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      align-items: center;
      align-content: center;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      &:hover {
        .icon {
          padding: 0 0px 0 20px;
        }
      }
    }

    &.w_line {
      a {
        border-color: #fff;
        color: #fff;
      }
    }
  }
  span {
    flex: auto;
    &.text {
      text-align: right;
    }
  
    &.icon {
      font-size: 13px;
      padding: 0 5px;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
  }
  button{
    font-size: 16px;
    font-weight: 500;
    min-width: 165px;
    text-align: center;
    background: linear-gradient(to right, rgba(0, 175, 222, 1) 0%, rgba(82, 207, 242, 1) 100%);
    border-radius: 80px;
    padding: 15px 10px;
    color: #fff;
    display: inline-block;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    align-items: center;
    align-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;
    display: inline-block;
    span {
      flex: auto;
    }
    &:hover {
      .icon {
        padding: 0 0px 0 20px;
      }
    }
    @media (max-width: 1000px) {
      padding: 10px;
      font-size: 14px;
    }
  }
  @media (max-width: 1000px) {
    padding: 15px 10px;

    p {
      font-size: 14px !important;

      span.icon {
        font-size: 12px;
      }

      a {
        padding: 10px;
        // min-width: 125px;
      }
    }
  }  
}
.btn-line {
  padding: 10px;
  text-align: center;

  p {
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    margin: 10px;
    a {
      min-width: 165px;
      text-align: center;
      border: 1px solid #1E56AB;
      padding: 8px 10px;
      color: #1E56AB;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      align-items: center;
      align-content: center;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      &:hover {
        color: #fff;
        background-color: #1E56AB;
      }
    }
  }
}
.menu-btn {
  background: none;
  display: none;
  padding-left: 0;
  span {
    width: 42px;
    height: 24px;
    background: url(../images/bars-solid.svg) center center no-repeat;
    background-size: 40%;
    display: block;
    cursor: pointer;
  }
  @media (max-width:900px) {
    display: block;
  }
}
.img-box{
  img{
    width: 100%;
  }
}

// a.go_top {
//   cursor: pointer;
//   position: fixed;
//   bottom: 50px;
//   right: 18px;
//   z-index: 15;
//   width: 60px;
//   color: #fff;
//   background-color: #c3c3c3;
//   opacity: 0;
//   font-size: 18px;
//   line-height: 60px;
//   text-align: center;
//   height: 60px;
//   display: block;
//   border-radius: 50%;
//   background-color: #46d7d1;
//   @media (max-width: 700px) {
//     a.go_top {
//       width: 44px;
//       height: 44px;
//       line-height: 44px;
//     }
//   }
// }


/*===== start ======*/
.block-box{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding:40px 20px;
  position: relative;
  @media (max-width: 768px) {
    padding: 20px;
  }
}
.top-line{
  border-top: 1px solid #AFAFAF;
}

.flex-box{
  display: flex;
  flex-wrap: wrap;
}
.box-center{
  display: flex;
  align-items: center;
  align-content: center;
}
// header
.header-wrapper {
  width: 100%;
  top: 0;
  position: sticky;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 100;
  .block-box{
    padding:15px 20px;
  }
  .logo {
    width: 100%;
    max-width: 165px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    img{
      width: 100%;
    }
    a {
      display: inline-block;
    }

    p {
      display: inline-block;
      line-height: 30px;
      vertical-align: bottom;
      padding-left: 10px;
      font-size: 13.5px;
      letter-spacing: 5px;
      color: #666666;
    }
  }
  .menu {
    padding-left: 20px;
    display: flex;
    margin-left: auto;
    align-items: center;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        display: inline-block;
        p {
          font-size: 14px;
          a {
            padding:8px 18px;
            color: #333;
            display: inline-block;
            cursor: pointer;
            &:hover {
              color: #00AFDE;
            }
            &.line{
              margin-left: 5px;
              border:#333 solid 1px ;
              border-radius: 50px;
            }
            &.line:hover{
              border-color:#00AFDE; ;
            }
          }
        }
      }
    }

    @media (max-width: 1000px) {
      ul li p a {
        padding: 8px 10px;
      }
    }
    @media (max-width: 900px) {
      display: none;
    }
  }
  // .language{
  //   display: flex;
  //   margin-left: auto;
  //   position: relative;
  //   a{
  //     font-size: 12px;
  //     color: #fff;
  //     &.choosing{
  //       line-height: 30px;
  //       padding: 0 10px;
  //       i{
  //         pointer-events: none;
  //       }
  //     }
  //     span{
  //       padding: 0 10px;
  //     }
  //   }
  //   .language-list{
  //     position: absolute;
  //     right: 0;
  //     top: 35px;
  //     display: none;
  //     ul{
  //       width:85px;
  //       background-color: #333333c4;
  //       border-radius: 10px;
  //       li{
  //         border-bottom: 1px solid #99999957;
  //       }
  //       p{
          
  //         text-align: center;
  //         a{
  //           display: inline-block;
  //           padding:10px;
  //           &:hover{
  //             color: #11948A;
  //           }
  //         }
  //       }
  //     }
      
  //   }
  // }
  @media (max-width: 900px) {
    .block-box{
      padding: 12px 12px 12px 6px;
    }
    .logo{
      max-width: 130px;
      margin: 0 calc(50% - 65px) 0 auto;
    }
  }
}
@mixin stickyPosition {
  -webkit-position: sticky;
  -moz-position: sticky;
  -ms-position: sticky;
  -o-position: sticky;
  position: sticky;
}

@mixin box-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

@mixin has-box-shadow {
  box-shadow: rgba(rgba(0, 0, 0, 0.2), 0.16) 0px 3px 6px;
}
@mixin img-default{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-wrapper{
  width: 100%;
  
  .section-wrap{
    padding: 0;
    margin: 0;
    width: 100%;
    .block-box{
      max-width: 1200px;
      .img-box{
        padding: 20px 0;
      }
    }
    // 1
    .main-title{
      p{
        font-size: 16px;
      }
      h3{
        padding: 15px 0;
        font-weight: bold;
        font-size: 26px;
      }
      h4{
        padding: 15px 0;
        font-weight: bold;
        font-size: 16px;
        padding-bottom: 20px;
        line-height: 1.8;
      }
      @media (max-width: 760px){
        p{
          font-size: 13px;
        }
        h3{
          font-size: 22px;
        }
      }
      @media (max-width: 599px){
        h3{
          font-size: 20px;
        }
      }
    }
    .k100-title{
      h3, p{
        color: #333 !important;
        text-shadow: none !important;
      }
    }
    // 2
    .text-contents{
      p{
        font-size: 16px;
        font-weight: 500;
        // text-align: justify;
        line-height: 1.8;
      }
      ul.list-ol-d{
        list-style-type:disc;
        padding-left: 15px;
        font-size: 25px;
        color: #00AFDE;
        li{
          padding-bottom: 10px;
        }
      }
      @media (max-width: 760px){
        padding:5px 15px 20px 15px;
        p {
          font-size: 14px;
          line-height: 1.5;
        }
      }
    }
    // 3
    .text-center{
      text-align: center;
    }
    .text-right{
      text-align: right;
    }
  }
  .home-3d-wrap{
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    .block-box{
      position: initial;
      max-width: 1440px;
    }
    .maintitle{
      left: 5%;
      top: 5%;
      z-index: 5;
      position: absolute;
      background-color: #00AFDE;
      h1{
        color: #fff;
        font-size: 26px;
        font-weight: bold;
        padding-bottom: 10px;
      }
      h2{
        color: #fff;
        font-size: 18px;
        font-weight: bold;
      }
      .text{
        position: relative;
        padding: 30px 40px 30px 55px;
        &::after{
          content: "";
          position: absolute;
          left: 25px;
          top: 22px;
          width: 8px;
          height: 125px;
          display: block;
          background-color: #F9C300;
        }
      }
      
    }
    .img__3d{
      width: 100%;
      position: relative;
      .the_3dtitle_box{
        position: absolute;
        z-index: 3;
        background-color: #fff;
        border-radius: 18px; 
        @include has-box-shadow;
        .c_line{
          cursor: pointer;
          position: relative;
          .arr{
            padding: 10px;
            cursor: pointer;
            position: absolute;
            top: 2px;
            right: 5px;
            color: #03BAEB;
            z-index: 1;
            opacity: .5;
            pointer-events: none;
          }
          &:hover{
            .arr{
              opacity: 1;
            }
          }
          
          a{
            display: block;
            padding: 12px 20px;
            min-width: 180px;
            color: #03BAEB;
            border-radius: 18px;
            &:hover{
              background-color: #edfbff;
            }
            &.Selected{
              color: #fff;
              background-color: #03BAEB;
            }
          }

          &::after{
            content: "";
            position: absolute;
            top: 20px;
            right: -30px;
            height: 1.5px;
            width: 30px;
            display: block;
            background-color: #fff;
            @include has-box-shadow;
          }
          &::before{
            content: "";
            position: absolute;
            right: -48px;
            top:12px;
            width: 16px;
            height: 16px;
            display: block;
            border-radius: 50%;
            background-color: #F9C300;
            border: 2px solid #fff;
            @include has-box-shadow;
          }
        }
        .left_line{
          &::after{
            content: "";
            right: initial;
            left: -30px;
          }
          &::before{
            right: initial;
            left: -48px;
            top:12px;
          }
        }
        .show-text{
          border-top: 1px solid #CCEBF9;
          max-width: 320px;
          padding:15px 25px;
          max-height: 50vh;
          overflow-y: auto;
          h3{
            font-size: 13px;
          }
          .list-ol-d{
            font-size: 16px;
            li{
              padding-bottom: 5px;
              p{
                font-size: 12px;
                line-height: 1.5;
              }
            }
          }
        }
      }
      img{
        width: 100%;
      }
    }
  }
  .inside-3d-wrap{
    background-color: #F5F7F8;
    position: relative;
    .btn-return{
      position: absolute;
      left: 0;
      top: 15px;
      z-index: 5;
      a{
        width: 120px;
        height: 150px;
        display: block;
        background-image: url(../images/btn_return.png);
        @include img-default;
        position: relative;
        span{
          font-size: 15px;
          width: 75%;
          position: absolute;
          bottom: 18%;
          text-align: center;
          color: #fff;
          i{
            padding-right: 3px;
          }
        }
        &:hover{
          opacity: .9;
        }
      }
      @media (max-width: 700px){
        a{
          width: 70px;
          height:88px;
          span{
            font-size: 12px;
          }
        }
      }
    }
    .img__3d{
      width: 100%;
      position: relative;
      .the_3dtitle_box{
        position: absolute;
        z-index: 3;
        .c_line{
          position: relative;
          padding-bottom: 30px;
          a{
            background-color: #fff;
            display: block;
            border-radius: 18px; 
            padding: 12px 20px;
            min-width: 180px;
            color: #03BAEB;
            text-align: center;
            @include has-box-shadow;
            &:hover{
              background-color: #edfbff;
            }
            &.Selected{
              color: #fff;
              background-color: #03BAEB;
            }
          }

          &::after{
            content: "";
            position: absolute;
            left: calc(50% - 1px);
            height: 30px;
            width: 1.5px;
            display: block;
            background-color: #fff;
            @include has-box-shadow;
          }
          &::before{
            content: "";
            position: absolute;
            left: calc(50% - 10px);
            bottom: -19px;
            width: 16px;
            height: 16px;
            display: block;
            border-radius: 50%;
            background-color: #F9C300;
            border: 2px solid #fff;
            @include has-box-shadow;
          }
        }
      }
      img{
        width: 100%;
      }
    }
  }
  .bg-index{
    min-height:calc( 100vh - 112px);
    background: radial-gradient(ellipse at center,  rgba(245,247,248,1) 23%,rgba(160,233,255,1) 100%);
  }
  .submenu-wrap{
    background-color: #F2F2F2;
    @include has-box-shadow;
    .block-box{
      padding:16px 20px;
    }
    ul.submenu{
      text-align: center;
      li{
        padding: 0px 10px;
        display: inline-block;
        p{
          font-size: 15px;
          text-align: center;
          a{
            min-width: 120px;
            color: #333;
            display: block;
            padding:15px 25px;
            border-radius: 50px;
            background-color: transparent;
            &:hover{
              background-color: #fff;
              @include has-box-shadow;
            }
            &.Selected{
              color: #fff;
              background-color: #00AFDE;
            }
          }
        }
      }
      @media (max-width: 760px){
        li {
          padding: 0px 5px;
          p {
            font-size: 13px;
            a{
              padding: 10px 20px;
              min-width: 80px;
            }
          }
        }
      }
    }
  }
  .video-box{
    width: 100%;
    padding: 20px 0;
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        flex: 50%;
        padding: 20px;
        .a_video{
          width: 100%;
          display: block;
          background: #fff;
          border-radius: 10px;
          padding: 20px;
          box-shadow: 0 3px 5px #00000029;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          .text-contents{
            padding-bottom: 0;
            p{
              font-size: 18px;
              line-height: 1.5;
            }
          }
          .video{
            width: 100%;
          }
        }
      }
    }
    @media (max-width: 760px){
      padding:0;
      ul li{
        padding:15px 20px;
        flex: 100%;
        .a_video {
          padding-bottom: 10px;
          .text-contents {
            padding: 10px 0 0 0;
          }
        }
      }
    }
  }
  .download-box{
    width: 100%;
    padding-bottom: 20px;
    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      li{
        margin: 15px;
        .d-card{
          padding: 15px;
          background: #fff;
          border-radius: 4px;
          border: 1px solid #E0E0E0;
          @include has-box-shadow;
        }
        .a_cover{
          display: block;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          @include img-default;
          .img-box{
            width: 200px;
            height: 200px;
            position: relative;
          }
          .text-contents{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #00000020;
            padding-bottom: 0;
            .bg-k-10{
              width: 100%;
              height: 100%;
              position: relative;
            }
            p{
              width: 100%;
              font-weight: bold;
              color: #fff;
              text-shadow: 0 3px 5px #33333336;
              padding: 20px;
              position: absolute;
              bottom: 0;
              left: 0;
              text-align: center;
              font-size: 18px;
              line-height: 1.5;
            }
          }
        }
      }
    }
  }

  // 分頁
  .in-b-01{
    background-image: url(../images/main_banner/inside_01.png);
  }
  .in-b-02{
    background-image: url(../images/main_banner/inside_02.png);
  }
  .in-b-03{
    background-image: url(../images/main_banner/inside_03.png);
  }
  .in-b-04{
    background-image: url(../images/main_banner/inside_04.png);
  }
  .in-b-05{
    background-image: url(../images/main_banner/inside_05.png);
  }
  .in-b-06{
    background-image: url(../images/main_banner/inside_06.png);
  }
  .in-b-07{
    background-image: url(../images/main_banner/inside_07.png);
  }
  .in-b-08{
    background-image: url(../images/main_banner/inside_08.png);
  }
  .title-banner-wrap{
    position: relative;
    background-position:  center center;
    background-size: cover;
    background-repeat: no-repeat;
    &::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
      z-index: 0;
    }
    .block-box{
      min-height: 540px;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      .main-title{
        width: 100%;
        bottom: 0;
        right: 0;
        padding: 30px;
        z-index: 5;
        h3{
          line-height: 1;
          font-size: 50px;
          margin-bottom: 30px;
          color: #fff;
          text-transform: uppercase;
          font-weight: 900;
          font-family: 'Noto Sans TC', sans-serif;
          word-wrap: break-word;
          text-shadow: 0 3px 5px #33333336;
        }
        p{
          color: #fff;
          font-size: 16px;
          font-weight: 400;
          text-shadow: 0 3px 5px #33333336;
        }
      }
      .img-box {
        padding: 30px 0;
        margin: 0 auto;
    
        img {
          width: 100%;
    
        }
      }
    }
    @media (max-width: 768px) {
      .block-box{
        min-height: 260px;
        .main-title{
          h3{
            font-size: 50px;
          }
        }
      }
    }
    @media (max-width: 699px) {
      .block-box{
        min-height: 220px;
        .main-title{
          h3{
            font-size: 40px;
            margin-bottom: 15px;
          }
          p{
            font-size: 16px;
          }
        }
      }
    }
    @media (max-width: 499px) {
      .block-box{
        min-height: 150px;
        .main-title{
          h3{
            font-size: 30px;
            margin-bottom: 0;
          }
          p{
            font-size: 14px;
          }
        }
      }
    }
  }
  .block-both{
    display: flex;
    flex-wrap: wrap;
    .abox{
      flex: 50%;
      padding: 20px;
      .img-box {
        padding: 30px 0;
        margin: 0 auto;
    
        img {
          width: 100%;
    
        }
      }
    }
  }
  .block-both2{
    display: flex;
    flex-wrap: wrap;
    .abox{
      flex: 40%;
      padding: 20px;
      .img-box {
        padding: 30px 0;
        margin: 0 auto;
    
        img {
          width: 100%;
    
        }
      }
    }
    .abox:last-child{
      flex: 60%;
    }
    @media (max-width: 760px){
      .abox{
        flex: 100%;
        .img-box{
          padding: 0;
        }
      }
    }
  }
  .block-both3{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    .abox{
      flex: 40%;
      padding: 20px;
      .main-title{
        h3{
          font-size: 18px;
        }
      }
      .text-contents{
        ul.list-ol-d{
          padding-bottom: 15px;
          li{
            padding-bottom: 5px;
            p{
              line-height: initial;
            }
          }
        }
      }
      .img-box {
        padding: 0;
        margin: 0 auto;
    
        img {
          width: 100%;
    
        }
      }
    }
    .abox:last-child{
      flex: 60%;
      padding-left: 10%;
      margin-left: auto;
    }
    @media (max-width: 760px){
      .abox{
        flex: 100%;
        .img-box{
          padding: 0;
        }
      }
    }
  }
  .bg-gray{
    background-color: #F2F2F2;
  }
  .bg-light-gray{
    background-color: #FAFAFA;
  }
  .for-founder{
    .block-both{
      justify-content: center;
    }
    .abox{
      max-width: 400px;
    }
    .img-box{
      max-width: 250px;
      border-radius: 50%;
    }
    .text-name{
      font-size: 26px;
      font-weight: bold;
    }
    .text-contents{
      max-width: 575px;
      margin: 0 auto;
    }
   @media (max-width: 768px) {
      .text-contents {
        padding: 0;
      }
    } 
  }
  .bg-support{
    ul.support-list{
      display: flex;
      flex-wrap: wrap;
      padding-top: 40px;
      max-width: 1200px;
      margin: 0 auto;
      li{
        flex:33%;
        padding: 20px;
        .a_card{
          width: 236px;
          height: 236px;
          display: block;
          padding-top: 20px;
          border-radius: 50%;
          background-color: #fff;
          box-shadow: 0 3px 5px #00000029;
          .img-box{
            max-width: 60%;
            padding: 10px 0;
            margin: 0 auto;
            img{
              width: initial;
              max-height: 120px;
            }
          }
          p{
            width: 80%;
            margin: 0 auto;
            padding: 5px 15px;
            font-size: 17px;
          }
        }
      }
      @media (max-width: 768px) {
        padding-top: 0;
        li{
          max-width: 50%;
          flex: 50%;
          padding: 10px;
           .a_card{
            width: 37vw;
            height: 37vw;
            margin: 0 auto;
            padding-top: 25px;
            .img-box{
              width: 45%;
              img{
                width: 100%;
                min-height: initial;
              }
            }
            p{
              padding: 10px 0;
              font-size: 14px;
            }
          }
        }
      }
      @media (max-width: 499px) {
        li{
          .a_card{
            padding-top: 10px;
            p{
              padding: 0;
              font-size: 12px;
            }
          }
        }
      }
    }
    @media (max-width: 599px) {
      &::after {
        height: 60vw;
        bottom: 150px;
      }
    }
    @media (max-width: 499px) {
      &::after {
        bottom: 200px;
      }
      .block-box{
        min-height:720px ;
      }
    }
  }
  .contact-form{
    background: url(../images/bg_contact.png) left top no-repeat;
    background-size: cover;
    padding: 40px 0;
    .box-w{
      width: 100%;
      max-width: 700px;
      background-color: #ffffffc4;
      box-shadow: 0 3px 5px #00000029;
      padding:50px;
      margin: 0 auto;
    }
    .form-contents{
      width: 100%;
      .field{
        width: 100%;
        padding: 5px 0;
        label{
          font-size: 15px;
          .label_title{
            line-height: 1.5;
          }
          .required{
            color: #FF0000;
            padding: 0 5px;
          }
        }
        .fillin{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          padding: 5px 0px;
          input[type=text], textarea{
            width: 100%;
            padding: 8px 12px;
            line-height: 1.5;
            border: #E0E0E0 1px solid;
          }
          textarea{
            min-height: 138px;
          }
          .option-list{
            padding-right: 15px;
          }
        }
        .the_select{
          width: 100%;
          padding: 5px 0px;
          position: relative;
          select{
            width: 100%;
            border: #E0E0E0 1px solid;
            padding: 9px 12px;
            line-height: 1.5;
            -webkit-appearance: none; 
            -moz-appearance: none; 
            text-indent: 0.01px; 
            text-overflow: ' ';
            &::-ms-expand {
              display: none;
            }
          }
          &::after {
            content: "\f107";
            position: absolute;
            top:calc(50% - 8px);
            color: #555;
            right: 15px;
            display: inline-block;
            font-family: Font Awesome\ 5 Free;
            font-size: inherit;
            text-rendering: auto;
            font-weight: 900;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
        }
        .confirm{
          width: 100%;
          padding: 10px 0;
          li{
            width: 100%;
            padding: 2.5px 0;
            label{
              width: 100%;
              display: flex;
              flex-wrap: wrap;
            }
            input.the_checkbox{
              margin-top: 3px;
            }
            p{
              font-size: 14px;
              padding-left: 5px;
              max-width: calc(100% - 25px);
              a{
                color: #11948A;
                text-decoration: underline;
                &:hover{
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
      .field-both{
        display: flex;
        flex-wrap: wrap;
        .a___field{
          flex: 1;
          margin-right: 5px;
          &:last-child{
            margin-left: auto;
            margin-right:0;
            padding-left: 5px;
          }
        }
        .bg-border{
          line-height: 1.5;
          border: #E0E0E0 1px solid;
          background-color: #fff;
          margin: 5px 0;
          padding: 6px 12px
        }
        @media (max-width: 768px) {
          flex-direction: column;
          .a___field{
            margin-right: 0;
            &:last-child {
              margin: 0;
              padding-left: 0;
            }
          }
        }
      }
    }
    @media (max-width: 768px) {
      padding: 20px 0;
      .box-w{
        padding: 20px;
      }
      .form-contents{
        .field{ 
          label{
            font-size: 13px;
            p{
              font-size: 14px;
            }
          }
          .confirm{
            padding: 0;
            li p{
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .case-wrap{
    .block-box{
      padding: 0;
      max-width: 100%;
      position: relative;
      height: 808px;
      background: url(../images/bg_map.png) top center no-repeat #F2F2F2;
      .country_xy{
        position: absolute;
        text-align: center;
        cursor: pointer;
        .icon{
          width: 40px;
          height: 52px;
          margin: 0 auto;
          display: block;
          background-image: url(../images/icon_location_blue.png);
          background-position: center bottom;
          background-repeat: no-repeat;
          background-size: 70%;
        }
        .Selected{
          background-image: url(../images/icon_location_red.png);
          @include img-default;
        }
        p{
          padding-top: 10px;
          display: block;
        }
      }
      .case-list-box{
        width: 55%;
        max-width: 555px;
        height: 100%;
        overflow-y: auto;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        background-color: #00000010;
        .main-title{
          position: sticky;
          top: 0;
          background-color: #e3e3e3;
          padding:5px 10px;
        }
        ul.logos{
          padding: 20px;
          display: flex;
          flex-wrap: wrap;
          li{
            padding: 7.5px;
            .img-logo{
              flex: 1;
              width: 150px;
              height: 150px;
              display: block;
              border-radius: 20px;
              background-color: #fff;
              @include has-box-shadow;
              overflow: hidden;
              img{
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}


.footer-wrapper {
  width: 100%;
  background-color: #333333;
  p{
    font-size: 14px;
    color: #fff;
    a {
        color: #fff;
        &:hover {
          color: #03BAEB;
      }
    }
  }
  .text-info{
    font-size: 14px;
    padding-bottom: 15px;
  }
  .top-s-title{
    font-size: 12px;
    font-weight: bold;
    color: #9E9E9E;
    padding-bottom: 15px;
  }
  .flex-box{
    display: flex;
    flex-wrap: wrap;
  }
  .block-box {
    padding: 35px 20px;
  }
  .fbox{
    flex:calc(72% - 150px);
    align-items: center;
    vertical-align: text-top;
    padding-right: 10px;
  }
  .company-info{
    flex: 28%;
    .img-box{
      max-width: 150px;
      margin-bottom: 15px;
      a{
        display: block;
      }
    }
    .copyrights{
      font-size: 12px;
      color: #6E6E6E;
      a{
        color: #6E6E6E;
        &:hover{
          color: #03BAEB;
        }
      }
    }
  }
  ul.contact-list{
    width: 100%;
    li{
      padding-bottom: 12px;
      p{
        line-height: 1.5;
        span{
          padding-left: 25px;
          position: relative;
          &::before{
            position: absolute;
            content: "";
            width: 13px;
            height: 13px;
            left: 0;
            top: 3px;
            background-repeat: no-repeat;
            background-position: center center;
          }
          &.tel::before{
            background-image: url(../images/icon_phone.svg);
          }
          &.location::before{
            width: 14px;
            background-image: url(../images/icon_location.svg);
          }
          &.mail::before{
            width: 14px;
            background-image: url(../images/icon_mail.svg);
          }
        }
      }
    }
  }
  .social-info{
    flex: 150px;
    ul.social-link{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      vertical-align: middle;
      align-items: center;
      li{
        padding: 0 18px 10px 0;
        a{
          width: 30px;
          height: 30px;
          display: block;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          text-indent: -9999px;
          &.fb{
            background-image: url(../images/icon_facebook.svg);
            &:hover{
              background-image: url(../images/icon_facebook_blue.svg);
            }
          }
          &.youtube{
            background-image: url(../images/icon_youtube.svg);
            &:hover{
              background-image: url(../images/icon_youtube_blue.svg);
            }
          }
        }
      }
    }
  }
  @media (max-width: 700px){
    .flex-box{
     flex-direction: column;
     text-align: center;
     .fbox{
      padding-bottom: 25px;
      .text-info{
        padding-bottom: 5px;
        line-height: 1.6;
        .br{
          display: block;
        }
      }
     }
    } 
    .company-info .img-box{
      margin: 0 auto 15px auto;
    }
    ul.contact-list li p{
      font-size: 13px;
      span::before {
        top: .5px;
      }
    }
    .social-info ul.social-link{
      justify-content: center;
      li{
        padding:0px 10px;
      }
    }
  }
}
.footer-bg-w{
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  .block-box{
    padding: 15px 20px;
  }
  .copyrights{
    color: #6E6E6E;
    font-size: 12px;
    @media (max-width: 700px) {
      text-align: center;
    }
  }
}
.c_red {
  color: #f55b6b;
}
.c_purple {
  color: #5b39cc;
}
.c_green {
  color: #11948A;
}