@charset "utf-8";
/* 這個會影響整體style，好像會影響自訂內容 */
/* html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;} */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
input, textarea { margin:0; padding:0;}
* {-webkit-text-size-adjust:none;}
a{text-decoration:none;}
fieldset, img, abbr, acronym { border:0;}
ol, ul { list-style:none;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
* html .clearfix {height: 1%;}
*:first-child + html .clearfix { min-height: 1%;}

/* 這個會影響整體style，好像會影響自訂內容 */
/* body, h1, h2, h3, h4, h5, h6, p {font-family:'Roboto', 'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif; font-weight: normal; color: #333;} */
p{ font-size: 15px;}
a{ text-decoration:none; outline: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}

/* 這三行會導致版面抖動 */
/* a:hover{ text-decoration:none;} */
/* select, input, textarea, button {  font-family:'Roboto', 'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif;} */
/* *:link, *:visited, *:hover, *:active, *:focus , * {border: none;outline: none;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;} */
/* 但上三行註解掉，上方top-step的link會有線，所以又加回一些東西 */
*:link {border: none;outline: none;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;} 

html, body{ padding: 0; width: 100%; margin: 0; height: 100%; }


  .shop_contents{ width: 100%; padding: 0 15px; padding-top: 100px; max-width: 1100px; margin: 0 auto; }
  .top_step_contents{ width:100%;}
  
  .middle_contents{ max-width: 1100px; position: relative;  margin: 0 auto; padding-left: 140px; }
  .middle_contents .newLogo{ position: absolute; top: 15px; left: 15px; }
  .wellbox{ padding:15px 20px; background-color: #f5f5f5; border: 1px solid #e3e3e3;}
  .orderpreview h3.top_title{ margin: 0 0 25px 0; font-size: 20px; font-weight: bold; }
  .orderpreview h3.top_title span{ border-bottom: 2px solid #fddb5a; padding-bottom: 5px; }
  .orderpreview .a_list{ width: 100%; border-bottom: 1px dashed #bebebe; padding-bottom: 8px; margin-bottom: 8px; vertical-align: middle; }
  .orderpreview .a_list:last-child { border: none; }
  .orderpreview p{ width: calc(100% - 140px); float: left; padding: 5px 10px; height: 100%; margin: 0; }
  .orderpreview p.left_item{ float: left; width: 140px; background-color: #fddb5a;}


  .orderpreview {
    /*height: 100%;*/ /* Full-height: remove this if you want "auto" height */
    width: 355px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 9; /* Stay on top */
    top: 110px; /* Stay at the top */
    /*right: 0;*/
    /* left: 0; */
    /* Black */
    /* background-color: #CCC;  */
    text-align: center;
    overflow-x: hidden; /* Disable horizontal scroll */
    position: sticky; position: -webkit-sticky; position: -moz-sticky; position: -ms-sticky; position: -o-sticky;
    float: right;
  }
  .shop_contents .radio, .shop_contents .checkbox{ display: inline-block; }
  .shop_contents .form-inline .radio input[type="radio"], .shop_contents .form-inline .checkbox input[type="checkbox"]{ margin: 0 5px 0 15px; }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    padding: 10px 0 10px 0;
    color: white;
    text-align: center;
    z-index:10;
  }
  .footer p{ color: #fff; }

  .amount-text {
    vertical-align: bottom;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.1rem;
  }
  .header { width: 100%;  position: fixed; top: 0px; left: 0px; z-index: 11!important; background-color: #fddb5a;}
  .wrap {
    position: relative;
    max-width: 75rem;
    height: 3.125rem;
    margin: 0 auto;
  }
  .iiot-logo-image {
    height: 4.063rem;
    width: auto;
    /* width: 4.063rem; */
    max-width: 140px;
    max-height: 65px;
    position: absolute;
    z-index: 2;
    top: .3125rem;
  }

  a.mob_cart{ width: 30px; height: 40px; font-size: 24px; line-height: 40px; color: #333; display: none;  position: fixed; top: 20px; right: 15px; z-index: 20; }

  .iiot-estimate-form {
    margin: 30px 30px 100px 30px;
  }
  .iiot-main-form {
      float: left;
      max-width: calc(100% - 360px);
      padding: 0 15px 0 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1080px) {
      /* for nav bar */
    .stepwizard-step p {
      margin-top: 10px;
    }
  }
  @media (max-width: 900px) {
    .orderpreview { display: none; /*height: 80vh; */width: 100%; left: 0; top: 91px; position: fixed; overflow-y: auto; padding:0; box-shadow: 0 0 10px rgba(0,0,0,.2); }
    a.mob_cart{ display:block;  }
    .iiot-main-form{ max-width: 100%; padding: 0; }
  }
  @media (max-width: 768px) {
    .top_step_contents{ padding-right: 40px; }
    .iiot-main-form { margin: 0px 0 100px 0; padding: 0 10px 0 20px;}
    /* 手機版內容部分太少了，把文字隱藏 */
    .stepwizard-step p{ display: none; }
    .iiot-logo-image{ height: 3.3rem; }
    .shop_contents{ padding-top: 55px; }
    .middle_contents{padding-right: 30px;}
    .middle_contents .newLogo{ top: 0; }
    a.mob_cart{ top: 8px; right: 20px; }
    .orderpreview{ top: 50px; }
    .shop_contents .form-inline .radio input[type="radio"], .shop_contents .form-inline .checkbox input[type="checkbox"]{ margin: 4px 0px 0 -14px;}
    .shop_contents .radio label, .shop_contents .checkbox label{padding-right: 10px;}
  }
  @media (max-width: 650px) {
    .header{ width: 100%; text-align: center; top: 0; left: 0; }
    .stepwizard-step p{ display: none; }
    .shop_contents h1{ font-size: 30px; }
  }

  /* for nav bar */
  .stepwizard-step p {
    margin-top: 10px;
  }

  .stepwizard-row {
    display: table-row;
  } 

  .stepwizard {
    display: table;
    width: 100%;
    position: relative;
  }

  .stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
  }

  .stepwizard-row:before {
    top: 25px;
    left: 12.5%;
    position: absolute;
    content: " ";
    width: 75%;
    height: 1px;
    background-color: #fff;
    z-index: 1;
  }

  .stepwizard-step {
    padding: 10px 0;
    background-color: #fddb5a;
    width: 25%;
    display: table-cell;
    text-align: center;
    position: relative;
    padding-top: 40px;
  }

  .btn-circle {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    z-index: 2;
    left:calc(50% - 15px);
    top: 12px;
    opacity: 1;
  }
  .btn-step-primary {
    color: #fff;
    background-color: #333;
  }
  .btn-step-default{ color: #333; background-color: #fff; }
  .btn-step-info{ background-color: #03A9F4; color: #fff; border-color: #03A9F4; }
  .btn-step-info:hover{ opacity: initial; border-color: #03A9F4; background-color: #03A9F4; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn{ opacity: 1; }

  /* for nav bar end */


  /* 針對formio的調整 */
  /* required時候出現的　＊ */
  label.control-label.control-label--hidden.field-required {
    /* control-label隱藏的時候不要顯示* */
    display:none;
  }

  /* booking-addon 相關 */
  .booking-addon-radio input[type="radio"]{
    display: none;
    /* vertical-align: middle; */
  }

  .booking-addon-radio label {
    display: inline-block;
    /* background-color: #ddd; */
    /* padding: 4px 11px 4px 11px; */
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;

  }

  .booking-addon-radio.form-inline .form-group {
    display: block;
  }

  /* tooltip的區域放大 */
  .booking-addon-radio .tooltip-inner {
    max-width: 70%;
    width: 70%;
  }

  @media screen and (min-width: 768px) {
    .booking-addon-radio label.control-label.form-check-label {
      padding: 4px 11px 4px 11px;
      margin: 5px 10px 5px 10px;
      background-color: #ddd;
      text-align: center;
      width: 350px;
      height: 50px;
      /* display: inline-block; */
      display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;
    }
    
    .booking-addon-radio .form-check.radio.radio-selected label {
      padding: 4px 11px 4px 11px;
      margin: 5px 10px 5px 10px;
      background-color:#fddb5a;
      /* display: inline-block; */
      width: 350px;
      height: 50px;
      text-align: center;
      display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;
    } 
  }

  @media (max-width: 768px) {
    .booking-addon-radio label.control-label.form-check-label {
      padding: 4px 11px 4px 11px;
      margin: 0 10px 0 10px;
      background-color: #ddd;
      text-align: center;
      width: 95%;
      display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;
      /* height: 50px; */
      /* display: inline-block; */
    }
    
    .booking-addon-radio .form-check.radio.radio-selected label {
      padding: 4px 11px 4px 11px;
      margin: 0 10px 0 10px;
      background-color:#fddb5a;
      /* display: inline-block; */
      width: 95%;
      /* height: 50px; */
      text-align: center;
      display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;
    } 
  }
  

  /* booking-profile 相關 */
  /* 郵遞區號 required的星號調整 */
  .booking-jpzip1 .field-required:after {
    display:none;
  }
  /* 郵遞區號中間橫線的調整 */
  /* .booking-jpzip1 label.control-label.field-required { */
  .booking-jpzip1 label.control-label {
    padding: 10px 0 0 1px;
  }

  .booking-profile-radio input[type="radio"]{
    display: none;
    vertical-align: middle;
  }

  .booking-profile-radio label {
    display: inline-block;
    /* background-color: #ddd; */
    /* padding: 4px 11px 4px 11px; */
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;

  }

  .booking-profile-radio label.control-label.form-check-label {
    padding: 4px 11px 4px 11px;
    margin: 0 10px 0 0px;
    background-color: #ddd;
    text-align: center;
    width: 200px;
    height: 40px;
    display: inline-block;
    display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;
  }
  
  .booking-profile-radio .form-check.radio.radio-selected label {
    padding: 4px 11px 4px 11px;
    margin: 0 10px 0 0px;
    background-color:#fddb5a;
    display: inline-block;
    width: 200px;
    height: 40px;
    text-align: center;
    display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;
  } 

  /* booking profile的標題欄位微調 */
  .booking-profile-label {
    padding: 10px 0 0 0;
    vertical-align: middle;
  }


  /* booking logistic 欄位調整 */
  .booking-logistic-radio input[type="radio"]{
    display: none;
    /* vertical-align: middle; */
  }

  .booking-logistic-radio label {
    display: inline-block;
    /* background-color: #ddd; */
    /* padding: 4px 11px 4px 11px; */
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;

  }

  .booking-logistic-radio.form-inline .form-group {
    display: block;
  }

  .booking-logistic-radio label.control-label.form-check-label {
    padding: 4px 11px 4px 11px;
    margin: 5px 10px 5px 10px;
    background-color: #ddd;
    text-align: center;
    width: 110px;
    height: 40px;
    /* display: inline-block; */
    display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;
  }
  
  .booking-logistic-radio .form-check.radio.radio-selected label {
    padding: 4px 11px 4px 11px;
    margin: 5px 10px 5px 10px;
    background-color:#fddb5a;
    /* display: inline-block; */
    width: 110px;
    height: 40px;
    text-align: center;
    display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;
  } 

  /* booking-confirm相關 */
  /* table.table.table-bordered.table-condensed td {
    vertical-align: middle;
  } */
  /* table tr td:nth-child(even)  {
    background-color: #FF0000;

  }
  table tr td:nth-child(odd) {
    background-color: #fddb5a;
  } */
  table.table.table-bordered.table-condensed {
    /* 有時候滾輪不知道為啥會跑出來，把滾輪關掉 */
    overflow: hidden; 
  }
  table.table.table-bordered.table-condensed td:nth-child(odd) {
    width: 25%;
  }
  table.table.table-bordered.table-condensed tr td:nth-child(odd)  {
    padding: 10px 10px 0 10px; 
    /* vertical-align: middle; */
    background-color: #fddb5a;
  }
  table.table.table-bordered.table-condensed tr td:nth-child(even)  {
    padding: 10px 10px 0 10px;
  }
  table.table.table-bordered.table-condensed tr td dl {

    margin-bottom: 10px;
  }

  /* mobile版本應該不用報價單 */
  @media (max-width: 768px) {
    .booking-estimate {
      display: none;
    }
  }

  /* for button-outline for bootstrap 3 */
  .btn-outline-light {
    color: #d7dadc;
    background-color: transparent;
    background-image: none;
    border-color: #d7dadc;
  }
  .btn-outline-light:hover {
    background-color: #d7dadc;
    color: black;
  }
  
  .booking-estimate.btn-outline-light.btn[disabled] {
    color: #7a7a7b;
    background-color: transparent;
    background-image: none;
    border-color: #7a7a7b;
  }

  .btn-outline-dark {
    color: #3f3f3f;
    background-color: transparent;
    background-image: none;
    border-color: #3f3f3f;
  }
  .btn-outline-dark:hover {
    background-color: #3f3f3f;
    color: white;
  }
  
  .booking-estimate.btn-outline-dark.btn[disabled] {
    color: #3f3f3f;
    background-color: transparent;
    background-image: none;
    border-color: #3f3f3f;
  } 

  /* booking主要表單相關 */

  .booking-select-number input[type="radio"]{
    display: none;
    /* vertical-align: middle; */
  }

  .booking-select-number label {
    display: inline-block;
    /* background-color: #ddd; */
    /* padding: 4px 11px 4px 11px; */
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;

  }

  .booking-select-number.form-inline .form-group {
    display: block;
  }

  .booking-select-number label.control-label.form-check-label {
    padding: 4px 11px 4px 11px;
    margin: 5px 10px 5px 0px;
    background-color: #ddd;
    text-align: center;
    width: 80px;
    height: 40px;
    /* display: inline-block; */
    display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;
  }
  
  .booking-select-number .form-check.radio.radio-selected label {
    padding: 4px 11px 4px 11px;
    margin: 5px 10px 5px 0px;
    background-color:#fddb5a;
    /* display: inline-block; */
    width: 80px;
    height: 40px;
    text-align: center;
    display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;
  } 
