@font-face {
  font-family: 'cwTeXHei';  font-style: normal;  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}

@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote { margin:0;	padding:0;}
ol, ul {list-style:none;}
abbr, acronym { border:0;}
.CLEAR{ clear:both; height: 0; font-size: 0px; line-height: 0;}
.clearfix:after {content: "."; display: block; clear: both; visibility: hidden;	line-height: 0;	height: 0;}
body, h1, h2, h3, h4, h5, h6, p { font-family: 'Bitter',"微軟正黑體","Microsoft JhengHei", serif; -webkit-font-smoothing: antialiased;}
p{ font-size:15px; _font-size:14px; line-height:24px;/*font-family: 'Nunito', sans-serif;*/}
a{ text-decoration:none; outline: none; /* for Firefox */  hlbr:expression(this.onFocus=this.blur()); /* for IE */}
a:hover{ text-decoration:none;}
select, input, textarea{ font-family:"微軟正黑體","Microsoft JhengHei", serif; -webkit-font-smoothing: antialiased; font-size:15px;}
*:link, *:visited, *:hover, *:active, *:focus , * { -o-transition: color .20s linear, background-color .20s linear, border-color .20s linear; -webkit-transition: color .20s linear, background-color .20s linear, border-color .20s linear; -moz-transition: color .20s linear, background-color .20s linear, border-color .20s linear; transition: color .20s linear, background-color .20s linear, border-color .20s linear; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
* {-webkit-text-size-adjust:none;}
a{text-decoration:none;}
fieldset, img {border:0;}
ol, ul {list-style:none;}
abbr, acronym {border:0;}

.CLEAR{clear:both; height: 0; font-size: 0px; line-height: 0;}
.clearfix:after {  content: ".";  display: block;  height: 0;  clear: both;  visibility: hidden;}
* html .clearfix { height: 1%;}
*:first-child + html .clearfix  {min-height: 1%;}

/**gogogo**/
body{ background:url(../images/top_bg_00-1.jpg) 0 0 repeat; background-attachment: fixed; overflow-x: hidden; }

p.go_top{ position:absolute; right:2%; top:-320px; cursor:pointer; z-index:50; text-indent:-9999px;}
p.go_top a{ width:60px; height:60px; display:block; background:url(../images/top.png) 0 0 no-repeat;}

.ContentsBox{ width: 1200px; margin: 0 auto; }

.MainBanner{ width: 100%; min-height: 100vh; /*background: url(../images/br_01.jpg ) center top no-repeat #000; background-attachment: fixed*/;  position: relative;}
.MainBanner .ContentsBox { min-height: 100vh; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center /*min-height: 470px; padding-top: 20vh;*/}
.MainBanner .abox{ width: 90%; margin: 0 auto; }
.MainBanner h1{ width: 100%; height: 260px; display: block; background: url(../images/main_title.png ) center center no-repeat;  text-indent: -9999px; background-size:  contain;}
.MainBanner p.logo{ position: absolute;z-index: 1; left:10px; top: 4vh; width: 295px; height: 70px; display: block; background: url(../images/logo_wangSteak.png ) center top no-repeat;  text-indent: -9999px; background-size: contain; }
.MainBanner .img54{ position: absolute; z-index: 0; left: 20px; bottom:0; width: 16vw; height: 100%; max-height: 600px; display: block;  background: url(../images/img54.png ) left bottom no-repeat; background-size: contain;}
.MainBanner .img54_2{ position: absolute; z-index: 0; right: 20px; bottom:0; width: 16vw; height: 100%; max-height: 600px; display: block;  background: url(../images/img54_2.png ) right bottom no-repeat; background-size: contain;}

.MainBanner p.btn{ width: 100%; padding-top: 7vh; text-align:  center; font-size: 18px;  font-weight: bold; margin: 0 auto;}
.MainBanner p.btn a{ color: #dccba4; display: inline-block; text-align:  center;  padding: 10px 32px; border: 1px solid #dccba4; border-radius: 40px; margin: 0 5px; cursor: pointer; box-shadow: 0px 0px 15px rgba(0%,0%,0%,0.2);}
.MainBanner p.btn a:hover{ color: #fff; background-color: #b38342; border-color: #b38342; }

.DataBox{ width: 100%;position: relative; }
.DataBox .box_title{ width: 100%; border:1px solid #c49d65; border-width: 1px 0 1px 0; background: url(../images/sub_title_br.png) center top no-repeat;/* padding: 32px 0 34px 0;*/}
.DataBox .box_title h3{ width: 100%; max-width:600px; height:98px; display: block; background-position:  center center; background-repeat: no-repeat; margin: 0 auto ; text-indent: -9999px; }
.DataBox .box_title h3.t01{ background-image: url(../images/h3_title_01.png );  background-size: contain;}
.DataBox .box_title h3.t02{ background-image: url(../images/h3_title_02.png );  background-size: contain;}
.DataBox .box_title h3.t03{ background-image: url(../images/h3_title_03.png );  background-size: contain;}
.DataBox .box_title h3.t04{ background-image: url(../images/h3_title_04.png );  background-size: contain;}
.DataBox .box_title h3.t05{ background-image: url(../images/h3_title_05.png );  background-size: contain;}
.DataBox .box_title h3.t06{ background-image: url(../images/h3_title_06.png );  background-size: contain;}
.DataBox .box_title h3.t07{ background-image: url(../images/h3_title_07.png );  background-size: contain;}
.DataBox .box_title h3.t08{ background-image: url(../images/h3_title_08.png );  background-size: contain;}
.DataBox .p_subtitle{ width: 100%; border-bottom: 1px solid #c49d65;}
.DataBox .p_subtitle p{ width: 90%; color: #f4d5a7; font-size: 18px;  line-height: 36px; padding: 15px 0; text-align: center; font-weight: normal; margin: 0 auto;}
.DataBox .p_subtitle p.t01{ max-width: 605px; }
.DataBox .p_subtitle p.t01 span.p1{ display: block; }
.DataBox .p_subtitle p.t01 span.comma{display: none;}

.PreferentialBox{ background: url(../images/br_04.jpg ) center center no-repeat #000; padding: 55px 0 0 0 ;}
.PreferentialBox h4{ width: 100%; height: 36px; display:block; text-indent: -9999px; background: url(../images/h3_title_02_sub.png) center center no-repeat; background-size: contain;  }
.PreferentialBox p.experience{ color: #fff; text-align: center;  font-size: 18px; line-height: 36px;  padding: 20px 0; text-shadow: 0px 0px 5px rgba(0,0,0,0.1);}
.PreferentialBox p.experience span.c01{ color: #f2bdbd; }
.PreferentialBox p.experience span.c02{ color: #daaf71; }
.PreferentialBox p.btn{ padding-top: 30px; font-size: 19px; font-weight: bold; text-align: center; margin: 0 auto 40px auto; }
.PreferentialBox p.btn a{ border: 1px solid #fff; padding: 10px 32px; color: #fff; }
.PreferentialBox p.btn a:hover{ color: #fff; background-color: #a50e0e; border-color: #a50e0e; }
.PreferentialBox p.ex{ width: 100%; background-color: #000; text-align: center; padding: 30px 0; font-size: 12px; color: #fff; }

.DataBox .box_title p{ color: #f4d5a7; font-size: 18px;  line-height: 36px; padding: 20px 0; text-align: center; font-weight: normal; margin: 0 auto;}
.DataBox .sub_box_title{ width: 100%; background: url(../images/br_k.png) 0 0 repeat; padding: 25px 0; position: absolute; top: 100px; z-index: 10;}
.DataBox .sub_box_title p{ text-align: center; color: #fff; line-height: 36px; font-size: 20px; }
.videoBox{padding: 60px 0;}
.videoBox iframe{ width: 90%; height: 90vh; margin: 0 auto; display: block; min-height: 315px; }


.map{ padding: 50px 0; }
.map .mBox{ width: 100%; padding: 20px 0;}
.map .mBox .lBox{  width: 48%; float: left; }
.map .mBox .rBox{  width: 48%; float: right; }
.map .mBox h4{ color: #fbf7f8; font-size: 17px; padding: 20px 0 5px 0; font-family: "微軟正黑體",'SabonLTStd-Roman','Hiragino Mincho ProN', 'MingLiU', "MS PMincho", "MS 明朝" ,'LiHeiPro', Helvetica, Arial, sans-serif; }
.map .mBox p{ color: #fbf7f8; font-size: 14px; padding-bottom: 10px; }
.map iframe{ width: 100%; height: 350px;}
.map a.p_www{ color: #9f9f9f; font-size: 12px; display: block;}
.map a.p_www:hover{ text-decoration: underline; }

p.btn_more{ text-align: center;font-size: 18px; font-weight: bold;}
p.btn_more a{padding: 12px 40px 12px 25px;  max-width: 100px; color: #e0a715; display: block; border: 1px solid #fff; margin: 0 auto;}

.map p.btn_more{ width: 100%; padding: 10px 0;}
.map p.btn_more a{ float: right; padding: 12px 50px; border:1px solid #fff;  background-color: transparent; color: #fff;}
.map p.btn_more a:hover{ background-color: #fff; color: #000; }

.map2{ max-width: 100%; overflow-y: hidden; display: block; width: 100%; }
.map2 .mBox{ width: 100%; position: relative; min-height: 450px;}
.map2 .mBox p{ padding: 20px 0; color: #fbf7f8; font-size: 15px; }
.map2 .mBox .btnBox{ position: absolute; right: 120px; top:155px; width: 152px; height: 246px; border-radius: 200px; padding: 0 47px; background: url(../images/br_k.png) 0 0 repeat;display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center}
.map2 .mBox .btnBox .bothBox{}
.map2 iframe{ width: 100%; height: 450px; position: absolute; top:0;}

.map2 a.p_www{ color: #9f9f9f; font-size: 12px; display: block; padding-top: 10px;}
.map2 a.p_www:hover{ text-decoration: underline; }

p.btn_more{ text-align: center;font-size: 18px; font-weight: bold;}
p.btn_more a{padding: 12px 40px 12px 25px;  max-width: 100px; color: #f4b4cf; display: block; border: 1px solid #f4b4cf; margin: 0 auto;}

.map2 p.btn_more{ width: 100%; padding: 10px 0;}
.map2 p.btn_more a{ float: right; padding: 10px 41px; border:1px solid #f9c957;  background-color: transparent; color: #f9c957;}
.map2 p.btn_more a:hover{ background-color: #f9c957; color: #222; }

.Chef{ overflow: hidden; }
.Chef ul.ChefBox{ width: 100%; }
.Chef ul.ChefBox li{ float: left; width: 50%; height: 420px; overflow: hidden;display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center}
.Chef ul.ChefBox li.food_01{ background: url(../images/food_01.jpg) center center no-repeat; background-size: cover;}
.Chef ul.ChefBox li.food_02{ background: url(../images/food_02.jpg) center center no-repeat; background-size: cover;}
.Chef ul.ChefBox li.food_03{ background: url(../images/food_03.jpg) center center no-repeat; background-size: cover;}
.Chef ul.ChefBox li.food_04{ background: url(../images/food_04.jpg) center center no-repeat; background-size: cover;}
.Chef ul.ChefBox li.food_05{ background: url(../images/food_05.jpg) center center no-repeat; background-size: cover;}
.Chef ul.ChefBox li.food_06{ background: url(../images/food_06.jpg) center center no-repeat; background-size: cover;}

.Chef ul.ChefBox li .info{max-width: 90%; width: 100%;}
.Chef ul.ChefBox li .info p{ text-align: center; padding-bottom:15px; color: #fff; font-size: 16px; /*font-family: 'cwTeXHei', serif;*/font-weight: normal; font-family: 微軟正黑體, SabonLTStd-Roman, "Hiragino Mincho ProN", MingLiU, "MS PMincho", "MS 明朝", LiHeiPro, Helvetica, Arial, sans-serif;}
.Chef ul.ChefBox li .info b{ font-size: 26px; font-weight: normal; line-height: 40px;}


.Chef ul.ChefBox li p.btn_more a{ color: #fff;  background: url(../images/arr_w.png) center center no-repeat transparent; background-size: contain; border: 1px solid #fff; }
.Chef ul.ChefBox li p.btn_more a:hover{ color: #fff;  background: url(../images/arr_w.png) center center no-repeat #e0a715; background-size: contain; border: 1px solid #e0a715; }

.pop_info h4{ color: #000; font-size: 20px; text-align: center;   padding: 10px 0;}
.pop_info h5{ color: #D85529; text-align: center;}
.pop_info p{ width: 90%; margin: 0 auto;  padding: 10px 0; color: #535353; }

.slides li{ height:490px;}
.banner_food_01{ background: url(../images/banner_01.jpg) center center no-repeat;}
.banner_food_02{ background: url(../images/banner_02.jpg) center center no-repeat;}
.banner_food_03{ background: url(../images/banner_03.jpg) center center no-repeat;}
.banner_food_04{ background: url(../images/banner_04.jpg) center center no-repeat;}
.banner_food_05{ background: url(../images/banner_05.jpg) center center no-repeat;}
.banner_food_06{ background: url(../images/banner_06.jpg) center center no-repeat;}

.ArticlesList{ overflow:hidden;}
.slides li .info{ width:100%; max-width: 700px; margin: 9vh auto 0 auto; min-height:140px; padding:20px;	clear: both; /*background: url(../images/br_k.png) 0 0 repeat;*/}
.slides li .info h3{ color: #e2cfa6; width:100%; font-family: "微軟正黑體",'SabonLTStd-Roman','Hiragino Mincho ProN', 'MingLiU', "MS PMincho", "MS 明朝" ,'LiHeiPro', Helvetica, Arial, sans-serif; text-align: center; /*height: 80px;*/ font-size: 28px; font-weight: bold;/* text-indent: -9999px*/;text-shadow: 0px 0px 10px rgba(0,0,0,0.5);margin: 0; /*font-family: 'cwTeXHei', serif;*/}
.slides li .info h3 span{ font-weight: normal; font-size: 18px; }
/*.slides li .info h3.t01{ background: url(../images/banner_title_01.png) center center no-repeat; background-size: contain;  }
.slides li .info h3.t02{ background: url(../images/banner_title_02.png) center center no-repeat; background-size: contain;  }
.slides li .info h3.t03{ background: url(../images/banner_title_03.png) center center no-repeat; background-size: contain;  }
.slides li .info h3.t04{ background: url(../images/banner_title_04.png) center center no-repeat; background-size: contain;  }*/
.slides li .info p { color: #fff; text-shadow: 0px 0px 10px rgba(0,0,0,0.4); line-height: 28px; padding-top: 20px; font-size: 17px; text-align: center; margin: 0 auto;}
.slides li .info p.btn{ padding-top: 30px; }
.slides li .info p.btn a{ border: 1px solid #fff; padding: 8px 32px; color: #fff; }

.br00{ background:url(../images/top_bg_00.jpg) 0 0 repeat; background-attachment: fixed; }
.br01{ background:url(../images/light_wool.png) 0 0 repeat; background-attachment: fixed; }
.br02{ background:url(../images/lightpaperfibers.png) 0 0 repeat; background-attachment: fixed; }
.br03{ background:url(../images/gplaypattern.png) 0 0 repeat; background-attachment: fixed; }

.foodinfo{ overflow: hidden; }
.foodinfo .aBox{ width: 100%; position: relative;}
.foodinfo .aBox .photo{ width: 100%; max-width: 527px; position:absolute;}
.foodinfo .aBox .photo .pBox{ width: 100%; position: relative; }
.foodinfo .aBox .photo .pBox h4.tilte{ position: absolute; width: 144px; display: block; height: 144px; text-indent: -9999px;}

.foodinfo .r01 .photo .pBox h4.tilte{ top: 36px; right: -50px;  background: url(../images/h4tilte_01.png) center center no-repeat; background-size: contain; }
.foodinfo .r02 .photo .pBox h4.tilte{ top: 36px; left: -50px;  background: url(../images/h4tilte_02.png) center center no-repeat; background-size: contain;}

.foodinfo .aBox .info{ width: 100%; max-width: 590px; padding: 20px 0;}
.foodinfo .aBox .info .topTitleBox{ width: 100%; border-bottom: 1px solid #4d4a44;  padding: 8px 0; margin-bottom: 15px;}
.foodinfo .aBox .info .topTitleBox h5.subTitle{ text-indent: -9999px; float: left; width: 144px; height: 56px; display: block; }
.foodinfo .aBox .info .topTitleBox p{ float: left;  color: #ff0042; font-size: 18px; padding-top: 20px; padding-left: 10px; font-weight: bold;}
.foodinfo .aBox .info p{color: #f6f5f0; font-size: 20px; line-height: 36px;}

.foodinfo .r01 .photo {left: -100px; top: 70px;}
.foodinfo .r01 .info{ float: right; margin:200px 100px 300px 0; }
.foodinfo .r01 .info .topTitleBox h5.subTitle{ background: url(../images/h5_subtitle_r1.png) center center no-repeat; background-size: contain; }
.foodinfo .r02 .photo {right: -100px; top: -200px;}
.foodinfo .r02 .info{ margin:0 0 200px 60px; display: block; }
.foodinfo .r02 .info .topTitleBox h5.subTitle{ background: url(../images/h5_subtitle_r2.png) center center no-repeat; background-size: contain; }

.ChefIntroduced{ width: 100%; background: url(../images/br_03.jpg) center center no-repeat; background-size: cover ;padding: 45px 0; background-attachment: fixed;}
.ChefIntroduced h4{ width: 100%; height: 36px; text-indent: -9999px; display:block; background: url(../images/h3_title_01_sub.png) center center no-repeat; background-size: contain;  }
.ChefIntroduced p.experience{ max-width: 445px; text-shadow: 0px 0px 5px #555; margin: 0 auto; font-size: 18px; line-height: 36px; color: #fff; padding: 30px 0;}
.ChefIntroduced ul{ width: 100%; padding-top: 30px;}
.ChefIntroduced ul li{ width: 25%; float: left; }
.ChefIntroduced ul li p{ text-align: center; color: #fff; font-size: 15px; }

.footerBox{ border-bottom: 94px solid #c49d65; padding:80px 0 50px 0;}
.footerBox .ContentsBox{ position: relative;}
.footerBox .fbBox{ width: 337px; height: 400px;position: absolute; bottom: -144px; right: 0; box-shadow: 0px 0px 15px rgba(0%,0%,0%,0.2);  }
.footerBox .fbBox iframe{ width: 100%; height: 400px; }
.footerBox .logoimg{ float: left; max-width: 180px; padding-right: 60px; }

.footerBox .infoBox{ float: left; max-width: 400px; }
.footerBox .infoBox p{ color: #404040; font-size: 17px; line-height: 30px; }
.footerBox .infoBox p span.ss{font-size: 14px;}
.footerBox .infoBox p span.red{ color: #da022b; font-weight: bold; }
.footerBox .infoBox p.btn{ font-size: 16px; padding: 30px 0; font-weight: bold; }
.footerBox .infoBox p.btn a{ cursor: pointer; color: #b98d4e; padding: 10px 20px; border: 1px solid #b98d4e; margin-right: 10px;} 
.footerBox .infoBox p.btn a:hover{ background-color: #b98d4e; color: #fff; }

.mediaBox{ width: 100%; background:url(../images/media/br.jpg) center center no-repeat; background-attachment: fixed; }
.mediaBox ul.MBox{ width: 100%; margin: 0 auto; padding: 20px 0; max-width: 1870px;}
.mediaBox ul.MBox li{ float: left; width: 18%; padding: 0 1%; }
.mediaBox ul.MBox li a{ display: block; padding: 10px 0; width: 100%; }
.mediaBox ul.MBox li a.mob{ display: none; }
.mediaBox ul.MBox li a:hover{ opacity: .8; }

/*RWD*/
@media (max-width:1880px){.mediaBox ul.MBox{ width: 90%; }}
@media (max-width:1535px){.MainBanner h1{height: 230px;} /*.MainBanner .img54, .MainBanner .img54_2{ max-height: 380px;}*/}
@media (max-width:1440px){.map2 .mBox .btnBox{ right: 150px;}}
@media (max-width:1300px){.map2 .mBox .btnBox{ right:100px; }}
@media (max-width:1280px){.MainBanner .img54, .MainBanner .img54_2 { max-height: 500px; }}
@media (max-width:1215px){.ContentsBox{ width: 90%;}.map2{width: 100%;}}
@media (max-width:1200px){
	.map2 .mBox .btnBox{ right:5%; }
	.foodinfo .r01 .info{margin-right: 0;}
	.foodinfo .r02 .info{margin-left: 0;}
	.videoBox iframe{height: 60vh;}
	}
@media (max-width:1140px){.foodinfo .aBox .photo{ max-width: 400px; }}
@media (max-width:1100px){.footerBox .logoimg{ max-width: 120px; padding-right: 20px; }}
@media (max-width:1080px){.DataBox .box_title p.t02{ width:75%; }}
@media (max-width:1050px){.MainBanner .img54, .MainBanner .img54_2 { max-height: 420px; }}
@media (max-width:1000px){
	.foodinfo .aBox .info{max-width: 400px;}
	.footerBox .logoimg{ float: none; }
	.footerBox{padding-top: 40px;}
}

@media (max-width:980px){.mediaBox ul.MBox li{ width: 31%; }}
@media (max-width:850px){
	/*.MainBanner {background: url(../images/br_01_M.jpg) center top no-repeat #000; background-size: cover;}*/
	.map2 .mBox .btnBox{ right: 72px;}
	.footerBox{ padding-bottom: 0; border-bottom: 40px solid #c49d65;}
	.footerBox .logoimg{ margin: 0 auto; padding-right: 0; }
	.footerBox .infoBox{ float: none; margin: 0 auto; max-width: 100%; }
	.footerBox .fbBox{position: initial;margin: 0 auto;}
	.footerBox .infoBox p{ text-align: center; font-size: 16px;}
	.videoBox iframe{height:initial;}
}
@media (max-width:840px){.foodinfo{padding: 40px 0;}
	.foodinfo .aBox .photo,.foodinfo .aBox .info { position: initial; margin: 0 auto;}
	.foodinfo .aBox .info{ float: none; max-width: 90%;}
	.foodinfo .r01 .photo .pBox h4.tilte{ right: initial; right: -35px; top: initial; bottom: -45px; }
	.foodinfo .r01 .info{ padding-bottom: 50px; }
	.MainBanner p.btn{max-width: 300px;}
	.MainBanner p.btn a{ width:calc(46% - 2px); display: block; float: left; padding: 10px 0; margin: 5px 2%;}
}
@media (max-width:800px){
	.DataBox .box_title p.t01{ width:75%; }
	.mediaBox ul.MBox li{ width: 48%; }
	.mediaBox ul.MBox li a.pc{ display: none; }
	.mediaBox ul.MBox li a.mob{ display: block; }
}
@media (max-width:700px){
	.map .mBox .lBox, .map .mBox .rBox{ width: 100%; float: none;}
	.map .mBox{padding: 0;}
	.map .mBox p{padding-bottom: 15px;}
	.map p.btn_more{ width: 50%; float: left; }
	.map p.btn_more a{ float: none; }
}


@media (max-width:699px){.ChefIntroduced ul li{ width: 50%; padding-bottom: 20px; }}
@media (max-width:599px){
	.MainBanner{/*background: url(../images/br_01_S.jpg) center top no-repeat #000; background-size: cover;*/ min-height: inherit;}
	.MainBanner h1{ height: 186px}
	.MainBanner h2{ position:  static;  width: 380px; margin: 0 auto;}
	.MainBanner p.btn{padding-top: 0vh; font-size: 15px ; max-width: 138px;}
	.MainBanner p.btn a{width:calc(96% - 2px);}
	.MainBanner .img54, .MainBanner .img54_2{width: 27vw;}
	.DataBox .box_title h3{height:50px; }
	.DataBox .p_subtitle p {font-size: 16px; line-height: 28px;}
	.DataBox .box_title p.t02, .DataBox .box_title p.t01{ width: 85%; }
	.DataBox .box_title h3.t01{ background-image: url(../images/h3_title_01s.png );}
	.DataBox .box_title h3.t02{ background-image: url(../images/h3_title_02s.png );}
	.DataBox .box_title h3.t03{ background-image: url(../images/h3_title_03s.png );}
	.DataBox .box_title h3.t04{ background-image: url(../images/h3_title_04s.png );}
	.DataBox .box_title h3.t05{ background-image: url(../images/h3_title_05s.png );}
	.DataBox .box_title h3.t06{ background-image: url(../images/h3_title_06s.png );}
	.DataBox .box_title h3.t08{ background-image: url(../images/h3_title_08s.png );}
	.DataBox .box_title p{font-size: 16px;}
	.DataBox .box_title p.t02, .DataBox .box_title p.t01{ width: 85%; }
	.DataBox .sub_box_title{ top: 52px; }
	.DataBox .sub_box_title p{font-size: 16px; width: 90%; margin: 0 auto; line-height: 32px;}
	.PreferentialBox p.experience{ font-size: 16px;  line-height: 26px;}
	.map iframe{ height: 280px; }
	.Chef ul.ChefBox li{ width: 100%; height: 300px;}
	.Chef ul.ChefBox li .info p{ font-size: 14px;}
	.Chef ul.ChefBox li p.btn_more{ padding: 10px}
	.Chef ul.ChefBox li .info p b{ font-size: 20px; }
	.foodinfo .aBox .info .topTitleBox h5.subTitle{ width: 120px;}
	 .slides li .info{ width:80%; /*margin: 100px auto 0 auto;*/ min-height:120px;}
	.slides li .info h3{ font-size:19px;}
	.slides li .info h3 span{font-size: 15px;}
	.slides li .info p{ font-size:14px;}
	.banner_food_01 {	background: url(../images/banner_01s.jpg) center bottom no-repeat; background-size: cover;}
	.banner_food_02 { background: url(../images/banner_02s.jpg) center center no-repeat; background-size:cover;}
	.banner_food_03 { background: url(../images/banner_03s.jpg) center center no-repeat; background-size:cover;}
	.banner_food_04 { background: url(../images/banner_04s.jpg) center center no-repeat; background-size:cover;}
	.banner_food_05 { background: url(../images/banner_05s.jpg) center center no-repeat; background-size:cover;}
	.banner_food_06 { background: url(../images/banner_06s.jpg) center center no-repeat; background-size:cover;}
}
@media (max-width:499px){
	.DataBox .p_subtitle p{font-size: 15px; line-height: 26px;}
	.map p.btn_more a {padding: 10px 20px;}
	.PreferentialBox p.ex{ width: 80%; text-align: justify; margin: 0 auto; }
	.foodinfo .aBox .info p{ font-size: 15px; line-height: 28px; }
	.ChefIntroduced p.experience{ font-size: 15px; line-height: 30px; }
}
@media (max-width:450px){
	.map2 .mBox .btnBox{ right: 0;border-radius:0px; padding: 10px; height: inherit;right: initial; left: 0; top:40%;}
	.ma2 p.b1{margin: 0;}
	.foodinfo .aBox .photo{max-width: 85%;}
	.foodinfo .aBox .photo .pBox h4.tilte{ width: 100px; }
	.foodinfo .r02 .photo .pBox h4.tilte{ left: -30px; top: -15px;}
	.ChefIntroduced p.experience{ text-align: center; }}
}
@media (max-width:420px){.MainBanner h1{ width: 100%;}
	.MainBanner h2{ width: 100%; margin: 0 auto;}
	.MainBanner p.btn a{ display: block; margin-bottom: 10px;}
	.videoBox iframe{ min-height: 210px;}
}
@media (max-width:400px){/*.footerBox .fbBox{ width: 300px;}*/
	.ChefIntroduced p.experience{ font-size: 14px; line-height: 28px; }
	.DataBox .p_subtitle p.t01 span.p1{ display: initial; }
	.DataBox .p_subtitle p.t01 span.comma{display: inline-block;}
	.videoBox iframe{ min-height: 190px;}
}
/*@media (max-width:330px){.footerBox .fbBox{ width: 260px;}}*/
