/*html {*/
/*    font-size: 16px;*/
/*}*/
body {
    background-color: white;
    font-family: "Helvetica Neue", 微軟正黑體 , Helvetica, Arial, sans-serif;
}
body * {
    box-sizing: border-box;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
figure {
    margin: 0;
    padding: 0;
}
img { /* 消圖片下面白邊 */
    vertical-align: top;
}
input, select { /* 消輸入欄位外框、foucus框 */
    outline-style: none;
    border: 0px;
}
/*移除input[number]的上下箭头*/
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
input[type="number"]{
    -moz-appearance:textfield;
}
select {
    -webkit-appearance: none;/*兼容苹果手机*/
}
select, input, textarea, button {  
    font-family: "Helvetica Neue", 微軟正黑體 , Helvetica, Arial, sans-serif;
}
*:link, *:visited, *:hover, *:active, *:focus , * {
    border: none;outline: none; -webkit-box-sizing: border-box;  box-sizing: border-box;
}
/* framework */
.object_fit_contain {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.object_fit_cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.hidden {
    display: none;
}
.transition4s{
    transition: 0.4s;
}
