/*----- Header -----*/
.wrap-header {
    background: url("../images/header_footer/header_bg.png") no-repeat center center;
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 12;
}
.wrap_menu {
    justify-content: space-between;
    align-items: center;
    /*width: 1440px;*/
    max-width: 1440px;
    margin: 0 auto;
}
.wrap-header .title {
    justify-content: center;
    align-items: center;
}
.wrap-header .title .logo {
    width: 48px;
}
.wrap-header .title h1 {
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    letter-spacing: .5rem;
    margin: 0;
}
.wrap-header .title a:hover {
    text-decoration: none;
}
.wrap-header .member figure {
    width: 36px;
    height: 32px;
}
/* menu */
.wrap-header .bar{
    width: 36px;
    height: 4px;
    background: #fff;
    margin: 8px 0;
    border-radius: 50px;
}
.wrap-header .active .bar1{
    -webkit-transform: rotate(-45deg) translate(-9px, 13px) ;
    transform: rotate(-45deg) translate(-9px, 8px) ;
}
.wrap-header .active .bar2{opacity: 0;}
.wrap-header .active .bar3{
    -webkit-transform: rotate(45deg) translate(-9px, -13px) ;
    transform: rotate(45deg) translate(-9px, -8px) ;
}
/* 下滑選單 */
.menu_slide {
    position: absolute;
    text-align: center;
    background: rgba(249,248,245,.9);
    width: 100%;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    padding: 12px 0;
    z-index: 99;
}
.menu_slide.active {
    opacity: 1;
    max-height: 350px;
}
.menu_slide li a{
    display: block;
    padding: 12px 0;
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1.2rem;
}

.menu_slide li a:hover{
    background: lightyellow;
}
@media screen and (max-width: 575px) {
    .wrap-header .title .logo {
        width: 40px;
    }
    .wrap-header .title h1 {
        font-size: 1.2rem;
        letter-spacing: .3rem;
    }
    .wrap-header .member>figure {
        width: 24px;
        height: 24px;
    }
    .wrap-header .bar{
        width: 24px;
        height: 3px;
        margin: 5px 0;
    }
    .wrap-header .active .bar1{
        -webkit-transform: rotate(-45deg) translate(-9px, 2.5px) ;
        transform: rotate(-45deg) translate(-9px, 2.5px) ;
    }
    .wrap-header .active .bar2{opacity: 0;}
    .wrap-header .active .bar3{
        -webkit-transform: rotate(45deg) translate(-9px, -2.5px) ;
        transform: rotate(45deg) translate(-9px, -2.5px) ;
    }
    .menu_slide li a{
        padding: 8px 0;
        font-size: 1rem;
        letter-spacing: 1.6px;
    }
}