@import "../css/reset.scss";
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

@import url('../font/Noto_Sans_TC/NotoSansTC/family=Noto+Sans+TC:wght@400;500;700&display=swap');
a {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

a:hover {
  text-decoration: none;
}
@font-face {
  font-family:'f-noto-TC';
  // src: 
  // url(../font/Noto_Sans_TC/NotoSansTC-Regular.otf) format("OpenType"),
  // url(../font/Noto_Sans_TC/NotoSansTC-Medium.otf) format("OpenType"),
  // url(../font/Noto_Sans_TC/NotoSansTC-Bold.otf) format("OpenType");
}
body, 
h1,
h2,
h3,
h4,
h5,
h6,
p {
  // font-family: "Noto Sans TC", Arial, "微軟正黑體", "新細明體", sans-serif;
  font-family: 'f-noto-TC',serif ;
  font-weight: 400;
  color: #333;
}

// a {
//   cursor: pointer;
//   text-decoration: none;
//   outline: none;
//   -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
//   transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
// }

// a:hover {
//   text-decoration: none;
// }

/* loader_circle animation */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.formRow-m{
  padding: 20px 15px 40px 20px;
  text-align: center;
}

.c-btn{
  max-width: 340px;
  width: 100%;
  display: inline-block;
  min-width: 136px;
  padding: 9px 15px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  font-weight: 500;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 4px;
  transition: background-color .3s ease;  
}
.c-btn--primary{
  border-color: #24a09a;
  color: #fff;
  background-color: #24a09a;
}

// button::focus::not(::focus-visible) {
//   outline: none;
// }

// &::focus {
//   outline: none;
// }

// &::focus-visible {
//   outline: 2px solid tomato;
// }


// from
.main-container{
  padding: 15px;
  background-color: #f6f7f9;
  .text-note{
    color: #ff5441;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
  }
  .subtitle{
    // color: #12171A;
    color: #107778;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    padding: 24px 0;
  }
}
.form-con-box{
  width: 100%;
  background-color: #fff;
}
.form_row{
  display: -webkit-flex;
  -webkit-align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 10px;
  .text-note{
    padding: 10px 0;
    font-size: 13px;
    position: relative;
    padding-left: 20px;
    svg{
      position: absolute;
      left: 0;
      top:9px;
      width: 14px;
      height: 14px;
      fill: #ff5441;
    }
  }
  .rowCont{
    margin: 0;
    width: 100%;
    .form_group{
      border: 1px solid #e1e1e1;
      border-radius: 4px;
      background-color: #f5f5f5;
      padding: 5px;
      .a_field{
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        .rowTitle{
          font-family: 'f-noto-TC', serif;
          display: flex;
          padding: 8px;
          font-size: 16px;
          flex: 150px;
          padding-right: 6px;
          line-height: 20px;
          font-weight: 600;
          // position: absolute;
          // left: 0;
          // top: 0;
        }
        .txn-input, .date-select{
          width: calc(100% - 150px);
          display: flex;
          vertical-align: middle;
          align-items: center;
          input{
            width: 100%;
            background-color: transparent;
            font-size: 16px;
          }
          .date-picker{
            position: relative;
            flex: 50%;
          }
        }
        .txn-input-select{
          flex: calc(100% - 150px);
          display: flex;
          vertical-align: middle;
          align-items: center;
          // width: 100%;
          z-index: 1;
          select{
            height: 38px;
            line-height: 38px;
            font-size: 16px;
             width: 100%;
             background-color: transparent;
          }
        }
        .box-x3{
          flex: calc(100% - 150px);
          display: flex;
          vertical-align: middle;
          align-items: center;
          .txn-input,
          .txn-input-select {
            margin-left: 10px;
            padding: 0 5px;
          }
          .txn-input-select:first-child{
            margin-left: 0;
            padding: 0;
          }
        }
        .d-inline {
          font-size: 18px;
          color: #555;
          font-weight: 700;
          width: 50px;
          padding: 0 5px;
          line-height: 48px;
          text-align: right;
        }
      }
      .top-line{
        border-top: 1px solid #e1e1e1;
      }
      .bg-gary{
        background-color: #e1e4e7;
        border-radius:10px;
      }
      .both-d{
        .txn-input-select, .txn-input {
          flex: 50%;
          input, select{
            text-align: center;
          }
        }

      }
    }
  }
  .forError{
    .form_group{
      border-color: #ff5441;
      background-color: #fef0e5;
    }
  }
  .forFocus{
    .form_group {
      border-color: #24a09a;
      background-color: #effffe;
    }
  }
  .forDisabled{
    .form_group {
      border-color: #dddddd;
      background-color: #dddddd;
      input{
        cursor: not-allowed;
      }
    }
  }
}


// calendar
div.date-picker-dash {
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
  margin-left: 25px;
  /* margin-bottom:25px; */
  position: relative;
  overflow: hidden;
}

.icon-calendar {
  position: absolute;
  top: 3px;
  right: 10px;
  transition: right 0.2s;
  color: #a9a9a9;
}

.form-control {
  height: 28px;
}

.form-select {
  height: 28px;
}




// -----popup
.c-popup-modal{
  .page-link{
    color: #107778 !important;
  }
  .page-selected{
    color: #fff !important;
  }
  padding: 10px;
  .popup-pages{
    p{
      text-align: center;
      color: #555;
      font-size: 14px;
      margin: 0;
      padding-bottom: 15px;
    }
  }
  .popup-top-title {
    color: #107778;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    padding: 20px 0 10px 0;
    margin:0 auto;
  }
  .ctbc-table-container{
    width: 100%;
    overflow-x: auto;
    // height: 450px;
    margin-bottom: 20px;
    border: 1px solid #d8dfe3;
    .ctbc-table-style{
      width: 100%;
      tr:nth-child(even){
        background-color: rgba(216, 223, 227, .4);
      }
      td{
        text-align: center;
        min-width: 70px;
        font-size: 13px;
        padding: 6px 12px;
        vertical-align: middle;
        border-right: 2px solid #d8dfe3;
        &.for-day{
          min-width: 130px;
        }
      }
      td:last-child{
        border: none;
      }
      thead tr{
        background-color: #107778;
        color: #fff;
        font-weight: 700;
        text-align: center;
        font-size: 16px;
        td{
          padding:6px 5px;
        }
      }
    }
  }
}