@import url("../font/Noto_Sans_TC/NotoSansTC/family=Noto+Sans+TC:wght@400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .clearfix {
  height: 1%;
}

*:first-child + html .clearfix {
  min-height: 1%;
}

*:link,
*:visited,
*:hover,
*:active,
*:focus,
* {
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
}

a {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

a:hover {
  text-decoration: none;
}

@font-face {
  font-family: 'f-noto-TC';
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'f-noto-TC',serif;
  font-weight: 400;
  color: #333;
}

/* loader_circle animation */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.formRow-m {
  padding: 20px 15px 40px 20px;
  text-align: center;
}

.c-btn {
  max-width: 340px;
  width: 100%;
  display: inline-block;
  min-width: 136px;
  padding: 9px 15px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  font-weight: 500;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.c-btn--primary {
  border-color: #24a09a;
  color: #fff;
  background-color: #24a09a;
}

.main-container {
  padding: 15px;
  background-color: #f6f7f9;
}

.main-container .text-note {
  color: #ff5441;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
}

.main-container .subtitle {
  color: #107778;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  padding: 24px 0;
}

.form-con-box {
  width: 100%;
  background-color: #fff;
}

.form_row {
  display: -webkit-flex;
  -webkit-align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 10px;
}

.form_row .text-note {
  padding: 10px 0;
  font-size: 13px;
  position: relative;
  padding-left: 20px;
}

.form_row .text-note svg {
  position: absolute;
  left: 0;
  top: 9px;
  width: 14px;
  height: 14px;
  fill: #ff5441;
}

.form_row .rowCont {
  margin: 0;
  width: 100%;
}

.form_row .rowCont .form_group {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 5px;
}

.form_row .rowCont .form_group .a_field {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form_row .rowCont .form_group .a_field .rowTitle {
  font-family: 'f-noto-TC', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  font-size: 16px;
  -webkit-box-flex: 150px;
      -ms-flex: 150px;
          flex: 150px;
  padding-right: 6px;
  line-height: 20px;
  font-weight: 600;
}

.form_row .rowCont .form_group .a_field .txn-input, .form_row .rowCont .form_group .a_field .date-select {
  width: calc(100% - 150px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_row .rowCont .form_group .a_field .txn-input input, .form_row .rowCont .form_group .a_field .date-select input {
  width: 100%;
  background-color: transparent;
  font-size: 16px;
}

.form_row .rowCont .form_group .a_field .txn-input .date-picker, .form_row .rowCont .form_group .a_field .date-select .date-picker {
  position: relative;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.form_row .rowCont .form_group .a_field .txn-input-select {
  -webkit-box-flex: calc(100% - 150px);
      -ms-flex: calc(100% - 150px);
          flex: calc(100% - 150px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.form_row .rowCont .form_group .a_field .txn-input-select select {
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  width: 100%;
  background-color: transparent;
}

.form_row .rowCont .form_group .a_field .box-x3 {
  -webkit-box-flex: calc(100% - 150px);
      -ms-flex: calc(100% - 150px);
          flex: calc(100% - 150px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_row .rowCont .form_group .a_field .box-x3 .txn-input,
.form_row .rowCont .form_group .a_field .box-x3 .txn-input-select {
  margin-left: 10px;
  padding: 0 5px;
}

.form_row .rowCont .form_group .a_field .box-x3 .txn-input-select:first-child {
  margin-left: 0;
  padding: 0;
}

.form_row .rowCont .form_group .a_field .d-inline {
  font-size: 18px;
  color: #555;
  font-weight: 700;
  width: 50px;
  padding: 0 5px;
  line-height: 48px;
  text-align: right;
}

.form_row .rowCont .form_group .top-line {
  border-top: 1px solid #e1e1e1;
}

.form_row .rowCont .form_group .bg-gary {
  background-color: #e1e4e7;
  border-radius: 10px;
}

.form_row .rowCont .form_group .both-d .txn-input-select, .form_row .rowCont .form_group .both-d .txn-input {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.form_row .rowCont .form_group .both-d .txn-input-select input, .form_row .rowCont .form_group .both-d .txn-input-select select, .form_row .rowCont .form_group .both-d .txn-input input, .form_row .rowCont .form_group .both-d .txn-input select {
  text-align: center;
}

.form_row .forError .form_group {
  border-color: #ff5441;
  background-color: #fef0e5;
}

.form_row .forFocus .form_group {
  border-color: #24a09a;
  background-color: #effffe;
}

.form_row .forDisabled .form_group {
  border-color: #dddddd;
  background-color: #dddddd;
}

.form_row .forDisabled .form_group input {
  cursor: not-allowed;
}

div.date-picker-dash {
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
  margin-left: 25px;
  /* margin-bottom:25px; */
  position: relative;
  overflow: hidden;
}

.icon-calendar {
  position: absolute;
  top: 3px;
  right: 10px;
  -webkit-transition: right 0.2s;
  transition: right 0.2s;
  color: #a9a9a9;
}

.form-control {
  height: 28px;
}

.form-select {
  height: 28px;
}

.c-popup-modal {
  padding: 10px;
}

.c-popup-modal .page-link {
  color: #107778 !important;
}

.c-popup-modal .page-selected {
  color: #fff !important;
}

.c-popup-modal .popup-pages p {
  text-align: center;
  color: #555;
  font-size: 14px;
  margin: 0;
  padding-bottom: 15px;
}

.c-popup-modal .popup-top-title {
  color: #107778;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  padding: 20px 0 10px 0;
  margin: 0 auto;
}

.c-popup-modal .ctbc-table-container {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 20px;
  border: 1px solid #d8dfe3;
}

.c-popup-modal .ctbc-table-container .ctbc-table-style {
  width: 100%;
}

.c-popup-modal .ctbc-table-container .ctbc-table-style tr:nth-child(even) {
  background-color: rgba(216, 223, 227, 0.4);
}

.c-popup-modal .ctbc-table-container .ctbc-table-style td {
  text-align: center;
  min-width: 70px;
  font-size: 13px;
  padding: 6px 12px;
  vertical-align: middle;
  border-right: 2px solid #d8dfe3;
}

.c-popup-modal .ctbc-table-container .ctbc-table-style td.for-day {
  min-width: 130px;
}

.c-popup-modal .ctbc-table-container .ctbc-table-style td:last-child {
  border: none;
}

.c-popup-modal .ctbc-table-container .ctbc-table-style thead tr {
  background-color: #107778;
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
}

.c-popup-modal .ctbc-table-container .ctbc-table-style thead tr td {
  padding: 6px 5px;
}
/*# sourceMappingURL=style.css.map */