@charset "UTF-8";
body {
  font-family: 微軟正黑體, MHei, "PingFang TC", "Helvetica Neue", Helvetica, STHeitiTC-Light, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  background-image: url(images/bg.gif);
  overflow-x: hidden;
}

.t1 {
  color: #72151a;
  font-size: 40px;
}

.t2 {
  color: #990000;
}
