@charset "utf-8";
/* CSS Document */

.bg_i{width:1171px; height:690px; top:0; left:50%; margin-left:-585px;}
.bg_i01{background:url(../images/bg_i01.jpg) no-repeat; z-index:1;}
.bg_i02{background:url(../images/bg_i02.jpg) no-repeat; z-index:2;}
.bg_i03{background:url(../images/bg_i03.jpg) no-repeat; z-index:3;}
.bg_i04{background:url(../images/bg_i04.jpg) no-repeat; z-index:4;}
.bg_i05{background:url(../images/bg_i05.jpg) no-repeat; z-index:5;}

.logo_i{width:729px; height:113px; top:70px; left:50%; margin-left:-300px; background:url(../images/logo_i.png) no-repeat; z-index:6;}

.logo_i1001{width:501px; height:91px; top:70px; left:50%; margin-left:-410px; background:url(../images/logo_1001.png) no-repeat; z-index:6;}
.hot_event1001{ width:116px; height:195px; top:1px; left:50%; margin-left:45px; background:url(../images/hot_event.gif) no-repeat; z-index:16;}

.btn_more{top:147px; left:50%; margin-left:370px; z-index:27;}

.event_w1001{color:#fff; top:95px; left:50%; margin-left:158px; z-index:17; font-size:12px; }
.event_w1001 a:link{ color:#fff; text-decoration:none;font-size:12px; }
.event_w1001 a:visited{ color:#fff; text-decoration:none;font-size:12px;}
.event_w1001 a:hover{ color:#FF0; text-decoration:underline;font-size:12px;}


.bg-menu{width:2560px; height:82px; top:500px; left:50%; margin-left:-1280px; background:url(../images/bg-menu.png) no-repeat; z-index:10;}
.index_main{width:953px; height:231px; top:288px; left:50%; margin-left:-476px; z-index:8;}

#slider{clear:both; display:block;}
.show1{ background:url(../images/index_main01.png);width:953px; height:231px;}
.show2{ background:url(../images/index_main02.png);width:953px; height:231px;}
.show3{ background:url(../images/index_main03.png);width:953px; height:231px;}
.show4{ background:url(../images/index_main04.png);width:953px; height:231px;}
.show5{ background:url(../images/index_main05.png);width:953px; height:231px;}
.show6{ background:url(../images/index_main06.png);width:953px; height:231px;}
.show7{ background:url(../images/index_main07.png);width:953px; height:231px;}
.show8{ background:url(../images/index_main08.png);width:953px; height:231px;}

.show1_demo{ background:url(../images/index_main01.png);width:953px; height:231px;}
.show2_demo{ background:url(../images/index_main02.png);width:953px; height:231px;}
.show3_demo{ background:url(../images/index_main03.png);width:953px; height:231px;}
.show4_demo{ background:url(../images/index_main04.png);width:953px; height:231px;}
.show5_demo{ background:url(../images/index_main05.png);width:953px; height:231px;}
.show6_demo{ background:url(../images/index_main06.png);width:953px; height:231px;}
.show7_demo{ background:url(../images/index_main07.png);width:953px; height:231px;}
.show8_demo{ background:url(../images/index_main08.png);width:953px; height:231px;}

.w_all{width:294px; height:26px; top:350px; left:50%; margin-left:-147px; background:url(../images/w_all.png) no-repeat; z-index:7;}

.f_00{top:510px;}
.f_00 img{ width:125px; height:60px; cursor:pointer; border: none;}
.f_01{left:50%; margin-left:-422px; z-index:20;}
.f_02{left:50%; margin-left:-262px; z-index:21;}
.f_03{left:50%; margin-left:-102px; z-index:22;}
.f_04{left:50%; margin-left:58px; z-index:23;}
.f_05{left:50%; margin-left:260px; z-index:24;}
.f_06{top:510px; left:50%; margin-left:218px; z-index:24; width:215px; height:60px; cursor:pointer; border: none;}


.footer_i{top:595px; left:50%; margin-left:-380px; z-index:40; }

.open724{ width:131px;  height:243px; top:0; left:50%; margin-left:280px; z-index:41; background:url(../images/0724open.png) no-repeat;}