@import "../css/reset.scss";
$radius-l: 50px;
$radius-m: 18px;
$radius-s: 0.625rem; //10px
$radius-ss: 4px;

$f-size-xxl: 1.5rem; //24px
$f-size-xl: 1.125rem; //18px
$f-size-l: 0.938rem; //15px
$f-size-m: 0.875rem; //14px
$f-size-s: 0.813rem; //13px
$f-size-ss: 0.688rem; //11px

$color-green: #90c31f;
$color-gray-dark: #5e5e5e;
$color-gray: #9e9e9e;
$color-red: #ff5555;
$color-org: #f96332;
$color-quicklime: #f0941d;

$pc-media: 1440px;
$pcs-media: 900px;
$pad-media: 760px; //用於小螢幕視窗
$phone-media: 650px; // 手機尺寸
$phone-m-media: 600px;
$phone-s-media: 479px;

@mixin stickyPosition {
  -webkit-position: sticky;
  -moz-position: sticky;
  -ms-position: sticky;
  -o-position: sticky;
  position: sticky;
}

@mixin box-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

@mixin has-box-shadow {
  box-shadow: rgba(rgba(0, 0, 0, 0.2), 0.16) 0px 4px 15px;
}

// 按鈕-L
.btn--primary-l {
  min-width: 140px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  background: #fff;
  text-align: center;
  border-radius: $radius-l;
  font-size: $f-size-xl;
  @include has-box-shadow;
  &:hover {
    opacity: 0.9;
  }
}
.btn--primary-xl {
  min-width: 150px;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  cursor: pointer;
  color: #fff;
  background: $color-quicklime;
  text-align: center;
  border-radius: $radius-l;
  font-size: 1rem;
  // @include has-box-shadow;
  &:hover {
    opacity: 0.9;
  }
}
// 按鈕-M
.btn--primary-m {
  min-width: 110px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  background-color: $color-quicklime;
  color: #fff;
  font-size: $f-size-m;
  border-radius: 0.25rem;
  &:hover {
    opacity: 0.9;
  }
  span {
    padding-left: 6px;
  }
}

// %input {
//   height: 46px;
//   line-height: 46px;
//   padding: 0 22px;
//   border-radius: $radius-ss;
// }
input.default {
  width: 100%;
  height: 46px;
  padding: 0 10px;
  border-radius: $radius-ss;
  background-color: #fff;
  &::placeholder {
    color: #b5b5b5;
  }
}
@mixin img-default {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

// 菜單
.main-container {
  width: 100%;
  padding: 30px;
  .top-content {
    width: 100%;
    padding: 0 10px 20px 10px;
    h3.main-title {
      font-size: $f-size-xxl;
      float: left;
      line-height: 50px;
    }
    .btn-products {
      float: right;
      span {
        color: $color-quicklime;
        padding-right: 5px;
      }
    }
  }
  a .tooltip {
    z-index: 2;
    position: absolute;
    min-width: 40px;
    text-align: left;
    background-color: #ff5555;
    padding: 15px;
    font-size: $f-size-m;
    font-weight: bold;
    color: #fff;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -webkit-transform: scale(0.9);
    margin: 0;
    border-radius: $radius-s;
    line-height: 1.25rem;
    @include has-box-shadow;
  }
  a .tooltip::after {
    position: absolute;
    content: "";
    top: -7px;
    right: 40px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 8px 9px;
    border-color: transparent transparent #ff5555 transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #ff5555 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  }

  .middle-content {
    width: 100%;
    .menu-list {
      width: 100%;
      text-align: left;
      // display: flex;
      // flex-wrap: wrap;
      .add-new-card,
      .card {
        // flex: 0 0 calc(33% - 30px);
        // display: inline-flexbox;
        // justify-content: center;
        // align-items: center;
        display: inline-block;
      }
      .add-new-card {
        margin: 15px 15px 35px 15px;
        width: 300px;
        height: 200px;
        padding: 15px 10px;
        vertical-align: top;
        border: 2px dashed #c1c1c1;
        border-radius: $radius-s;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        &:hover {
          opacity: 0.8;
        }
        a {
          width: 100%;
          height: 100%;
          @include box-center;
        }
        p {
          font-size: 1.25rem;
          color: #c1c1c1;
          font-weight: bold;
          position: relative;
          padding-top: 60px;
          text-align: center;
          &::after {
            position: absolute;
            content: "";
            width: 55px;
            height: 43px;
            top: 0;
            left: calc(50% - 27.5px);
            display: block;
            background: url(../images/icon-menu.png);
            @include img-default;
          }
        }
      }
      .card {
        vertical-align: top;
        position: relative;
        margin: 15px 15px 35px 15px;
        width: 300px;
        height: 200px;
        padding: 15px 10px;
        background-color: #fff;
        border-radius: $radius-s;
        @include has-box-shadow;
        p.update {
          position: absolute;
          bottom: -25px;
          left: 10px;
          font-size: $f-size-ss;
          color: #b5b5b5;
        }
        .more-features {
          position: absolute;
          top: 5px;
          right: 0;
          color: #b1b5c4;
          text-align: center;
          line-height: 40px;
          width: 40px;
          height: 40px;
          cursor: pointer;
          font-size: $f-size-xl;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          &:hover {
            color: #848484;
          }
        }
        .features-menu {
          display: none;
          z-index: 1;
          position: absolute;
          top: 47px;
          right: -12px;
          &::after {
            position: absolute;
            content: "";
            top: -8px;
            right: 23px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 9px 8px 9px;
            border-color: transparent transparent #f4f4f4 transparent;
            line-height: 0px;
            _border-color: #000000 #000000 #f4f4f4 #000000;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
          }
          ul {
            background-color: #f4f4f4;
            border-radius: $radius-s;
            overflow: hidden;
            @include has-box-shadow;
            li {
              a {
                font-size: $f-size-s;
                color: #666666;
                padding: 5px 15px 5px 10px;
                display: block;
                line-height: 30px;
                span {
                  width: 30px;
                  text-align: center;
                  display: inline-block;
                  font-size: $f-size-l;
                }
                &:hover {
                  background-color: #848484;
                  color: #fff;
                }
              }
            }
          }
        }
        .logo {
          width: 100%;
          max-width: 200px;
          height: 70px;
          margin: 0 auto;
          @include box-center;
          img {
            max-height: 100%;
            max-width: 100%;
          }
        }
        .label-type {
          position: absolute;
          top: -31px;
          left: -38px;
          background-color: #000;
          color: #fff;
          width: 111px;
          height: 0;
          border-width: 0 26px 26px;
          background: none;
          z-index: 2;
          border-style: solid;
          border-color: transparent transparent $color-green;
          -moz-transform-origin: right bottom;
          -moz-transform: rotate(-45deg);
          -webkit-transform-origin: right bottom;
          -webkit-transform: rotate(-45deg);
          -o-transform-origin: right bottom;
          -o-transform: rotate(-45deg);
          -ms-transform-origin: right bottom;
          -ms-transform: rotate(-45deg);
          transform-origin: right bottom;
          transform: rotate(-45deg);
          p {
            line-height: 26px;
            text-align: center;
            color: #fff;
            position: relative;
            font-size: 0.813rem;
            &::before {
              content: "";
              width: 0;
              position: absolute;
              left: -26px;
              top: 26px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 3.5px 3.5px 0 3.5px;
              border-color: #7aa813 transparent transparent transparent;
              line-height: 0px;
              _border-color: #7aa813 #000000 #000000 #000000;
              _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
            }
            &::after {
              content: "";
              width: 0;
              position: absolute;
              right: -26px;
              top: 26px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 3.5px 3.5px 0 3.5px;
              border-color: #7aa813 transparent transparent transparent;
              line-height: 0px;
              _border-color: #7aa813 #000000 #000000 #000000;
              _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
            }
          }
        }
        .menu-title {
          width: 100%;
          max-width: 252px;
          margin: 0 auto;
          padding: 5px 0 12px 0;
          input {
            color: #333;
            width: 100%;
            height: 36px;
            padding: 0 5px;
            background-color: transparent;
            text-align: center;
            line-height: 36px;
            font-size: $f-size-s;
            border-radius: $radius-ss;
            transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
            &:focus {
              background-color: #eeeeee;
            }
            &::placeholder {
              color: #b5b5b5;
            }
          }
        }

        .btn-menu-actions {
          text-align: center;
          a {
            margin: 0 3px;
          }
          .bg-c-red {
            z-index: 2;
            position: relative;
            background-color: $color-red;
            .tooltip {
              width: 222px;
              right: 0;
              top: 43px;
            }
          }
        }
        &hover {
          box-shadow: rgba(rgba(0, 0, 0, 0.2), 0.16) 0px 3px 15px;
        }
      }
      @media all and (max-width: $pc-media) {
        .add-new-card,
        .card {
          width: calc(25% - 35px);
        }
      }
      @media all and (max-width: 1300px) {
        .add-new-card,
        .card {
          width: calc(33% - 31px);
          .btn-menu-actions {
            a {
              min-width: 88px;
            }
            .bg-c-red {
              .tooltip {
                width: 207px;
                right: -11px;
              }
            }
          }
        }
      }
      @media all and (max-width: 850px) {
        .add-new-card,
        .card {
          width: calc(50% - 33px);
        }
      }
      @media all and (max-width: $phone-media) {
        .add-new-card,
        .card {
          width: calc(50% - 20px);
          margin: 8px 8px 35px 8px;
          .logo {
            max-width: 150px;
          }
          .btn-menu-actions {
            a {
              margin: 0 2px;
              min-width: 70px;
            }
            .bg-c-red {
              .tooltip {
                width: 180px;
                right: -25%;
              }
            }
          }
        }
      }

      @media all and (max-width: $phone-s-media) {
        .add-new-card,
        .card {
          padding: 10px 8px;
          height: 180px;
          .logo {
            max-width: 120px;
            height: 58px;
          }
          .btn-menu-actions a {
            font-size: $f-size-ss;
            min-width: 44%;
          }
          p.update {
            bottom: -33px;
          }
        }
      }
    }
  }

  @media all and (max-width: $phone-m-media) {
    padding: 15px;
  }
}

/*popup - style---------*/
.white-popup {
  position: relative;
  background: #f6f6f6;
  width: auto;
  max-width: 800px;
  margin: 20px auto;
  border-radius: $radius-ss;
  box-shadow: rgba(rgba(0, 0, 0, 0.2), 0.16) 0px 3px 6px,
    rgba(rgba(0, 0, 0, 0.2), 0.1) 10px 10px 6px;
}
.mfp-fade .mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade .mfp-bg {
  .mfp-ready {
    opacity: 0.5;
  }
  .mfp-removing {
    opacity: 0;
  }
  .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
}
.mfp-fade .mfp-wrap .mfp-fade.mfp-wrap .mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade .mfp-wrap .mfp-removing .mfp-content {
  opacity: 0;
}

.popup-width-m {
  max-width: 600px;
}
.popup-width-s {
  max-width: 500px;
}
// input 選項樣式
.option-list {
  position: relative;
  padding: 10px 0;
  input[type="checkbox"]:not(old),
  input[type="radio"]:not(old) {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100% !important;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
  }
  input[type="checkbox"]:not(old) + label {
    display: inline-block;
    padding-left: 36px;
    line-height: 24px;
    // background: url("../images/checks.png") no-repeat 0 -48px;
    z-index: 1;
    font-size: $f-size-m;
    &::before {
      position: absolute;
      content: "";
      left: 1px;
      top: 12px;
      background-color: #ebf5f4;
      width: 20px;
      height: 20px;
      border-radius: 5px;
      display: block;
      z-index: 0;
      pointer-events: none;
    }
    &::after {
      position: absolute;
      content: "";
      left: 4px;
      top: 11px;
      width: 23px;
      height: 18px;
      display: none;
      background: url("../images/svg/check-yello.svg") no-repeat center center;
    }
  }
  input[type="checkbox"]:not(old):checked + label {
    font-weight: bold;
    &::after {
      display: block;
    }
  }
  input[type="radio"]:not(old) + label {
    cursor: pointer;
    display: inline-block;
    padding-left: 34px;
    line-height: 24px;
    font-size: $f-size-m;
    &::before {
      position: absolute;
      content: "";
      left: 1px;
      top: 12px;
      background-color: #ebf5f4;
      width: 20px;
      height: 20px;
      border-radius: 5px;
      display: block;
      z-index: 0;
      pointer-events: none;
    }
    &::after {
      position: absolute;
      content: "";
      left: 4px;
      top: 11px;
      width: 23px;
      height: 18px;
      display: none;
      background: url("../images/svg/check-yello.svg") no-repeat center center;
    }
  }
  input[type="radio"]:not(old):checked + label {
    font-weight: bold;
    &::after {
      display: block;
    }
  }
}
// pop內樣式---------
.popup-container {
  width: 100%;
  fieldset {
    padding: 10px 20px;
  }
  .top-title {
    width: 100%;
    padding: 40px 0 30px 0;
    text-align: center;
    h4 {
      font-size: $f-size-xxl;
      position: relative;
      padding-left: 5px;
    }
  }
  p.text-remind {
    padding: 10px 0;
    min-height: 55px;
    text-align: center;
    color: #888888;
    a.download-template {
      text-decoration: underline;
      color: $color-quicklime;
      &:hover {
        text-decoration: none;
      }
    }
    a.icon-faq {
      padding-left: 5px;
      color: #90c31f;
    }
  }
  ul.choose-method {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
    li {
      padding-bottom: 15px;
      a {
        border-radius: $radius-s;
        background-color: #fff;
        width: 100%;
        height: 200px;
        display: block;
        border: 2px dashed #c1c1c1;
        @include box-center;
        p {
          font-size: 1.25rem;
          color: #c1c1c1;
          font-weight: bold;
          position: relative;
          padding-top: 60px;
          text-align: center;
          &::after {
            transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
            position: absolute;
            content: "";
            width: 55px;
            height: 43px;
            top: 0;
            left: calc(50% - 27.5px);
            display: block;
          }
        }
        p.menu {
          &::after {
            background: url(../images/icon-menu.png);
            @include img-default;
          }
        }
        p.upload {
          &::after {
            background: url(../images/icon-upload.png);
            @include img-default;
          }
        }
        &:hover {
          border-color: $color-quicklime;
          p {
            color: $color-quicklime;
          }
          p.menu {
            &::after {
              background: url(../images/icon-menu-org.png);
              @include img-default;
            }
          }
          p.upload {
            &::after {
              background: url(../images/icon-upload-org.png);
              @include img-default;
            }
          }
        }
      }
    }
  }
  ul.choose-platform-list {
    max-width: 495px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px dashed #b1b5c4;
    padding-bottom: 15px;
    li {
      cursor: pointer;
      vertical-align: top;
      display: inline-block;
      border-radius: 50%;
      width: 105px;
      height: 105px;
      background-color: #fff;
      border: 2px solid #fff;
      margin: 7px;
      .icon {
        width: 100%;
        height: 100%;
        @include box-center;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      &.selected {
        position: relative;
        border-color: $color-quicklime;
        &::after {
          content: "";
          position: absolute;
          content: "";
          width: 20px;
          height: 20px;
          top: 5px;
          right: 0;
          display: block;
          background: url(../images/svg/tick-circle-green.svg) center center
            no-repeat;
          background-size: contain;
        }
      }
    }
  }
  ul.choose-store-list {
    max-width: 680px;
    margin: 0 auto;
    text-align: left;
    border-bottom: 1px dashed #b1b5c4;
    padding: 0 15px 15px 15px;
    li {
      position: relative;
      cursor: pointer;
      vertical-align: top;
      display: inline-block;
      border-radius: 10px;
      width: calc(25% - 12px);
      height: 140px;
      background-color: #fff;
      border: 2px solid #fff;
      padding-top: 35px;
      margin: 20px 4px;
      @include has-box-shadow;
      p.store-id {
        text-align: center;
        font-size: $f-size-ss;
        color: #666666;
        padding: 5px 0 10px 0;
      }
      p.store-name {
        text-align: center;
        line-height: 22px;
        color: $color-quicklime;
        font-size: $f-size-m;
        padding: 0 5px;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-height: 22px;
        height: 64px;
        overflow: hidden;
      }
      &.selected {
        position: relative;
        border-color: $color-quicklime;
        &::after {
          content: "";
          position: absolute;
          content: "";
          width: 20px;
          height: 20px;
          top: -10px;
          right: -7px;
          display: block;
          background: url(../images/svg/tick-circle-green.svg) center center
            no-repeat;
          background-size: contain;
        }
      }
      .top-icon {
        position: absolute;
        top: -31px;
        left: calc(50% - 31px);
        width: 62px;
        height: 62px;
        display: block;
        border-radius: 50%;
        background-color: $color-quicklime;
        @include box-center;
      }
    }
  }

  .bottom-btn-tool {
    padding: 20px 0 30px 0;
    text-align: center;
  }
  @media all and (max-width: $pad-media) {
    ul.choose-store-list li {
      width: calc(33% - 12px);
    }
  }
  @media all and (max-width: $phone-m-media) {
    ul.choose-store-list li {
      width: calc(49.5% - 12px);
    }
  }
}
