@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Playball|Playfair+Display:400,400i');

@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote { margin:0;	padding:0;}
fieldset, img {	border:0;}
ol, ul {list-style:none;}
abbr, acronym { border:0;}
.CLEAR{ clear:both; height: 0; font-size: 0px; line-height: 0;}
.clearfix:after {content: "."; display: block; clear: both; visibility: hidden;	line-height: 0;	height: 0;}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

blockquote, q { quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;}

* {-webkit-text-size-adjust:none;}

a{text-decoration:none;}
em{/*font-style:normal;*/}
fieldset, img {	border:0;}
ol, ul { list-style:none;}
abbr, acronym {	border:0;}
.CLEAR{	clear:both; height: 0; font-size: 0px; line-height: 0;}

/**
 * Markup free clearing
 * Details: http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;}
/* IE6 */
* html .clearfix {height: 1%;}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;}

body, h1, h2, h3, h4, h5, h6, p {font-family:'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif; font-weight: normal; color: #000;}
p{font-size: 16px; color: #333;}
a{  text-decoration:none; outline: none; /* for Firefox */  hlbr:expression(this.onFocus=this.blur()); 
transition:width 2s;
-moz-transition:all 2s; /* Firefox 4 */
-ms-transition: all 1s;  
-webkit-transition:all 2s; /* Safari and Chrome */
-o-transition:all 2s; /* Opera */}
a:hover{ text-decoration:none;}
select, input, textarea, button {  font-family:'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif;
transition:all 2s;
-moz-transition:all 2s; /* Firefox 4 */
-ms-transition: all 1s;  
-webkit-transition:all 2s; /* Safari and Chrome */
-o-transition:all 2s; /* Opera */}
*:link, *:visited, *:hover, *:active, *:focus , * {border: none;outline: none; hlbr:expression(this.onFocus=this.blur()); /* for IE */}

html, body{ height: 100%; }

/*--go--*/
.ContentsBox{ width: 100%; max-width: 996px; margin: 0 auto;}
@media (max-width:1000px){ .ContentsBox{max-width: 90%;}}

.MainBanner h1.logo{position: absolute; top: 10px; z-index: 50; left: 50px; text-indent: -9999px;}
.MainBanner h1.logo a{ width: 295px; height: 70px; display: block; background: url(../images/logo_wangSteak.png) center center no-repeat; background-size: contain;  }

.wines_dinner{ width: 100%; width: 100%; /*height: 100% !important;*/ position: relative;}
.line_color{ width: 100%; position: absolute; top: 0; z-index: 10; }
.line_color .c3{ position: relative; height: 12px; background-color: #fff; width: 100%; display: block;}
.line_color .c3::before{ position: absolute; content: ""; width: 33.3%; top: 0; left: 0; height: 12px; background-color: #002394; }
.line_color .c3::after{ position: absolute; content: ""; width: 33.3%; top: 0; right: 0; height: 12px; background-color: #ed2939; }

.MainBanner{ width: 100%; height: 100% !important; min-height: 740px; background: url(../images/br_main.png) center center no-repeat; background-size: cover; position: relative; }
.MainBanner .main_title{ width: 100%; padding-top: 14vh; padding-bottom: 20px; }
.MainBanner .main_title .line_color{position: initial; max-width: 250px; margin: 0 auto;}
.MainBanner .main_title .line_color .c3, .MainBanner .main_title .line_color .c3::before, .MainBanner .main_title .line_color .c3::after{ height: 7px; }

.MainBanner h2{ width: 100%; max-width: 330px; height: 215px; display: block; background: url(../images/title_h1_main.png) center center no-repeat; background-size: contain; margin: 0 auto;  text-indent: -9999px;}
.MainBanner h3{/*font-family: 'cwTeXFangSong', serif; letter-spacing: 2px; text-align: center; font-size: 28px;*/ width: 100%; max-width: 528px; height: 28px; display: block; background: url(../images/title_h3_sub.png) center center no-repeat; background-size: contain;text-indent: -9999px; margin: 25px auto; color: #ffffff; }

@media (max-width:650px){.MainBanner h1.logo{ top: 15px; left: 50%; margin-left: -148px;}}
@media (max-width:600px){.MainBanner h1.logo{ top: 24px; }.MainBanner h1.logo a{ height: 55px; }}
@media (max-width:490px){.MainBanner h2{ height: 200px; }}
@media (max-width:400px){.MainBanner h2{ height: 180px; }}
@media (max-width:350px){.MainBanner h2{ height: 150px; }}

.MainBanner .dayBox{ width: 100%; max-width: 820px; margin: 0 auto; }
.MainBanner .dayBox p{font-size: 16px; line-height: 35px; color: #eeeeee;}
.MainBanner .dayBox p.top{ text-align: center; font-size: 13px; padding: 10px 0; position: relative; }
.MainBanner .dayBox p.top::after{position: absolute; content: ""; width: 100%; height: 1px; display: block; background-color: #fff; opacity: .5; bottom: 0; left: 0;}

.MainBanner .dayBox ul{ position: relative; width: 100%; padding: 30px 0; overflow: hidden;}
.MainBanner .dayBox ul::before{position: absolute; content: ""; width: 100%; height: 1px; display: block; background-color: #fff; opacity: .5; bottom: 0; left: 0;}
.MainBanner .dayBox ul li{float: left; width: 25%; position: relative;}
.MainBanner .dayBox ul li.point::before{position: absolute;right: 0; margin-right: -10px; top: 50%; margin-top: -15px; content: ""; background: url(../images/img_point.png) center center no-repeat; background-size: contain; width: 25px; height: 30px; display: block;}

.MainBanner .dayBox ul li p span{font-family: 'Playfair Display', serif;}
.MainBanner .dayBox ul li p span.s{ font-size: 27px; }
.MainBanner .dayBox ul li p span.m{ font-size: 40px; }
.MainBanner p{ width: 100%; font-size: 20px; text-align: center;}
.MainBanner p a{ cursor: pointer; width: 100%; max-width: 206px; height: 50px; display: block; border-radius: 4px; border:1px solid #fff; line-height: 50px; color: #fff; margin: 0 auto;}
.MainBanner a.arr{ cursor: pointer; position: absolute; left: 50%; margin-left: -21px; bottom:45px; z-index: 1; width: 43px; height: 27px; display: block; background: url(../images/img_arr.png) center center no-repeat; background-size: contain; }
@media (max-width:700px){.MainBanner .dayBox ul li{ width: 50%; padding: 20px 0; }
 .MainBanner .dayBox ul li.no_po::before, .MainBanner .dayBox ul::before{ display: none; }
 .MainBanner .dayBox ul{padding: 0; padding-bottom: 80px; max-width: 540px; margin: 0 auto;}
.MainBanner .dayBox p.top{ max-width: 460px; margin: 0 auto; }}

@media screen and (orientation: landscape) {.MainBanner .main_title{ padding-top: 65px; }}

.joinBox{ width: 100%; background: url(../images/diamond_upholstery.png) center center repeat; padding: 40px 0; position: relative; border-bottom: 5px #ed2939 solid;}
.joinBox::before{ position: absolute; content: ""; top: -17px; left: 50%; margin-left: -17px; width: 0; height: 0;  border-style: solid;  border-width: 0 17.5px 17px 17.5px;  border-color: transparent transparent #eeeeee transparent;  line-height: 0px;  _border-color: #000000 #000000 #eeeeee #000000;  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }

.joinBox .topBox{ width: 100%; }
.joinBox .topBox .leftBox{width: 40%; float: left;}
.joinBox .topBox .leftBox p{ text-align: center; font-size: 17px; }
.joinBox .topBox .leftBox p span.nb{font-family: 'Playfair Display', serif; font-size: 22px;}
.joinBox .topBox .leftBox p span.s{font-size: 14px; color: #767676;}
.joinBox .topBox .rightBox{width: 60%; float: left;}
.joinBox .topBox .rightBox p{font-size: 15px; letter-spacing: 1px; line-height: 30px; text-align: justify; padding: 10px 15px; }

.joinBox .thejointBox{ width: 100%; text-align: center; padding-top: 40px; }
.joinBox .thejointBox p{ display: inline-flex;margin: 0 10px; line-height: 45px; }
.joinBox .thejointBox p.logo1{ width: 510px; height: 45px; display: inline-block; background: url(../images/logo_01.png) center center no-repeat; background-size: contain; text-indent: -9999px; }
.joinBox .thejointBox p.logo2{ width: 312px; height: 45px; display: inline-block; background: url(../images/logo_02.png) center center no-repeat; background-size: contain; text-indent: -9999px; }
.joinBox .thejointBox p.who{ font-size: 13px; }

.WinesInfoBox{ width: 100%; padding: 80px 0; background: url(../images/br_wines_info.png) center center no-repeat; background-attachment: fixed; background-size: cover; }
.WinesInfoBox .ContentsBox{ max-width: 1240px; }
.WinesInfoBox h3{font-family: 'cwTeXFangSong', serif; letter-spacing: 2px; text-align: center; font-size: 35px; color: #fff; /*width:100%; max-width: 224px; height: 37px; display: block; margin: 0 auto; background: url(../images/title_h3_wines.png) center center no-repeat; background-size: contain; text-indent: -9999px; */margin-bottom:30px;  }
.WinesInfoBox .line_color{position: initial; max-width: 250px; margin: 0 auto;}
.WinesInfoBox .line_color .c3, .WinesInfoBox .line_color .c3::before, .WinesInfoBox .line_color .c3::after{ height: 7px; }

@media (max-width:1000px){.joinBox .topBox .rightBox p{ font-size: 14px;}
  .joinBox .thejointBox p.logo1{ width: 100%; margin-bottom: 30px; }}
@media (max-width:800px){.joinBox .topBox .leftBox, .joinBox .topBox .rightBox{ width: 100%; float: none;}
  .joinBox .topBox .rightBox p{ text-align: center; }}
@media (max-width:700px){.joinBox .thejointBox p.logo1{ width: 310px; height: 50px; background: url(../images/logo_01s.png) center center no-repeat; background-size: contain; }
  .joinBox .thejointBox p.logo1{margin-bottom: 15px;}}
@media (max-width:600px){.joinBox .topBox .rightBox p span{ display: block; }}
@media (max-width:340px){.joinBox .thejointBox p.logo1{ width: 280px;}
  .joinBox .thejointBox p.logo2{ width: 280px; }}

.WinesInfoBox p{ color: #fff; }
.WinesInfoBox p.sub_title{ width: 90%; max-width: 740px; margin: 0 auto; font-family: 'cwTeXFangSong', serif; font-size: 18px; line-height: 30px; text-align: justify; padding-top: 30px;}
.WinesInfoBox ul{ width: 100%; padding: 40px 0;}
.WinesInfoBox ul li{ float: left; width: 50%; padding: 60px 0; position: relative; }
.WinesInfoBox ul li .info{padding: 0 35px 0 140px;}
.WinesInfoBox ul li::before{ position: absolute; width: 86px;height: 250px; display: block; content: ""; left: 35px; top: 18px; }
.WinesInfoBox ul li.img_01::before{ background: url(../images/wines/01.png) center center no-repeat; background-size: contain; }
.WinesInfoBox ul li.img_02::before{ background: url(../images/wines/02.png) center center no-repeat; background-size: contain; }
.WinesInfoBox ul li.img_03::before{ background: url(../images/wines/03.png) center center no-repeat; background-size: contain; }
.WinesInfoBox ul li.img_04::before{ background: url(../images/wines/04.png) center center no-repeat; background-size: contain; }
.WinesInfoBox ul li.img_05::before{ background: url(../images/wines/05.png) center center no-repeat; background-size: contain; }
.WinesInfoBox ul li.img_06::before{ background: url(../images/wines/06.png) center center no-repeat; background-size: contain; }

.WinesInfoBox ul li p{font-size: 14px; line-height: 26px;}
.WinesInfoBox ul li p.name{font-size: 15px;position: relative; padding: 10px 0 15px 0; border-bottom: 1px solid #fff; margin-bottom: 15px;}
.WinesInfoBox ul li p.name span{ font-family: 'Playball', cursive;}

.warningBox{ position: fixed; bottom: 0; z-index: 100; width: 100%; background-color: #323030; text-align: center; min-height: 10vh;display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center}
.warningBox .ContentsBox{ max-width: 96%; }
.warningBox p{ color: #fff; font-size: 3.2vh; letter-spacing: 14px; padding: 20px 0; }
.warningBox p span{ padding: 24px; margin: 0 15px; background: url(../images/img_warning.png) center center no-repeat; background-size: contain;}

@media (max-width:900px){.WinesInfoBox ul li{padding: 30px 0;}
  .WinesInfoBox ul li .info{ min-height: 280px; }}
@media (max-width:870px){.warningBox p{ letter-spacing: 8px; }}
@media (max-width:730px){.warningBox p{ letter-spacing: 5px; }}
@media (max-width:650px){.warningBox p{ font-size: 2.8vh;}}
@media (max-width:620px){.WinesInfoBox ul{ width: 90%; margin: 0 auto;}
  .WinesInfoBox ul li{width: 100%;}}
@media (max-width:600px){.warningBox p{ letter-spacing: 1px; }.warningBox p span{ padding: 20px; margin: 0 10px; }
  .WinesInfoBox ul li {padding: 10px 0;}
  .WinesInfoBox ul li .info{ padding: 0 35px 0 120px;}
  .WinesInfoBox ul li::before{ left: 20px;}
  .WinesInfoBox p.sub_title{ width: 82%; font-size: 22px; }}
@media (max-width:500px){.warningBox p{ font-size: 2.4vh;}.warningBox p span{padding: 16px;}}
@media (max-width:400px){.warningBox p{ font-size: 2.2vh; letter-spacing: 0;}.warningBox p span{padding: 12px;}}

p.btn{ width: 100%; text-align: center; font-size: 20px; letter-spacing: 1px; padding:20px 0;}
p.btn a{ width: 100%; max-width: 200px; display: block; height: 52px; background-color: #df0730; color: #fff; margin: 0 auto; border-radius: 4px; line-height: 52px; }

.setBox{ width: 100%; padding: 150px 0 100px 0; background: url(../images/br_set.png) center top no-repeat; background-size: cover; background-attachment: fixed; }
.setBox p, .setBox h3, .setBox h4{ text-align: center; color: #fff; font-size: 16px;line-height: 30px; letter-spacing: 1px; text-shadow: 0 0 10px rgba(0, 0,0,.5) }
.setBox h3{ font-size: 42px; padding-bottom: 50px; font-family: 'Playball', cursive;}
.setBox h4{font-size: 18px; padding: 15px 0;}
.setBox p{padding-bottom: 30px;}
.setBox p span{ color: #f5be53; }
.setBox p.price{ padding-top: 40px; }
.setBox p.price span{ color: #fff; font-size: 30px; font-family: 'Playball', cursive;}
@media (max-device-width:900px) {.WinesInfoBox, .setBox{ background-attachment: inherit; }}

.br_title{width: 100%; background: url(../images/diamond_upholstery.png) center center repeat; padding-top: 20px;}
.br_title .ContentsBox{position: relative;}
.br_title h3{color: #860710;font-family: 'cwTeXFangSong', serif; letter-spacing: 2px; text-align: center; font-size: 35px; padding-bottom: 20px;}
.br_title p.btn2{ position: absolute; right: 0; top: 50%; max-width: 120px; font-size: 15px; z-index: 10; margin-top: -18px;}
.br_title p.btn2 a{ border: 1px solid #860710; color: #860710; padding: 7px 25px;}
.br_title p.btn2 a:hover{ background-color: #860710; }
.br_title .line_color{position: initial; max-width: 250px; margin: 0 auto;}
.br_title .line_color .c3, .br_title .line_color .c3::before, .br_title .line_color .c3::after{ height: 7px; }

@media (max-width:720px){.br_title p.btn2{ position: inherit; margin: 0 auto; padding-bottom: 40px;}}
@media (max-width:600px){.setBox p{ font-size: 14px; line-height: 25px; }}
@media (max-width:500px){.br_title h3{ font-size: 28px; }}

.mapBox{ width: 100%; height: 480px; position: relative; overflow: hidden; }
.mapBox iframe{ height: 480px; }
.mapBox small{position: absolute; bottom: 0 ;left:0; padding: 10px; display: block;}
.mapBox small a{ color: #ccc;}

.footerBox{ width: 100%; background-color: #860710; padding: 45px 0; margin-bottom: 10vh;}
.footerBox p{  color: #ffffff; font-size: 12px; text-align: center; line-height: 30px; letter-spacing: 1px; }

@media (max-width:600px){.mapBox, .mapBox iframe{ height: 380px;}}
@media (max-width:500px){.mapBox, .mapBox iframe{ height: 300px;}}

p.go_top{ bottom: -130px; right: 3%; position: fixed; cursor: pointer; z-index: 104;}
p.go_top a{width: 40px; height: 40px; display: block;  background: url(../images/btn_arr_w.png) center center no-repeat #df0730; border-radius: 50%; background-size: contain;}

