@charset "utf-8";
/* CSS Document */
.containerBox{margin-bottom:50px;}

ul.loginbox{
	width:400px;
	margin:50px auto 0 auto;}
	
ul.loginbox li{
	text-align: left;
	background-color: rgba(255,255,255,0.40);
	margin:30px 0 50px 0;
	border:5px solid #dadada;
	border-radius:10px;
	padding:30px;
	font-size:14px;
	position:relative;}
ul.loginbox li h4{
	text-align:left;
	font-weight:normal;
	margin:25px 0;}
ul.loginbox li h4 input[type="text"] {
    width: 200px;
	float:right;
    height: 25px;
    line-height: 25px;
    border: 1px solid #D6D6D6;
}
ul.loginbox li h4 input[type="password"] {
    width: 200px;
	float:right;
    height: 25px;
    line-height: 25px;
    border: 1px solid #D6D6D6;
}
ul.loginbox li .botton{
	text-align:right;
	padding:20px 0 0 0;}
ul.loginbox li .botton a{
	display:inline-block;
	background:#e5e5e5;
	padding:0 35px;
	line-height:25px;
	text-decoration:none;
	color:#666;}
ul.loginbox li .botton a:hover{
	background:#666;
	color:#fff;}
ul.loginbox li h4 .Codes{
width:200px;
margin-top:10px;
float:right;
}	
ul.loginbox li h4 .Codes a{
	font-size:12px;
	color:#949494;
	padding:5px 0 0 5px;
	float:right;
	line-height:20px;
}	
ul.loginbox li h4 .Codes a:hover{
	color:#b81311;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);}
	
		

div.coupon{
	border-top:1px solid #ebebeb;
	padding:60px 0;
}
div.coupon div.wrap{
	width:1000px;}
div.coupon h3{
	font-size:25px;
	font-weight:normal;}
div.coupon div.txt{
	margin:30px 0;
	line-height:2;
	font-size: 16px;}
div.coupon div.txt p.paragraph{
	display:block;}
div.coupon img{
	max-width:100%;}
div.coupon a.btn{
	background:url(../images/but-shadow.png) no-repeat right bottom;
	padding:5px 6px 5px 0;	
	font-size: 16px;
	line-height:1.4;
	color: #666;
	display: inline-block;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	transition:all 0.4s ease;
	cursor:pointer;
}
div.coupon a.btn:hover{
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
	}
div.coupon a.btn span{
	padding: 9px 0;
	display: inline-block;
	min-width: 145px;
	border: 1px solid #b81311;
	border-radius: 5px;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	transition:all 0.4s ease;
	position:relative;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 62.17%,rgba(211,211,211,1.00) 91.19%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 62.17%,rgba(211,211,211,1.00) 91.19%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 62.17%,rgba(211,211,211,1.00) 91.19%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 62.17%,rgba(211,211,211,1.00) 91.19%);
}
div.coupon a.btn:hover span{
	color:#fff;
	background-image: -webkit-linear-gradient(270deg,rgba(228,28,60,1.00) 25.91%,rgba(184,19,17,1.00) 77.20%);
	background-image: -moz-linear-gradient(270deg,rgba(228,28,60,1.00) 25.91%,rgba(184,19,17,1.00) 77.20%);
	background-image: -o-linear-gradient(270deg,rgba(228,28,60,1.00) 25.91%,rgba(184,19,17,1.00) 77.20%);
	background-image: linear-gradient(180deg,rgba(228,28,60,1.00) 25.91%,rgba(184,19,17,1.00) 77.20%);
}



div.ticket-style01 div.box{
	width:100%;
	background:#fafafa;}
div.ticket-style01 div.Img{
	float:left;
	width:50%;}
div.ticket-style01 div.Img img{
	float:left;
	max-width:100%;}
div.ticket-style01 div.Txt{
	text-align:left;
	position:relative;
	float:right;
	width:50%;
	padding-top:100px;
	font-size:14px;
	color:#000;
	line-height:2;}
div.ticket-style01 div.Txt div.Qrcode{
	position:absolute;
	right:20px;
	top:40px;
	line-height:20px;}
div.ticket-style01 div.Txt h5{
	font-size:30px;
	line-height:1;
	font-family: 'cwTeXMing', serif;
	color:#e41c3c;
	padding:10px 0;}
div.ticket-style01 div.Txt h6{
	line-height:1;
	font-size:20px;
	color:#000;
	font-weight:normal;
	padding:0;}
div.ticket-style01 div.redbottom{
	background:#e41c3c;
	font-size:14px;
	color:#fff;
	line-height:24px;
	text-align:left;
	padding:0;}
div.ticket-style01 div.redbottom span{
	display:inline-block;
	padding-left:25px;}







div.ticket-style02 div.box{
	width:100%;
	background:#fff;}
div.ticket-style02 div.Qrcode{
	padding-top:40px;
	width:25%;
	float:left;
	line-height:20px;}
div.ticket-style02 div.Qrcode h5{
	font-size:26px;
	line-height:1;
	color:#000;
	padding:0 0 20px 0;}
div.ticket-style02 div.Img{
	float:right;
	width:35%;}
div.ticket-style02 div.Img img{
	float:left;
	max-width:100%;}
div.ticket-style02 div.Txt{
	padding-top:40px;
	text-align:left;
	position:relative;
	float:left;
	width:40%;
	font-size:14px;
	color:#000;
	line-height:2;}
div.ticket-style02 div.Txt span.list{
	display:block;
	padding-left:15px;
	background:url(../coupon/images/listicon.png) no-repeat top left;
	}
div.ticket-style02 div.Txt h6{
	line-height:1;
	font-size:20px;
	color:#000;
	font-weight:normal;
	padding:0;}
div.ticket-style02 div.redbottom{
	background:#e41c3c;
	font-size:14px;
	color:#fff;
	line-height:24px;
	text-align:left;
	padding:0;}
div.ticket-style02 div.redbottom span{
	display:inline-block;
	padding-left:25px;}




@media screen and (max-width:1000px){
div.coupon div.wrap{
	width:94%;
	margin:0 3%;}
}


@media screen and (max-width:990px){
div.ticket-style01 div.Txt{
	padding-top:50px;
}
div.ticket-style01 div.Txt div.Qrcode{
	top:10px;
	right:10px;
}
}



@media screen and (max-width:920px){
div.ticket-style01 div.Img{
	float:none;
	width:100%;}
div.ticket-style01 div.Txt{
	float:none;
	width:94%;
	padding:80px 3% 20px 3%;
}

div.ticket-style01 div.redbottom{
	text-align:left;
	line-height:25px;
	padding:35px 15px 0 15px;}
div.ticket-style01 div.redbottom span{
	display:inline-block;
	padding-left:0;
	padding-right:25px;}	
	
	
div.ticket-style02 div.Qrcode{
	width:40%;
}
div.ticket-style02 div.Txt{
	width:60%;
}
div.ticket-style02 div.Img{
	float:none;
	width:100%;}
div.ticket-style02 div.redbottom{
	text-align:left;
	line-height:25px;
	padding:35px 15px 0 15px;}
div.ticket-style02 div.redbottom span{
	display:inline-block;
	padding-left:0;
	padding-right:25px;}	

}


@media screen and (max-width:650px){
div.ticket-style02 div.Qrcode{
	padding:40px 3%;
	width:94%;
	float:none;
	}
div.ticket-style02 div.Txt{
	float:none;
	padding:0px 3%;
	width:94%;}
}


@media screen and (max-width:530px){
div.ticket-style01 div.Txt{
	float:none;
	width:94%;
	padding:20px 3% 20px 3%;
	line-height:1.5;
}
div.ticket-style01 div.Txt div.Qrcode{
	position:relative;
	right:auto;
	top:auto;
	padding:0 0 20px 0;
	width:100%;
	text-align:center;
	
}
div.coupon div.txt p.paragraph{
	display:inline;}
}




@media screen and (max-width:500px){
ul.loginbox{
	width:100%;
}
div.coupon div.wrap{
	width:94%;
	margin:0 3%;}
}

@media screen and (max-width:400px){
ul.loginbox li h4 input[type="text"] {
    width: 160px;
}
}