@charset "utf-8";
/* CSS Document */

ul.faq{
	border-top:4px solid #e53c57;
	margin:60px 0 0 0;
}
ul.faq li{
	border-bottom:#ebebeb 1px solid;
	padding:60px 0;
	text-align:left;}
ul.faq li:last-child{
	border-bottom:none;
	padding:60px 0 0 0;}
ul.faq li h3{
	font-size:20px;
	line-height:30px;
	font-weight:normal;}
ul.faq li h3 strong{
	height:30px;
	width:30px;
	text-align:center;
	font-weight:normal;
	color:#fff;
	background:#e53c57;
	display:inline-block;
	border-radius:99em;
	position:relative;
	margin-right:10px;}
ul.faq li h3 strong:after{
	content:"";
	position:absolute;
	right:-4px;
	top:50%;
	margin-top:-4px;
	width: 0;
height: 0;
border-style: solid;
border-width: 4px 0 4px 8px;
border-color: transparent transparent transparent #e53c58;}

ul.faq li .Txt{
	padding:20px 0 0 0;}
ul.faq li .Txt img{
	max-width:100%;
}
ul.faq li .Txt table{
	border-collapse:collapse;}
ul.faq li .Txt table{	
	border-left:1px solid #d8d8d8;
	border-right:1px solid #d8d8d8;
	border-bottom:1px solid #d8d8d8;
}
ul.faq li .Txt th{
	min-width:110px;
	border-top:2px solid #e53c57;
	border-left:1px solid #e53c57;
	border-right:1px solid #e53c57;
	padding:5px;
	text-align:center;
	background:#e53c57;
	color:#fff;
}
ul.faq li .Txt td{
	text-align:center;
	border-left:1px solid #d8d8d8;
	border-right:1px solid #d8d8d8;
}

ul.faq h4{
	background:#e53c57;
	font-size:20px;
	line-height:30px;
	font-weight:normal;
	text-align:center;
	color:#fff;
	border-bottom:4px solid #e53c57;}
@media screen and (max-width:480px){
ul.faq li .Txt table{
	width:100%;}
ul.faq li .Txt th{
	min-width:auto;
}
}