@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
input, textarea { margin:0; padding:0;}
* {-webkit-text-size-adjust:none;}
a{text-decoration:none;}
fieldset, img { border:0;}
ol, ul { list-style:none;}
abbr, acronym { border:0;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
* html .clearfix {height: 1%;}
*:first-child + html .clearfix { min-height: 1%;}

body, h1, h2, h3, h4, h5, h6, p {font-family:'Roboto', 'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif; font-weight: normal; color: #333;}
p{font-size: 15px;}
a{ text-decoration:none; outline: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
a:hover{ text-decoration:none;}
select, input, textarea, button {  font-family:'Roboto', 'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif;}
*:link, *:visited, *:hover, *:active, *:focus , * {border: none;outline: none; -webkit-box-sizing: border-box;  box-sizing: border-box;}
html{ height: 100%; }
body{ height: 100%; }

/*===== start ======*/

main{width: 100%;}
.content_box{ max-width: 1000px; margin: 0 auto; min-width: 320px; position: relative;}
.bg_00{ background: url(../images/bg_00.jpg) center top no-repeat; }
.bg_01{ background: url(../images/bg.jpg) 0 0 repeat; }

.kv_main{ width: 100%; text-align: center; background-color: #261f1c; }
.kv_main img{ width: 100%; max-width: 1000px; display: inline-block; }
.top_menu{ background-color: #c40119; position: sticky; top: 0px; position: -webkit-sticky; position: -moz-sticky; position: -ms-sticky; position: -o-sticky; z-index: 50;}
.top_menu .content_box{ padding: 0; }
.top_menu a{ width: 33.33%; cursor: pointer; text-indent: -9999px; height: 100%; top: 0; left: 0; position: absolute; display: block; }
.top_menu a.go_02{ left: 33.33%; }
.top_menu a.go_03{ left: 66.66%; }
.top_menu span{ display: block; position: relative; height: 100%;}
.top_menu span::after{ content: ""; position: absolute; display: block; opacity: 0;  width: 22px; height: 17px; background-color: #fff; top: 88px; left: calc(50% - 11px); background: url(../images/icon_triangle.png) center center no-repeat; background-size: contain; }
.top_menu img.mob{ display: none; }
.top_menu span.btn_in::after{ opacity: 1; }

.eventinfo_box{ width: 100%; padding: 50px 0 100px 0; }
.eventinfo_box h4{ font-size: 42px; line-height: 45px; font-weight: bold; color: #000000; padding: 50px 0 30px 0; text-align: center; }
.eventinfo_box h4 a{ color: #c50018; padding-bottom: 30px; display: block; max-width: 75%; margin: 0 auto; font-size: 26px; word-wrap: break-word; word-break: break-all;}
.eventinfo_box h4 a:hover{ text-decoration: underline; }

.eventinfo_box p.p_info{ font-size: 33px; line-height:46px; text-align: left; color: #000;max-width: 750px; margin: 0 auto;}
.eventinfo_box p.p_info span.nb{ font-weight: 800; font-size: 44px;  }
.eventinfo_box p.p_info span.f_red{ color: #db0225; font-weight: bold; }
.eventinfo_box p.p_info span.f_s{ font-size: 30px; }

.eventinfo_box .btn_link{ width: 100%; padding: 25px 0;}
.eventinfo_box .btn_link p.btn{ text-align: center; }
.eventinfo_box .btn_link p.btn a{ cursor: pointer; display: inline-block; margin: 10px auto; text-indent: -9999px; width: 100%; height: 114px; background-repeat: no-repeat; background-position: center center; background-size: contain;}
.eventinfo_box .btn_link p.btn a.btn_img_01{ background-image: url(../images/btn_img_01.png); }
.eventinfo_box .btn_link p.btn a.btn_img_02{ background-image: url(../images/btn_img_02.png); }
.eventinfo_box .btn_link p.btn a.btn_img_03{ background-image: url(../images/btn_img_03.png); }

.eventinfo_box p.btn_order a:hover, .eventinfo_box .btn_link p.btn a:hover{ opacity: .8; }
.eventinfo_box .img{ padding: 20px 0 50px; text-align: center;}
.eventinfo_box .img img{ display: inline-block; border:3px solid #f5bd3f; }

.note_box{ width: 100%; margin: 0 auto; padding: 40px 0 100px 0; background-color: #261f1c; }
.note_box .content_box{ width: 80%; }
.note_box h3 { font-size:35px; text-align: center; font-weight: bold; color: #fff; font-weight: bold; padding: 30px 0 40px 0;}
.note_box ul{ list-style-type: decimal; max-width: 780px; margin: 0 auto; color: #fff; list-style-position: outside; font-size: 20px; padding-left: 20px;}
.note_box ul li{padding-bottom: 30px;}
.note_box ul li p{ font-size:25px; text-align: left; color: #fff; display: block; line-height: 33px; text-align: justify;}
.note_box ul li p a{ color: #fff; word-wrap: break-word; word-break: break-all;}
.note_box ul li p a:hover{ text-decoration: underline; }
.note_box .img{ max-width: 310px; margin: 0 auto; padding: 30px 0 20px 0; }
.note_box ul.treasure_info{ list-style-type: none; padding-top: 25px; max-width: 725px; padding-left: 30px;}
.note_box ul.treasure_info li{padding-bottom:10px; position: relative;}
.note_box ul.treasure_info li::after{content: ""; position: absolute;width: 21px; height: 21px; top: 5px; left: -30px; display: block; background:url(../images/icon_diamond.png) center center no-repeat; background-size: contain;}
.note_box ul.treasure_info li p{ font-weight: bold; font-size: 32px; word-wrap: break-word; word-break: break-all; }
.note_box ul.treasure_info li p span{ color: #f5bd3f; }


.border_line{ position: relative; }
.border_line::after{ z-index: 1; top: 0; content: ""; width: 100%; height: 8px; display: block; position: absolute; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b76712+0,fefbae+71,ffd03f+99 */
background: #b76712; /* Old browsers */
background: -moz-linear-gradient(left,  #b76712 0%, #fefbae 71%, #ffd03f 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #b76712 0%,#fefbae 71%,#ffd03f 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #b76712 0%,#fefbae 71%,#ffd03f 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b76712', endColorstr='#ffd03f',GradientType=1 ); /* IE6-9 */
}
.border_line::before{ z-index: 1; bottom: 0; content: ""; width: 100%; height: 8px; display: block; position: absolute; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b76712+0,fefbae+71,ffd03f+99 */
background: #b76712; /* Old browsers */
background: -moz-linear-gradient(left,  #b76712 0%, #fefbae 71%, #ffd03f 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #b76712 0%,#fefbae 71%,#ffd03f 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #b76712 0%,#fefbae 71%,#ffd03f 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b76712', endColorstr='#ffd03f',GradientType=1 ); /* IE6-9 */
}

.bg_paper_01{ padding-top: 195px; min-height: 1593px; background:url(../images/bg_paper_01.png) top center no-repeat; background-size: contain; }
.bg_paper_02{ padding-top: 195px; min-height: 4648px; background:url(../images/bg_paper_02.png) top center no-repeat; background-size: contain; }
.bg_paper_01 h4{ padding-bottom: 60px;} 
.bg_paper_02 h4{ padding-bottom: 0px; padding-top: 0;} 

h3.img_title{ position: absolute; left: 0; text-indent: -9999px; z-index: 10; top: -97px; width: 100%; height: 114px; padding: 0; display: block; background-repeat: no-repeat; background-position: center center; background-size: contain; }
h3.title_01{ background-image: url(../images/title_01.png); top: 95px; }
h3.title_02{ background-image: url(../images/title_02.png); }
h3.title_03{ background-image: url(../images/title_03.png); top: 85px; }

/*==== RWD ====*/
@media (max-width:960px){
	.eventinfo_box h4{ font-size: 35px;}
	.eventinfo_box p.p_info{ font-size: 28px; line-height: 40px; }
	.eventinfo_box p.p_info span.f_s{font-size: 24px;}
	.eventinfo_box p.p_info span.nb{ font-size: 35px; }
	.eventinfo_box .btn_link p.btn a{ height: 88px; }
	.note_box ul.treasure_info li p{ font-size: 28px; }
	.eventinfo_box .img{ max-width: 65%; margin: 0 auto; padding: 10px 0 30px; }
	.bg_paper_02{ min-height: 4048px; }
	.note_box ul li p{ font-size: 22px; }
}
@media (max-width:900px){
	h3.img_title{ height: 90px; }
	.bg_paper_01 h4{ font-size: 28px; padding: 15px 0 5px; }
	.eventinfo_box p.p_info{ font-size: 24px; line-height: 34px; }
	.eventinfo_box p.p_info span.f_s{font-size: 20px;}
	.eventinfo_box h4{font-size: 30px;}
	.note_box ul.treasure_info li p{ font-size: 24px; }
	.bg_paper_01{ min-height: 1250px; }
	.bg_paper_02 h4{ padding-top: 0; }
}
@media (max-width:840px){
	.content_box{ width: 100%; padding: 0 20px;}
	.bg_paper_01, .bg_paper_02{ padding-top: 180px; }
	.bg_paper_01 h4{ padding-bottom: 40px; }
	.bg_paper_02 {min-height: 3500px;}
}
@media (max-width:750px){
	.note_box, .eventinfo_box{ padding: 20px 0 50px 0;}
	h3.img_title{ height: 75px; top: -57px; }
	h3.title_03{ top: 56px; }
	h3.title_01{ top: 70px; }
	.bg_paper_01 {padding-top: 20px; min-height: 1118px;}
	.bg_paper_01 h4{padding-top: 140px; padding-bottom: 20px; }
	.bg_paper_02{ min-height: 3200px; }
	.eventinfo_box h4{ font-size: 24px; }
	.eventinfo_box p.p_info{ font-size: 22px;}
	.eventinfo_box p.p_info span.f_s{font-size: 18px;}
	.eventinfo_box p.p_info span.nb{font-size: 28px;}
	.eventinfo_box .btn_link p.btn a{ height: 65px; }
	.eventinfo_box h2{ font-size: 36px; }
	.note_box ul{font-size: 18px;}
	.note_box ul li p{ font-size: 18px; line-height: 26px; }
}
@media (max-width:650px){
	h3.img_title{ height: 60px; }
	.eventinfo_box .btn_link p.btn a{ height: 60px; }
	.eventinfo_box h2{ font-size: 32px; line-height: inherit; }
	.eventinfo_box h2 span{ display: block; }
	.eventinfo_box p.p_info{ font-size: 20px;  line-height: 26px; }
	.eventinfo_box h4 a{ font-size: 24px; }
	.top_menu span::after{ top: 52px; }
	.note_box ul{font-size: 16px;}
	.note_box ul li p{ font-size: 16px; line-height: 24px; }
	.note_box ul.treasure_info li p{ font-size: 18px; }
	.note_box ul.treasure_info li::after{ height: 13px; }
	.note_box .img{ max-width: 250px; }
	.bg_paper_01{ min-height: 1000px; }
	.bg_paper_02{ min-height: 2900px; }
	.top_menu img.mob{ display: block; }
	.top_menu img.pc{ display: none; }
}
@media (max-width:600px){
	.eventinfo_box h2{ font-size: 26px;}
	.note_box ul li p{font-size: 16px;}
	.eventinfo_box p.p_info{ font-size: 20px; }
	.eventinfo_box p.p_info span.f_s{font-size: 16px;}
	.bg_paper_02{ min-height: 2700px; }
	.bg_paper_02{ padding-top: 120px; background: url(../images/bg_paper_02s.png) top center no-repeat; background-size: contain; }
}
@media (max-width:570px){	
	.bg_paper_01{ background: url(../images/bg_paper_01s.png) top center no-repeat; background-size: contain; }
	.bg_paper_02{ min-height: 2500px; }
	h3.title_01, h3.title_03{ top:35px; }
	.bg_paper_01 h4{ padding-top: 110px; max-width: 50%; margin: 0 auto; }
	.eventinfo_box p.p_info{ max-width: 70%; margin: 0 auto; }
	.eventinfo_box .img{ max-width: 80%; }
	.eventinfo_box p.p_info span.nb{ font-size: 20px; }
	.bg_paper_02{ min-height: 2600px; }
}
@media (max-width:499px){
	.note_box h3{ font-size: 28px; }
	.eventinfo_box .btn_link{padding: 20px 0;}
	.eventinfo_box .btn_link p.btn a{ margin: 5px auto; }
	.bg_paper_01 h4{ max-width: 58%; font-size: 21px; padding-top: 90px;}
	.bg_paper_02{ min-height: 2500px; }
	.bg_paper_02 .btn_link{padding-top: 0;}
	.note_box .content_box{ width: 100%; }
	.note_box ul{font-size: 14px;}
	.note_box ul li p{ font-size: 15px; }
	.eventinfo_box p.p_info{ font-size: 18px; }
	.eventinfo_box p.p_info span.f_s{ font-size: 14px; }
	.eventinfo_box h4{ line-height: 32px; }
	.eventinfo_box h4 a{ font-size: 20px; }
}
@media (max-width:400px){
	h3.img_title{ height: 50px; }
	.note_box{ padding-bottom: 20px; }
	.eventinfo_box p.p_info{ max-width: 87%;}
	.note_box .img{ max-width: 200px; }
	.eventinfo_box h4 a{ font-size: 18px; }
	.eventinfo_box .btn_link p.btn a{ height: 55px; }
	.bg_paper_02{ min-height: 2350px; }
	.note_box h3{ font-size: 22px; padding: 15px 0 20px 0; }
	.note_box ul{ font-size: 13px; }
	.note_box ul li{ padding-bottom: 15px; }
	.note_box ul li p{ font-size: 13px;  line-height: 18px;}
}
