@charset "utf-8";
/* CSS Document */

html{ height:100%;_height:100%;}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:#000;
	font-family: Verdana, Arial, Helvetica, sans-serif, Microsoft JhengHei, "微軟正黑體";
	color:#333; 
	font-size:12px;
}

.wripper{width:900px; margin:0 auto; background:#fff; position:relative;}
.menu{ position:absolute; top:0; left:30px; height:389px; width:240px; }

.time{
	position:absolute;
	top:401px;
	left:48px;
	width:200px;
	font-size:11px;
	color:#C99;
	line-height:18px;
}

.word{ width:900px; border-top:#CCC 1px solid;}
.word td{ vertical-align:top;}

.list{width:92%; margin:10px 0 20px 0;}
.list td{padding:10px; line-height:20px; border-top:#ccc 1px dashed; font-size:14px;}

.branch{width:92%; margin:10px 0 20px 0;}
.branch td{padding:5px;}


.f_title{ font-weight:bold; color:#C00; font-size:20px; line-height:28px;}
.f_p{ color:#C00;}

.f_01{ font-weight:bold; color:#999; font-size:13px; }
.f_02{ color:#F00;}

.store_all{ padding:5px 3px; vertical-align:top; margin-bottom:10px;}
.store_all td{ vertical-align:top; height:20px; border-bottom:#CCC dashed 1px; text-align:left; }
.store_all_tips{ border-bottom:#CCC dotted 1px; padding:0 3px 5px 3px;}
.store_area{margin-top:10px; }

.talk_all{margin-top:20px;;}
.talk_all td{ line-height:18px; border-bottom:#CCC dashed 1px;text-align:left; padding:10px 0;}
.talk td{ border:none; }
