@import url("reset.css");

body{
	width:100%;
	font-family:"微軟正黑體","Microsoft JhengHei","Heiti TC";
	background-image:url(images/deadline-bg.jpg);
	}

#WRAPPER{
	width:100%;
	height:850px;
	margin:0 auto;
	z-index:1;
	position:relative;
	overflow:hidden;
	}

#HEADER{
	width:100%;
	height:70px;
	background-color:#CC0000;
	box-shadow: 0px 5px 10px rgba(0%,0%,0%,0.3);
	z-index:999;
	}


#NAV{
	width:1024px;
	height:70px;
	margin:0 auto;
	position:relative;
	z-index:999;
	
}

#NAV #LOGO{
	position:absolute;
	top:0px;}

#NAV ul{
	position:absolute;
	right:30px;
	top:0px;}

#NAV ul li{
	float:left;
	}

#NAV ul li a{
	display:block;
	width:80px;
	font-size:15px;
	text-decoration:none;
	color:#FFFFFF;
	line-height:70px;
	font-weight:bold;
	
	letter-spacing:1px;
	text-align:center;
	
}

#NAV ul li a:hover{
	font-weight:bold;
	background-color:#CCCCCC;
	color:#FF0000;}
	
#BOX-1{
	width:100%;
	height:599px;
	background-image:url(images/deadline-bg.png);
	background-position:center;
	background-repeat:no-repeat;
}

#BOX-2{
	width:1024px;
	height:330px;
	margin-top:-150px;
	margin-left:auto;
	margin-right:auto;
	z-index:999;
	
}

#CONTENT-2{
	float:left;
	width:600px;
	height:300px;
	float:left;
	z-index:999;
	padding-top:80px;
}

#CONTENT-2 h2{
	font-size:24px;
	color:#b37f54;}

#CONTENT-2 img{
	margin-left:-15px;
}

#CONTENT-2 h4{
	font-size:20px;
	color:#575554;
	padding-top:30px;
	font-weight:normal;}

#CONTENT-3{
	float:right;
	padding-right:60px;
	}


