@import url("reset.css");

body{
	width:100%;
	font-family:"微軟正黑體","Microsoft JhengHei","Heiti TC";
	background-image:url(images/index-bg.jpg);
	}

#WRAPPER{
	width:100%;
	height:800px;
	margin:0 auto;
	background-image:url(images/index-food.png);
	background-repeat:repeat-x;	
	}

#HEADER{
	width:100%;
	height:70px;
	background-color:#CC0000;
	box-shadow: 0px 5px 10px rgba(0%,0%,0%,0.3);
	}



#CONTENT{
	width:1024px;
	height:870px;
	margin:0 auto;
	background-image:url(images/food.png);
	background-repeat:no-repeat;
	position:relative;
	z-index:1;}


#NAV{
	width:1024px;
	height:70px;
	margin:0 auto;
	position:relative;
	z-index:999;
	
}

#NAV #LOGO{
	position:absolute;
	top:0px;}

#NAV ul{
	position:absolute;
	right:30px;
	top:0px;}

#NAV ul li{
	float:left;
	}

#NAV ul li a{
	display:block;
	width:80px;
	font-size:15px;
	text-decoration:none;
	color:#FFFFFF;
	line-height:70px;
	font-weight:bold;
	
	letter-spacing:1px;
	text-align:center;
	
}

#NAV ul li a:hover{
	font-weight:bold;
	background-color:#CCCCCC;
	color:#FF0000;}


#CONTENT-2{
	position:absolute;
	width:1024px;
	height:300px;
	bottom:0px;
	left:0px;
	background-image:url(images/index-beer.png);
	background-repeat:no-repeat;
	background-position:right bottom;}

#CONTENT-2 h3{
	font-size:18px;
	color:#93897c;
	padding-top:60px;
	padding-left:80px;
	line-height:1.6;
	
	font-weight:normal;
}


#CONTENT-2 img{
	padding-left:70px;
	
	}
	
#fb-share{
	position:absolute;
	right:500px;}