@import "../css/reset.scss";

button {
  margin: 0 auto 10px auto;
  color: #454c60;
  &.btn {
    background-color: #ff5754;
    color: #fff;
    width: 100%;
    max-width: 250px;
    padding:12px 15px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
  &.bg-gray {
    background-color: #d6d6d6;
  }
}
.both-btn {
  padding-bottom: 10px;
  text-align: center;
  button {
    display: inline-block;
    width: 45%;
    margin: 0 1%;
  }
}
.container {
  width: 100%;
  min-height: 100vh;
  background-color: #fae0df;
  background-size: cover;
  position: relative;
  .fixed-note {
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6c6c6cd9;
    padding: 15px 20px 20px 20px;
    display: block;
    text-align: center;
    p {
      color: #fff;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      padding-bottom: 10px;
    }
  }
  .content {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    position: relative;
    background-color: #fff;
    padding-bottom: 170px;
    box-shadow: rgba(rgba(0, 0, 0, 0.2), 0.16) 0px 3px 6px;
    .title {
      width: 100%;
      margin: 0 auto;
      img {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
    
        &.mob {
          display: none;
        }
      }
    }
    .sub-text {
      text-align: center;
      color: #e91e63;
      padding: 10px 0;
    }
    ul.peach {
      width: 100%;
      max-width: 600px;
      padding: 10px;
      margin: 0 auto;
      position: relative;
      border-radius: 160px;
      li {
        width: 50%;
        float: left;
        padding: 15px;
        position: relative;
        .text-discount {
          width:calc(100% - 10px);
          height:calc(100% - 10px);
          position: absolute;
          top: 5px;
          left: 5px;
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          -webkit-justify-content: center;
          justify-content: center;
          text-align: center;
          z-index: 1;
          p{
            font-weight: bold;
            color: #92515d;
          }
        }
        img {
          width: 100%;
        }
        &.img-show::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          display: block;
          background: url(../images/img-peach.png) center center no-repeat;
          background-size: 60%;
        }
      }
      @media all and (max-width: 670px) {
        li {
          padding: 5px;
        }
      }
    }
    .event-info {
      width: calc(100% - 30px);
      padding:25px 20px;
      background-color: #feedec;
      margin: 0 auto;
      h3 {
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
        padding-bottom: 15px;
      }
      h4 {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 15px;
      }
      .f-yello{
        padding-top: 5px;
        color: #ff9800;
        font-weight: bold;
      }
      .f-b{
        font-weight: bold;
        padding-top: 5px;
      }
      p.t-red{
        font-size: 12px;
        color: #e91e63;
      }
      .b{
        font-weight: b;
      }
      p {
        font-size: 15px;
        line-height: 24px;
        a {
          color: #19cdce;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
        .l-title {
          background-color: #19cdce;
          color: #fff;
          padding: 4px 8px;
          margin-right: 8px;
          font-weight: bold;
          margin-bottom: 5px;
          display: inline-block;
        }
        
      }
      ul {
        padding:0 0 10px 0;
        li{
           padding: 5px 0;
          }
      }
      ul.nb {
        list-style-type: decimal;
        padding-left: 20px;
        li {
          p {
            font-size: 14px;
            &.t-red {
              font-size: 13px;
              font-weight: bold;
            }
            .b{
              font-weight: bold;
            }
          }
        }
      }
      @media all and (max-width: 670px) {
        margin: 0 auto;
        h3 {
          font-size: 17px;
          padding-bottom: 10px;
        }
        p {
          font-size: 13px;
          line-height: 20px;
        }
      }
    }
  }
}
/*popup - style---------*/
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #000000;
  opacity: 0.25;
}
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
  width: 100%;
}
.mfp-close {
  width: 46px;
  cursor: pointer;
  height: 46px;
  line-height: 46px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.5;
  background: transparent;
  color: #555;
  font-style: normal;
  font-size: 32px;
  font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}
.mfp-close:active {
  top: 1px;
}
.mfp-close-btn-in .mfp-close {
  color: #b1b5c4;
}
.white-popup {
  position: relative;
  background: #f6f6f6;
  width: auto;
  width: 100%;
  max-width: 360px;
  margin: 20px auto;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.1) 10px 10px 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.1) 10px 10px 6px;
}
.popup-container {
  width: 100%;
  padding: 20px;
  text-align: center;
  min-height: 160px;
  .maintitle {
    font-size: 22px;
    color: #19cdce;
    letter-spacing: 4px;
    font-weight: bold;
    padding: 10px 0;
  }
  .text-info {
    color: #555;
    padding: 12px 0 20px 0;
    font-size: 15px;
  }
}
