@charset "utf-8";
/* CSS Document */

.abgne_tip_gallery_block {
	margin: 0;
	padding: 0;
	width: 245px;
	height: 183px;
	overflow: hidden;
	position: relative;
	float:left;
}
.abgne_tip_gallery_block img {
	position: absolute;
	border: 0;
}
.abgne_tip_gallery_block .caption {
	position: absolute;
	top: 0;	/* .abgne_tip_gallery_block 的高 - 想顯示 title 的高(這邊是設 55) */
	width: 211px;	/* .abgne_tip_gallery_block 的寬 - .caption 的左右 padding */
	padding: 5px;
	cursor: pointer;
	color: #fff;
	background: #000;
	filter:alpha(opacity=0);opacity:0;zoom:1; 
}

.abgne_tip_gallery_block .caption h2 {
	margin: 0;
	padding: 5px;
}
.abgne_tip_gallery_block .caption h2 a {
	text-decoration: none;
	color: #f00;
	font-size:15px;
}
.abgne_tip_gallery_block .caption h2 a:hover {
	text-decoration: none;
	color: #f9bb2d;
}

.news{position:absolute; top:490px; left:12px; width:230px; height:214px; background-image:url(../images/bg_news.png);}
.news_w{color:#fff; line-height:18px;}
.news a{font-size:14px;}
.news_w01{padding:45px 10px 5px 20px; }
.news_w02{padding:18px 10px 5px 20px; }

.i-banner{position:absolute; top:490px; right:15px; width:710px; height:215px;
filter:alpha(opacity=90);       /* IE */
-moz-opacity:0.9;              /* Moz + FF */
opacity: 0.9; 
}

.class_4{ position:absolute; top:715px; left:10px; }