@charset "utf-8";
/* CSS Document */

.side{ height:350px;}

.word{padding:30px 15px; min-height:750px; width:65%;}
.word table{width:95%; margin:15px 0 30px 30px;}
.word table td{ padding:10px; vertical-align:top; border-bottom:1px #ccc dashed;}
.word a{ font-size:120%; color:#d6000f; text-decoration:none; }
.word a:hover{ color:#333; text-decoration:underline; }

.word_all{padding:30px 15px; width:92%;}
.word_all table{width:95%; margin:15px 0 30px 30px;}
.word_all table td{vertical-align:top; padding:7px;}

.info{width:100%;}
.info td{ padding:10px; vertical-align:top; border-bottom:1px #ccc dashed;}

.map{ width:100%; border-bottom:none;}
.map td{ border-bottom:none;}

.word ul{ margin-left:20px; line-height:24px;}

.qrcode_14{
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	letter-spacing:1px;
}

.member_work {
	height: 24px;
	width: 250px;
	line-height: 24px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #363430;
	border: 1px solid #BFBFBF;
	background-color: #eee;
}


.member_inputtxt {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	color: #333;
	height: 24px;
	width: 170px;
	line-height: 24px;
	border: 1px solid #BFBFBF;
}
.member_year {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 24px;
	border: 1px solid #BFBFBF;
	line-height: 24px;
}
