@charset "utf-8";
/* CSS Document */

.side{ height:443px;}
.side_all{ height:351px;}

.word{padding:30px 15px; width:95%; min-height:750px; }
.word table{width:95%; margin:15px 0 30px 30px;}
.word table td{ padding:10px; vertical-align:top; }
.word a{ font-size:115%; color:#d6000f; text-decoration:none; }
.word a:hover{ color:#333; text-decoration:underline; }

.word_all{padding:30px 15px; width:92%;}
.word_all table{width:95%; margin:15px 0 30px 30px;}
.word_all table td{vertical-align:top; padding:7px;}

.info{ line-height:20px;}
.info img{ }

.map{ width:100%; border-bottom:none;}
.map td{ border-bottom:none;}


