@charset "utf-8";
/* CSS Document */

.content{ background:#fff; width:930px; margin:0 auto; margin:130px 0 180px 50px;}

.line{height:1px; width:100%; border-top:1px solid #666; position:fixed; bottom:130px;}

.footer{
	height:130px; 
	width:100%; 
	background:#666;
	position:fixed;
	bottom:0;
	left:0;
	clear:both;
	z-index:9999;
}

.footer a{color: #aeaeae;}
.footer a:hover{ color:#f9bb2d; text-decoration:none;}

#f-menu {
	margin: 0 auto;
	margin-top:25px;
	padding: 0;
	list-style: none;	
	width: 980px;
}
#f-menu li {
	margin: 0;
	padding: 0;
	float: left;
}
#f-menu li a {
	padding: 0;
	padding-left:10px;
	margin-left:50px;
	margin-right:167px;
	display: block;
	text-decoration: none;
	font-size:16px;
	background:url(../images/arrow_01.png) no-repeat left center;
}


.qrcode{position:absolute; top:-13px; left:50%; margin-left:340px; z-index:9999; }
.f-time{border-top:1px #7a7a7a solid; position:absolute; top:55px; left:50%; margin-left:-447px; color:#aeaeae; padding:10px 15px;}
.f-other{border-top:1px #7a7a7a solid; position:absolute; top:55px; left:50%; margin-left:-170px; color:#aeaeae; padding:10px 15px;}
.f-service{border-top:1px #7a7a7a solid; position:absolute; top:55px; left:50%; margin-left:150px; color:#aeaeae; padding:10px 15px;}
.f-service img{padding-bottom:3px;}
.f-local{position:absolute; top:56px; left:50%; margin-left:295px; color:#aeaeae; padding:10px 15px; text-align:center;}
.f-local img{padding-bottom:3px;}
