@charset "utf-8";
/* CSS Document */

.side{ height:453px;}

.word {width:700px; margin:15px;}
.word table td{ padding:10px; border-bottom:1px #ccc dashed;}
.word a{ font-size:120%; color:#d6000f; text-decoration:none; }
.word a:hover{ color:#333; text-decoration:underline; }

.word_all{padding:30px 15px; width:92%;}
.word_all table{width:95%; margin:15px 0 30px 30px;}
.word_all table td{ padding:7px; }

.info{width:400px;}
.info table{ margin-right:10px;}
.info td{ padding:10px; vertical-align:top; border-bottom:1px #ccc dashed;}

.map{ width:100%; border-bottom:none;}
.map td{ border-bottom:none;}


