@charset "utf-8";
/* CSS Document */

.wrapper{ position:relative; width:980px; margin:0 auto;}
.logo{margin: 0; padding: 0; position:fixed; top:0; left:50%; margin-left:-490px; z-index:9999;}

.header{
	position:fixed;
	top:0;
	left:50%;
	margin-left:-490px;
	width:980px;
	z-index:9998;
}
#menu {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	top:29px;
	right:10px;
	width: 700px;
	float: right;
}
#menu li {
	margin: 0;
	padding: 0;
	float: left;
}
#menu li a {
	padding: 5px 15px;
	display: block;
	color: #fff;
	text-decoration: none;
	font-size:16px;
}
#menu li a:hover { }

#menu li ul {
	margin: 0;
	padding: 5px 0;
	list-style: none;
	float: left;
	position: absolute;
	left: 0;
	width: 500px;
	color: #fff;
	display: none;
}
#menu li ul li { background:#999; filter:alpha(opacity=70);opacity:0.7;zoom:1; border-right:1px solid #fff;}
#menu li ul li a { display: inline; }
#menu li ul li a:hover { color:#fff;}

li.here{ background:#F00;}
li.here:hover{ background:#F00;}

.list{ position:fixed; top:130px; left:50%; margin-left:-490px; width:49px; background:#f0f0f0; border-right:#d5d5d5 1px solid; }
.img{ float:right; width:271px; *margin-top:130px; }


.font_01{color:#f00;}
.font_02{color:#f00; font-size:120%; font-weight:bold;}
.font_03{color:#333; font-size:120%; }
.font_04{color:#d6000f; font-size:110%; }
.font_05{color:#888; font-size:190%;}
.font_06{color:#f00; font-size:145%; line-height:36px; }
.font_07{color:#f00; font-weight:bold; font-size:110%; line-height:34px;}
.font_08{color:#999; font-size:90%;}
.font_09{color:#333; font-size:215%;}

.anchor{
  display: block;
  height: 160px; /* 高度與navbar相同, 用來補上被navbar覆蓋的高度 */
  margin-top: -160px; /* 高度與navbar相同, 將頁面內容拉近, 不要造成額外空白 */
  visibility: hidden; /* 隱藏 */
}

img.banner{ border:#ccc 1px dotted; margin:5px 0 5px 15px;}
img.banner02{ border:#ccc 1px dotted; margin:5px 0 5px 5px;}

img.nn{ margin-left:2px;}
img.tt{ margin-left:15px;}
img.bb{border:7px solid #e8e8e8; margin-top:15px;}
img.back{ margin:-10px -10px 0 0;}

td.title{ }
td.ss{height:20px; border:none;}
td.mm{border-top:1px #ccc dashed; text-align:right;}
