@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lobster');
/* CSS Document */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
input, textarea { margin:0; padding:0;}
* {-webkit-text-size-adjust:none;}
a{text-decoration:none;}
fieldset, img { border:0;}
ol, ul { list-style:none;}
abbr, acronym { border:0;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
* html .clearfix {height: 1%;}
*:first-child + html .clearfix { min-height: 1%;}

body, h1, h2, h3, h4, h5, h6, p {font-family:'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif; font-weight: normal; color: #333;}
p{font-size: 15px;}
a{ text-decoration:none; outline: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
a:hover{ text-decoration:none;}
select, input, textarea, button {  font-family:'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif;}
*:link, *:visited, *:hover, *:active, *:focus , * {border: none;outline: none;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html, body{ height: 100%; }
input { -webkit-appearance: none; -moz-appearance: none; appearance: none;}
select{ appearance:none;  -moz-appearance:none;  -webkit-appearance:none;  -ms-appearance:none;}
*{ -ms-touch-action: manipulation; touch-action: manipulation; }

/*===== start ======*/
.shop_mainbox{ width: 100%; min-height: 100vh; position: relative; min-width: 320px; padding-bottom: 80px;}
.content_box{ width: 100%; max-width:1000px; margin: 0 auto; }

.top_banner{ width: 100%; max-width: 600px; margin: 0 auto;  }

.top_menu_box{ width: 100%; background-color: #f0f0f0; position: relative; padding: 12px 0; border-bottom: 4px solid #969696;  position: sticky; top: 0px; position: -webkit-sticky; position: -moz-sticky; position: -ms-sticky; position: -o-sticky; z-index: 3; }
.top_menu_box .swiper-container { width: 100%; height: 100%; }
.top_menu_box .swiper-slide { width: auto !important; margin: 0 5px; text-align: center; font-size: 18px;  display: -webkit-box; display: -ms-flexbox;  display: -webkit-flex;  display: flex;  -webkit-box-pack: center;  -ms-flex-pack: center; -webkit-justify-content: center;  justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}
.top_menu_box .swiper-slide p{ padding:8px 15px;  display:block; border-radius: 50px; background-color: #fff; position: relative;}
.top_menu_box .swiper-slide p.btn_in{ background-color: #ff9900; color: #fff; }
.top_menu_box .swiper-slide p span.nb{ color: #fff; width: 18px; height: 18px; border-radius: 50%; display: inline-block; background-color: #f44336; text-align: center; font-size: 11px; line-height: 18px; position: absolute; top: 0px; right: -8px; z-index: 11; }


.top_menu_box ul.list{ width:100%; display: block; text-align: left; height: 50px; }
.top_menu_box ul.list li{ float: left; display: inline-block; margin-left:5px; }
.top_menu_box ul.list li p{ cursor: pointer; padding:8px 15px; border-radius: 50px; background-color: #fff; }
.top_menu_box ul.list li p a{ color: #333; }
.top_menu_box ul.list li.btn_in p{ background-color: #ff9900; color: #fff; }
.top_menu_box ul.list li.btn_in p a{ color: #fff; }

.shop_mainbox .btn_swtich{ display: inline-block;}
.shop_mainbox .btn_swtich p{float: left; line-height: 24px; margin-right: 10px; color: #333; padding-left: 10px;}

.the_productbox{ width: 100%; }
.the_productbox .products_box{ width: 100%; border-top:2px solid #fff;  padding: 20px 25px; }
.the_productbox .products_box .top_title_box{ padding:10px 25px 25px 25px; background-color: #fff; }
.the_productbox .products_box .top_title_box h2{ font-size: 18px; line-height: 28px; }

.the_productbox .products_box ul.products_list{ width: 100%; }
.the_productbox .products_box ul.products_list li{ width:25%; margin:0; position: relative; padding: 20px 10px; float: left; border-bottom:1px solid #dfdfdf; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
.the_productbox .products_box ul.products_list li:last-child{ border: none; }
.the_productbox .products_box ul.products_list li p.buy_nb{ position: absolute; font-weight: bold; color: #222; border:2px solid #fff; width:48px; height: 48px; border-radius: 50%; display: inline-block; background-color: #ffc107; text-align: center; font-size: 16px; line-height: 46px; top: 95px; left:85px; z-index: 1;}

.the_productbox .products_box ul.products_list li .photo{ width: 130px; height: 130px; margin-top: -3px; float: left; z-index: 0; border:4px solid #fff; overflow: hidden; display: block; background-position: center center; border-radius: 50%; background-repeat: no-repeat; background-size: cover; float: left; background-color: #f0f0f0; }
.the_productbox .products_box ul.products_list li .photo p.sold{ width: 100%; height: 100%; font-size: 14px; color: #fff; text-align: center; letter-spacing: 1px; position: relative;}
.the_productbox .products_box ul.products_list li .photo p.sold span{ position: absolute; width: 100%; left: 0; bottom: 0; padding: 4px 0 6px 0; background-color: rgba(0,0,0,.5); }
.the_productbox .products_box ul.products_list li .product_info{ float: left; width:calc(100% - 130px) ; padding-left: 20px; position: relative; }
.the_productbox .products_box ul.products_list li .product_info h3.product_title{ font-size: 15px; margin-bottom: 5px;}
.the_productbox .products_box ul.products_list li .product_info h4.sub_info{ font-size: 13px; min-height: 42px; padding-bottom: 5px; text-align: justify; color: #888; display: block; }
.the_productbox .products_box ul.products_list li .product_info p.money{ font-size: 15px;  color: #fe4513; padding: 5px 0;}
.the_productbox .products_box ul.products_list li .product_info p.product_inventory{ float: left; padding-right:10px; color: #888; font-size: 13px; line-height: 35px; }

.the_productbox .products_box ul.products_list li.the_selected .photo{ border-color: #ffc107; }
.the_productbox .products_box ul.products_list li.no_photo .photo{ display: none; }
.the_productbox .products_box ul.products_list li.no_photo .product_info{ width: 100%;}

.the_productbox .products_box ul.style_one li{ width: 350px; margin:25px 15px 25px 75px; position: relative; border-radius: 5px; padding: 20px 20px 20px 60px; float: left; border:2px solid #f0f0f0; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
.the_productbox .products_box ul.style_one li:last-child{ border: 2px solid #f0f0f0; }
.the_productbox .products_box ul.style_one li p.buy_nb{ position: absolute; color: #fff; border:2px solid #fff; width:34px; height: 34px; border-radius: 50%; display: inline-block; background-color: #f44336; text-align: center; font-size: 14px; line-height: 30px; top: 60px; left:28px;;}
.the_productbox .products_box ul.style_one li .photo{ width: 130px; height: 130px; position: absolute; top: -30px; left: -65px; z-index: 0; border:4px solid #fff; overflow: hidden; display: block; background-position: center center; border-radius: 50%; background-repeat: no-repeat; background-size: cover; float: left; }
.the_productbox .products_box ul.style_one li .photo p.sold{ width: 100%; height: 100%; font-size: 14px; color: #fff; text-align: center; letter-spacing: 1px; position: relative;}
.the_productbox .products_box ul.style_one li .photo p.sold span{ position: absolute; width: 100%; left: 0; bottom: 0; padding: 4px 0 6px 0; background-color: rgba(0,0,0,.5); }
.the_productbox .products_box ul.style_one li .product_info{ float: left; width: 100%; padding-left: 20px; position: relative; }
.the_productbox .products_box ul.style_one li .product_info h3.product_title{ font-size: 15px; margin-bottom: 5px; display: block; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; line-height: 26px; height: 26px * 1; overflow:hidden;}
.the_productbox .products_box ul.style_one li .product_info h4.sub_info{ font-size: 13px; height: 46px; min-height: inherit; text-align: justify; color: #888; display: block; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; line-height: 22px; height: 21px * 2; overflow:hidden; }
.the_productbox .products_box ul.style_one li .product_info p.money{ font-size: 15px;  color: #fe4513; position: absolute; bottom: 6px; left: 20px;}
.the_productbox .products_box ul.style_one li .product_info p.product_inventory{ float: right; text-align: right; padding:0 10px; color: #888; font-size: 13px; line-height: 35px; }

.the_productbox .products_box ul.style_one li.the_selected{ border-color: #969696; }
.the_productbox .products_box ul.style_one li.the_selected .photo{ border-color: #fff; }

.input_quantity{width: 100%; margin: 0 auto; text-align: right; padding-top: 7px; min-height: 33px;}
.input_quantity div{ display: inline-block;}
.input_quantity button{ cursor: pointer; display: inline-block; width:35px; height: 35px; border-radius: 50%; line-height: 35px; font-size: 16px; background-color: #f6f6f6; color: #595656;}
.input_quantity button:active{ color: #e39a9a; background-color: #f8eded;  }
.input_quantity input{ display: inline-block; width: 50px; color: #fd735c; background-color: #f8f8f8; border-radius: 50px; font-weight: bold; font-size: 18px; text-align: center; height: 35px; line-height: 35px; padding: 0px 5px;}
.input_quantity input::placeholder{ color: #cecece; }

.btn_buy button.btn_order{ float: right; border:2px solid #fd735c;display: inline-block; color: #fd735c; line-height: 33px; background-color: #fff; width: initial; border-radius: 30px; padding: 0 15px; }

.the_disabled button, .the_disabled button, .the_disabled input, .the_disabled input{ opacity: .5; cursor: no-drop; }

.icon_cart{ position: fixed; bottom: 80px; right: 10px;  z-index: 2;}
.icon_cart a{ text-align: center; line-height: 50px; width: 50px; height: 50px; cursor: pointer; border-radius: 50%; display: block; background-color: #333; color: #fff; position: relative;}
.icon_cart a span{ color: #fff; width: 18px; height: 18px; border-radius: 50%; display: inline-block; background-color: #f44336; text-align: center; font-size: 11px; line-height: 18px; position: absolute; top: 0px; right: 0px; z-index: 11; }

.order_tools{ position: fixed; bottom: 0; left: 0; width: 100%; z-index: 2; background-color: #f7f7f7; box-shadow: 0px 0px 5px rgba(0,0,0,.2);  padding: 8px 15px; }
.order_tools p.order_amount{ float: left; color: #333; font-size: 14px; line-height: 45px; padding: 0 10px; }
.order_tools p.order_amount span{ color: #fe4513; font-size: 20px; padding-left: 8px; }

.order_tools p.btn{ float: right;  cursor: pointer;  display: inline-block;text-align: center; padding: 6px;}
.order_tools p.btn a{ color: #fff;  padding:0px 15px; height: 40px; min-width: 115px;  display: block; line-height:40px; border-radius: 50px; background-color: #ff9900;}
.order_tools p.btn a:active{ background-color: #ff7f47; color: #fff; }


/*.shopping_order .order_tools{ padding: 0; }
.shopping_order .order_tools p.btn{ width: 40%; float: left; padding: 0;}
.shopping_order .order_tools p.btn:last-child{ width: 60%; }
.shopping_order .order_tools p.btn a{ border-radius: 0; width: 100%; }

*/

#category_tools{ padding: 15px; max-height: 90vh;}
.the_button{ text-align: center; padding: 20px 0 15px; }
.the_button a.btn{ display: inline-block; border-radius: 50px; font-size: 14px; color: #5f6368; line-height: 40px; height: 40px; background-color: #fff; min-width: 115px; text-align: center; }
.the_button a.btn:active{ color: #333; }
.the_button a.c_org{ background-color: #ff9900; color: #fff; }
.the_button a.c_org:active{ background-color: #ff7f47; color: #fff; }
.the_button a.c_gray{ background-color: #bebebe; color: #fff; }
.the_button a.copy{ min-width: 120px; }
.shopping_order .input_quantity{text-align: center;}
.shopping_order .the_button{ padding: 15px 0;}
.shopping_order .the_button a.btn{ margin: 0 5px; }


.fadebox{ width: 100% !important; }
.fadebox h3.top_title{ text-align: center; padding: 20px 0 15px; font-size: 18px; font-weight: bold; }
.fadebox input{ width: 100%; max-width: 500px; border:1px solid #fff; padding: 0 15px; margin: 0 auto; text-align: center; font-size: 15px; border-radius: 50px; height: 40px; background-color: #f8f8f8;}
.fadebox textarea{ width: 100%; max-width: 400px; min-height: 90px; padding: 10px 15px; margin: 10px auto; font-size: 15px; border-radius: 8px; background-color: #f0f0f0;}
.fadebox input:focus { border-color: #ff99007a;}
.fadebox .category_list{ }
.fadebox .category_list ul.list{ max-height:350px; max-width: 400px; margin: 0 auto; padding: 0 15px; min-height: 100px; overflow-y: auto; }
.fadebox .category_list ul.list li{ padding: 5px 0; }
.fadebox .category_list ul.list li p{ height: 46px; cursor: pointer; padding: 0 15px; font-size: 14px; border:2px solid #fff; border-radius: 50px; background-color: #f0f0f0;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; line-height: 44px; height: 44px * 1; overflow:hidden;}
.fadebox .category_list ul.list li p.the_selected{ border-color: #969696; }

.fadebox .category_list input{ text-align: left; float: left; width: calc(100% - 95px); }
.fadebox .category_list .sequence{ text-align: center; padding-top: 10px ; display: none;}
.fadebox .category_list .sequence a{ color: #4a4a4a; cursor: pointer; margin: 0 2px; border:1px solid #d3d3d3; min-width: 41px; height: 41px; font-size: 13px; padding: 0px 12px; /*background-color: #e9e9e9;*/ display: inline-block; border-radius: 50px; text-align: center; line-height: 41px; }
.fadebox .category_list .sequence a.disabled{ color: #999;  cursor: no-drop;}

.fadebox .notice_content h3.top_title{ font-size: 18px; padding: 10px 0 15px 0; }
.fadebox .notice_content pre.info{ font-size: 12px;  white-space: pre-wrap; white-space: -moz-pre-wrap !important; white-space: -pre-wrap; white-space: -o-pre-wrap;word-wrap: break-word; }


.fadebox .infobox{ background-color: #f0f0f0; padding: 15px; border-radius: 8px; text-align: center;}
.fadebox .infobox p { line-height: 24px;}
.fadebox .infobox p span{ color: #ff9900; }
.fadebox .infobox p span.green{color: #ff9900; }
.fadebox .styled-select{ height: 41px; width: 100%; border-radius: 50px; background: url(../images/icon_arr.png) center right no-repeat #f0f0f0; background-size: contain;}
.fadebox .styled-select select{ padding: 0 20px; font-size: 16px; color: #333;  width: calc(100% - 20px); height: 41px; line-height: 41px; background: none; }
.fadebox .the_product_info input, .fadebox .the_product_info textarea{ text-align: left; max-width: initial; }
.fadebox .the_product_info ul li{ padding: 15px 0; border-bottom: 1px solid #b6b6b6; }
.fadebox .new_manager_pw input{ font-size: 22px; color: #ff9900; height: 60px; line-height: 60px; }
.fadebox .new_manager_pw p.note{ padding: 10px 0; font-size: 13px;  text-align: center;}
.fadebox .new_manager_pw p.note span{ color: #f44336; }
.fadebox .new_manager_pw .infobox{ text-align: initial; }

.fadebox .input_quantity{ text-align: center; padding-top: 0; }
.fadebox .input_quantity input{ width: 50px; line-height: 35px; }

.shopping_cart{ max-width: 1000px !important; margin: 0 auto; }
.shopping_cart h3.top_title{ text-align: center; padding: 20px 0 15px; font-size: 18px; font-weight: bold; }
.fadebox p.quantity_products, .fadebox p.sub_title{text-align: center; padding-bottom: 20px; font-size: 14px; line-height: 28px; color: #666666; }
.fadebox p.quantity_products span,  .fadebox p.sub_title span{ color: #fe4513; padding: 0 5px; font-size: 18px;}
.fadebox p.sub_title{ padding-bottom: 10px;}

.shop_mainbox .top_step{ width: 100%; top: 0; z-index: 10; position: sticky; position: -webkit-sticky; position: -moz-sticky; position: -ms-sticky; position: -o-sticky; border-bottom: 2px solid #eaeaea;}
.shop_mainbox .top_step ul{ width: 100%; background-color: #fff; }
.shop_mainbox .top_step ul li{ float: left; width: 33.33%; padding: 20px 0; position: relative;}
.shop_mainbox .top_step ul li::after{ content: ""; position: absolute; right: 0; top:calc(50% - 15px); width: 30px; height: 30px; display: block; background: url(../images/step_arr.png) center center no-repeat; background-size: contain; }
.shop_mainbox .top_step ul li:last-child::after{ display: none; }
.shop_mainbox .top_step ul li p{ font-size: 18px; font-weight: bold; color: #a2a2a2; text-align: center;}
.shop_mainbox .top_step ul li p span{ font-family: 'Lobster', cursive; font-weight: normal;}
.shop_mainbox .top_step ul li.btn_in p{ color: #333; }
.shop_mainbox .top_step ul li.btn_in p span{ color: #ff9900; }

ul.shopping_car_list{padding-bottom: 25px;}
ul.shopping_car_list .sbox{ float: left; width: 20%; padding: 10px 0; min-height: 95px;  border-bottom: 1px solid #f5f5f5;text-align: center;  display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center}
ul.shopping_car_list .top_title .sbox{ min-height: inherit; background-color: #f5f5f5; border-top: 1px solid #e4e4e4;}
ul.shopping_car_list .car_name{width:calc(80% - 200px); vertical-align: top; display: inline-block;}
ul.shopping_car_list .car_name p.product_name{ text-align:left; float: left; padding: 5px; width: 100%; max-width: calc(100% - 90px);}
ul.shopping_car_list .car_name p.product_name span.mainTitle{ font-weight: bold; display: block; display: -webkit-box;  -webkit-box-orient: vertical; -webkit-line-clamp: 1; line-height: 20px; height: 20px * 1; overflow:hidden;}
ul.shopping_car_list .car_name p.product_name span.style_for{color: #666; font-size: 13px; margin-bottom: 5px; display: inline-block; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; line-height: 17px; height: 17px * 1; overflow:hidden;}
ul.shopping_car_list .car_name p.product_name span.other{color: #999; font-size: 13px; margin-bottom: 8px; display: inline-block;}
ul.shopping_car_list .car_name p.product_name span.money{ display: block; font-size: 13px;}
ul.shopping_car_list .car_name .photo{ width: 70px; height: 70px; display: block; float: left; border-radius: 50%; background-repeat: no-repeat; background-position: center center; background-size: cover; margin-right: 8px; }
ul.shopping_car_list .car_nb{ width: 200px; }
/*ul.shopping_car_list .car_delete{ position: relative; width: 15%; }
ul.shopping_car_list .car_delete a{ color: #666; cursor: pointer;}
ul.shopping_car_list .car_delete a.yesDelets{position: absolute; background-color: #F94F4F; padding:12px 15px; border-radius: 4px; left:calc(50% - 45px); top: 0px\9; *top:0px; _top:0px;  }
ul.shopping_car_list .car_delete a.yesDelets p{ color: #fff; font-size: 14px;}
ul.shopping_car_list .car_delete a:hover{ color: #ff9900; }
*/
.shopping_cart input[type=checkbox]:not(old), input[type=radio ]:not(old){ position: absolute; top: 0; left: 0; height: 100%;  width : 100% !important;  margin: 0;  padding : 0; opacity : 0; cursor: pointer;}
.shopping_cart input[type=checkbox]:not(old) + label{  display : inline-block;  padding-left : 30px; height: 24px; line-height : 24px; background : url('../images/checks.png') no-repeat 0 -48px;}
.shopping_cart input[type=checkbox]:not(old):checked + label{ background-position : 0 -73px;}
.shopping_cart input[type=radio]:not(old) + label{ cursor: pointer; display : inline-block; height: 24px;  padding-left : 30px; line-height : 24px;  background: url('../images/checks.png') no-repeat 0 3px;}
.shopping_cart input[type=radio]:not(old):checked + label{ background-position : 0 -22px;}

.shopping_cart input.btn{ margin: 0 auto; text-align: center; font-size: 17px; background-color: #ff8a00; height: 50px; line-height: 50px; color: #fff; display:block; min-width: 186px; cursor: pointer; border-radius: 50px; }
.shopping_cart ul.day-select{ width: 100%; background-color: #f0f0f0; padding: 12px; }
.shopping_cart ul.day-select li{ position: relative; max-width: 328px; margin: 8px auto; background-color: #fff; border-radius: 50px; padding: 8px; }
.shopping_cart label{ font-size: 15px; font-family:'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif; color: #676767;}
.shopping_cart form{ padding-bottom: 30px;}

/*.shopping_cart ul.fillin{ max-width: 350px; margin:10px auto 0  auto; text-align: left; padding: 10px 0; background-color: #f6f6f6; border-radius: 40px; padding: 15px;}
.shopping_cart ul.fillin li{ float: left; width: 33.33%; position: relative; }
.shopping_cart ul.fillin li .code-box{ width: 100px; height: 32px; position: absolute; top: calc(50% - 16px); right: 0px; }
.shopping_cart ul.fillin li label{ width: 100%; display: block; font-size: 16px; color: #828282; padding-bottom: 5px; }
.shopping_cart ul.fillin li input{ width: 100%;font-size: 16px;  border-radius: 0; color: #333; border-bottom: #e1e1e1 solid 1px; }
.shopping_cart ul.fillin li input::placeholder{ color: #a9a9a9; }
.shopping_cart ::-webkit-input-placeholder, .shopping_cart input::-moz-placeholder, .shopping_cart input::-moz-placeholder, .shopping_cart:-ms-input-placeholder{color: red;}
.shopping_cart ul.fillin li input:focus{ border-color: #ff8a00; }
.shopping_cart ul.fillin li.the_terms{ margin-top: -6px; }
.shopping_cart ul.fillin li.the_terms a.link{ font-size: 14px; position: absolute; top: 2px; right: 0; color: #039be5; text-decoration: underline; }
.shopping_cart ul.fillin li.the_terms a.link:hover{ text-decoration: none; }
.shopping_cart ul.fillin li.the_terms label{ font-size: 14px; font-weight: bold; color: #333; }
.shopping_cart ul.fillin li.the_terms input{padding: 0; height: 29px;}
*/
.shopping_cart ul.the_btn{ width: 100%; max-width: 800px;  padding: 15px 0 30px 0; text-align: center; margin: 0 auto;}
.shopping_cart ul.the_btn li{  display: inline-block; margin: 0 5px 10px 5px;}
.shopping_cart ul.the_btn li p{ font-size: 16px; display: inline-block; cursor: pointer; border-radius: 50px; padding: 0px 10px; font-size: 14px; color: #5f6368; line-height: 38px; height: 40px; border:2px solid #f0f0f0; background-color: #fff; min-width: 120px; text-align: center; }
.shopping_cart ul.the_btn li.the_selected p{ border-color: #969696; }

/*品項多選單選*/
ul.option_list{ width: 100%; text-align: center; padding-bottom: 15px; }
ul.option_list li{ display: inline-block; margin:0px 4px 7px 0; float: left; }
ul.option_list input[type=checkbox], ul.option_list input[type=radio]{ visibility:hidden; width: initial; max-width:initial; height: initial; border:none; border-radius: initial; padding: 0;}

ul.option_list .the_radio{ position: relative; }
ul.option_list .the_radio label,
ul.option_list .the_checkbox label { border:1.5px solid #d2d2d2; color:#555; position:relative; font-size: medium; display: inline-block; border-radius:40px; cursor: pointer;z-index: 1; padding:4px 15px; font-size: 13px; height: 28px; line-height: 17.5px;}
ul.option_list .the_radio input[type=radio]:checked + label, ul.option_list .the_checkbox input[type=checkbox]:checked + label {border-color: #ff9800;  color:#fff; background-color: #ff9800;}
ul.option_list .out_of_stock label{ background-color: #f6f6f6;  color: #bcbcbc; border-color: #e5e5e5;cursor: no-drop;}
ul.option_list .out_of_stock input[type=radio]:checked + label, ul.option_list .out_of_stock input[type=checkbox]:checked + label {background-color: #f6f6f6;  color: #bcbcbc; border-color: #e5e5e5; }

.food_items{ padding: 15px !important; }
.food_items h3.top_title{ text-align: left; padding-bottom: 10px;}
.food_items h3.top_title span{ display: block; }
.food_items h3.top_title span.must{ color: #ff5722; padding-right: 5px; display: inline-block;  }
.food_items h3.top_title i{ padding-left: 10px; font-size: 19px}
.food_items p.sub_title{ text-align: left; font-size: 13px; }
.food_items .the_button{ padding: 15px 0;}
.food_items p.order_title{ font-weight: bold; font-size: 16.5px; border-bottom: 1px solid #d8d8d8; text-align: center; padding-bottom: 12px; }
.food_items .input_quantity{ max-width: 100%; padding: 5px 0; }
.food_items .input_quantity input{ width: 90px; }
/*品項多選單選*/


/*選單上的箭頭*/
.top_menu_box .arr_go_right{ position: absolute;}
.top_menu_box .arr_go_right .dots div{ background-color: #ff9900;}
.arr_go_right{ width: 40px; height: 100%; padding: 5px 10px 5px 5px; display: block; z-index: 10; right: 0; top: 0; 
	display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f7f7f7+99&0+0,1+34,1+98 */
background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(252,252,252,1) 34%, rgba(247,247,247,1) 98%, rgba(247,247,247,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(252,252,252,1) 34%,rgba(247,247,247,1) 98%,rgba(247,247,247,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(252,252,252,1) 34%,rgba(247,247,247,1) 98%,rgba(247,247,247,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f7f7f7',GradientType=1 ); /* IE6-9 */}
.arr_go_right .dots { width: 40px;  display: flex;  flex-flow: row nowrap;  align-items: center;  justify-content: space-between;}
.arr_go_right .dots div { width: 10px;  height: 15px; display: block; -webkit-clip-path: polygon(38% 0, 100% 50%, 38% 100%, 0 99%, 60% 50%, 0 0); clip-path: polygon(38% 0, 100% 50%, 38% 100%, 0 99%, 60% 50%, 0 0); background-color: #fff;  animation: fade 0.8s ease-in-out alternate infinite;}
.arr_go_right .dots div:nth-of-type(1) { animation-delay: -0.4s;}
.arr_go_right .dots div:nth-of-type(2) { animation-delay: -0.2s;}

.arr_go_left, .arr_go_top{display: inline-block;}
.arr_go_left .dots { width: 40px;  display: flex;  flex-flow: row nowrap;  align-items: center;  justify-content: space-between;}
.arr_go_left .dots div { width: 10px;  height: 15px;  display: block; -webkit-clip-path: polygon(100% 0, 38% 50%, 100% 100%, 50% 100%, 0% 50%, 50% 0); clip-path: polygon(100% 0, 38% 50%, 100% 100%, 50% 100%, 0% 50%, 50% 0);  background-color: #fff;  animation: fade 0.8s ease-in-out alternate infinite;}
.arr_go_left .dots div:nth-of-type(1) { animation-delay: -0.2s;}
.arr_go_left .dots div:nth-of-type(2) { animation-delay: -0.4s;}
.arr_go_left .dots div:nth-of-type(3) { animation-delay: -0.6s;}

.arr_go_top .dots { width: 15px;}
.arr_go_top .dots div { width: 15px;  height: 10px;  display: block; -webkit-clip-path: polygon(100% 40%, 100% 65%, 50% 30%, 0 65%, 0 40%, 50% 0); clip-path: polygon(100% 40%, 100% 65%, 50% 30%, 0 65%, 0 40%, 50% 0);  background-color: #fff;  animation: fade 0.8s ease-in-out alternate infinite;}
.arr_go_top .dots div:nth-of-type(1) { animation-delay: -0.2s;}
.arr_go_top .dots div:nth-of-type(2) { animation-delay: -0.4s;}
.arr_go_top .dots div:nth-of-type(3) { animation-delay: -0.6s;}

/*說明*/
.explanation_contents{ width: 100%; height: 100vh; margin: 0; padding: 0; background-color: rgba(0,0,0,.5); position: fixed; z-index: 4; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.explanation_contents .explanation_middle{ max-height: 90vh; width: 90%; max-width: 460px; background-color: #fff; border-radius: 8px; overflow: hidden; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000; -o-box-shadow: 0 0 10px #000; -ms-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000;}
.explanation_contents .explanation_middle .ex_photo{ max-height:calc( 80vh - 65px); overflow: hidden; position: relative; }
.explanation_contents .explanation_middle .ex_photo::after{ content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 100px; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+99 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
 z-index: 2;}
.explanation_contents .explanation_middle .ex_photo .ex{ position: absolute; z-index: 3; width: 100%; text-align: center; background-color: #747474c4; font-weight: bold; padding: 5px 15px; border-radius: 40px;}
.explanation_contents .explanation_middle .ex_photo .ex p{ font-weight: bold; color: #fff; padding: 0; margin: 0; display: inline-block; font-size: 13.5px;}
.explanation_contents .explanation_middle .ex_photo .ex1{ max-width: 200px; top: 30px; left:calc(50% - 100px);}
.explanation_contents .explanation_middle .ex_photo .ex2{ max-width: 90px; right: 10px; border-radius: 15px; top: calc(50%);}
.explanation_contents .explanation_middle .ex_photo .ex2 p{ padding-top: 5px; line-height: 20px;}
.explanation_contents .explanation_middle .ex_photo .ex3{ max-width: 260px; bottom: 10px; left:calc(50% - 130px);}
.explanation_contents .explanation_middle .ex_photo .ex3 p{ padding: 0 5px; }

.explanation_contents .explanation_middle .arr_go_right{ background: none; display: inline-block;}
.explanation_contents .the_button{ padding:15px 0;}

@keyframes fade {
  from { opacity: 1; }
  to { opacity: 0; }
}
	
@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
    ul.shopping_car_list .car_delete a.yesDelets{ top:0px;}
}
@media (max-width:1440px){
	.the_productbox .products_box ul.products_list li{ width: 33%; }
    .the_productbox .products_box ul.style_one li{ width: calc(33.3% - 75px);  padding-left: 65px; margin-left: 60px; }
}
@media (max-width:1140px){
	.the_productbox .products_box ul.products_list li{ width: 50%; }
    .the_productbox .products_box ul.products_list li .product_info p.money{ left: -35px; }
    .the_productbox .products_box ul.style_one li{ width: calc(50% - 75px);}
}
@media (max-width:1020px){
    .the_productbox .products_box ul.style_one li{ width: calc(50% - 75px);  padding-left: 45px; margin-left: 60px; }
    .the_productbox .products_box ul.style_one li .photo{ width: 100px; height: 100px; }
    .the_productbox .products_box ul.style_one li .product_info{ padding-left: 0; }
    .the_productbox .products_box ul.style_one li .product_info p.money{ left: 0px; }
    .the_productbox .products_box ul.style_one li p.buy_nb{ left: 6px; top: 35px; }
}
@media (max-width:910px){
    .shop_mainbox .top_step ul li p{ font-size: 16px; }
}
@media (max-width:800px){
    .shop_mainbox .top_step ul li p{ font-size: 15px; }
}
@media (max-width:750px){
    .fadebox h3.top_title{ font-size: 17px; }
    .shop_mainbox .top_step ul li{padding: 15px 0;}
    .shop_mainbox .top_step ul li p{ font-size: 14px; }
    .the_productbox .products_box{ padding: 15px 20px; }
    .the_productbox .products_box .right_info{width: calc(100% - 135px);}
    .the_productbox .products_box .manager_list h3.user_idight_info .top_title_box ul.products_tools p{font-size: 14px;}
    .the_productbox .products_box .top_title_box{ padding: 0px 10px 15px 10px; }
    .the_productbox .products_box .top_title_box h2{ text-align: center; }
    .input_quantity{ text-align: center; max-width: 150px; }
    .input_quantity input{ padding: 2px 3px;}
    .shopping_order .the_button{ padding: 5px 0; }
    
    .the_productbox .products_box ul.products_list li{ width: 100%; padding: 15px 0; }
    .the_productbox .products_box ul.style_one li{ width: calc(50% - 15px); padding:50px 12px 0px 12px; margin:40px 7.5px 25px 7.5px; min-height: 235px; }
    .the_productbox .products_box ul.style_one li .photo{  margin-top: -25px; left: calc(50% - 50px);  }
    .the_productbox .products_box ul.style_one li .product_info{ padding-top: 35px;}
    .the_productbox .products_box ul.style_one li .product_info p.money{ text-align: center; bottom: initial; top: 5px; width: 100%;}
    .the_productbox .products_box ul.style_one li .product_info h3.product_title{ text-align: center; }
    
    .the_productbox .products_box ul.style_one li .btn_buy button.btn_order{  display: block; float: none; margin: 0 auto; }
    .the_productbox .products_box ul.style_one li .product_info h4.sub_info{ text-align: center; line-height: 18px; height: 18px * 2; margin-bottom: 4px; height: 38px}
    .the_productbox .products_box ul.style_one li .product_info p.product_inventory{ font-size: 12px; text-align: center; float: none; padding: 0; }
    .the_productbox .products_box ul.style_one li p.buy_nb{ font-size: 13px; left:calc(50% + 20px); top: 15px; }
}
@media (max-width:650px){
    .shopping_cart{ padding: 15px !important;}
    .shopping_cart h3.top_title{padding-bottom: 5px;}
    .shopping_cart p.quantity_products{padding-bottom: 10px;}
    .shopping_order .shopping_cart{ padding: 0 15px !important;}

    ul.shopping_car_list li.top_title{display: none;}
    ul.shopping_car_list .sbox{width:calc(100% - 160px); padding: 0; min-height: 75px;}
    ul.shopping_car_list .sbox p{ font-size: 14px;}
    ul.shopping_car_list .car_nb{ width: 160px; }
    ul.shopping_car_list .car_name{width:100%; border:none; padding-top: 15px;}
    ul.shopping_car_list .car_money{ text-align: right; }
    ul.shopping_car_list .car_money p{ width: 100%; padding-right: 8px;}

    .the_productbox .products_box ul.products_list li .product_info h4.sub_info{min-height: inherit;}
   /* ul.shopping_car_list .car_delete a.yesDelets{left:calc(50% - 25px); width: 50px; padding:6px 10px;}
    ul.shopping_car_list .car_delete a.yesDelets p{ font-size: 13px;  }
}
@media (max-width:500px){
    .the_productbox .products_box{ padding: 15px;}
    .the_productbox .products_box ul.style_one li .product_info h3.product_title{ font-size: 14px; }
    .the_productbox .products_box ul.style_one li .photo p.sold{ font-size: 13px; }
    .fadebox input{ font-size: 14px; }
    .fadebox .input_quantity input{ font-size: 16px; }
    .bottom_manager_tools{ text-align: left;}
    .bottom_manager_tools p.btn{ font-size: 14px; }
}
@media (max-width:410px){
    .bottom_manager_tools p.btn{ font-size: 13px; }
    .bottom_manager_tools p.btn a{ padding: 8px 10px;}
    .the_productbox .products_box ul.products_list li .photo{ width: 105px; height: 105px; }
    .the_productbox .products_box ul.products_list li .product_info{ width: calc(100% - 105px);}
    .the_productbox .products_box ul.products_list li p.buy_nb{ width:40px; height: 40px; line-height: 38px; font-size: 14px; left: 70px; top: 80px;}
    .the_productbox .products_box ul.style_one li{ width: calc(50% - 10px); margin: 44px 5px 25px 5px; padding:40px 6px 10px 6px;}
    .the_productbox .products_box ul.style_one li .product_info{ width:100%;}
    .the_productbox .products_box ul.style_one li .product_info p.money{top: 10px;}
    .the_productbox .products_box ul.style_one li p.buy_nb{ width: 34px; height: 34px; line-height: 30px; font-weight: normal; left: calc(50% + 20px); top: 15px;}
    .input_quantity button{font-size: 13px; width: 32px; height: 32px; }
    .input_quantity input{ font-size: 16px; width: 36px; height: 32px; line-height: 32px;}
    ul.shopping_car_list .sbox p{ font-size: 14px; }
    ul.shopping_car_list .sbox{ width: calc(50% - 65px);}
    ul.shopping_car_list .car_nb{ width: 130px; }
    ul.shopping_car_list .car_name{width: 100%;}
}
@media (max-width:370px){
    .shop_mainbox .btn_swtich p,
    .top_menu_box ul.list li p,
    .top_menu_box ul.list li p{padding: 8px 10px;}
    .shop_mainbox .btn_swtich p{padding-left: 0;}
    .the_productbox .products_box{ padding: 10px 15px;}
    .the_productbox .products_box .top_title_box h2{ font-size: 15px; }
    .the_productbox .products_box .top_title_box ul.products_tools p{font-size: 13px;}
    .the_productbox .products_box ul.products_list li .photo{ width: 90px; height: 90px; }
    .the_productbox .products_box ul.products_list li .product_info{ width: calc(100% - 90px);}
    .the_productbox .products_box ul.products_list li p.buy_nb{ left: 70px; top: 10px; }
    .the_productbox .products_box ul.style_one li{ padding:40px 10px 10px 10px;}
    .the_productbox .products_box ul.style_one li .product_info{ width: 100%; }
    .the_productbox .products_box ul.style_one li .product_info h3.product_title{font-size: 13px;}
    .the_productbox .products_box ul.style_one li .product_info h4.sub_info{ font-size: 12px; line-height: 16px; height: 16px * 2; height: 32px; margin-bottom: 10px;}
    .the_button a.btn{min-width: 85px; height: 36px; line-height: 36px;}
    .fadebox .styled-select select{font-size: 15px;}
    .fadebox input{font-size: 12px;}
    .fadebox h3.top_title{ font-size: 16px; }
    .food_items h3.top_title{ font-size:15px; }
    .modal{padding: 15px !important;}
}
@media screen and (max-height: 450px) {
}