header.sticky{
	top: 0px;
	background: #fff;
	padding-bottom: 20px;
z-index: 999999;
-webkit-transition: all 0.3s;
 	   -moz-transition: all 0.3s;
 	    -ms-transition: all 0.3s;
 	     -o-transition: all 0.3s;
 	        transition: all 0.3s;
	    
	-webkit-box-shadow: 0px -1px 20px rgba(0,0,0,0.1);
	        box-shadow: 0px -1px 20px rgba(0,0,0,0.1);
}

header.sticky nav{
	top: 35px;
}


header.sticky nav.white a{
	color: #000;
	text-shadow: none;
}

header.sticky nav.white a:hover, header.sticky nav.white a.act{
	color: #e52948;
}

header.sticky a.backHome{
	top: 20px;
}

header.sticky a.backHome:hover{
	color: #000;
}


.go_right {
	-webkit-animation: cssAnimation 0.3s 1 ease-out;
	-moz-animation: cssAnimation 0.3s 1 ease-out;
	-o-animation: cssAnimation 0.3s 1 ease-out;
	animation: cssAnimation 0.3s 1 ease-out;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes cssAnimation {
	0% {
		-webkit-transform: translate(0px);
	}

	100% {
		-webkit-transform: translate(-207px);
	}
}

@-moz-keyframes cssAnimation {
	0% {
		-moz-transform: translate(0px);
	}

	100% {
		-moz-transform: translate(-207px);
	}
}

@-o-keyframes cssAnimation {
	from {
		-o-transform: translate(0px);
	}

	100% {
		-o-transform: translate(-207px);
	}
}

.go_left {
	-webkit-animation: cssAnimationleft 0.3s 1 ease-out;
	-moz-animation: cssAnimationleft 0.3s 1 ease-out;
	-o-animation: cssAnimationleft 0.3s 1 ease-out;
	animation: cssAnimationleft 0.3s 1 ease-out;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes cssAnimationleft {
	0% {
		-webkit-transform: translate(-207px);
	}

	100% {
		-webkit-transform: translate(0px);
	}
}

@-moz-keyframes cssAnimationleft {
	0% {
		-moz-transform: translate(-207px);
	}

	100% {
		-moz-transform: translate(0px);
	}
}

@-o-keyframes cssAnimationleft {
	from {
		-o-transform: translate(-207px);
	}

	100% {
		-o-transform: translate(0px);
	}
}