/*
Error: Inconsistent indentation: "\t    \t" was used for indentation, but the rest of the document was indented using 1 tab.
        on line 154 of D:\000-website\103_wangsteak\member\css\apply.sass

149: 			
150: 	.form-group.label-floating
151: 		label.control-label
152: 			line-height: 17px
153: 		label.control-label
154: 	    	color: #9a9a9b
155: 	    	background: #FFF 
156: 	    	
157: 		
158: 	.form-group.is-focused, .form-group
159: 		.form-control

Backtrace:
D:\000-website\103_wangsteak\member\css\apply.sass:154
C:/Program Files/Adobe/Adobe Dreamweaver CC 2017/ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:483:in `block in tabulate'
C:/Program Files/Adobe/Adobe Dreamweaver CC 2017/ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:441:in `each'
C:/Program Files/Adobe/Adobe Dreamweaver CC 2017/ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:441:in `each_with_index'
C:/Program Files/Adobe/Adobe Dreamweaver CC 2017/ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:441:in `tabulate'
C:/Program Files/Adobe/Adobe Dreamweaver CC 2017/ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:406:in `_to_tree'
C:/Program Files/Adobe/Adobe Dreamweaver CC 2017/ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:278:in `render'
C:/Program Files/Adobe/Adobe Dreamweaver CC 2017/ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:420:in `run'
C:/Program Files/Adobe/Adobe Dreamweaver CC 2017/ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Program Files/Adobe/Adobe Dreamweaver CC 2017/ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files/Adobe/Adobe Dreamweaver CC 2017/ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files/Adobe/Adobe Dreamweaver CC 2017/ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.20/bin/sass:13:in `<top (required)>'
C:/Program Files/Adobe/Adobe Dreamweaver CC 2017/ruby/bin/sass:23:in `load'
C:/Program Files/Adobe/Adobe Dreamweaver CC 2017/ruby/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: \"\t    \t\" was used for indentation, but the rest of the document was indented using 1 tab.\A         on line 154 of D:\000-website\103_wangsteak\member\css\apply.sass\A \A 149: 			\A 150: 	.form-group.label-floating\A 151: 		label.control-label\A 152: 			line-height: 17px\A 153: 		label.control-label\A 154: 	    	color: #9a9a9b\A 155: 	    	background: #FFF \A 156: 	    	\A 157: 		\A 158: 	.form-group.is-focused, .form-group\A 159: 		.form-control"; }
