.wrapper{width:980px; margin:0 auto;}
.login-area{ font-size:12px;}
.login-area td{line-height:24px; padding:2px 3px; background:#c30d23; color:#fff; font-size:120%;}
.menu{ position:absolute; top:841px; left:50%; margin-left:-425px;}
.font01{color:#000;}

table.award{width:710px; margin:0 0 15px 92px;}
table.award td{padding:10px; color:#fff; line-height:18px;}
td.aa{ font-weight:bold; background:#000; color:#FF0;}