@charset "utf-8";
/* CSS Document */
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');*/
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
input, textarea { margin:0; padding:0;}
* {-webkit-text-size-adjust:none;}
a{text-decoration:none;}
fieldset, img { border:0;}
ol, ul { list-style:none;}
abbr, acronym { border:0;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
* html .clearfix {height: 1%;}
*:first-child + html .clearfix { min-height: 1%;}

body, h1, h2, h3, h4, h5, h6, p {font-family:'Roboto', 'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif; font-weight: normal; color: #333;}
p{ font-size: 16px;}
a{ text-decoration:none; outline: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
a:hover{ text-decoration:none;}
select, input, textarea, button {  font-family:'Roboto', 'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif;}
*:link, *:visited, *:hover, *:active, *:focus , * {border: none;outline: none;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html, body{ height: 100%; }

/*===== start ======*/
.ContentsBox{ max-width: 1280px; margin: 0 auto; min-width: 320px;}

/*header*/
.HeaderBox{ width: 100%; padding: 20px 0 5px 0; min-height: 30px; background: url(../images/bg_00.jpg) 0 0 repeat;}
.HeaderBox .ContentsBox{ position: relative;}
.HeaderBox h1.logo{ width: 413px; float: left; text-decoration: none; padding-bottom: 5px;}
.HeaderBox h1.logo a{ color: #666; width: 100%; height: 76px; display: block; background: url(../images/logo.png) center center no-repeat; background-size: contain;}
.HeaderBox select{ border:1px solid #7a6b6d; color: #000000; background-color: #fff; border-radius: 4px; height:28px; line-height: 28px; overflow: hidden; }
.HeaderBox .TopBox{ float: right; max-width: calc(100% - 350px); }
.HeaderBox .TopBox ul.tools{width: 100%; text-align: right; padding-left:16px; position: relative;}
.HeaderBox .TopBox ul.tools li{ display: inline-block;padding-left: 20px; vertical-align: top; }
.HeaderBox .TopBox ul.tools li p{ font-size: 14px; }
.HeaderBox .TopBox ul.tools li p a{ color: #020202; display: inline-block; min-height: 20px;}
.HeaderBox .TopBox ul.tools li p a.icon:hover{ text-decoration: underline; }
.HeaderBox .TopBox ul.tools li p a.icon{ padding:5px 5px 5px 35px;  position: relative;  }
.HeaderBox .TopBox ul.tools li p a.icon::after{ content: ""; position: absolute; display: block; left: 0; top: 0; width: 25px; height: 30px;  background-size: contain; background-repeat: no-repeat; background-position:  center center;}
.HeaderBox .TopBox ul.tools li p a.icon_01::after{ background-image: url(../images/tools_icon_01.png); }
.HeaderBox .TopBox ul.tools li p a.icon_02::after{ background-image: url(../images/tools_icon_02.png); }
.HeaderBox .TopBox ul.tools li p a.icon_03::after{ background-image: url(../images/tools_icon_03.png); }
.HeaderBox .TopBox ul.tools li p a.icon_04::after{ background-image: url(../images/tools_icon_04.png); }

.HeaderBox .TopBox ul.tools li p a.btn{ border:1px solid #00a0e9; padding:2px 10px; line-height: 21px; border-radius: 4px; }
.HeaderBox .TopBox ul.tools li p a.btn:hover{ background-color: #00a0e9; color: #fff; }

.HeaderBox .TopBox ul.top_menu{ width: 100%; padding-top: 15px; text-align: right; }
.HeaderBox .TopBox ul.top_menu li{ display: inline-block; position: relative;}
.HeaderBox .TopBox ul.top_menu li h3{ font-size: 21px; line-height: 22px; }
.HeaderBox .TopBox ul.top_menu li h3 a{ color: #101010; padding: 10px 20px 15px 20px; cursor: pointer;display: block;}
.HeaderBox .TopBox ul.top_menu li h3.main_order{ position: absolute; top: -95px; right: 0; z-index: 10; }
.HeaderBox .TopBox ul.top_menu li h3.main_order a{ background-color: #e40013; color: #fff; width: 122px; text-align: center; padding: 77px 0 45px 0; border-radius: 0 0 25px 25px; overflow: hidden; position: relative; }
.HeaderBox .TopBox ul.top_menu li h3.main_order a::after{ content: ""; position: absolute; top: 17px; left: 0; width: 100%; height: 47px; background: url(../images/icon_order.png) center center no-repeat; background-size: contain; }
/*.HeaderBox .TopBox ul.top_menu li h3.main_order a:hover{ background-color: #ee3948;}*/
.HeaderBox .TopBox ul.top_menu li h3.main_order a.hvr-bounce-to-right:before{ background-color: #ee3948; }
.HeaderBox .TopBox ul.top_menu li h3.main_order a:hover.hvr-bounce-to-right:before{ background-color: #ee3948; }

.HeaderBox ul.subMumeBox{ display: none; position: absolute; background-color: #ffffff; top: 47px; width: 100%; min-width: 185px; left: 0; z-index: 11; padding: 10px 0;}
.HeaderBox ul.subMumeBox li{ width: 100%; text-align: left; border-bottom: 1px dashed rgba(0,0,0,.1);}
.HeaderBox ul.subMumeBox li p{ font-size: 16px; }
.HeaderBox ul.subMumeBox li p a{ padding:10px 20px; color: #030303; display: block;}
.HeaderBox ul.subMumeBox li p a:hover{ background-color: #dcdcdc;}
.HeaderBox ul.subMumeBox li:last-child{ border:none; }

/*main_contents*/

.main_contents{ width: 100%; background: url(../images/bg_00.jpg) 0 0 repeat;}
.main_contents .ContentsBox{ width: 100%; }

.main_contents .bannerBox{ width: 100%; height: 710px; background: url(../images/bg_index.jpg) center center no-repeat; background-size: cover; }
ul.p_note{ text-align: left; padding: 30px 0; position: relative; margin-bottom: 35px; }
ul.p_note::after{ content: ""; position: absolute; width: 100%; height: 10px; background-color: #333; bottom: 0; left: 0; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6e3f0+0,eca6e0+41,c7a4f4+60,9bedfa+84,ffffff+99 */
background: rgb(246,227,240); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(246,227,240,1) 0%, rgba(236,166,224,1) 41%, rgba(199,164,244,1) 60%, rgba(155,237,250,1) 84%, rgba(255,255,255,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(246,227,240,1) 0%,rgba(236,166,224,1) 41%,rgba(199,164,244,1) 60%,rgba(155,237,250,1) 84%,rgba(255,255,255,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(246,227,240,1) 0%,rgba(236,166,224,1) 41%,rgba(199,164,244,1) 60%,rgba(155,237,250,1) 84%,rgba(255,255,255,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e3f0', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
ul.p_note li{ display: inline-block; }
ul.p_note li p{ font-size: 16px; padding:6px 40px 6px 35px; position: relative;}
ul.p_note li p::after{content: ""; width: 27px; height: 27px; display: block; position: absolute; top: 5px; left: 0; background-size: contain; background-repeat: no-repeat; background-position: center center;}
ul.p_note li p span{ font-size: 18px; font-weight: bold; }
ul.p_note li p.icon_01::after{ background-image: url(../images/point_01.png); }
ul.p_note li p.icon_02::after{ background-image: url(../images/point_02.png); }
ul.p_note li p.icon_03::after{ background-image: url(../images/point_03.png); }

.serviceBox{ width: 100%; padding: 30px 0 60px 0;}
.serviceBox .serviceData{float: left; width: 100%; max-width: 905px; margin:0 auto; background-color: rgba(256,256,256,.8);}
.serviceBox .serviceData .infoBox { border:1px solid #84ccc9; }
.serviceBox .serviceData .infoBox ul.list{ width: 100%; }
.serviceBox .serviceData .infoBox ul.list li{ border-bottom: 1px dotted #b4b4b4;}
.serviceBox .serviceData .infoBox ul.list li:last-child{ border:none; }
.serviceBox .serviceData .infoBox ul.list li a{  padding:21px 20px; display: block; }
.serviceBox .serviceData .infoBox ul.list li a:hover{ background-color: #efefef; }
.serviceBox .serviceData .infoBox ul.list li p{ font-size: 17px; font-weight: bold; }
.serviceBox .serviceData .infoBox ul.list li p.p_info{ float: left; width: 100%; max-width: calc(100% - 150px); min-height: 24px; color: #000; height: 24px; display: block; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; line-height: 24px; height: 24px * 1;}
.serviceBox .serviceData .infoBox ul.list li p.day{ float: left;color: #f44336; padding-bottom: 5px; width: 150px; text-align: center;}
.serviceBox .serviceData .infoBox ul.list li p.more{ text-align: right; }
.serviceBox .serviceData .infoBox ul.list li p.more a{ display: inline-block; color: #333; position: relative; padding-left: 30px;}
.serviceBox .serviceData .infoBox ul.list li p.more a:hover{ background-color: transparent; opacity: .8; }
.serviceBox .serviceData .infoBox ul.list li p.more a::after{ position: absolute; width: 25px; height: 25px; display: block; content: ""; left: 0; top: 18px; background: url(../images/icon_more.png) center center no-repeat; background-size: contain; }

ul.right_menu{ float: right; width: 340px; }
ul.right_menu li{ width: 100%; }
ul.right_menu li p{ font-size: 20px; line-height: 94px; position: relative;}
ul.right_menu li p a::after{ content: ""; width: 94px; height: 94px; top: 1px; left:10px; position: absolute; z-index: 20; display: block; background-size: contain; background-repeat: no-repeat; background-position: center center;}
ul.right_menu li p.icon_01 a::after { background-image: url(../images/menu_icon_01.png); }
ul.right_menu li p.icon_02 a::after { background-image: url(../images/menu_icon_02.png); }
ul.right_menu li p.icon_03 a::after { background-image: url(../images/menu_icon_03.png); }
ul.right_menu li p.icon_04 a::after { background-image: url(../images/menu_icon_04.png); }
ul.right_menu li p.icon_05 a::after { background-image: url(../images/menu_icon_05.png); }
ul.right_menu li p.icon_01 a:hover::after { background-image: url(../images/menu_icon_01_in.png); }
ul.right_menu li p.icon_02 a:hover::after { background-image: url(../images/menu_icon_02_in.png); }
ul.right_menu li p.icon_03 a:hover::after { background-image: url(../images/menu_icon_03_in.png); }
ul.right_menu li p.icon_04 a:hover::after { background-image: url(../images/menu_icon_04_in.png); }
ul.right_menu li p.icon_05 a:hover::after { background-image: url(../images/menu_icon_05_in.png); }

ul.right_menu li p a{display: block; color: #222 ; padding-left: 120px; height: 96px; background-color: #cef6e8;}
ul.right_menu li:nth-child(even) p a {background-color: #e4f8f1;}
ul.right_menu li p a.hvr-bounce-to-right:before{ background-color: #84ccc9; }

/*FooterBox*/
.FooterBox{ width: 100%; background:url(../images/bg_footer.jpg) top center no-repeat; padding: 35px 0;}
.FooterBox .info{ position: relative; padding-left: 80px;}
.FooterBox .info::after{ content: ""; position: absolute; top: 0; left: 0; width: 60px; height: 60px; display: block; background: url(../images/logo_s.png) 0 0 no-repeat; background-size: cover; }

.FooterBox h3{color: #009944; padding-bottom:10px;}
.FooterBox p a:hover{ text-decoration: underline; }
.FooterBox p.link{line-height: 24px; font-size: 16px; padding-bottom: 10px; }
.FooterBox p.link a{ color: #222; margin-right: 40px; display: inline-block;}
.FooterBox p.link a:hover{ text-decoration: underline; }


/*==== RWD ====*/
@media (max-width:1036px){
	.ContentsBox{ width: 94%; margin: 0 auto; }
}
@media (max-width:1240px){
	.HeaderBox h1.logo{ width: 230px;}
	.HeaderBox .TopBox{ max-width: calc(100% - 250px);}
}

@media (max-width:1000px){
	.HeaderBox h1.logo{padding-top: 0;}
	.HeaderBox h1.logo a{height: 54px;}
	.HeaderBox .TopBox ul.top_menu{ display: none; }
	.HeaderBox .TopBox ul.tools{ padding-right: 30px;}
}
@media (max-width:900px){
}
@media (max-width:850px){
	.HeaderBox .TopBox{ display: none;}
}
@media (max-width:780px){
	.subBannerBox .infoBox h4{font-size: 36px;}
	.subBannerBox .infoBox p{font-size: 16px;}
	.subBannerBox .the_box{ height: 300px; }
}
@media (max-width:750px){
	.HeaderBox{position: fixed; top: 0; z-index: 15; box-shadow: 0 0 5px rgba(0,0,0,.2); display: block;}
	.HeaderBox h1.logo{width: 196px;}
	.HeaderBox h1.logo a{height: 44px;}
	.main_contents{padding-top: 72px;}
	.FooterBox p{font-size: 12px;}
}

@media (max-width:650px){
	.FooterBox p{font-size: 11px;}
}

@media (max-width:500px){
	.subBannerBox .infoBox h4{font-size: 30px;}
	.subBannerBox .infoBox p{font-size: 15px;}
}

@media (max-width:350px){
	.ContentsBox{ min-width: 280px; }
	.data_contents p.go_btn a{ min-width:90px; margin: 0 5px;}
}