@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
input, textarea { margin:0; padding:0;}
* {-webkit-text-size-adjust:none;}
a{text-decoration:none;}
fieldset, img { border:0;}
ol, ul { list-style:none;}
abbr, acronym { border:0;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
* html .clearfix {height: 1%;}
*:first-child + html .clearfix { min-height: 1%;}
body{font-family:"adobe-clean-han-traditional","Microsoft YaHei",sans-serif;}.tk-gastromond{font-family:"gastromond",sans-serif;}
body, h1, h2, h3, h4, h5, h6, p {/*font-family:'Roboto', 'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif;*/  font-family: adobe-clean-han-traditional, "Helvetica Neue","Microsoft YaHei", Helvetica, Arial, sans-serif !important; font-weight: normal; color: #333;}
p{ font-size: 15px;}
a{ text-decoration:none; outline: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
a:hover{ text-decoration:none;}
select, input, textarea, button {  /*font-family:'Roboto', 'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif;*/ font-family: adobe-clean-han-traditional, "Helvetica Neue","Microsoft YaHei", Helvetica, Arial, sans-serif !important;}
*:link, *:visited, *:hover, *:active, *:focus , * {border: none;outline: none;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html, body{ height: 100%; }

/*===== start ======*/
.ContentsBox{ max-width: 1000px; margin: 0 auto; min-width: 320px;}

/*header*/
.HeaderBox{ width: 100%;}
.HeaderBox .logoBox{ width: 100%; background-color: #fff; padding: 24px 0 24px 0; }
.HeaderBox .logoBox h1{ text-indent: -9999px; }
.HeaderBox .logoBox h1 a{ width: 250px; height: 100px; display: block; margin: 0 auto; background: url(../images/ic_richhealth.png) center center no-repeat; background-size: contain; }

.HeaderBox .menuBox{ width: 100%; background-color: #00608B; }

.HeaderBox nav ul.main_menu{ float: left; }
.HeaderBox nav ul.main_menu li{ float: left; }
.HeaderBox nav ul.main_menu li h3{ font-size: 18px; }
.HeaderBox nav ul.main_menu li h3 a{ padding: 10px 15px; min-width: 160px; text-align: center; line-height: 64px; display: block; color: #fff; position: relative; }
.HeaderBox nav ul.main_menu li h3 a::after{ content: ""; left: 0; bottom: 0; position: absolute; width: 100%; height: 5px; display: block; background-color: #00acdb; opacity: 0; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
.HeaderBox nav ul.main_menu li h3 a:hover{ color:#00acdb;  }
.HeaderBox nav ul.main_menu li.btn_in h3 a::after{ opacity: 1; }

.HeaderBox nav p.language{ float: right; font-size: 15px; color: #fff; padding-top: 32px;}
.HeaderBox nav p.language a{ color: #fff; }
.HeaderBox nav p.language a:hover{ text-decoration: underline; }

/*main_contents*/
.main_contents{ width: 100%;}
.main_contents .bannerBox{ min-height: 200px;}
.main_contents .bannerBox .ContentsBox{ position: relative; height: 100%; }
.main_contents .bannerBox .ContentsBox h3.banner_title{ width: 100%; position: absolute; top: 25%; z-index: 8; color: #fff; font-size:42px; font-weight: bold; text-align: left; text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);}
.main_contents .bannerBox .flexslider{ width: 100%; height: 560px; }
.main_contents .bannerBox .flexslider ul li{ height: 560px; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.main_contents .bannerBox .flexslider .flex-control-nav{ bottom: 5%; }
.main_contents .bannerBox .flexslider .flex-direction-nav a{ top:50%;}

.company_info{ width: 100%;  position: relative;}
.w_triangle::after{ content: ""; position: absolute; bottom: -30px; left: calc(50% - 35px); z-index: 10; width: 0; height: 0; border-style: solid; border-width: 30px 35px 0 35px; border-color: #ffffff transparent transparent transparent;
line-height: 0px; _border-color: #ffffff #000000 #000000 #000000; _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }
.company_info .ContentsBox{padding: 60px 0 85px 0;}
.company_info h2.main_title{ font-size: 34px; color: #333; text-align: center; font-weight: bold; padding:15px 0;}
.company_info h4.sub_title{ font-size: 16px; text-align: center; padding-bottom: 20px; margin-bottom: 20px; color: #a4a4a4;  border-bottom: 1px solid #b3b3b3; }
.company_info p.p_info{ font-size: 18px; line-height: 36px; text-align: justify; }
.company_info p.p_info span.blue_line{ position: relative; padding-left: 2em; display: block; }
.company_info p.p_info span.blue_line::after{ content: ""; position: absolute; top: 0; left:0; width: 3px; height:100%; display: block; background-color: #00acdb;}
.company_info p.h24{ line-height: 26px; }

.imgBox{ text-align: center; }
.imgBox img{ max-width: 706px; display: inline-block; }

.box{ position: relative; }
.box::after{ content: ""; position: absolute; top: 0; left:0; width: 40px; height: 40px; display: block; border:1px solid #fff; border-width: 1px 0 0 1px; }
.box::before{ content: ""; position: absolute; bottom: 0; right:0; width: 40px; height: 40px; display: block; border:1px solid #fff; border-width: 0 1px 1px 0; }

.purpose{ background: url(../images/bg_home_vision.png) center center no-repeat; background-size: cover; background-attachment: fixed; }
.purpose ul.vision{ width:100%; padding: 30px 0;}
.purpose ul.vision li{ float: left; width:calc(33.33% - 20px); position: relative; /*min-height: 550px;*/ padding: 25px; margin: 0 10px; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; /*background-color: rgba(256, 256, 256, .92);*/ /*border-radius: 8px; box-shadow: 0 3px 10px rgba(0,0,0,.2);*/}
.purpose ul.vision li::after{ position: absolute; }
/*.purpose ul.vision li:hover{ background-color: #fff; }*/
.purpose ul.vision li h4{ font-size: 22px; text-align: center; padding: 10px 0 20px; position: relative; padding-top: 175px; color: #fff; }
.purpose ul.vision li h4::before{ content: ""; width: 150px; height: 150px; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; display: block; position: absolute; top: 0; left: calc(50% - 75px); background-size: 80%; background-repeat: no-repeat; background-position: center center; border-radius: 50%;  background-color: #fff; }
.purpose ul.vision li h4.icon_01::before{ background-image: url(../images/vision_icon_01.png); }
.purpose ul.vision li h4.icon_02::before{ background-image: url(../images/vision_icon_02.png); }
.purpose ul.vision li h4.icon_03::before{ background-image: url(../images/vision_icon_03.png); }
.purpose ul.vision li:hover h4::before{ background-size: 100%;}

.purpose ul.vision li p.p_info{ font-size: 14px; line-height: 24px; }

.f_color_w h2.main_title{ color: #fff; text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);}
.f_color_w p.p_info{ color: #fff; text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);}
.f_color_w h4.sub_title{ color: #fff; text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); border-color: #fff;}
/*FooterBox*/
.FooterBox{ width: 100%; background-color: #494949; padding:75px 0 50px 0;border-top: 4px solid #00acdb;}
.FooterBox ul.info{ position: relative; padding:5px 0px 40px calc(100% - 550px); }
.FooterBox ul.info::after{ content: ""; top: 0; left: 0; position: absolute; width: 200px; height: 66px; display: block; background: url(../images/ic_richhealth.png) center center no-repeat; background-size: contain; }
.FooterBox ul.info li{ padding-bottom: 15px; }
.FooterBox ul.info li p{ color: #fff; position: relative; padding-left: 33px; line-height: 20px;}
.FooterBox ul.info li p a{ color: #fff; }
.FooterBox ul.info li p a:hover{ text-decoration: underline; }
.FooterBox ul.info li p::after{ content: ""; top: 0; left: 0; position: absolute; width: 22px; height: 20px; display: block; background-size: contain; background-repeat: no-repeat; background-position: center center;}
.FooterBox ul.info li p.add::after{ background-image: url(../images/icon_footer_add.png);}
.FooterBox ul.info li p.mail::after{ background-image: url(../images/icon_footer_mail.png);}
.FooterBox ul.info li p.phone::after{ background-image: url(../images/icon_footer_phone.png);}
.FooterBox ul.sub_menu{ padding: 15px 0; text-align: right; }
.FooterBox ul.sub_menu li{ display: inline-block; margin: 0 37.5px; }
.FooterBox ul.sub_menu li p a{ color: #fff; line-height: 30px; }
.FooterBox ul.sub_menu li p a:hover{color: #00acdb;}
.FooterBox .copyrightBox{ border-top: 1px solid #fff; padding:15px 0 5px 0;}
.FooterBox .copyrightBox p{ float: left; color: #fff; font-size: 12px; padding-top: 10px; }
.FooterBox .copyrightBox ul.social_media{ float: right; text-align: right; }
.FooterBox .copyrightBox ul.social_media li{ display: inline-block; margin: 0 5px; }
.FooterBox .copyrightBox ul.social_media li a{ width: 30px; height: 30px; display: block; background-size: contain; background-repeat: no-repeat; background-position: center center; }
.FooterBox .copyrightBox ul.social_media li a.twitter{ background-image: url(../images/icon_social_media_twitter.png); }
.FooterBox .copyrightBox ul.social_media li a.facebook{ background-image: url(../images/icon_social_media_facebook.png); }
.FooterBox .copyrightBox ul.social_media li a.youtube{ background-image: url(../images/icon_social_media_youtube.png); }

/*==== RWD ====*/
@media (max-width:1220px){
	.ContentsBox{ width: 90%; margin: 0 auto; }
	.HeaderBox .logoBox{ padding-top: 16px;}
	.HeaderBox .logoBox h1 a{ width: 260px; height: 86px;}
	.HeaderBox nav ul.main_menu li h3 a{ min-width: 130px; }
	.main_contents .bannerBox .ContentsBox{width: 90%;}
	.main_contents .bannerBox .ContentsBox h3.banner_title{ font-size: 40px; }
	.main_contents .bannerBox .flexslider , .main_contents .bannerBox .flexslider ul li{ height: 480px; }
	.company_info .ContentsBox{ padding: 30px 0 40px 0;}
	.company_info h2.main_title{ font-size: 36px; padding:10px 0 25px 0;}
	.company_info p.p_info{ font-size: 16px; line-height: 28px; }
	.purpose ul.vision li{  min-height: initial; margin:0 auto 18px auto;}
	.purpose ul.vision li h4{ font-size: 26px; }
	.FooterBox ul.info{ position: relative; padding:5px 0px 40px calc(100% - 400px); }
	.FooterBox ul.sub_menu li{margin: 0 18px;}
	.FooterBox ul.info::after{ width: 200px; height: 66px;}
}

@media (max-width:900px){
	.HeaderBox nav ul.main_menu li h3 a{ min-width: 115px; padding: 10px; }
	.main_contents .bannerBox .ContentsBox{width: 76%;}
	.main_contents .bannerBox .ContentsBox h3.banner_title{ font-size: 38px; }
	.main_contents .bannerBox .flexslider , .main_contents .bannerBox .flexslider ul li{ height: 380px; }
	.company_info h2.main_title{ font-size: 32px; padding:5px 0 18px 0;}
	.company_info p.p_info{ font-size: 15px; line-height: 24px; }
	.imgBox img{ max-width: 500px; }
	.purpose ul.vision li{ width: 100%; float: none; max-width: 600px; }
	.FooterBox{padding-top: 50px;}
	.FooterBox ul.info::after{ width: 169px; height: 53px;}
}

@media (max-width:760px){
	.HeaderBox{ border-bottom: 5px solid #00ACDB; }
	.HeaderBox .logoBox h1 a{ width: 160px; height: 53px;}
	.HeaderBox .menuBox{display: none;}
	.FooterBox ul.info{padding: 90px 0 0 0;}
	.FooterBox ul.sub_menu{ text-align: left; padding-top: 30px;}
	.FooterBox ul.sub_menu li{ margin-left: 0; }
	.FooterBox ul.sub_menu li p{ font-size: 14px; }
	.FooterBox .copyrightBox p{font-size: 13px;}
}

