@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #eedfcc;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .clearfix {
  height: 1%;
}

*:first-child + html .clearfix {
  min-height: 1%;
}

a {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

a:hover {
  text-decoration: none;
}

*:link,
*:visited,
*:hover,
*:active,
*:focus,
* {
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Noto Sans TC", Arial, "微軟正黑體", "新細明體", sans-serif;
  font-weight: normal;
  color: #333;
}

p {
  font-size: 0.9375em;
}

a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

a:hover {
  text-decoration: none;
}

body {
  font-size: 100%;
  border-color: #9e9e9e;
}

@-webkit-keyframes scaleDraw {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    /*開始為原始大小*/
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    /*放大1.1倍*/
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes scaleDraw {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    /*開始為原始大小*/
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    /*放大1.1倍*/
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.menu-btn {
  position: absolute;
  left: 10px;
  top: 5px;
  margin: 0;
  padding: 0;
  background: none;
  display: none;
}

@media all and (max-width: 800px) {
  .menu-btn {
    display: block;
  }
}

@media all and (max-width: 400px) {
  .menu-btn {
    left: 4px;
  }
}

.menu-btn span {
  position: relative;
  font-size: 20px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #ce3643;
  display: block;
  cursor: pointer;
}

.logo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: contain;
  width: 185px;
  height: 60px;
  display: block;
  background-image: url(../images/Logo-Taoyuan-Black.png);
}

.logo h2 {
  text-indent: -9999px;
}

.cookie-accept {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 15px;
  line-height: 20px;
  width: 100%;
  color: #fff;
  background-color: #ac0708c4;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  z-index: 2;
}

.cookie-accept .close {
  float: right;
  color: transparent;
  text-shadow: 0 0 0 #fff;
  cursor: pointer;
}

a.gotop {
  cursor: pointer;
  position: fixed;
  bottom: 100px;
  right: 18px;
  z-index: 15;
  width: 50px;
  color: #fff;
  background-color: #c3c3c3;
  opacity: 0;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  height: 50px;
  display: block;
  border-radius: 50%;
  background-color: #9e9e9e87;
}

@media all and (max-width: 700px) {
  a.gotop {
    width: 44px;
    height: 44px;
    line-height: 44px;
  }
}

.header-container {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
  background-color: #fff;
  padding: 10px 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
}

.header-container .nav-menu {
  float: right;
}

.header-container .nav-menu ul {
  text-align: right;
}

.header-container .nav-menu ul li {
  cursor: pointer;
  display: inline-block;
  line-height: 60px;
  padding: 0 15px;
  font-size: 0.875rem;
  color: #333;
  font-weight: bold;
}

.header-container .nav-menu ul li a {
  color: #333;
}

.header-container .nav-menu ul li a:hover {
  text-decoration: underline;
}

.header-container .logo {
  float: left;
  width: 150px;
  height: 60px;
}

@media all and (max-width: 800px) {
  .header-container .logo {
    height: 35px;
    margin-left: 25px;
  }
  .header-container .nav-menu {
    display: none;
  }
}

@media all and (max-width: 400px) {
  .header-container {
    padding: 10px 10px;
  }
}

.middle-container {
  padding: 0 20px;
  background: url(../images/bg.jpg) center top no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

@media all and (max-width: 700px) {
  .middle-container {
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.middle-container .main-container {
  width: 100%;
}

.middle-container .main-container .content {
  padding: 40px 0;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.middle-container .main-container .content .main-title {
  position: relative;
  margin: 0 auto;
}

.middle-container .main-container .content .main-title .i-accessories {
  position: absolute;
  width: 15%;
  top: -40px;
  right: -11px;
}

.middle-container .main-container .content .main-title .i-a {
  width: 52%;
  float: left;
}

.middle-container .main-container .content .main-title .i-b {
  width: 48%;
  float: left;
  position: absolute;
  bottom: -8px;
  right: 0;
}

@media all and (max-width: 600px) {
  .middle-container .main-container .content .main-title .i-a {
    width: 100%;
  }
  .middle-container .main-container .content .main-title .i-b {
    width: 31%;
    bottom: 39px;
  }
}

@media all and (max-width: 400px) {
  .middle-container .main-container .content .main-title .i-b {
    bottom: 35px;
  }
}

.middle-container .main-container h3.sub-title {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 20px 25px;
  margin: 5px auto -80px auto;
  font-style: italic;
  line-height: 1.8rem;
  background-color: #f9bb49;
  border-radius: 20px;
  position: relative;
  text-align: center;
}

.middle-container .main-container h3.sub-title span {
  background-color: #bf1c2d;
  color: #fff;
  padding: 2.5px 5px;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 5px;
}

@media all and (max-width: 900px) {
  .middle-container .main-container h3.sub-title {
    font-size: 18px;
    width: 95%;
  }
}

@media all and (max-width: 600px) {
  .middle-container .main-container h3.sub-title {
    font-size: 15px;
    line-height: 24px;
    padding: 20px;
  }
}

.middle-container .event-content {
  max-width: 1200px;
  margin: 0 auto;
}

.middle-container .event-content .card {
  border-radius: 30px;
  background-color: #fff;
  margin-bottom: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
}

.middle-container .event-content .card h5 {
  font-size: 20px;
  padding: 15px 0;
  color: #00caca;
  font-weight: bold;
}

@media all and (max-width: 1000px) {
  .middle-container .event-content .card h5 {
    font-size: 18px;
  }
}

.middle-container .event-content table.table-style {
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;
  border-collapse: initial;
  background-color: #faf3ee;
  border-radius: 10px;
  border: 3px solid #f09f02;
  font-size: 15px;
}

.middle-container .event-content table.table-style tr th {
  color: #fff;
  padding: 10px;
  line-height: 28px;
  background-color: #f09f02;
  font-weight: bold;
}

.middle-container .event-content table.table-style tr th:first-child {
  border-radius: 10px 0 0 0;
}

.middle-container .event-content table.table-style tr th:last-child {
  border-radius: 0 10px 0 0;
}

.middle-container .event-content table.table-style tr.radius0 th:first-child, .middle-container .event-content table.table-style tr.radius0 th:last-child {
  border-radius: 0px;
}

.middle-container .event-content table.table-style tr:nth-child(odd) {
  background-color: #fdfff8;
}

.middle-container .event-content table.table-style tr td {
  color: #555;
  font-weight: bold;
  vertical-align: middle;
  padding: 15px 20px;
  line-height: 24px;
  font-size: 0.875rem;
}

.middle-container .event-content table.table-style tr td .f-s {
  font-size: 0.813rem;
}

@media all and (max-width: 1000px) {
  .middle-container .event-content table.table-style tr td {
    font-size: 0.875rem;
  }
}

@media all and (max-width: 600px) {
  .middle-container .event-content table.table-style tr th,
  .middle-container .event-content table.table-style tr td {
    padding: 5px;
    line-height: 22px;
    font-size: 0.813rem;
  }
}

.middle-container .event-content .info {
  padding: 60px 50px 0 50px;
}

.middle-container .event-content .info p {
  font-size: 17px;
  color: #333;
  line-height: 24px;
  font-weight: bold;
  padding-bottom: 30px;
  text-align: justify;
}

.middle-container .event-content .info p.remind {
  color: #6f6f6f;
  font-size: 0.875rem;
  font-weight: normal;
}

@media all and (max-width: 1000px) {
  .middle-container .event-content .info p {
    font-size: 15px;
  }
}

@media all and (max-width: 600px) {
  .middle-container .event-content .info {
    padding: 40px 20px 0 20px;
  }
}

.middle-container .event-content .info ul.list {
  padding-left: 20px;
  padding-bottom: 40px;
  list-style-type: decimal;
  font-size: 0.875rem;
}

.middle-container .event-content .info ul.list li {
  padding: 5px 0;
}

.middle-container .event-content .info ul.list li p {
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 24px;
  text-align: justify;
  padding-bottom: 0;
}

.middle-container .event-content .info ul.list li p span {
  color: #bf1c2d;
}

.middle-container .event-content .info ul.list li p a {
  color: #bf1c2d;
  text-decoration: underline;
}

.middle-container .event-content .info ul.list li p a:hover {
  text-decoration: none;
}

.middle-container .event-content .info ul.list li p.text-remark {
  font-size: 12px;
  color: #ce3643;
  line-height: 18px;
}

.middle-container .event-content .event-list {
  padding: 0 50px 40px 50px;
}

.middle-container .event-content .event-list ul {
  list-style-type: decimal;
  padding-left: 20px;
  color: #9eb747;
  font-size: 18px;
}

.middle-container .event-content .event-list ul li {
  padding: 10px 0;
}

.middle-container .event-content .event-list ul li p {
  font-size: 15px;
  line-height: 24px;
}

.middle-container .event-content .event-list ul li p.event-title {
  font-size: 18px;
  font-weight: bold;
  color: #9eb747;
  padding-bottom: 5px;
}

@media all and (max-width: 1000px) {
  .middle-container .event-content .event-list ul {
    font-size: 16px;
  }
  .middle-container .event-content .event-list ul li p.event-title {
    font-size: 16px;
  }
}

.middle-container .event-content .note {
  background-color: #faf3ee;
  padding: 30px 50px;
  border-radius: 0 0 30px 30px;
}

.middle-container .event-content .note h6 {
  font-size: 17px;
  color: #bf1c2d;
  font-weight: bold;
}

.middle-container .event-content .note ul {
  padding: 10px 0;
  padding-left: 20px;
  list-style-type: decimal;
  font-size: 0.875rem;
}

.middle-container .event-content .note ul li {
  padding: 5px 0;
}

.middle-container .event-content .note p {
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 24px;
  text-align: justify;
}

.middle-container .event-content .note p span {
  font-weight: bold;
}

.middle-container .event-content .note p a {
  color: #bf1c2d;
  text-decoration: underline;
}

.middle-container .event-content .note p a:hover {
  text-decoration: none;
}

@media all and (max-width: 1100px) {
  .middle-container .event-content .note ul,
  .middle-container .event-content .note p {
    font-size: 0.813rem;
    line-height: 20px;
  }
}

@media all and (max-width: 600px) {
  .middle-container .event-content .note {
    padding: 20px;
  }
  .middle-container .event-content .note p {
    font-size: 0.688rem;
  }
  .middle-container .event-content .note h6 {
    font-size: 16px;
    text-align: center;
  }
}

.middle-container .event-content .both {
  position: relative;
}

.middle-container .event-content .both .table-style {
  width: calc(50% - 10px);
  float: left;
}

.middle-container .event-content .both .table-style:last-child {
  float: right;
}

@media all and (max-width: 800px) {
  .middle-container .event-content .both .table-style {
    width: 100%;
  }
}

@media all and (max-width: 600px) {
  .middle-container .event-content .info h5 {
    font-size: 16px;
    text-align: center;
  }
  .middle-container .event-content .info p {
    padding-bottom: 20px;
    font-size: 14px;
  }
  .middle-container .event-content .event-list {
    padding: 0 20px 20px 20px;
  }
  .middle-container .event-content .event-list ul li p {
    font-size: 13px;
    line-height: 20px;
  }
}

.middle-container .event-content .step-box {
  padding: 40px 0;
  max-width: 750px;
  margin: 0 auto;
}

.middle-container .event-content .step-box img {
  width: 100%;
}

.middle-container .event-content .step-box img.mob {
  display: none;
}

.middle-container .event-content .step-box ul {
  position: relative;
  padding: 30px 10px 10px 10px;
  width: 100%;
  background-color: #faf3ee;
  border-radius: 30px;
  border: 4px solid #f2ae15;
  -webkit-box-shadow: inset rgba(255, 159, 16, 0.46) 0px 2px 6px, rgba(255, 159, 16, 0.46) 0px 2px 6px, rgba(255, 159, 16, 0.46) 2px 2px 10px;
          box-shadow: inset rgba(255, 159, 16, 0.46) 0px 2px 6px, rgba(255, 159, 16, 0.46) 0px 2px 6px, rgba(255, 159, 16, 0.46) 2px 2px 10px;
}

.middle-container .event-content .step-box ul li {
  position: relative;
  width: 33%;
  float: left;
}

.middle-container .event-content .step-box ul li::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 24px;
  display: block;
  background: url(../images/arr-pink.png) center center no-repeat;
  background-size: contain;
  bottom: 40px;
  right: -10px;
  z-index: 1;
}

.middle-container .event-content .step-box ul li:last-child::after {
  display: none;
}

.middle-container .event-content .step-box ul li.top-title {
  width: 76%;
  position: absolute;
  left: 12%;
  top: -70px;
  z-index: 1;
}

.middle-container .event-content .step-box ul li.top-title::after {
  display: none;
}

@media all and (max-width: 850px) {
  .middle-container .event-content .step-box ul li.top-title {
    top: -50px;
  }
}

@media all and (max-width: 750px) {
  .middle-container .event-content .step-box {
    padding: 0 0 20px 0;
  }
  .middle-container .event-content .step-box img.pc {
    display: none;
  }
  .middle-container .event-content .step-box img.mob {
    display: block;
  }
  .middle-container .event-content .step-box ul {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
  }
  .middle-container .event-content .step-box ul li {
    width: 90%;
    float: none;
    margin: 0 auto;
  }
  .middle-container .event-content .step-box ul li.top-title {
    width: 66%;
    left: 17%;
    top: -50px;
  }
  .middle-container .event-content .step-box ul li::after {
    bottom: -10px;
    height: 10px;
    left: calc(50% - 10px);
    background-image: url(../images/arr-pink2.png);
  }
}

@media all and (max-width: 550px) {
  .middle-container .event-content .step-box ul {
    padding-top: 40px;
  }
}

@media all and (max-width: 500px) {
  .middle-container .event-content .step-box ul {
    padding-top: 20px;
  }
}

@media all and (max-width: 400px) {
  .middle-container .event-content .step-box ul {
    padding-top: 5px;
  }
}
/*# sourceMappingURL=style.css.map */