@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
input, textarea { margin:0; padding:0;}
* {-webkit-text-size-adjust:none;}
a{text-decoration:none;}
fieldset, img { border:0;}
ol, ul { list-style:none;}
abbr, acronym { border:0;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
* html .clearfix {height: 1%;}
*:first-child + html .clearfix { min-height: 1%;}

body, h1, h2, h3, h4, h5, h6, p {font-family:'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif; font-weight: normal; color: #333;}
p{font-size: 15px;}
a{ text-decoration:none; outline: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
a:hover{ text-decoration:none;}
select, input, textarea, button {  font-family:'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif;}
*:link, *:visited, *:hover, *:active, *:focus , * {border: none;outline: none;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html, body{ height: 100%; }
input { -webkit-appearance: none; -moz-appearance: none; appearance: none;}

/*===== start ======*/
/*body{ overflow-x: hidden; max-width: 600px; margin: 0 auto;}
*/
.mainbox{ width: 100%; min-height: 100vh; position: relative;}
.content_box{ width: 100%; max-width: calc(100% - 30px); margin: 0 auto; }

.top_box{ width: 100%; background-color: #f0f0f0; padding: 15px; }
.top_box .content_box{ max-width: 600px; height: 26px; position: relative;}
.top_box ul.top_type{ position: absolute; top: -8px; right: 0; }
.top_box ul.top_type li{ display: inline-block; text-align: right; margin-left:5px; }
.top_box ul.top_type li p{ cursor: pointer; padding:8px 15px; border-radius: 50px; background-color: #fff; }
.top_box ul.top_type li.btn_in p{ background-color: #07b648; color: #fff; }

.mainbox .btn_swtich{ display: inline-block;}
.mainbox .btn_swtich p{float: left; line-height: 24px; margin-right: 10px; color: #333; padding-left: 10px;}
.mainbox .swtich_type{ float: left;}
.mainbox .button {display: inline-block;position: relative; height: 22px;-webkit-user-select: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);cursor: pointer;background-color: #eee; border-radius: 22px;}
.mainbox .button:before {content: "";display: inline-block; width: 42px; height: 22px; background-color: #fff; border-radius: 22px; box-sizing: border-box; border: 2px solid #eee; transition: all 0.2s linear; }
.mainbox .button:after {position: absolute; left: 2px; top: 2px; content: ""; display: inline-block; width: 18px; height: 18px; background-color: #fff; border-radius: 18px; transition: all 0.2s linear; box-shadow: 0px 1px 3px #bbb;}
.mainbox .btn_swtich input {opacity: 0;position: absolute;top: 0;left: 0;}
.mainbox .btn_swtich input:checked ~ .button:before {background-color:#07b648;border: 1px solid #07b648;}
.mainbox .btn_swtich input:checked ~ .button:after {left: 22px;}


.the_productbox{ width: 100%; }
.the_productbox .top_tool{ width: 100%; background-color: #f0f0f0; padding:5px 10px 18px 10px; position: relative; }
.the_productbox .top_tool .content_box{max-width: 600px;}
.the_productbox .top_tool .selectbox{ border-radius: 50px; float: left; width: 100%; max-width: calc(100% - 55px); background-color: #fff; }
.the_productbox .top_tool .selectbox p{ float: left; background-color: #e85718; color: #fff; padding: 10px 18px 10px 22px; border-radius: 50px 0 0 50px; display: block; }
.the_productbox .top_tool .selectbox p.use i{ color: #fff200; }
.the_productbox .top_tool .selectbox .styled-select{ float: left; height: 41px; width: 100%; max-width: calc(100% - 92px);}
.the_productbox .top_tool .selectbox .styled-select select{ padding: 0 20px; font-size: 16px; color: #333;  width: calc(100% - 20px); height: 41px; line-height: 41px; background: none; }
.the_productbox .top_tool a.btn_setting{ color: #4a4a4a; float: right; cursor: pointer; width: 41px; height: 41px; background-color: #fff; border-radius: 50%; text-align: center; line-height: 41px; }

.the_productbox .top_tool ul.setting_tools{ position: absolute; display: none; right: 10px; top: 50px; z-index:1; width: 150px;  border: 1px solid #dfdfdf; border-radius: 8px; background-color: #fff;  box-shadow: 0 3px 10px rgba(0,0,0,.2);}
.the_productbox .top_tool ul.setting_tools li{ width: 100%; padding: 0; text-align: center;  display: block; margin: 0 ; border-top: 1px solid #dfdfdf; cursor: pointer;}
.the_productbox .top_tool ul.setting_tools li:first-child{ border: none; }
.the_productbox .top_tool ul.setting_tools p{padding: 0; line-height: 48px; font-weight: bold;}
.the_productbox .top_tool ul.setting_tools p a{color: #333; width: 100%;}

.the_productbox .products_box{ width: 100%; border-top:2px solid #fff; }
.the_productbox .products_box .left_menu{float: left; width: 199px; background-color: #f5f5f5; border-right:1px solid #f5f5f5; height: calc(100vh - 122px); position: relative;}
.the_productbox .products_box .left_menu .category_name{ width: 100%; height: calc(100% - 47px); display: block; overflow: hidden; }
.the_productbox .products_box .left_menu ul.list{ width:calc(100% + 16px); height: 100%; overflow-y: scroll;}
.the_productbox .products_box .left_menu ul.list li { border-bottom:1px #dedede solid;position: relative;}
.the_productbox .products_box .left_menu p{ color: #666666; font-size: 14px; height: 56px; width: 188px; cursor: pointer; padding:10px 0px 10px 20px; display: block; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; line-height: 36px; height: 36px * 1; overflow:hidden;}
.the_productbox .products_box .left_menu li.btn_in{ background-color: #fff; }
.the_productbox .products_box .left_menu li.btn_in::after{ content: ""; position: absolute; top: 0; left: 0; width: 4px; height: 100%; background-color: #ffcd00; }
.the_productbox .products_box .left_menu li:hover{ background-color: #fff; }

.the_productbox .products_box .left_menu ul.bottom_tools{ width: 100%; max-width: 198px; height: 46px; border-top: 1px solid #333; position: fixed; bottom: 0; left: 0; }
.the_productbox .products_box .left_menu ul.bottom_tools li{ float: left; width: 50%; position: relative;}
.the_productbox .products_box .left_menu ul.bottom_tools li:first-child::after{z-index: 10; content: ""; position: absolute; top: 0; right: -0.5px; width: 1px; height: 100%; background-color: #333; }
.the_productbox .products_box .left_menu ul.bottom_tools li a{ color: #333; text-align: center; width: 100%; height: 46px; line-height: 46px; display: block; }

.the_productbox .products_box .right_info{ float:left; width:  calc(100% - 200px); padding: 20px 25px; height: calc(100vh - 122px); display: block; overflow: hidden;}
.the_productbox .products_box .right_info .top_title_box{ padding-bottom:10px; position: relative; }
.the_productbox .products_box .right_info .top_title_box h2{ font-size: 16px; line-height: 28px; max-width: calc(100% - 45px); display: block; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; line-height: 28px; height: 28px * 1; overflow:hidden;}
.the_productbox .products_box .right_info .top_title_box a.more_function{ color: #4a4a4a; cursor: pointer; width: 41px; height: 41px; background-color: #fff; border-radius: 50%; text-align: center; line-height: 41px;  position: absolute; top: -5px; right: 0px; }
.the_productbox .products_box .right_info .top_title_box ul.products_tools{ position: absolute; display: none; right: 0px; top: 36px; z-index:1; width: 150px;  border: 1px solid #dfdfdf; border-radius: 8px; background-color: #fff;  box-shadow: 0 3px 10px rgba(0,0,0,.2);}
.the_productbox .products_box .right_info .top_title_box ul.products_tools li{ width: 100%; padding: 0; text-align: center;  display: block; margin: 0 ; border-top: 1px solid #dfdfdf; cursor: pointer;}
.the_productbox .products_box .right_info .top_title_box ul.products_tools li:first-child{ border: none; }
.the_productbox .products_box .right_info .top_title_box ul.products_tools p{padding: 0; line-height: 48px; font-weight: bold;}
.the_productbox .products_box .right_info .top_title_box ul.products_tools p a{color: #333; width: 100%;}

.the_productbox .products_box .right_info ul.products_list{ width: 100%; height: calc(100vh - 122px); display: block; overflow-y: scroll;}
.the_productbox .products_box .right_info ul.products_list li{ width: 350px; margin:0 15px 15px 0; cursor: pointer; border-radius: 5px; padding: 20px; float: left; border:2px solid #f0f0f0; }
.the_productbox .products_box .right_info ul.products_list li .photo{ width: 100px; height: 100px; display: block; background-color: #cecece; float: left; }
.the_productbox .products_box .right_info ul.products_list li .product_info{ float: left; width: 100%; max-width: calc(100% - 100px); padding-left: 10px; }
.the_productbox .products_box .right_info ul.products_list li .product_info h3.product_title{ font-size: 15px; margin-bottom: 5px; display: block; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; line-height: 26px; height: 26px * 1; overflow:hidden;}
.the_productbox .products_box .right_info ul.products_list li .product_info h4.sub_info{ font-size: 13px; height: 46px; text-align: justify; color: #888; margin-bottom: 5px;display: block; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; line-height: 21px; height: 21px * 2; overflow:hidden; }
.the_productbox .products_box .right_info ul.products_list li .product_info p.money{ font-size: 15px;  color: #fe4513; text-align: right;}
.the_productbox .products_box .right_info ul.products_list li.the_selected{ border-color: #ffcd00; }

p.btn a{ background-color: #ff8a00; height: 38px; line-height: 38px; color: #fff; display:block; min-width: 88px; padding: 0 5px; border-radius: 50px; }

/*info-box*/
.info-box{ width: 100%; padding-top: 48px; }
.info-box .content-box{ padding: 30px 0; text-align: center; }
.info-box h1.manin-title{ font-size: 25px; display: inline-block; font-weight: bold; }
.info-box h2.sub-title{ font-size: 20px; font-weight: bold; padding: 25px 0;}
.info-box h3.limited{font-size: 22px; font-weight: bold; padding: 10px 0;}
.info-box h3.product-name{ font-size: 26px; font-weight: bold; padding:30px 0 20px 0; }

.info-box ul.gift-list{ width: 100%; padding: 20px 0;}
.info-box ul.gift-list li{padding: 8px 0;}
.info-box ul.gift-list li p{ font-size: 16px; color: #008e43; font-weight: bold; }
.info-box ul.gift-list li:nth-child(1) p{ font-size: 20px;  color: #ff2b01;}
.info-box ul.gift-list li:nth-child(2) p{ font-size: 18px;}
.info-box .bn-box{ padding: 5px 0; }
.info-box .time-box{ padding: 40px 0; }

.info-box .share-box{ padding: 25px 0; max-width: 222px; margin: 0 auto;}
.info-box .share-box .fb-likebox{ width: 52px; height: 60px; display: block; float: left; }
.info-box .share-box ul.social_media{ text-align: center; max-width: 200px; float: left; padding-top: 5px;  padding-left: 20px;}
.info-box .share-box ul.social_media li{ display: inline-block; margin:  0 10px; }
.info-box .share-box ul.social_media li a{ width: 50px; height: 50px; cursor: pointer; display: block; border-radius: 50%; overflow: hidden; background-repeat: no-repeat; background-position: center center; background-size: cover; }
.info-box .share-box ul.social_media li a.fb{ background-image: url(../images/facebook.png);}
.info-box .share-box ul.social_media li a.messenger{ background-image: url(../images/messenger.png);}

.info-box ul.product-info{padding: 20px 0 40px 0; text-align: left;}
.info-box ul.product-info li{ padding: 0 15px;}
.info-box ul.product-info li h5{ font-size: 20px; text-align: center; font-weight: bold; padding-bottom: 20px; margin-bottom: 20px; letter-spacing: 3px; position: relative; }
.info-box ul.product-info li h5::after{content:""; width: 88px; height: 4px; background-color: #ff8a00; position: absolute; bottom: 0; left: calc(50% - 44px);}
.info-box ul.product-info li p{ font-size: 16px; vertical-align: top; line-height: 30px; display: inline-block; max-width: calc(100% - 85px); }
.info-box ul.product-info li p.left-p{ min-width: 85px; padding: 0; }

.info-box .rule-info{padding: 20px 15px;}
.info-box .rule-info ul{  text-align: left; list-style-type: decimal; line-height: 26px; padding-left: 12px;}
.info-box .rule-info ul li{ padding-bottom: 8px; }
.info-box .rule-info li p{ font-size: 16px; text-align: justify; vertical-align: top; display: inline-block;}
.info-box .rule-info h5{ font-size: 20px; text-align: center; font-weight: bold; padding:45px 0 20px 0; margin-bottom: 20px; letter-spacing: 3px; position: relative; }
.info-box .rule-info h5::after{content:""; width: 88px; height: 4px; background-color: #64d29d; position: absolute; bottom: 0; left: calc(50% - 44px);}
.info-box .rule-info h5::before{ content: ""; position: absolute; top: 0; left: calc(50% - 29px); width: 58px; height:30px; background: url(../images/icon_crown.png) center center no-repeat; background-size: contain; }

.info-box .freight-box{ width: 100%; overflow: hidden; border-radius: 10px; border:2px solid #d2d2d2; margin: 20px 0; }
.info-box .freight-box p{ width: 100%; padding:20px 20px 20px 48%; color: #4a4a4a; font-weight: bold; text-align: left; font-size: 18px; line-height: 30px; position: relative; }
.info-box .freight-box p::after{ content: "";  position: absolute; width: 40%; height: 100%; top: 0; left: 0; background: url(../images/icon_car.png) center center no-repeat; background-size:  cover; }
.info-box .freight-box p span{ color: #ee255e;}

.info-box .youtube-box{ width: 100%; text-align: center; padding-top: 5px; }
.info-box .youtube-box iframe{ width: 100%; max-width: 570px; height: 315px; }

.footer_box{ width: 100%; background-color: #f0e4e5; padding-bottom: 70px; }
.footer_box ul.link{ width: 100%;  text-align: center;padding:20px 15px; }
.footer_box ul.link li{ display: inline-block; margin:  0 5px; vertical-align: top; }
.footer_box ul.link li a{ width: 110px; height: 110px; display: inline-block;  border: 2px solid #fff; border-radius: 4px; background-color: rgba(255, 255, 255, 0.2);}
.footer_box ul.link li p{ font-size: 14px; line-height: 20px; height: 40px; position: relative; padding-top: 60px;}
.footer_box ul.link li p::after{ content: ""; top: 10px; left: calc(50% - 21px); position: absolute; width: 42px; height: 42px; display: block; background-repeat: no-repeat;  background-size: contain;  background-position: center center;}
.footer_box ul.link li p.icon_01::after{ background-image: url(../images/link_icon_01.png); }
.footer_box ul.link li p.icon_02::after{ background-image: url(../images/link_icon_02.png); }
.footer_box ul.link li p.icon_03{ padding-top: 80px; }
.footer_box ul.link li p.icon_03::after{ width: 60px; height: 60px; left: calc(50% - 30px); background-image: url(../images/link_icon_03.png); }

.footer_box p.Copyright{ text-align: center; font-size: 13px; letter-spacing: 1px; line-height: 24px; padding:0 0 20px 0;}

.footer_box .btn_buy{ position: fixed; bottom: 0; width: 100%; max-width: 600px; z-index: 5;}
.footer_box .btn_buy p{ color: #ffffff; text-align: center; font-size: 24px; }
.footer_box .btn_buy p a{ cursor: pointer; color: #fff; padding: 19px; display: block; background: rgb(255,54,19); background: -moz-linear-gradient(45deg, rgba(255,54,19,1) 1%, rgba(255,1,35,1) 100%); background: -webkit-linear-gradient(45deg, rgba(255,54,19,1) 1%,rgba(255,1,35,1) 100%); background: linear-gradient(45deg, rgba(255,54,19,1) 1%,rgba(255,1,35,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3613', endColorstr='#ff0123',GradientType=1 );}
.footer_box .btn_buy p a span.icon_cart{ position: relative; padding-left: 58px; }
.footer_box .btn_buy p a span.icon_cart::after{ content: ""; position:  absolute; width:  43px; top:calc(50% - 23px); left:0; height: 46px; display: block; background: url(../images/icon_buy.png) center center no-repeat; background-size: contain; }
.none_pad{ padding-bottom: 0; }

a.go_top{ width: 46px; position: fixed; z-index: 5; opacity: 1; bottom: 90px; right: 15px; height: 46px; display: block;background: url(../images/icon_top.png) center center no-repeat; background-size: contain;  cursor: pointer;}
.top_show{ opacity: 1; }

.fb-box{ width: 100%; max-width: 500px; margin: 0 auto; }
.form-box{ min-height: calc(100vh - 268px); }
.form-box input.btn{ margin: 0 auto; text-align: center; font-size: 17px; background-color: #ff8a00; height: 50px; line-height: 50px; color: #fff; display:block; min-width: 186px; cursor: pointer; border-radius: 50px; }
.form-box ul.day-select{ width: 100%; background-color: #f0f0f0; padding: 12px; }
.form-box ul.day-select li{ position: relative; max-width: 328px; margin: 8px auto; background-color: #fff; border-radius: 50px; padding: 8px; }
.form-box label{ font-size: 15px; font-family:'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif; color: #676767;}
.form-box form{ padding-bottom: 30px;}
.form-box ul.fillin{ max-width: 328px; margin: 0 auto; text-align: left;}
.form-box ul.fillin li{ padding-bottom: 20px; position: relative; }
.form-box ul.fillin li .code-box{ width: 100px; height: 32px; position: absolute; top: calc(50% - 16px); right: 0px; }
.form-box ul.fillin li label{ width: 100%; display: block; font-size: 13px; color: #828282; padding-bottom: 5px; }
.form-box ul.fillin li input{ width: 100%; height: 50px; font-size: 16px; padding: 10px 0; border-radius: 0; color: #333; border-bottom: #e1e1e1 solid 1px; }
.form-box ul.fillin li input::placeholder{ color: #a9a9a9; }
.form-box ::-webkit-input-placeholder, .form-box input::-moz-placeholder, .form-box input::-moz-placeholder, .form-box:-ms-input-placeholder{color: red;}
.form-box ul.fillin li input:focus{ border-color: #ff8a00; }
.form-box ul.fillin li.the_terms{ margin-top: -6px; }
.form-box ul.fillin li.the_terms a.link{ font-size: 14px; position: absolute; top: 2px; right: 0; color: #039be5; text-decoration: underline; }
.form-box ul.fillin li.the_terms a.link:hover{ text-decoration: none; }
.form-box ul.fillin li.the_terms label{ font-size: 14px; font-weight: bold; color: #333; }
.form-box ul.fillin li.the_terms input{padding: 0; height: 29px;}

.form-box h3.from-title{ color: #ff8a00; text-align: left; font-size: 18px; padding-bottom: 20px; max-width: 328px; font-weight: bold; margin: 0 auto;}
.form-box ul.pay li{ padding-bottom: 8px; }
.form-box ul.pay li label{ font-size: 16px; font-weight: bold; color: #333; }
.form-box ul.pay li input{ height: 29px; padding: 0; }

.inside-box{ background-color: #ff8a00; }
.inside-box h3.title{ text-align: center; color: #fff; float: none; }
.inside-box a.home{ width: 60px; height: 50px; z-index: 10; position: absolute; left: 0; top: 0; background-image: url(../images/icon_home.png); background-position: center center; background-repeat: no-repeat; background-size: contain; }
.inside-box a.arr{background-image: url(../images/icon_arr.png); }
.inside-box .content-box{ position: relative;  }
.inside-box p.btn{ max-width: 186px; }

.shopping-cart-list{width: 100%; background-color: #f0f0f0; padding:20px 12px;}
.shopping-cart-list h1.title{ font-size: 25px; text-align: center; font-weight: bold; margin: 0 auto; padding-bottom: 20px;}
.shopping-cart-list .buy-list{ width: 100%; max-width: 328px; margin: 0 auto;}
.shopping-cart-list .buy-list p{ color: #4a4a4a; font-size: 13px; font-weight: bold; padding: 10px 0;}
.shopping-cart-list .buy-list tr th p{ font-size: 13px; color: #4a4a4a;}
.shopping-cart-list .buy-list tr td p{ font-size: 15px; color: #333;}
.shopping-cart-list .buy-list tr th, .shopping-cart-list .buy-list tr td{ border-top:1px solid #dcdcdc; }

/*input[type=checkbox]:not(old), input[type=radio ]:not(old){ position: absolute; top: 0; left: 0; height: 100%;  width : 100% !important;  margin: 0;  padding : 0; opacity : 0; cursor: pointer;}
input[type=checkbox]:not(old) + label{  display : inline-block;  padding-left : 30px; line-height : 24px; background : url('../images/checks.png') no-repeat 0 -48px;}
input[type=checkbox]:not(old):checked + label{ background-position : 0 -73px;}
input[type=radio]:not(old) + label{ cursor: pointer; display : inline-block;  padding-left : 30px; line-height : 24px;  background: url('../images/checks.png') no-repeat 0 3px;}
input[type=radio]:not(old):checked + label{ background-position : 0 -22px;}
*/
.go_order{ z-index: 15; height: 100vh; background-color: rgba(0,0,0,0.25); display: none; }
.go_order .buy_list{width: 100%; background-color: #fff; padding: 20px 15px; position: relative;}
.go_order .buy_list ul{ width: 100%; }
.go_order .buy_list ul li{ padding: 10px 0; }
.go_order .buy_list ul li .title{ width:calc(100% - 128px); float: left; position: relative; padding-top: 5px}
.go_order .buy_list ul li .title label{ font-size: 17px; }

.go_order .fix{ position: fixed;bottom: 0; width: 100%; max-width: 600px;}
.go_order .buy_list .btn_close{ width: 46px; position: absolute; z-index: 5; opacity: 1; bottom: 130px; right: 15px; height: 46px; display: block;background: url(../images/btn_close.png) center center no-repeat; background-size: contain;  cursor: pointer;}
.go_order .buy_list .right_nb{ float: left; }
.go_order .buy_list .right_nb .input_quantity{border:1px solid #dddddd;  border-radius: 4px; height: 35px;}
.go_order .buy_list .right_nb .input_quantity button{ cursor: pointer; float: left; width:35px; height: 33px; line-height: 33px; font-size: 16px; background-color: #fff; color: #b8b8b8;}
.go_order .buy_list .right_nb .input_quantity button:hover{ color: #e39a9a; }
.go_order .buy_list .right_nb .input_quantity input{ float: left; width: 50px; text-align: center; height: 33px; font-size: 16px; line-height: 29px; padding: 2px 5px; border:1px solid #dddddd; border-width: 0 1px 0 1px;}

.fadebox h3.top_title{ text-align: center; padding: 20px 0 15px; font-size: 18px; font-weight: bold; }
.fadebox input{ width: 100%; max-width: 400px; border:1px solid #fff; padding: 0 15px; margin: 0 auto; text-align: center; font-size: 15px; border-radius: 50px; height: 40px; background-color: #f0f0f0;}
.fadebox textarea{ width: 100%; max-width: 400px; min-height: 90px; padding: 10px 15px; margin: 10px auto; font-size: 15px; border-radius: 8px; background-color: #f0f0f0;}
.fadebox input:focus { border-color: #e857187a;}
/*.fadebox .category_list ul.list{ max-height: 90vh; overflow-y: auto; }*/
.fadebox .category_list ul.list li{ padding: 8px 0; }
.fadebox .category_list input{ text-align: left; float: left;width: calc(100% - 95px); }
.fadebox .category_list .sequence{ float: right; text-align: center; }
.fadebox .category_list .sequence a{ color: #4a4a4a; cursor: pointer; width: 41px; height: 41px; background-color: #e9e9e9; display: inline-block; border-radius: 50%; text-align: center; line-height: 41px; }
.fadebox .infobox{ background-color: #f0f0f0; padding: 15px; border-radius: 8px;}
.fadebox .infobox p span{ color: #e85718; }
.fadebox .infobox p span.green{color: #07b648; }
.fadebox .styled-select{ height: 41px; width: 100%; background-color: #f0f0f0; border-radius: 50px;}
.fadebox .styled-select select{ padding: 0 20px; font-size: 16px; color: #333;  width: calc(100% - 20px); height: 41px; line-height: 41px; background: none; }
.fadebox .the_product_info input, .fadebox .the_product_info textarea{ text-align: left; max-width: initial; }
.fadebox .the_product_info ul li{ padding: 15px 0; border-bottom: 1px solid #b6b6b6; }

#category_tools{ padding: 15px ; }
.the_button{ text-align: center; padding: 20px 0 15px; }
.the_button a.btn{ display: inline-block; border-radius: 50px; color: #5f6368; line-height: 40px; height: 40px; background-color: #f0f0f0; min-width: 100px; text-align: center; }
.the_button a.c_org{ background-color: #e85718; color: #fff; }

@media (max-width:1400px){
	.the_productbox .products_box .right_info ul.products_list li{ width:calc(50% - 15px); }
}
@media (max-width:500px){
	.the_productbox .products_box .right_info{ padding:15px 16px; }
	.the_productbox .products_box .right_info ul.products_list li{padding: 16px;}
	.the_productbox .products_box .right_info ul.products_list li .photo{width: 70px; height: 70px;}
	.the_productbox .products_box .right_info ul.products_list li .product_info{ max-width: calc(100% - 70px);}
	.the_productbox .products_box .right_info ul.products_list li .product_info h3.product_title{ font-size: 14px; }
	.fadebox input{ font-size: 14px; }
}
@media (max-width:750px){
	.fadebox h3.top_title{ font-size: 17px; }
	.the_productbox .products_box .left_menu{ width: 135px; }
	.the_productbox .products_box .left_menu p{ width: 135px;}
	.the_productbox .products_box .left_menu ul.bottom_tools{ max-width: 133px;}
	.the_productbox .products_box .right_info{width: calc(100% - 135px);}
	.the_productbox .products_box .right_info ul.products_list li{ width: calc(100%); margin-right: 0; }
}
@media (max-width:414px){
}
@media screen and (max-height: 450px) {
}
