@charset "UTF-8";
/* CSS Document */

/*關於我們*/		

body#about .content{
	width:503px;
	position:absolute;
	right:-503px;
	top:0;
	z-index:5000;
	background-image: url(../images/contentbg.png);
	background-repeat: repeat-y;
	background-position: 0 0;
	height:100%;
	margin-bottom:50px;
}

body#about .content .title{
	width:400px;
	margin: 30px;
	top: 0px;
	float: left;
	height: 30px;
}
	
body#about .content .txt{
	width:430px;
	margin:0px;
	float: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
	font-size: 15px;
	word-spacing:400%;
	color: #bcbcbc;
	line-height: 220%;
	text-align: justify;
	text-indent:24px;
}

body#about .content #txt2{
	width:430px;
	margin:0px;
	float: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}

body#about .content #txt2 p{
	font-size: 14px;
	word-spacing:400%;
	color: #bcbcbc;
	line-height: 220%;
	text-align: justify;
	text-indent:24px;
}
body#about .content #txt2 h2{
	text-indent:0px;
	font-size: 18px;
	word-spacing:400%;
	color: #bcbcbc;
}
