@charset "UTF-8";
/* CSS Document */

/*product*/

body#product #wrapper{ position:absolute; display:block; width:100%; height:100%; min-width:1200px;min-height:2000px;}

body#product  #wrapper .content{
	width:503px;
	height: 135%;
	position:absolute;
	right:-503px;
	top:0;
	z-index:5000;
	background:url(../images/contentbg.png) 38px 0px repeat-y;
	padding-bottom:50px;
}

body#product #wrapper .content .title{
	width:426px;
	height: 36px;
	background: url(../images/product/title.png) no-repeat;
	margin-left:60px;
	margin-top:30px;
}
	
body#product  #wrapper .content .txt_1{
	width:410px;
	float: left;
	font-size: 14px;
	color: #bcbcbc;
	line-height: 220%;
	text-align: justify;
	text-indent:24px;
	letter-spacing: 1px;
	position: absolute;
	top: 80px;
	left: 60px;
	z-index: 99999;
}

body#product .content .txt_2{
	width:410px;
	float: left;
	font-size: 14px;
	color: #bcbcbc;
	text-align: justify;
	letter-spacing: 1px;
	position: absolute;
	top: 80px;
	left: 60px;
	z-index: 99999;
	display:none;
}
body#product .content .txt_3{
	width:410px;
	float: left;
	position: absolute;
	top: 80px;
	left: 60px;
	z-index: 9999;
	display:none;
	font-size:14px;
	padding-bottom:25px;
}
body#product .content .txt_3 p{
	font-size: 14px;
	color: #bcbcbc;
	line-height: 170%;
	text-align: justify;
	letter-spacing: 1px;
	text-indent:24px;}
body#product .content .txt_3 .high{
	width:390px;
	background:#999;
	color:#2a2a2a;
	font-size: 15px;
	word-spacing:400%;
	line-height: 170%;
	text-align: justify;
	letter-spacing: 1px;
	padding:10px;
	margin-bottom: 10px;
}
body#product .content .txt_3 .biologo{float:left; margin: 0 20px 0px 0px;}


.bio_imgage{
	width:300px;
	height:126px;
    position: absolute;
	top: 600px;
	left:55px;
    /*display:inline-block;*/
	cursor: pointer;
	font-size: 0;
    margin: 0px;
    
}

body#product .content .txt_3 .bio_imgage img{
    float:center;
    vertical-align: middle;   
    padding: 0px;}






body#product .content .txt_3 .bio_imgall{
	width:420px;
	height:126px;
	display: inline-block;
	cursor: pointer;
}

body#product .content .txt_3 .bio_imgall img{float:left;padding: 0px;}

body#product  #wrapper .content .txt_4{
	width:425px;
	position: absolute;
	top: 80px;
	left: 60px;
}

body#product  #wrapper .content .txt_4 h2{
	font-size: 15px;
	word-spacing:400%;
	color: #bcbcbc;
	line-height: 220%;
	text-align: justify;
	letter-spacing: 1px;
	padding-bottom: 10px;
	}
	
	body#product  #wrapper .content .txt_4 h3{
	font-size: 15px;
	word-spacing:400%;
	color: #bcbcbc;
	text-align: justify;
	letter-spacing: 1px;
	height:25px;
	padding-left:10px;
	background:url(../images/product/colori.png) no-repeat 0px 5px;
	}


/* 以下是新的code */

body#product #wrapper .content .txt_4 .color123{
	margin: 0 0 15px 0;
	line-height: 200%;
	}

body#product #wrapper .content .color123 .color_line{
	width:400px;
	height:155px;
}

body#product #wrapper .content .color123 .color_line .product_imgsin{
	float:left;
	width:103px;
	height:138px;
	padding-right:10px;
	text-align:center;
}
body#product #wrapper .content .color123 .color_line .product_imgsin .product_img{
	width:103px;
	height:103px;
	cursor: pointer;
}
body#product #wrapper .content .color123 .color_line .product_imgsin .product_txt{
	font-size:13px;
	line-height:20px;
	color:#fff;
	width:103px;
	height:20px;
	text-align:center;
}
body#product #wrapper .content .color123 .color_line .product_imgsin .product_num{
	font-size:10px;
	line-height:15px;
	display:inline;
	height:15px;
	border:1px solid #CCC;
	color:#ccc;
}
body#product #wrapper .content .txt_3 .color123 .color_line{ height: initial; padding: 15px 0; }
body#product #wrapper .content .txt_3 .color123 .color_line .product_imgsin{ height: 110px; }


/*  以上是新的code  */


body#product #wrapper .content .txt_4 .color1{
	margin: 0 0 15px 0;
	line-height: 200%;
	}

body#product #wrapper .content .txt_4 .color1 .color_line{
	width:400px;
	height:155px;
}

body#product #wrapper .content .txt_4 .color1 .color_line .product_imgsin{
	float:left;
	width:103px;
	height:138px;
	padding-right:10px;
	text-align:center;
}
body#product #wrapper .content .txt_4 .color1 .color_line .product_imgsin .product_img{
	width:103px;
	height:103px;
	cursor: pointer;
}
body#product #wrapper .content .txt_4 .color1 .color_line .product_imgsin .product_txt{
	font-size:13px;
	line-height:20px;
	color:#fff;
	width:103px;
	height:20px;
	text-align:center;
}
body#product #wrapper .content .txt_4 .color1 .color_line .product_imgsin .product_num{
	font-size:10px;
	line-height:15px;
	display:inline;
	height:15px;
	border:1px solid #CCC;
	color:#ccc;
}




body#product #wrapper .content .txt_4 .color123 .color_line .product_imgsin1{
	float:left;
	width:400px;
	height:138px;
	padding-right:10px;
	text-align:left;
}
body#product #wrapper .content .txt_4 .color123 .color_line .product_imgsin1 .product_img{
	width:103px;
	height:103px;
	cursor: pointer;
}
body#product #wrapper .content .txt_4 .color123 .color_line .product_imgsin1 .product_txt{
	font-size:13px;
	line-height:20px;
	color:#fff;
	width:103px;
	height:20px;
	text-align:center;
}
body#product #wrapper .content .txt_4 .color123 .color_line .product_imgsin1 .product_num{
	font-size:10px;
	line-height:15px;
	display:inline;
	height:15px;
	border:1px solid #CCC;
	color:#ccc;
}
















      body#product #wrapper .content .txt_4 .antiscroll-inner {
        width: 400px;
        height: 600px;
      }


body#product  #wrapper .content .txt_5{
	width:415px;
	float: left;
	font-size: 14px;
	color: #bcbcbc;
	line-height: 220%;
	text-align: justify;
	text-indent:24px;
	letter-spacing: 1px;
	position: absolute;
	top: 80px;
	left: 60px;
	z-index: 99999;
}

body#product  #wrapper .content .txt_5 h2{
	font-size: 16px;
	word-spacing:400%;
	color: #ffffff;
	line-height: 220%;
	text-align: justify;
	letter-spacing: 1px;
	padding-bottom: 10px;
	text-indent: 0;
	}
	
	body#product  #wrapper .content .txt_5 h3{
	font-size:16px;
	word-spacing:400%;
	color:#ffffff;
	text-align:justify;
	letter-spacing:1px;
	font-weight: 900;
	text-indent: 0;
	}
	body#product  #wrapper .content .txt_5 p.no_t{
		text-indent: 0;
	}



body#product .content .txt_5 img{
float:left;
margin: auto;
padding-bottom: 5px;
padding-top: 5px;
}





body#product .content .imga{
	float:left;
	margin: 10px;
	width: 140px;
	height: 80px;
	font-family: "微軟正黑體", Verdana, Arial, Helvetica, sans-serif;
}

body#product .content .trend{
	float:left;
	width:220px;
	height:80px;
	margin: 10px;
	line-height:160%;-s-ssssize:15px
aarg
}



body#product .content .txt_1 h2{
text-indent:0px;
font-size:15px;
margin:10px;
}
body#product .content .txt_2 h2{
text-indent:0px;
font-size:15px;
margin:10px;
}


body#product .product_sub_nav{
	width:34.5px;
	height:467px;
	position:relative;
	top:0;
	left:12px;
	float:left;
	z-index: 5505;
}
body#product .product_sub_nav li{ float:left; text-indent:-9999px;}
body#product .product_sub_nav a{ width:34.5px; color: #000;/* font-weight: bold; font-size: 16px; text-decoration: none; text-align: center;*/ display:block; width:34.5px; background:url(../images/product/btn.png) no-repeat;}
body#product .product_sub_nav li.nav1 a{ height:114px; position:absolute; top:0px; background-position:0px -464px;}
body#product .product_sub_nav li.nav1 a:hover{background-position:-35px -464px;}

body#product .product_sub_nav li.nav2 a{ height:117px; position:absolute; top:114px; background-position:0px -232px;}
body#product .product_sub_nav li.nav2 a:hover{background-position:-35px -232px;}

body#product .product_sub_nav li.nav3 a{ height:115px; position:absolute; top:231px; background-position:0px -347.5px;}
body#product .product_sub_nav li.nav3 a:hover{background-position:-35px -347.5px;}

body#product .product_sub_nav li.nav4 a{ height:118px; position:absolute; top:346px; background-position:0px 5px;}
body#product .product_sub_nav li.nav4 a:hover{background-position:-35px 5px;}

body#product .product_sub_nav li.nav5 a{ height:118px; position:absolute; top:464px; background-position:0px -114px;}
body#product .product_sub_nav li.nav5 a:hover{background-position:-35px -114px;}



body#product #bg{
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  z-index:4999;
}
