
@charset "utf-8";
/* CSS Document */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote { margin:0;	padding:0;}
fieldset, img {	border:0;}
ol, ul {list-style:none;}
abbr, acronym { border:0;}
.CLEAR{ clear:both; height: 0; font-size: 0px; line-height: 0;}
.clearfix:after {content: "."; display: block; clear: both; visibility: hidden;	line-height: 0;	height: 0;}

body, h1, h2, h3, h4, h5, h6, p { font-family: 'Bitter',"微軟正黑體","Microsoft JhengHei", serif; -webkit-font-smoothing: antialiased;}
p{ font-size:15px; _font-size:14px; line-height:24px;/*font-family: 'Nunito', sans-serif;*/}
a{ text-decoration:none; outline: none; /* for Firefox */  hlbr:expression(this.onFocus=this.blur()); /* for IE */}
a:hover{ text-decoration:none;}
select, input, textarea{ font-family:"微軟正黑體","Microsoft JhengHei", serif; -webkit-font-smoothing: antialiased; font-size:15px;}
*:link, *:visited, *:hover, *:active, *:focus , * { -o-transition: color .20s linear, background-color .20s linear, border-color .20s linear; -webkit-transition: color .20s linear, background-color .20s linear, border-color .20s linear; -moz-transition: color .20s linear, background-color .20s linear, border-color .20s linear; transition: color .20s linear, background-color .20s linear, border-color .20s linear; }

body.bg00{ background:url(../images/bg_00.jpg) 0 0 repeat; }

#container{width: 100%; margin: auto;}
#header	{margin:0;}
#footer	{clear: both;}


@charset "utf-8";
/* CSS Document */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

* {
	-webkit-text-size-adjust:none;}

a{
	text-decoration:none;}

em{
	/*font-style:normal;*/}

fieldset, img {
	border:0;}

ol, ul {
	list-style:none;}

abbr, acronym {
	border:0;}

.CLEAR{
	clear:both; height: 0; font-size: 0px; line-height: 0;}


/**
 * Markup free clearing
 * Details: http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;}

/* IE6 */

* html .clearfix {
  height: 1%;}

/* IE7 */

*:first-child + html .clearfix {
  min-height: 1%;}
/* ### go to top ### */
p.go_top{ position:absolute; right:2%; top:-320px; cursor:pointer; z-index:50; text-indent:-9999px;}
p.go_top a{ width:60px; height:60px; display:block; background:url(../images/top.png) 0 0 no-repeat;}


.ContentsBox{ max-width: 1200px; margin: 0 auto; }

@media (max-width:1215px){.ContentsBox{ width: 90%;}}

body{overflow-x: hidden;}
/**** KV ****/
.MainBanner{ width: 100%; min-height: 693px; background: url(../images/br_01.jpg ) center top no-repeat #000; position: relative;/* overflow-x: hidden;*/}
.MainBanner .ContentsBox { max-width: 1352px; position: relative;}
.MainBanner h1.mainTitle{ max-width: 510px; height: 260px;  display: block; background: url(../images/main_title.png ) center top no-repeat;  text-indent: -9999px; margin: 110px auto 0 auto; background-size:  contain;}
.MainBanner h2.subTitle{ width: 90%; max-width: 390px; margin: 30px auto; color: #f4b4d0; font-size: 20px; line-height: 40px;}
.MainBanner h2.subTitle span{ font-weight: normal; padding: 0 8px; }
.MainBanner p.logo{ position: absolute;z-index: 1; left: 140px; top: 40px; width: 295px; height: 70px; display: block; background: url(../images/logo_wangSteak.png ) center top no-repeat;  text-indent: -9999px; background-size: contain; }

.MainBanner .MBox{ float: right; width:600px; min-height: 693px; display: block; background: url(../images/br_g_00.png) 0 0 repeat; position: relative;  }
.MainBanner .tag{ position: absolute; z-index: 0; top: 0; right: 70px; bottom:0; text-indent: -9999px; width: 90px; height: 86px; display: block;  background: url(../images/img_tag.png ) center center no-repeat #f8518c; background-size: contain;}
.MainBanner .img_Strawberry{ width: 484px; height: 208px; display: block; background: url(../images/img_Strawberry.png) center center no-repeat ; background-size: contain; position: absolute; bottom: -26px; left: 300px; z-index: 2;}
.MainBanner .btnBox{ width: 100%; bottom: 0; position: relative; z-index: 8; }
.MainBanner p.btn{ width: 100%; text-align:  center; font-size: 22px; max-width: 400px; margin: 0 auto; line-height: 24px; font-weight: bold;}
.MainBanner p.btn a{ float: left; color: #f4b4d0; text-align:  center; padding: 25px;  width: 54px; height: 54px; display: block; border: 1px solid #f4b4d0; border-radius: 100px; margin: 0 10px; cursor: pointer; box-shadow: 0px 0px 15px rgba(0%,0%,0%,0.2);}
.MainBanner p.btn a:hover{ background: url(../images/icon_Strawberry.png) center center no-repeat #f4b4d0; text-indent: -9999px; background-size: contain;}

@media (max-width:1790px){.MainBanner p.logo{ left: 20px; }}
@media (max-width:1535px){.MainBanner h1{height: 230px;}}
@media (max-width:1240px){.MainBanner .MBox{ width: 500px;}}
@media (max-width:899px){.MainBanner .img_Strawberry{ width: 342px;  background-image: url(../images/img_Strawberry_s.png); left: initial; right:-7.5%;}}
@media (max-width:650px){.MainBanner .MBox{ width: 100%;}
	.MainBanner .img_Strawberry{ right: 0; }
	.MainBanner .ContentsBox{ width: 100%; }}
@media (max-width:499px){.MainBanner .tag{ right: 0; width: 70px; height: 70px; }
	.MainBanner h2.subTitle{font-size: 16px;}
	.MainBanner h1.mainTitle{height: 200px;}
	.MainBanner p.btn{font-size: 20px;}
	.MainBanner p.btn a{ width: 40px; height: 40px; }}

/*@media (max-width:850px){.MainBanner {background: url(../images/br_01_M.jpg) center top no-repeat #000; background-size: cover;}}
*/
@media (max-width:700px){.MainBanner .ContentsBox{ min-height:620px; }}
@media (max-width:599px){/*.MainBanner{background: url(../images/br_01_S.jpg) center top no-repeat #000; background-size: cover;*/}
	.MainBanner h1{ height: 186px}
	.MainBanner h2{ position:  static;  width: 380px; margin: 0 auto;}}

@media (max-width:420px){.MainBanner h1{ width: 100%;}
	.MainBanner h2{ width: 100%; margin: 0 auto;}
	.MainBanner p.btn a{ display: block; margin-bottom: 10px;}}

.DataBox{ width: 100%; }
.DataBox .box_title{ width: 100%; background: url(../images/br_sub_title.png) center top no-repeat #f4b4cf; padding: 32px 0 32px 0; background-size: cover;}
.DataBox .box_title h3{ width: 90%; max-width:320px; height:36px; display: block; background-position:  center center; background-repeat: no-repeat; margin: 0 auto ; text-indent: -9999px; }
.DataBox .box_title h3.t01{ background-image: url(../images/h3_title_01.png );  background-size: contain;}
.DataBox .box_title h3.t02{ background-image: url(../images/h3_title_02.png );  background-size: contain;}
.DataBox .box_title h3.t03{ background-image: url(../images/h3_title_03.png );  background-size: contain;}

.DataBox .box_title p{ color: #f4d5a7; font-size: 18px;  line-height: 36px; padding-top: 20px; text-align: center; font-weight: normal; margin: 0 auto;}
.DataBox .box_title p.t01{ max-width: 558px; }
.DataBox .sub_box_title{ width: 100%; background: url(../images/bg_01.jpg) 0 0 repeat; padding: 25px 0;}
.DataBox .sub_box_title p{ text-align: center; color: #222; line-height: 36px; font-size: 20px; }

@media (max-width:1080px){.DataBox .box_title p.t02{ width:75%; }}
@media (max-width:800px){.DataBox .box_title p.t01{ width:75%; }}
@media (max-width:599px){.DataBox .box_title h3{/* width:300px; */height:50px; }
	.DataBox .box_title p{font-size: 16px;}
	.DataBox .box_title p.t02, .DataBox .box_title p.t01{ width: 85%; }
	.DataBox .sub_box_title p{font-size: 18px; width: 90%; margin: 0 auto; line-height: 32px;}}
.map{ max-width: 100%; }
.map .mBox{ width: 100%; position: relative; min-height: 350px;}
.map .mBox p{ padding: 20px 0; color: #fbf7f8; font-size: 15px; }
.map .mBox .btnBox{ position: absolute; right: 120px; top:0; min-height: 337px; background: url(../images/br_g_map.png) 0 0 repeat; padding: 0 40px;}
.map iframe{ width: 100%; height: 350px; position: absolute; top:0;}

.map a.p_www{ color: #9f9f9f; font-size: 12px; display: block; padding-top: 10px;}
.map a.p_www:hover{ text-decoration: underline; }

p.btn_more{ text-align: center;font-size: 18px; font-weight: bold;}
p.btn_more a{padding: 12px 40px 12px 25px;  max-width: 100px; color: #f4b4cf; display: block; border: 1px solid #f4b4cf; margin: 0 auto;}
/*p.btn_more a:hover{ color: #fff; display: block; background: url(../images/arr_w.png) center center no-repeat #e0a715; border: 2px solid #e0a715; border-radius: 55px; margin: 0 auto;}
*/

.map p.btn_more{ width: 100%; padding: 10px 0;}
.map p.btn_more a{ float: right; padding: 12px 50px; border:1px solid #f4b4cf;  background-color: transparent; color: #f4b4cf;}
.map p.btn_more a:hover{ background-color: #f4b4cf; color: #222; }
.map p.b1{margin-top: 85px;}

@media (max-width:1440px){.map .mBox .btnBox{ right: 150px;}}
@media (max-width:1300px){.map .mBox .btnBox{ right:100px; }}
@media (max-width:1200px){.map .mBox .btnBox{ right:5%; }}
@media (max-width:850px){.map .mBox .btnBox{ right: 72px; }}

.Chef{ overflow: hidden; }
.Chef ul.ChefBox{ width: 100%; background-color: #000;}
.Chef ul.ChefBox li{ width: 100%; height: 550px; overflow: hidden; }
.Chef ul.ChefBox li .theDishesBox{ float: left;  width: 90%; margin: 150px 0 40px 15%; background: url(../images/dishes_br_info_on.png) center -22px no-repeat; background-size: contain; max-width:392px; min-height: 215px; display: block; border:1px solid #f4b4cf; color: #f4b4cf; }
.Chef ul.ChefBox li .theDishesBox:hover{ background: url(../images/dishes_br_info.png) center -22px no-repeat #f4b4cf; background-size: contain; color: #13151a; }
.Chef ul.ChefBox li.food_01{ background: url(../images/dishes_01.jpg) center right no-repeat; background-size: cover;}
.Chef ul.ChefBox li.food_02{ background: url(../images/dishes_02.jpg) center center no-repeat; background-size: cover;}
.Chef ul.ChefBox li.food_03{ background: url(../images/dishes_03.jpg) center right no-repeat; background-size: cover;}
.Chef ul.ChefBox li.food_04{ background: url(../images/dishes_04.jpg) center left no-repeat; background-size: cover;}
.Chef ul.ChefBox li.food_01:hover{ background-image: url(../images/dishes_01_in.jpg);}
.Chef ul.ChefBox li.food_02:hover{ background-image: url(../images/dishes_02_in.jpg);}
.Chef ul.ChefBox li.food_03:hover{ background-image: url(../images/dishes_03_in.jpg);}
.Chef ul.ChefBox li.food_04:hover{ background-image: url(../images/dishes_04_in.jpg);}

.Chef ul.ChefBox li.food_02 .theDishesBox, .Chef ul.ChefBox li.food_04 .theDishesBox{ float: right; margin: 150px 15% 40px 0;}
.Chef ul.ChefBox li.food_01 .theDishesBox{ background-position: center bottom; }
.Chef ul.ChefBox li.food_01 .theDishesBox:hover{ background-position: center bottom;}

.Chef ul.ChefBox li p.info{ text-align: center; margin: 0 auto; max-width: 80%; padding: 30px 0 40px 0; color: #f4b4cf; font-size: 16px;}
.Chef ul.ChefBox li p.info b{ font-size: 26px; font-weight: normal; line-height: 40px;}
.Chef ul.ChefBox li .theDishesBox:hover p{ color: #13151a; }

.Chef ul.ChefBox li p.btn_more { padding: 12px 40px 12px 25px; max-width: 100px; margin: 0 auto; background: url(../images/arr_w.png) center center no-repeat transparent; background-size: contain; border: none; }
.Chef ul.ChefBox li .theDishesBox:hover p.btn_more{  background: url(../images/arr_k.png) center center no-repeat; background-size: contain; border: none; }
@media (max-width:1440px){ .Chef ul.ChefBox li .theDishesBox{ margin: 150px 0 40px 10%;}
	.Chef ul.ChefBox li.food_02 .theDishesBox, .Chef ul.ChefBox li.food_04 .theDishesBox{ float: right; margin: 150px 10% 40px 0;}}
@media (max-width:1150px){.Chef ul.ChefBox li .theDishesBox{ color: #13151a; background: url(../images/dishes_br_info.png) center -22px no-repeat #f4b4cf; background-size: contain; }
	.Chef ul.ChefBox li p.info{ color: #13151a; }
	.Chef ul.ChefBox li .theDishesBox p.btn_more{  background-image: url(../images/arr_k.png);}
	.Chef ul.ChefBox li .theDishesBox:hover{opacity: .9;}}

@media (max-width:1024px){.Chef ul.ChefBox li.food_02{ background-position: center left;}}
@media (max-width:1000px){.Chef ul.ChefBox li .theDishesBox, .Chef ul.ChefBox li.food_02 .theDishesBox, .Chef ul.ChefBox li.food_04 .theDishesBox{ margin: 150px auto 40px auto; float: none;}}

.pop_info h4{ color: #000; font-size: 20px; text-align: center;   padding: 10px 0;}
.pop_info h5{ /*color: #D85529;*/ color: #f17bae; text-align: center;}
.pop_info p{ width: 90%; margin: 0 auto;  padding: 10px 0; color: #222; }

.banner_food_01 {	background: url(../images/banner_01.jpg) center center no-repeat; background-size: cover;}
.banner_food_02 { background: url(../images/banner_02.jpg) center center no-repeat; background-size: cover;}

.photo_slider3{ position: relative;}
ul.slides li{ height:490px;}
.ArticlesList{ overflow:hidden;}
.ArticlesList .info{ z-index: 5; padding:90px 20px 40px 20px;  max-width:560px; min-height: 359px; display: block; background: url(../images/br_g_00.png) 0 0 repeat; position: absolute; left: 10%; }
.ArticlesList .info p { color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.1); line-height: 44px;  font-size: 20px; text-align: center; margin: 0 auto;}
.ArticlesList .info p.logo{ margin-top: 40px; text-align: left; font-size: 16px; width: 180px; height: 104px; line-height: 104px; background: url(../images/shop_logo.png) center center no-repeat; background-size: contain;}
.flex-control-nav{ z-index: 10; }
@media (max-width:1240px){.ArticlesList .info p{font-size: 18px;} .ArticlesList .info{ left: 5%; }}
@media (max-width:860px){.ArticlesList .info{ left: 50%; margin-left: -250px; }}
@media (max-width:699px){.ArticlesList .info{ left: 0%; margin-left: 0px; max-width: 86%; width: 100%;}}
@media (max-width:599px){ .slides li .info{ width:80%; margin: 100px auto 0 auto; min-height:120px;}
	.slides li .info p{ font-size:14px;}
	.ArticlesList .info{ padding: 30px 7%;}
	.ArticlesList .info p{ line-height: 28px; }
	.banner_food_01 {	background: url(../images/banner_01s.jpg) center bottom no-repeat; background-size: cover;}
	.banner_food_02 { background: url(../images/banner_02s.jpg) center center no-repeat; background-size:cover;}}
	
.footerBox{ border-bottom: 28px solid #f8518c; padding: 90px 0 40px 0;}
.footerBox .ContentsBox{ position: relative;}
.footerBox .fbBox{ width: 337px; height: 350px;position: absolute; bottom: -68px; right: 0; box-shadow: 0px 0px 15px rgba(0%,0%,0%,0.2);  }
.footerBox .fbBox iframe{ width: 100%; height: 350px; }
.footerBox .logoimg{ float: left; max-width: 180px; padding-right: 60px; }

.footerBox .infoBox{ float: left; max-width: 400px; }
.footerBox .infoBox p{ color: #404040; font-size: 17px; line-height: 30px;}
.footerBox .infoBox p span.ss{font-size: 14px;}
.footerBox .infoBox p span.red{ color: #da022b; font-weight: bold; }
.footerBox .infoBox p.btn{ font-size: 16px; padding: 30px 0; font-weight: bold; }
.footerBox .infoBox p.btn a{ cursor: pointer; color: #b98d4e; padding: 10px 20px; border: 1px solid #b98d4e; margin-right: 10px;} 
.footerBox .infoBox p.btn a:hover{ background-color: #b98d4e; color: #fff; }

.br01{ /*background-color: #f4b4cf; */ background: url(../images/bg_00.jpg) 0 0 repeat;}

@media (max-width:1100px){.footerBox .logoimg{ max-width: 120px; padding-right: 20px; }}
@media (max-width:1215px){.map{ width: 100%;}}
@media (max-width:1000px){.footerBox .logoimg{ float: none; }
	.footerBox{padding-top: 40px;}}
@media (max-width:850px){.footerBox{ padding-bottom: 0; border-bottom: 40px solid #c49d65;}
	.footerBox .logoimg{ margin: 0 auto; padding-right: 0; }
	.footerBox .infoBox{ float: none; margin: 0 auto; max-width: 100%; }
	.footerBox .fbBox{position: initial;margin: 0 auto;}
	.footerBox .infoBox p{ text-align: center; }}

@media (max-width:400px){.footerBox .fbBox{ width: 300px;}}
@media (max-width:330px){.footerBox .fbBox{ width: 260px;}}
