BODY {
	FONT-WEIGHT: normal; LINE-HEIGHT: 24px; FONT-FAMILY: Arial, Verdana, Sans-serif
}

.brown_noline {
	font-weight: bold;
	color: #650000;
	display: block;
	background-image: none;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.title {
	color: #D50000;
}
.phone {
	text-decoration: underline;
	color: #0000CC;
}

.time {
	font-size: 12px;
	line-height: 22px;
	color: #333333;
}

.line {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
}

A:link    { color: #000000; text-decoration: underline; font-weight: normal;}
A:visited { color: #000000; text-decoration: underline; font-weight: normal;}
A:active  { color: #D50000; text-decoration: underline; font-weight: normal;}
A:hover   { color: #D50000; text-decoration: none; font-weight: normal;}