@media (max-width: 1400px) {
  .theme-default .nivoSlider {
    height: 340px;
  }
}

@media (max-width: 1290px) {
  
  .slideTitle{
    max-width: 800px;
    top: 165px;
  }
}

@media (max-width: 1200px) {
  .rightForm {
    width: calc(60% - 3px);
  }
  .leftWelcome {
    width: calc(40% - 3px);
  }
  .leftWelcome img {
    width: calc(100% - 95px);
    left: 50px;
  }
  .leftWelcome p {
    padding-right: 50px;
    padding-left: 50px;
  }
  .level table.lvTable {
    width: 100%;
  }
  .qaBox {
    text-align: center;
  }
  .tooltip2 {
    width: 45%;
  }
  .lp1200 {
    display: inline-block;
    width: calc(40% - 40px);
  }
  .indexRight {
    width: calc(60% - 40px);
        margin-left: 5px;
  }

  .leftPic {
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 30px;
  }

  .linkBtns>img{ display: none; }

  .linkBtns a{
    padding: 18px;
  }

}

@media (max-width: 1090px) {
  a.backHome {
    top: 17px;
  }
  nav.white a {
    font-size: 16px;
    line-height: 2.8;
  }
  header.sticky {
    padding-bottom: 15px;
  }
  header.sticky nav {
    top: 30px;
  }
  header.sticky a.backHome {
    top: 17px;
  }
  .logo img {
    width: 315px;
  }

  .mainLink{
    width: 100%;
        max-width: 520px;
    margin: 0 auto;
  }

  .linkBtns{
    padding: 0;
  }

  .indexBlock{
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 60px;
  }


}

@media (max-width: 992px) {
  .applyBox.container {
    height: auto;
  }
  .leftWelcome {
    width: 100%;
    height: 400px;
    display: block;
  }
  .leftWelcome p {
    display: inline-block;
    width: 100%;
    line-height: 1.6;
  }
  .leftWelcome img {
    width: 300px;
    top: 50px;
    display: block;
    margin-bottom: 70px;
  }
  .leftWelcome .fbLink a.fbBtn {
    margin-top: 0;
  }
  .leftWelcome .fbLink span {
    display: none;
  }
  .rightForm {
    width: 100%;
    padding-bottom: 0;
  }
  .menus {
    position: fixed;
    top: 0;
    right: -215px;
    padding: 50px 0;
    height: 100%;
    display: block;
    background: #7f1818;
    background: -moz-linear-gradient(-45deg, #7f1818 0%, #5c1211 100%);
    background: -webkit-linear-gradient(-45deg, #7f1818 0%, #5c1211 100%);
    background: linear-gradient(135deg, #7f1818 0%, #5c1211 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f1818', endColorstr='#5c1211',GradientType=1 );
  }
  .menus nav {
    top: 0;
    right: 0;
    position: relative;
  }
  .menus nav a {
    display: block;
    color: #FFF;
    margin: 0 20px;
    margin-right: 30px;
    border-bottom: 1px solid #650b0b;
    line-height: 3.3;
    padding: 0 10px;
  }
  header.sticky .menuTriger i {
    color: #000;
  }
  header.sticky nav.white a {
    color: #FFF;
  }
  a.backHome {
    top: 15px;
    left: 25px;
  }
  .menuTriger {
    position: absolute;
    right: 23px;
    top: 20px;
    display: block;
    cursor: pointer;
  }
  .menuTriger i {
    color: #fff;
    font-size: 25px;
  }
  .icon-close {
    display: block;
  }
  .theme-default .nivoSlider {
    height: 300px;
  }
  .level .levelTable .tip {
    width: 310px;
    left: 20px;
    top: -5px;
  }
  .quetions p {
    top: 20px;
  }
  .quetions .process p {
    top: 0;
  }
  .lp1200 {
    display: none;
  }
  .indexRight {
    width: 100%;
    display: block;
    max-width: 520px;
    margin: 0 auto;
  }

  .slideTitle{
    width: 40%;
    top: 135px;
    left: 54px;
    -webkit-transform:  translateX(0);
       -moz-transform:  translateX(0);
        -ms-transform:  translateX(0);
         -o-transform:  translateX(0);
            transform:  translateX(0);
  }

  .slideTitle img{
    width: 100%;
    /*margin-bottom: 10px;*/
  }


  
}

@media (max-width: 768px) {
  header {
    top: 0px;
    background: #fff;
    padding-bottom: 15px;
    z-index: 999999;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -moz-transition--ms-transition: all 0.3s;
    -moz-transition--o-transition: all 0.3s;
    -moz-transition-transition: all 0.3s;
    -webkit-box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);
  }
  header .menuTriger i {
    color: #000;
  }
  .slider-wrapper {
    padding-top: 80px;
  }
  .theme-default .nivoSlider {
    height: 0px;
    padding-bottom: 40%;
  }
  .t1 {
    margin: 20px auto;
    margin-bottom: 30px;
  }
  .t1 hr {
    margin-top: 5px;
  }
  .applyBox.container {
    margin: 0 25px;
  }
  footer .container .row > div {
    padding: 0 50px;
  }
  .card, .edit .container {
    width: calc(100% - 50px);
    margin: 0 25px;
  }
  .edit .container {
    margin: 25px;
  }
  .box.confirm .card {
    width: calc(100% - 50px);
    margin: 0 25px;
  }
  .qrPage .qrFoot .productImg {
    display: none;
  }
  .ticket .notice {
    width: 100%;
    padding: 30px;
    margin-left: 0;
    padding-left: 20px;
    padding-bottom: 25px;
  }
  .qrPage .qrFoot .notice h3 {
    margin-top: 0;
  }
  .qrPage .ticket .notice {
    padding-bottom: 25px;
  }
  .ticket .notice {
    padding-bottom: 0;
  }
  .ticket .notice h3 {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .ticket .notice ul li {
    line-height: 1.5;
    padding-bottom: 5px;
  }
  .ticket .qr {
    width: 90%;
    padding-top: 50px;
  }
  .ticket .productImg {
    text-align: center;
    float: none;
    padding: 45px;
    padding-top: 10px;
  }
  .ticket .productImg img {
    width: 100%;
  }
  .level .levelTable {
    /*background: #e8dbd1 url(../img/level-m.jpg) no-repeat;*/
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  .level .levelTable .levelDesc {
    padding-top: 53%;
  }
  .process {
    width: calc(100% - 50px);
    margin: 0 auto;
    max-height: 80%;
    overflow-y: scroll;
    padding: 20px 35px;
  }

  .m-quickLink{
    position: absolute;
    display: inline-block;
    right: 75px;
    top: 10px;
  }

  .m-quickLink a{
    color: #000;
    font-size: 13px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
  }
  .m-quickLink a i{
    display: block;
    font-size: 28px;
    margin-bottom: -3px;
    
  }

  .slideTitle{
    width: 47%; 
    top: 28vw; 
    left: 35px; 
  }

  .slideTitle img{
    /*margin-bottom: 15px;  */
  }


  .theme-default .nivoSlider img{
    -webkit-transform-origin: right top;
       -moz-transform-origin: right top;
        -ms-transform-origin: right top;
         -o-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform:  scale(1.5);
       -moz-transform:  scale(1.5);
        -ms-transform:  scale(1.5);
         -o-transform:  scale(1.5);
            transform:  scale(1.5);
  }

  .slide2-m{ display: block;   }

  .slide2{ display: none;  }

  .arr-down{ display: block; }
}

@media (max-width: 720px) {
  .edit .container {
    padding: 20px 30px;
  }
  .card .leftCol, .card .rightCol {
    width: 100%;
    padding: 0;
  }
  .card .leftCol h2.desc {
    width: calc(45% - 15px);
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
  }
  .card .leftCol hr {
    display: none;
  }
  .card .leftCol .or {
    margin-top: 50px;
    position: relative;
    left: 0;
    top: 90px;
    padding: 0 20px;
    margin-left: 0;
  }
  .card .leftCol .fbLink {
    vertical-align: middle;
    width: calc(45% - 15px);
    display: inline-block;
  }
  .card .leftCol .fbLink button.fbBtn {
    padding: 12px 20px;
    display: block;
    width: 100%;
  }
  .forgetPWbox .card .leftCol h2.desc {
    width: 100%;
  }
  .forgetPWbox .card .rightCol {
    width: 290px;
    margin-top: 0;
  }
  .forgetPWbox .card .rightCol .rightCol {
    margin-top: 40px;
  }
  .forgetPWbox .card .rightCol .rightCol .submit {
    width: auto;
    padding: 9px 43px;
  }
  .forgetPWbox .card .rightCol .rightCol .forgetPw {
    display: block;
    margin-bottom: 30px;
  }
  .forgetPWbox .card .rightCol .rightCol .form-group {
    width: calc(50% - 30px);
  }
  .forgetPWbox .card .rightCol .rightCol .form-group:first-child {
    margin-right: 50px;
  }
  .mLogin .card .rightCol {
    margin-top: 40px;
  }
  .mLogin .ps {
    margin-top: 30px;
  }
  .history .rightCol {
    margin-top: 40px;
  }
  .history hr {
    margin: 20px 0;
  }
  .level .levelTable {
    margin-top: 100px;
  }
  .level .levelTable .tip {
    top: -50px;
    left: 12px;
    width: 330px;
  }
  .tooltip__trigger img {
    width: 75px;
  }
  .tooltip__trigger-text {
    width: calc(100% - 80px);
  }
  .linkBtns {
    display: block;
    text-align: center;
  }

  .mainLink hr {
    display: none;
  }
  .linkBtns {
    margin-top: 10px;
  }
}

@media (max-width: 655px) {
  .scrollFrame {
    width: 100%;
    margin: 0 auto;
    overflow-x: scroll;
    display: none;
    padding: 0 15px;
  }
  .noScrollFrame{
    display: block;
  }

  .level table.lvTable tr th:first-child{
    font-size: 4vw;
  }

  .level table.lvTable .star{
    width: 5vw;
  }


  .level table.lvTable tr th.th1 img{
    width: 3.5vw;
  }

  .level table.lvTable tr th.th2 img{
    width: 4vw;
  }
  .level table.lvTable tr th.th3 img{
    width: 4.5vw;
  }
  .level table.lvTable tr th.th4 img{
    width: 5vw;
    margin-left: 0;
  }

  .tablePs{ font-size: 3vw; }

  .level table.lvTable tr th, .level table.lvTable tr td{
    padding: 1.8vw 1.6vw;
  }

  .level table.lvTable{
    font-size: 3.2vw;
    line-height: 1.4;
  }

  .level table.lvTable tr th.th0{
    width: 35%;
  }
  .level table.lvTable {
    margin-bottom: 0;
  }
  .quetions h1 {
    display: block;
    margin-left: 20px;
  }
  .quetions p {
    width: calc(100% - 40px);
    border-top: 1px solid #d9d6d4;
    border-left: none;
    padding-left: 0;
    padding-top: 10px;
    margin: 0 20px;
    top: 0;
  }
  .quetions .process p {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 640px) {
  .card .leftCol .or {
    top: -40px;
    margin: 5px auto;
  }
  .card .leftCol h2.desc {
    width: 100%;
  }
  .card .leftCol hr {
    display: block;
  }
  .card .leftCol .fbLink {
    width: 100%;
    margin-top: -15px;
  }
  .card .rightCol {
    margin-top: 20px;
  }
  .mLogin .card .rightCol {
    margin-top: 5px;
  }
  .box.confirm .card .LT {
    width: 160px;
    height: 106px;
    top: -4px;
    left: -28px;
  }
  .box.confirm .card .RB {
    width: 140px;
    height: 86px;
    bottom: -3px;
    right: -32px;
  }
  .level .levelTable {
    min-height: 0;
  }
  .box.confirm.member .card .submit {
    display: block;
    width: 100%;
    max-width: 350px;
    margin-bottom: 40px;
  }
  .card .leftCol .fbLink, .card .leftCol hr, .card .leftCol .or {
    display: none;
  }
  .mLogin .card > .M-fbLink {
    display: block;
    margin-top: 40px;
  }
  .mLogin .card > .M-fbLink hr {
    margin-bottom: 50px;
  }
  .mLogin .card > .M-fbLink .or {
    margin-left: -27px;
    margin-top: -65px;
  }
  .mLogin .card > .M-fbLink button.fbBtn {
    padding: 12px 0;
  }
  .mLogin .card > .M-fbLink p {
    font-size: 15px;
  }
}

@media (max-width: 610px) {
  .tooltip2 {
    width: calc(100% - 40px);
    margin: 10px auto;
  }
  .tooltip__trigger img {
    width: 60px;
  }
  .tooltip__trigger-text {
    width: calc(100% - 65px);
  }
  .qaBox {
    margin-top: 20px;
  }
  .mainInfo .memberDetail {
    width: 100%;
  }
  .barcode {
    margin-bottom: 25px;
    text-align: center;
  }
  
  .mainInfo .barcode img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    float: none;
  }

  
}

@media (max-width: 590px) {
  .logo {
    margin-top: 15px;
  }
  .logo img {
    width: 250px;
  }
  .menuTriger {
    top: 17px;
    right: 20px;
  }
  .menuTriger i {
    font-size: 23px;
  }
  .slider-wrapper {
    padding-top: 65px;
  }
  .leftWelcome {
    height: 450px;
  }
  .box {
    overflow: hidden;
  }
  .box .form-group, .box .form-group.email, .box .form-group.checkbox {
    width: calc(100% - 60px);
  }
  .rightForm h4 {
    margin-left: 30px;
  }
  .card .leftCol h2.desc {
    padding-left: 0;
    border-left: none;
  }
  .card .rightCol .form-group {
    width: 100%;
  }
  .card .LT {
    width: 160px;
    height: 106px;
    top: -4px;
    left: -28px;
  }
  .card .RB {
    width: 140px;
    height: 86px;
    bottom: -3px;
    right: -32px;
  }
  .indexRight {
    text-align: center;
  }
  .box .indexRight p {
    text-align: left;
  }
  .linkBtns {
    padding: 0 15px;
  }
  .m-quickLink{
    top: 3px;
    right: 70px;
  }

  .logo{
    margin-top: 10px;
    margin-bottom: -10px;
  }

  .logo-b{ display: none; }

  .logo img.logo-s{ display: block; width: 100%; width: 83px;}

  header.sticky img.logo-sticky{ display: none; }
}




@media (max-width: 510px) {
  .box.confirm .card h1 {
    line-height: 1.4;
  }
  .box.confirm .card hr {
    margin-top: 15px;
  }
  .box.confirm .card .submit.wi155 {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  .theme-default .nivoSlider {
    padding-bottom: 45%;
  }

  .slideTitle{
    top: 35vw;
    left: 7vw;
  }
}

@media (max-width: 480px) {

  .level .levelTable .levelDesc ul li{
    font-size: 3.5vw;
  }

  .level .levelTable .levelDesc ul li span.dollar b{
    font-size: 4.5vw;
  }
  .level .levelTable .levelDesc ul li h4{
     font-size: 3.5vw;
  }

  .level .levelTable .levelDesc ul li img{
    width: 3.5vw;
  }

  .level .levelTable .levelDesc .notice ul li{
    font-size: 3.5vw;
  }

  .level .levelTable .levelDesc ul h3{
    font-size: 5vw;
  }

  .history .card {
    margin: 0;
    width: 100%;
    padding: 30px;
    padding-bottom: 0;
  }
  .history .card .leftCol, .history .card .rightCol {
    padding: 0 30px;
  }
  .applyBox.container {
    margin: 0;
  }
  .box.unhome {
    padding: 0;
    margin-bottom: 0;
  }
  .leftWelcome {
    height: 440px;
  }
  .leftWelcome img {
    width: calc(100% - 100px);
  }
  .leftWelcome p {
    font-size: 15px;
  }
  .rightForm .ps {
    padding: 30px 40px;
  }
  .rightForm .ps h5 {
    line-height: 1.4;
    padding-bottom: 10px;
  }
  footer .container .row > div {
    padding: 0 40px;
  }
  .box.confirm .checkCode .form-group {
    width: 100%;
  }
  .ticket .qr {
    width: 100%;
  }
  .coupon .card {
    padding: 20px 40px;
  }
  .coupon.mLogin .card {
    padding: 30px 50px;
    padding-bottom: 0;
  }
  .coupon.mLogin .card .ps {
    width: calc(100% + 100px);
    margin: 0 -50px;
    margin-top: 40px;
  }
  .history table td:first-child {
    font-size: 15px;
  }
  .history table {
    margin-bottom: 50px;
  }
  .level .levelTable {
    margin-top: 120px;
  }
  .level .levelTable .tip {
    top: -80px;
  }
  .level .levelTable .levelDesc ul li {
    margin-bottom: 0.2vw;
  }
  .forgetPWbox .card .leftCol h2.desc {
    width: calc(100% - 50px);
    text-align: center;
  }
  .forgetPWbox .card .leftCol h2.desc p {
    text-align: left;
  }

  .indexRight .ps img.indexPs-m{ display: block;   }

  .indexRight .ps img.indexPs{ display: none; }

  .theme-default .nivoSlider {
    padding-bottom: 52%;
  }

  .slideTitle{
        top: 38vw;
    left: 7vw;
    width: 55%;
  }

  .indexBlock{
    margin-bottom: 40px;
  }

  .redBall .num{ min-width: 100px; }
}

@media (max-width: 460px) {
  .forgetPWbox .card .rightCol {
    width: 100%;
  }
  .level .container {
    padding: 0;
  }
  .level .levelTable .levelDesc {
    padding-right: 0px;
    padding-left: 5%;
  }
  .box.confirm.member .card {
    padding: 30px 40px;
  }
  .arr{
    height: 200px;
  }

  .forgetPWbox .card .leftCol h2.desc {
    width: 100%;
  }

  .redBall .steps{
    font-size: 18px;
    width: calc(100% - 140px);
  }

  .rbFrame:first-child .redBall{
    -ms-background-position-x: calc(100% + 10px);
        background-position-x: calc(100% + 10px);
    -ms-background-position-y: 15px;
        background-position-y: 15px;
  }

  .rbFrame:last-child .redBall{
    -ms-background-position-x: calc(100% + 20px);
        background-position-x: calc(100% + 20px);
    -ms-background-position-y: 15px;
        background-position-y: 15px;
  }

  .t1{ border-bottom: 1px solid #b35c61; margin-bottom: 25px;}

  .t1 hr{ display: none; }

  .t1 i{     
    font-size: 30px;
    top: 2px;
    position: relative; 
    }
}

@media (max-width: 420px) {
  .rightForm {
    padding: 35px 20px;
    padding-bottom: 0;
  }
  #footer {
    padding: 30px 0;
  }
 

  .card {
    padding: 30px 40px;
    padding-bottom: 0;
  }
  .card .ps {
    margin: 0 -40px;
    padding: 20px 30px;
    width: calc(100% + 80px);
  }
  .card.alert {
    padding-bottom: 40px;
  }
  .edit .container {
    padding: 15px 10px;
    padding-bottom: 30px;
  }
  .box.confirm .card {
    padding: 30px 40px;
  }
  .forgetPWbox .ps {
    margin-top: 40px;
    padding: 30px;
  }
  .forgetPWbox .code {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
  }
  .coupon .card {
    padding: 20px 30px;
  }
  .history table {
    margin-bottom: 50px;
  }
  .history .card .ps {
    margin: 0 -30px;
    margin-top: 40px;
    padding: 20px 40px;
    width: calc(100% + 60px);
  }
  .coupon.mLogin .card {
    padding: 30px 40px;
    padding-bottom: 0;
  }
  .coupon.mLogin .card .ps {
    width: calc(100% + 80px);
    margin: 0 -40px;
  }
  .box.confirm.member .card {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 380px) {
  .history .card {
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 0;
  }
  .rightForm {
    padding: 20px 0px;
    padding-bottom: 0;
  }
  .rightForm .ps {
    padding: 30px 65px;
  }
  footer .container .row > div {
    padding: 0 25px;
  }
  .ticket .notice {
    padding-left: 0;
  }
  .ticket .productImg {
    padding: 25px;
    padding-top: 10px;
  }
  .level .levelTable .tip {
    width: calc(100% - 20px);
    left: 10px;
  }
  .forgetPWbox .code {
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
  }
  .box.confirm.member .card p {
    font-size: 15px;
  }


  .m-quickLink a{
    margin-left: 1px;
    font-size: 12px;
  }

  .condition{
    margin-bottom: -20px;
  }

  .t1{
    letter-spacing: 1px;
  }

  .indexRight .ps {
    margin-top: 30px;
  }

  .pd60{
    padding: 30px 0;
  }

  .leftPic{ margin-bottom: 15px; }
}

@media (max-width: 350px) {
  .leftWelcome {
    height: 480px;
  }
  .leftWelcome p {
    padding-right: 40px;
  }
  .leftWelcome img {
    top: 40px;
    margin-bottom: 55px;
  }
  .card {
    width: 100%;
    margin: 0;
  }
  .box.confirm .card {
    width: 100%;
    margin: 0;
  }
  .tooltip__trigger-text {
    font-size: 15px;
    padding: 0 5px;
  }

  .m-quickLink{ right: 55px; }

  .logo img.logo-s{ width: 75px; }

  .m-quickLink a{
    margin-left: -3px;
    font-size: 12px;
    -webkit-transform: scale(0.9);
       -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
         -o-transform: scale(0.9);
            transform: scale(0.9);
  }

  .menuTriger{ right: 15px; }
}

@media (max-width: 320px) {
  .edit .container {
    width: 100%;
    margin: 20px 0;
  }
  .box.confirm.member .card {
    padding: 40px 20px;
  }
}
