<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>holkee 新聞媒體贊助計畫</title>
    <meta name='description' content="買新聞送廣告．獨家狂殺每日只要$333，立即登記，送三萬元廣告金！贊助計畫僅限100個名額，7/25前登記完為止！"/>
    <meta name='keywords' content="holkee, 微電商, 廣告, 廣告行銷, 贊助金, 網站, 金物流, 電商, 限時 7/5-7/25，只要$333, 送三萬元廣告金, 專業團隊, 媒體新聞稿"/>
    <meta property="og:image" content="images/share_pic0704.png"/>
    <meta property="og:title" content="holkee 新聞媒體贊助計畫"/>
    <meta property="og:url" content="#"/>
    <meta property="og:description" content="買新聞送廣告．獨家狂殺每日只要$333，立即登記，送三萬元廣告金！贊助計畫僅限100個名額，7/25前登記完為止！"/>
    <meta property="og:type" content="content"/>

    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://use.fontawesome.com/ca17a34927.js"></script>
    <script type="text/javascript" src="js/wow.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
  <link rel="stylesheet" href="https://hilios.github.io/jQuery.countdown/css/main.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="https://cdn.rawgit.com/hilios/jQuery.countdown/2.0.4/dist/jquery.countdown.min.js"></script>

    <script type="text/javascript">
        $(function(){
            $('.s_go_01').click(function(){ $('html,body').animate({scrollTop:$('#move_goto_01').offset().top}, 800); });
            return false;
        });
        // animate
        $(function(){
            new WOW().init();
        });
    </script>


</head>
<body>
    <main class="contact-us-box">
        <section class="main-text-box">
            <div class="contents-box clearfix">
                <div class="info wow fadeInDown" data-wow-duration="2s">
                    <div class="middle">
                        <h1 class="log"><a href="https://www.holkee.com/" target="_blank">holkee</a></h1>
                        <h2 class="title_img"><img src="images/title-img-0704.png" alt="新聞媒體贊助計畫 限時 7/5-7/25" width="100%"></h2>
                        <p class="hightlight">媽，我上新聞了！<span class="the_br">獨家狂殺↘每日只要 $333</span></p>
                        <div class="time-box main-example"><!-- 時間倒數欄位 -->
                            <div class="main-example">
                              <div class="countdown-container" id="main-example"></div>
                            </div>
                            <script type="text/template" id="main-example-template">
                              <div class="time <%= label %>">
                                <span class="count curr top"><%= curr %></span>
                                <span class="count next top"><%= next %></span>
                                <span class="count next bottom"><%= next %></span>
                                <span class="count curr bottom"><%= curr %></span>
                                <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
                              </div>
                            </script>
                            <script type="text/javascript">
                              $(window).on('load', function() {
                                var labels = ['週', '天', '時', '分', '秒'],
                                  //nextYear = (new Date().getFullYear() + 1) + '/01/01',
                                  nextYear = '2019/07/25',
                                  template = _.template($('#main-example-template').html()),
                                  currDate = '00:00:00:00:00',
                                  nextDate = '00:00:00:00:00',
                                  parser = /([0-9]{2})/gi,
                                  $example = $('#main-example');
                                // Parse countdown string to an object
                                function strfobj(str) {
                                  var parsed = str.match(parser),
                                    obj = {};
                                  labels.forEach(function(label, i) {
                                    obj[label] = parsed[i]
                                  });
                                  return obj;
                                }
                                // Return the time components that diffs
                                function diff(obj1, obj2) {
                                  var diff = [];
                                  labels.forEach(function(key) {
                                    if (obj1[key] !== obj2[key]) {
                                      diff.push(key);
                                    }
                                  });
                                  return diff;
                                }
                                // Build the layout
                                var initData = strfobj(currDate);
                                labels.forEach(function(label, i) {
                                  $example.append(template({
                                    curr: initData[label],
                                    next: initData[label],
                                    label: label
                                  }));
                                });
                                // Starts the countdown
                                $example.countdown(nextYear, function(event) {
                                  var newDate = event.strftime('%w:%d:%H:%M:%S'),
                                    data;
                                  if (newDate !== nextDate) {
                                    currDate = nextDate;
                                    nextDate = newDate;
                                    // Setup the data
                                    data = {
                                      'curr': strfobj(currDate),
                                      'next': strfobj(nextDate)
                                    };
                                    // Apply the new values to each node that changed
                                    diff(data.curr, data.next).forEach(function(label) {
                                      var selector = '.%s'.replace(/%s/, label),
                                          $node = $example.find(selector);
                                      // Update the node
                                      $node.removeClass('flip');
                                      $node.find('.curr').text(data.curr[label]);
                                      $node.find('.next').text(data.next[label]);
                                      // Wait for a repaint to then flip
                                      _.delay(function($node) {
                                        $node.addClass('flip');
                                      }, 50, $node);
                                    });
                                  }
                                });
                              });
                            </script>
                        </div>
                        <p class="btn">
                            <span class="s_go_01">立即登記．送 3 萬元廣告金</span><br>
                            <span class="f_ss ">贊助計畫<span class="c_yel">限量100名</span>，<span class="the_br">即日起至7/25(四)前登記完為止<br></span>
                            <span class="line">7/25(四)前完成登記．免刷卡手續費</span></span>
                        </p>
                        
                    </div>
                </div>
            </div>
        </section>
        <section class="free_service">
            <div class="contents-box wow fadeIn" data-wow-duration="2s">
                <h3>新聞媒體贊助計畫專案．每日 $333 x 3 個月輕鬆賺</h3>
            </div>
        </section>
        <section class="main-box">
            <div class="contents-box">
                <ul class="clearfix">
                    <li class="wow fadeIn" data-wow-duration="3s">
                        <img src="images/icon_ser_04.png">
                        <h3><span>YAHOO 媒體新聞稿 X 3 篇</span><br>（市價 90 萬）</h3>
                    </li>
                    <li class="wow fadeIn" data-wow-duration="3.5s">
                         <img src="images/icon_ser_03.png">
                        <h3><span>YAHOO<br>廣告費 3 萬</span></h3>
                    </li>
                    <li class="wow fadeIn" data-wow-duration="4s">
                         <img src="images/icon_ser_02.png">
                        <h3><span>holkee<br>品牌官網</span></h3>
                    </li>
                    <li class="wow fadeIn" data-wow-duration="4.5s">
                         <img src="images/icon_ser_05.png">
                        <h3><span>創意編輯<br>廣告文案</span></h3>
                    </li>
                    <li class="wow fadeIn" data-wow-duration="5s">
                         <img src="images/icon_ser_01.png">
                        <h3><span>廣告行銷<br>顧問服務</span></h3>
                    </li>
                    <li class="wow fadeIn" data-wow-duration="5.5s">
                         <img src="images/icon_ser_06.png">
                        <h3><span>自定義<br>網址功能</span><!-- （https://www.holkee.com/<span class="f_ss">自定義網址</span>） --></h3>
                    </li>
                </ul>
            </div>
        </section>
        <section class="from-box" id="move_goto_01"><a name="goform"></a>
            <div class="contents-box clearfix">
                <div class="question-box">
                    <h3>領取贊助金或由專人為您服務</h3>
                    <form>
                        <ul class="fillinBox clearfix">
                            <li class="pos icon_02 wow fadeIn" data-wow-duration="2s">
                                <input type="text" class="tbox" value="" size="" placeholder="您的稱呼">
                            </li>
                            <li class="pos icon_01 wow fadeIn" data-wow-duration="2.5s">
                                <input type="text" class="tbox" value="" size="" placeholder="聯絡電話">
                            </li>
                            <li class="pos icon_06 wow fadeIn" data-wow-duration="3s">
                                <input type="text" class="tbox" value="" size="" placeholder="holkee 會員帳號">
                            </li>
                            <li class="pos icon_07 wow fadeIn" data-wow-duration="3.5s">
                                <input type="text" class="tbox" value="" size="" placeholder="聯絡E-mail">
                            </li>
                        </ul>
                        <div class="btn"><button>確認送出</button></div>
                    </form>
                </div>
            </div>
        </section>
        <section class="from-box bg_w" id="move_goto_01"><a name="goform"></a>
            <div class="contents-box clearfix">
                    <h3>聯絡客服中心</h3>
                    <p class="sub_title">歡迎使用以下方式與我們聯繫</p>
                    <ul class="contactus clearfix">
                        <li class="wow fadeIn" data-wow-duration="2s">
                            <a class="icon_messenger" target="_blank" href="https://www.messenger.com/t/holkeego">Messenger</a>
                        </li>
                        <li class="wow fadeIn" data-wow-duration="2.5s"><a class="icon_line" target="_blank" href="https://line.me/R/ti/p/@bca1493j">LINE</a></li>
                        <li class="wow fadeIn" data-wow-duration="3s"><a class="icon_email" target="_blank" href="mailto:service@holkee.com">Email</a></li>
                    </ul>
                    <p class="time">客服服務時間為周一至周五，09:00 ~ 18:00<br>我們會盡速回覆您，謝謝！</p>
            </div>
        </section>
        <div class="copyrights">
            <p>Copyrights © 2019 All Rights Reserved.</p>
        </div>
    </main>
</body>
</html>



